  <table>
    <tr class="hide_when_no_overrides">
      <td></td>
      <td class="align_center extra_right_border" colspan="3"><i class="ts_icon ts_icon_laptop small_right_margin"></i><strong>Desktop</strong></td>
      <td class="align_center extra_left_border" colspan="3"><i class="ts_icon ts_icon_mobile small_right_margin" style="font-size: 1.4rem"></i><strong>Mobile</strong></td>
      <td></td>
    </tr>
    <tr class="hide_when_no_overrides">
      <th></th>
      <th>Everything</td>
      <th>Mentions</th>
      <th class="extra_right_border right_padding">Nothing</th>
      <th class="extra_left_border">Everything</th>
      <th>Mentions</th>
      <th>Nothing</th>
      <th class="revert_cell_width"></th>
    </tr>
    <tr id="add_override_channel_picker_row" class="hidden">
      <td colspan="8"><a id="add_override_channel_picker"><i class="ts_icon ts_icon_plus_circle ts_icon_inherit float_left small_right_margin"></i> Add a custom setting for a channel</a></td>
    </tr>
  </table>
