<p class="alert alert_warning">
  <i class="ts_icon ts_icon_exclamation_circle code_warning"></i>If you lose access to your authentication device, you can use one of these backup codes to login to your account. Each code may be used only once. Make a copy of these codes, and store it somewhere safe.
</p>
<div class="align_center">
  <div class="backup_codes_wrapper margin_auto curved_shadow">
    <div class="backup_codes">
      <ul class="clearfix">
        {{#each codes}}<li>{{this}}</li>{{/each}}
      </ul>
    </div>
  </div>
</div>