{{i18n_ns "messages_action_items"}}
{{! ~s necessary to prevent whitespace layout issues }}
{{~#each handy_rxns.items~}}
  <a data-action="add_handy_rxn" data-name="{{name}}" class="add_handy_rxn ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}} msg_action_btn_small" title="{{#if use_title}}{{#t}}Say \u201c{title}\u201d{{/t}}{{else}}{{#t}}Add reaction {name}{{/t}}{{/if}}">{{html}}</a>
{{~/each~}}
{{~#if show_rxn_action~}}<a data-action="reaction" class="ts_icon ts_icon_small_reaction ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}{{#if handy_rxns.items}} msg_action_btn_small{{/if}}" title="{{#t}}Add reaction &hellip;{{/t}}"></a>{{~/if~}}
{{~#if show_reply_action~}}
  <a data-action="reply" class="ts_icon ts_icon_comment_alt ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#if msg.reply_count}}{{#t}}View thread{{/t}}{{else}}{{#t}}Start a thread{{/t}}{{/if}}"></a>
{{~/if~}}
{{~#if show_comment_action~}}
  <a data-action="comment" {{#isWeb}}href="{{msg.file.permalink}}" target="{{newWindowName}}"{{/isWeb}} class="ts_icon ts_icon_comment_alt ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#t}}Add comment &hellip;{{/t}}"></a>
{{~/if~}}
{{~#unless is_in_thread~}}
  {{~#if actions.share_message~}}
    <a data-action="share_message" data-permalink="{{abs_permalink}}" class="ts_icon ts_icon_share_action ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#t}}Share message &hellip;{{/t}}"></a>
  {{~else~}}
    {{~#if actions.share_file~}}
      <a data-action="share_file" data-permalink="{{abs_permalink}}" class="ts_icon ts_icon_share_action ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#t}}Share file &hellip;{{/t}}"></a>
    {{~else~}}
      {{~#if actions.copy_link~}}
        <a data-action="copy_link" data-permalink="{{abs_permalink}}" class="ts_icon ts_icon_link ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#t}}Copy link{{/t}}"></a>
      {{~/if~}}
    {{~/if~}}
  {{~/if~}}
{{~/unless~}}
<a data-action="actions_menu" class="ts_icon ts_icon_small_ellipsis ts_tip ts_tip_top ts_tip_float {{ts_tip_delay_class}}" title="{{#t note="Show a menu with a full list of available actions to take on this message"}}Show message actions{{/t}}"></a>