{{i18n_ns "invite"}}

{{#if_equal invite_type compare='full'}}
  <div>
    <label>
      {{#t note="channels new team members will join by default"}}Default Channels{{/t}}
    </label>
    <div class="greigh no_bottom_margin">
      <p id="default_channels_note" class="{{#if initial_channel_id}}hidden{{/if}}">
        {{#t teams=(listify default_channels map="name" strong=true)}}New <strong>team members</strong> will automatically join {teams}{{/t}}
        {{#if is_admin}}
          <a onclick="$('#default_channels_note').hide(); $('#default_channels').show();" class="small_left_margin greigh underline inline_block" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=edit_channels,trigger=click_cta_edit_channels">{{#t note="link that allows admin to edit or add default channels"}}Edit / add{{/t}}</a>
        {{/if}}
      </p>
      <p id="default_channels" {{#if initial_channel_id}}{{else}}style="display: none; overflow: visible !important;"{{/if}}>
        <select multiple="multiple" id="defaultchannelsmulti" name="defaultchannels[]" class="hidden">
          {{#each channels}}
            {{#isChannelRequired this}}{{else}}
              <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}" {{#if this.is_default}}selected{{/if}} {{#if_equal this.id compare=../initial_channel_id}}selected{{/if_equal}}>#{{this.name}}</option>
            {{/isChannelRequired}}
          {{/each}}
          {{#each groups}}
            <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}">{{this.name}}</option>
          {{/each}}
        </select>
        <span>
          {{#t}}New <strong>team members</strong> will automatically join these channels and <strong>#{general_name}</strong>{{/t}} <a href="/admin/settings#default_channels" target="admin_settings" class="small_left_margin greigh underline">{{#t note="link to change default channels"}}change defaults{{/t}}</a>
        </span>
      </p>
    </div>
  </div>
{{/if_equal}}
{{#if_equal invite_type compare='restricted'}}
  <div>
    <label class="full_width">
      {{#t note="select channel(s) to invite a guest to join"}}Invite to{{/t}}<br />
      <div class="full_width">
        <select multiple="multiple" id="defaultchannelsmulti" name="defaultchannels[]" data-placeholder="{{#t}}Choose one or more channels ...{{/t}}">
          {{#each channels}}
            <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}" {{#if_equal this.id compare=../initial_channel_id}}selected{{/if_equal}}>#{{this.name}}</option>
          {{/each}}
          {{#each groups}}
            <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}" {{#if_equal this.id compare=../initial_channel_id}}selected{{/if_equal}}>{{this.name}}</option>
          {{/each}}
        </select>
      </div>
    </label>
  </div>
{{/if_equal}}

{{#if_equal invite_type compare='ultra_restricted'}}
  <div>
    <label class="full_width">
      {{#t note="select channel(s) to invite a guest to join"}}Invite to{{/t}}<br />
      <div class="full_width">
        <select id="ultra_restricted_channel_picker" name="ultra_restricted_channel_picker" class="full_width">
          <option value="" selected="selected">{{#t}}Choose a channel ...{{/t}}</option>
          {{#if channels}}
            <optgroup label="{{#t}}Channels{{/t}}">
              {{#each channels}}
                <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}" {{#if_equal this.id compare=../initial_channel_id}}selected{{/if_equal}}>#{{this.name}}</option>
              {{/each}}
            </optgroup>
          {{/if}}
          {{#if groups}}
            <optgroup label="{{#t}}Private Channels{{/t}}">
              {{#each groups}}
                <option {{#if this.is_org_shared}}data-ts-icon="ts_icon_shared_channel"{{else if this.is_shared}}data-ts-icon="ts_icon_shared_channels"{{/if}} value="{{this.id}}" {{#if_equal this.id compare=../initial_channel_id}}selected{{/if_equal}}>{{this.name}}</option>
              {{/each}}
            </optgroup>
          {{/if}}
        </select>
      </div>
    </label>
  </div>
{{/if_equal}}

<p class="small align_center no_bottom_margin">
  <span id="sso_signup_notice" class="block small_top_margin hidden"></span>
  <span id="google_auth_email_domain_notice" class="hidden">
      {{#t email_domains=(listify email_domains)}}You can invite people with email addresses ending in {email_domains}{{/t}}
    <a href="/admin/auth/google" target="{{newWindowName}}" class="greigh small_left_margin underline">{{#t}}change SSO settings{{/t}}</a>
  </span>
</p>
