{{i18n_ns 'invite'}}
<div id="admin_invites_container" class="admin_invites_container">

  <div id="admin_invites_alert" class="align_center alert hidden">
    <p class="inline">
      <ts-icon class="ts_icon_add_user very_small_right_margin blue_fill"></ts-icon>
      {{#feature flag="feature_teams_to_workspaces"}}
        {{#t}}Workspaces with paid plans can also invite <span class="bold">guests</span>, like contractors, vendors, or clients.{{/t}}
      {{else}}
        {{#t}}Paid teams can also invite <span class="bold">guests</span>, like contractors, vendors, or clients.{{/t}}
      {{/feature}}
    </p>
    <a id="invites_alert_see_pricing_cta" class="no_underline" href="/pricing?ui_step=66&ui_element=5" data-clog-event="GROWTH_PRICING" data-clog-ui-element="pricing_link" data-clog-ui-action="click" data-clog-ui-step="admin_invites">{{#t}}See pricing plans{{/t}}</a>
  </div>

  <h1 id="admin_invites_header" class="light align_center">
    <i class="ts_icon ts_icon_paper_plane blue_fill float_none small_right_margin hide_on_mobile"></i>
    {{#t}}Invite <span class="admin_invites_header_type">people</span> <span class="admin_invites_header_team_name"> to <span class="normal">{team_name}</span></span>{{/t}}
  </h1>

  <div id="admin_invites_subheader" class="hidden"></div>

  <div id="admin_invites_switcher">
    {{> admin_invite_switcher}}
  </div>

  <div id="admin_invites_workflow" class="hidden">

    <div id="individual_invites">

      <input type="hidden" name="account_type" id="account_type" value="full" />

      <p class="alert alert_info" id="invite_notice" style="display: none;"></p>

      <div id="invite_rows"></div>

      <p id="admin_invites_add_row" class="clear_both clearfix">

        {{#t note="add one or many email addresses of people to invite to join the team"}}
          <a data-action="admin_invites_add_row" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=add_row,trigger=click_cta_add_row" tabindex="0"><ts-icon class="ts_icon_plus_circle small_right_margin align_bottom"></ts-icon>Add another</a> or

          <a data-action="admin_invites_switch_view" data-view="bulk" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=switch_view_to_bulk,trigger=click_cta_switch_view_to_bulk" tabindex="0">add many at once</a>
        {{/t}}
        {{#unless is_our_app}}
          <span id="btn_connect_contacts" class="float_right greigh">
            <ts-icon class="ts_icon_google small_right_margin align_bottom"></ts-icon>
            <span class="btn_connect_contacts_text">
              {{#t}}Connect <a data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=connect_google_contacts,trigger=click_connect_address_book_btn" tabindex="0" class="greigh underline">Google Contacts</a>{{/t}}
            </span>
          </span>
        {{/unless}}
      </p>

      <div id="admin_invites_channel_picker_container" class="no_bottom_margin"></div>

      <div class="invite_modal_options_container">

        <div class="admin_invites_guest_expiration_date_container hidden">
          <label>{{#t note="label for expiration date of the invited guest"}}Time Limit{{/t}}</label>

          <div class="greigh no_bottom_margin position_relative">
            <span id="admin_invites_guest_expiration_copy">{{#t}}By default, guest accounts stay active indefinitely.{{/t}}</span>
            <a id="admin_invites_show_date_picker" class="greigh underline position_relative">{{#t note="button to change expiration date"}}Set a time limit{{/t}}</a>
          </div>
        </div>

        <div class="admin_invites_custom_message_container">
          <div class="admin_invites_show_custom_message hidden medium_bottom_margin">
            <label for="admin_invite_custom_message">{{#t note="label for a custom message"}}Custom Message{{/t}}</label>
            <textarea id="admin_invite_custom_message" name="admin_invite_custom_message" maxlength="560" placeholder="{{#t}}Enter a custom message to attach to the invites{{/t}}" {{#unless team_in_org}}data-validation="hasnourl"{{/unless}}></textarea>
            <a class="hide_custom_message" data-action="admin_invites_hide_custom_message"><i class="ts_icon ts_icon_times"></i></a>
          </div>
        </div>

        <div class="invite_modal_options large_bottom_margin">
          <div class="invite_modal_options_left">
            {{#if show_custom_message}}
              <div class="admin_invites_hide_custom_message invite_modal_options_message greigh no_bottom_margin large_right_margin">
                {{#t}}<a class="underline greigh" data-action="admin_invites_show_custom_message" tabindex="0">Compose a custom message</a> to make your invites more personal.{{/t}}
              </div>
            {{/if}}

            {{#unless is_paid_team}}
              <div class="no_bottom_margin invite_modal_options_message">{{#currentUserIsAdmin}}<a href="/admin/invites" class="greigh underline" target="{{newWindowName}}" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=view_pending_and_accepted,trigger=click_cta_pending_and_accepted">{{#t}}See pending and accepted invites{{/t}}</a>{{/currentUserIsAdmin}}</div>
            {{/unless}}
          </div>
          <div class="invite_modal_options_right">
            <button type="submit" id="admin_invites_submit_btn" class="btn btn_large ladda-button" data-action="api_send_invites" data-style="expand-right">
              <span class="ladda-label" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=invite,trigger=click_cta_submit_btn">{{#t}}Invite People{{/t}}</span>
            </button>
          </div>
        </div>

        {{#if is_paid_team}}
          <div class="invite_modal_footer greigh align_center large_top_padding large_top_margin">
            {{#t locale=(zdLocale)}}
              <p id="admin_invites_billing_notice" class="no_bottom_margin">You'll be charged a prorated amount for each new member.</p>
              <p id="admin_guide_to_billing_at_slack" class="no_bottom_margin">See our <a href="https://get.slack.help/hc/{locale}/articles/201723133-Billing-FAQ"  class="greigh underline" target="new">Guide to billing at Slack</a>.{{/t}}</p>
              <p id="ura_warning" class="no_bottom_margin">{{#t}}Note that guest accounts can access your directory via the <a href="https://api.slack.com/methods/users.list" target="new" class="greigh underline">Slack API</a>.</p>
            {{/t}}
            {{#currentUserIsAdmin}}<a href="/admin/invites" class="greigh underline pending_updates" target="{{newWindowName}}" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=view_pending_and_accepted,trigger=click_cta_pending_and_accepted">{{#t}}See pending and accepted invites{{/t}}</a>{{/currentUserIsAdmin}}
          </div>
        {{/if}}

      </div>

    </div>

    <form id="bulk_invites" class="hidden stacked top_margin">

      <p class="alert alert_warning hidden" id="bulk_notice"></p>

      <label class="full_width">
        {{#t}}Enter multiple email addresses{{/t}}
        <textarea wrap="virtual" name="emails" id="bulk_emails" class="no_bottom_margin full_width"></textarea>
      </label>
      {{#if invites_limit}}
      {{#feature flag="feature_teams_to_workspaces"}}
        <p class="input_note">{{#t locale=(zdLocale)}}Please separate multiple addresses with commas. <strong>Keep in mind that Slack may limit the number of invitations you can send if your workspace currently has a low acceptance rate.</strong> Our Help Center has <a href='https://get.slack.help/hc/{locale}/articles/201330256#invitation_limits'> more details on invitation limits</a>.{{/t}}</p>
      {{else}}
        <p class="input_note">{{#t locale=(zdLocale)}}Please separate multiple addresses with commas. <strong>Keep in mind that Slack may limit the number of invitations you can send if your team currently has a low acceptance rate.</strong> Our Help Center has <a href='https://get.slack.help/hc/{locale}/articles/201330256#invitation_limits'> more details on invitation limits</a>.{{/t}}</p>
      {{/feature}}
      {{else}}
      <p class="input_note">{{#t}}<strong>Tip:</strong> Copy and paste a list of contacts from your email. Please separate multiple addresses with\u00a0commas!{{/t}}</p>
      {{/if}}

      <button type="submit" class="btn small_right_margin ladda-button" data-action="api_parse_emails" data-style="expand-right" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=invite_bulk,trigger=click_cta_submit_bulk_btn">{{#t}}Add Invitees{{/t}}</button>
      <a class="btn btn_outline" data-action="admin_invites_switch_view" data-view="individual" data-clog-click="true" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=switch_view_to_individual,trigger=click_cta_switch_view_to_individual">{{#t}}Cancel{{/t}}</a>
    </form>

  </div>

  <div id="admin_invites_success" class="hidden">
    {{> admin_invite_summary}}
  </div>

</div>
