{{i18n_ns 'pages_admin'}}

<table class="full_width gray_header_border" data-qa="apps_table">
  {{!-- Table Body --}}
  {{#each apps}}
    <tr class="small align_middle" data-qa="app_row_{{this.team_id}}.{{this.id}}">
      <td class="overflow_ellipsis" data-qa="name_cell_{{this.team_id}}.{{this.id}}">
        <a href="/apps/{{this.encoded_id}}{{#if this.is_directory_published}}/published-settings{{/if}}" class="indifferent_grey bold" target="_blank">
          <img src="{{#if this.payload.icons}}{{this.payload.icons.image_32}}{{else}}{{versioned_default_application_icon}}{{/if}}" class="constrain_32 rounded small_right_margin">{{this.name}}
        </a>
      </td>
    </tr>
  {{/each}}
</table>
