<div id="edit_team_profile_container">

  <h1 id="edit_team_profile_header" class="hidden"></h1>
  <p id="edit_team_profile_value_note" class="small hidden">Expand your team's profiles by adding additional fields below</p>

  <section id="edit_team_profile_loading">{{{loadingHTML}}}</section>

  <section id="edit_team_profile_list" class="display_flex flex_direction_column large_top_margin very_large_bottom_margin hidden"></section>

  <section id="edit_team_profile_add" class="display_flex flex_direction_column large_top_margin very_large_bottom_margin hidden"></section>

  <section id="edit_team_profile_custom" class="display_flex flex_direction_column large_top_margin very_large_bottom_margin hidden"></section>

  <section id="edit_team_profile_edit" class="display_flex flex_direction_column large_top_margin very_large_bottom_margin hidden"></section>

  <section id="edit_team_profile_hide" class="hidden"></section>

  <section id="edit_team_profile_delete" class="hidden"></section>

</div>