{{i18n_ns "loading_messages"}}

<tr class="align_top" id="msg_{{id}}">
  <td class="message_cell">
    {{message}}
    <span class="show_on_mobile small_top_margin">{{> member_preview_link_image (getMemberPreviewLinkImageArgs user 24)}}

    <a href="/team/{{~#feature flag="feature_name_tagging_client"~}}
        {{user.id}}
      {{~else~}}
        {{~#feature flag="feature_shared_channels_client"~}}
          {{user.id}}
        {{~else~}}
          {{user.name}}
        {{~/feature~}}
      {{~/feature~}}"
      class="align_top very_small_left_margin break_word bold">

      {{getPrefCompliantMemberName user}}
    </a>
    </span>
  </td>
  <td class="author_cell hide_on_mobile">
    <span class="small_top_margin">{{makeProfileImage user size="24"}}
    <a href="/team/{{~#feature flag="feature_name_tagging_client"~}}
        {{user.id}}
      {{~else~}}
        {{~#feature flag="feature_shared_channels_client"~}}
          {{user.id}}
        {{~else~}}
          {{user.name}}
        {{~/feature~}}
      {{~/feature~}}"
      class="align_top very_small_left_margin break_word bold">

      {{getPrefCompliantMemberName user}}
    </a>
    </span>
  </td>
  <td class="align_right">
    <ts-icon class="ts_icon_times_circle subtle_silver delete_link ts_tip ts_tip_top" data-id="{{id}}" data-action="delete_msg"><span class="ts_tip_tip">{{#t}}Delete this message{{/t}}</span></ts-icon>
  </td>
</tr>