{{i18n_ns "loading_messages"}}

<div class="admin_list_item active member_item {{#if_equal member.is_inactive compare="1"}}{{#unless member.is_bot}}{{#unless member.is_slackbot}}inactive{{/unless}}{{/unless}}{{/if_equal}} {{#if show_inactive_tip}}ts_tip ts_tip_top ts_tip_float ts_tip_multiline ts_tip_delay_600{{/if}}" id="row_{{member.id}}" data-member-id="{{member.id}}">
    {{#if show_inactive_tip}}
        <span class="ts_tip_tip">
            <span class="ts_tip_multiline_inner">
                {{#feature flag="feature_teams_to_workspaces"}}
                    {{#t}}This person has not been active in Slack recently.{{/t}}
                {{else}}
                    {{#t}}This team member has not been active in Slack recently.{{/t}}
                {{/feature}}
            </span>
        </span>
    {{/if}}

    {{#if exclude_lazy_load}}
        {{> member_preview_link_image (getMemberPreviewLinkImageArgs member 36 false)}}
    {{else}}
        {{> member_preview_link_image (getMemberPreviewLinkImageArgs member 36 true)}}
    {{/if}}

    {{#feature flag="feature_name_tagging_client"}}
        {{#if show_rename}}
            {{#memberIsSelf id=member.id}}
                <span class="admin_member_real_name">{{#t}}You{{/t}} <span class="normal bullet">\u2022</span><span class="normal inline_name">{{getMemberRealName member}}</span></span>
            {{else}}
                <span class="inline_name admin_member_real_name" title="{{#t}}Click to edit full name{{/t}}">{{getMemberRealName member}}</span>
            {{/memberIsSelf}}

            <form class="inline_name_edit_form hidden inline_block no_bottom_margin" onsubmit="TS.web.admin.submitNameForm('{{member.id}}');">
                {{! no need for crumb_input }}
                <input type="text" name="real_name" placeholder="{{#t}}Full name{{/t}}" value="{{getMemberRealName member}}" />
                <span class="inline_edit_form_actions">{{#t}}<a onclick="$(this).closest('form').submit();">save</a> or <a onclick="TS.web.admin.cancelNameForm(''{member.id}'');">cancel</a>{{/t}}</span>
            </form>

        {{else}}

            {{#memberIsSelf id=member.id}}
                <span class="admin_member_real_name">{{#t}}You{{/t}} <span class="normal"><span class="bullet">\u2022</span> {{getMemberRealName member}}</span></span>
            {{else}}
                <span class="admin_member_real_name">{{getMemberRealName member}}</span>
            {{/memberIsSelf}}

        {{/if}}
    {{else}}

        {{#if show_rename}}

            {{#memberIsSelf id=member.id}}
                <span class="admin_member_real_name">{{#t}}You{{/t}}{{#if member.profile.real_name}} <span class="normal bullet">\u2022</span> <span class="normal inline_name">{{member.profile.real_name}}</span>{{/if}}</span>
            {{else}}
                {{#if member.profile.real_name}}
                    <span class="inline_name admin_member_real_name" title="{{#t}}Click to edit full name{{/t}}">{{member.profile.real_name}}</span>
                {{else}}
                    <span class="inline_name" title="{{#t}}Click to edit{{/t}}">{{#t}}Click to add a full name{{/t}}</span>
                {{/if}}
            {{/memberIsSelf}}

            <form class="inline_name_edit_form hidden inline_block no_bottom_margin" onsubmit="TS.web.admin.submitNameForm('{{member.id}}');">
                {{! no need for crumb_input }}
                <input type="text" name="first_name" placeholder="{{#t}}First name{{/t}}" value="{{member.profile.first_name}}" />
                <input type="text" name="last_name" placeholder="{{#t}}Last name{{/t}}" value="{{member.profile.last_name}}" />
                <span class="inline_edit_form_actions">{{#t}}<a onclick="$(this).closest('form').submit();">save</a> or <a onclick="TS.web.admin.cancelNameForm(''{member.id}'');">cancel</a>{{/t}}</span>
            </form>

        {{else}}

            {{#memberIsSelf id=member.id}}
                <span class="admin_member_real_name">{{#t}}You{{/t}}{{#if member.profile.real_name}} <span class="normal"><span class="bullet">\u2022</span> {{member.profile.real_name}}</span>{{/if}}</span>
            {{else}}
                {{#if member.profile.real_name}}
                    <span class="admin_member_real_name">{{member.profile.real_name}}</span>
                {{else}}
                    {{#t}}No real name set{{/t}}
                {{/if}}
            {{/memberIsSelf}}

        {{/if}}
    {{/feature}}

    <br />

        {{#feature flag="feature_name_tagging_client"}}
            <span class="admin_member_display_name_and_email">
                {{#memberHasProfileFieldDisplayName member}}
                    {{#if show_rename}}
                        <span class="inline_display_name indifferent_grey" title="{{#t}}Click to edit display name{{/t}}">
                    {{else}}
                        <span class="indifferent_grey">
                    {{/if}}
                            {{getMemberProfileFieldDisplayName member}}
                        </span>
                {{else}}
                    {{#if show_rename}}
                        <span class="inline_display_name indifferent_grey" title="{{#t}}Click to edit display name{{/t}}">{{#t}}Click to add a display name{{/t}}</span>
                    {{/if}}
                {{/memberHasProfileFieldDisplayName}}
                <form class="inline_display_name_edit_form hidden inline_block no_bottom_margin" onsubmit="TS.web.admin.submitDisplayNameForm('{{member.id}}');">
                    {{! no need for crumb_input }}
                    <input type="text" name="display_name" placeholder="{{#t}}Display name{{/t}}" value="{{getMemberProfileFieldDisplayName member}}" />
                    <span class="inline_edit_form_actions">{{#t}}<a onclick="$(this).closest('form').submit();">save</a> or <a onclick="TS.web.admin.cancelDisplayNameForm(''{member.id}'');">cancel</a>{{/t}}</span>
                </form>
                <span class="bullet">\u2022</span>

                {{#unless member.is_bot}}
                    <span{{#if show_email_edit}} class="inline_email" title="{{#t}}Click to edit email{{/t}} {{member.profile.email}}"{{/if}}>{{member.profile.email}}</span>
                {{/unless}}
                {{#or member.is_restricted member.is_ultra_restricted}}
                    {{#if guest_expiration_str}}
                        <br/>
                        <span class="no_wrap" title="{{#t}}Time limit{{/t}}">{{guest_expiration_str}}</span>
                    {{/if}}
                {{/or}}
            </span>
        {{else}}
        <span class="admin_member_username_and_email">
            <span class="indifferent_grey{{#if show_username_edit}} inline_username{{/if}}" {{#if show_username_edit}}title="{{#t}}Click to edit username{{/t}}"{{/if}}>@{{member.name}}</span>

            {{#if show_username_edit}}
                {{#if member.username_is_editable}}
                <form class="inline_username_edit_form hidden inline_block no_bottom_margin" onsubmit="TS.web.admin.submitUsernameForm('{{member.id}}')">
                    {{! no need for crumb_input }}
                    <input type="text" name="username" placeholder="{{#t}}Username{{/t}}" value="{{member.name}}" maxlength="21" required />
                    <span class="inline_edit_form_actions">{{#t}}<a onclick="$(this).closest('form').submit();">save</a> or <a onclick="TS.web.admin.cancelUsernameForm(''{member.id}'');">cancel</a>{{/t}}</span>
                </form>
                {{/if}}
            {{/if}}

            {{#unless member.is_bot}}
                <span class="bullet">\u2022</span>
                <span{{#if show_email_edit}} class="inline_email" title="{{#t}}Click to edit email{{/t}} {{member.profile.email}}"{{/if}}>{{member.profile.email}}</span>
            {{/unless}}

            {{#or member.is_restricted member.is_ultra_restricted}}
                {{#if guest_expiration_str}}
                    <br/>
                    <span class="no_wrap" title="{{#t}}Time limit{{/t}}">{{guest_expiration_str}}</span>
                {{/if}}
            {{/or}}
        {{/feature}}

    </span>

    {{#if show_email_edit}}
        {{#if member.email_is_editable}}
        <form class="inline_email_edit_form hidden inline_block no_bottom_margin" onsubmit="TS.web.admin.submitEmailForm('{{member.id}}')">
            {{! no need for crumb_input }}
            <input type="email" name="email" placeholder="{{#t}}Email address{{/t}}" value="{{member.profile.email}}" required />
            <span class="inline_edit_form_actions">{{#t}}<a onclick="$(this).closest('form').submit();">save</a> or <a onclick="TS.web.admin.cancelEmailForm(''{member.id}'');">cancel</a>{{/t}}</span>
        </form>
        {{/if}}
    {{/if}}

    {{#if member.email_pending}}
        <span title="{{#t}}A confirmation email has been sent to this address.{{/t}}" class="inline_email_pending">{{#t}}(pending: {member.email_pending}){{/t}}</span>
    {{/if}}

    <span class="admin_member_type show_pill_action">

        {{#if member.has_sso_token}}<span title="{{#t}}Has SSO token{{/t}}" class="small_right_margin two_factor_auth_badge">{{#t}}SSO{{/t}} <i class="ts_icon ts_icon_check_circle_o"></i></span>{{/if}}

        {{#if member.two_factor_auth_enabled}}<span title="{{#t}}Two-factor authentication enabled{{/t}}" class="small_right_margin two_factor_auth_badge">{{#t}}2FA{{/t}} <i class="ts_icon ts_icon_check_circle_o"></i></span>{{/if}}

        {{#if member_status}}<em class="greigh">{{member_status}}</em>{{/if}}
        {{#if member.is_restricted}}
            {{#if member.deleted}}
                {{member_type}}
            {{else}}
                {{#if member.is_ultra_restricted}}
                    {{#each channels}}
                        <a class="channel pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">#{{this.name}}
                            {{#isModelObExtShared this}}
                                {{> shared_channels_icon tooltip=true shared_team_ids=this.shared_team_ids}}
                            {{/isModelObExtShared}}
                            <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i>
                        </a>
                    {{/each}}
                    {{#each member.groups}}
                        <a class="group pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">{{this}} <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i></a>
                    {{/each}}
                    {{#if member.more_groups}}
                        <a class="group pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">{{#t}}Private Channel{{/t}} <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i></a>
                    {{/if}}
                    {{#if show_add_channel_btn}}
                        <a class="channel pill inline_block api_channel_invite no_pill_action" title="{{#t member_name=../member.name}}Add a channel for {member_name} to access{{/t}}"><i class="ts_icon ts_icon_plus"></i></a>
                    {{/if}}
                {{else}}
                    <span class="admin_list_item_channel_membership">
                        {{#if channels_count}}
                            {{#if group_count}}
                                {{#t}}Belongs to {channels_count, plural, =1{# public channel}other{# public channels}} and {group_count} private {group_count, plural, =1{channel}other{channels}}{{/t}}
                            {{else}}
                                {{#t}}Belongs to {channels_count, plural, =1{# public channel}other{# public channels}}{{/t}}
                            {{/if}}
                        {{else}}
                            {{#if group_count}}
                                {{#t}}Belongs to {group_count, plural, =1{# private channel}other{# private channels}}{{/t}}
                            {{/if}}
                        {{/if}}
                    </span>
                {{/if}}
            {{/if}}
        {{else}}
            {{member_type}}
        {{/if}}
    </span>

    {{#unless omit_caret}}
        <i class="admin_member_caret ts_icon ts_icon_caret_right"></i>
        <i class="admin_member_caret ts_icon ts_icon_caret_down"></i>
    {{/unless}}

    <div class="member_actions clearfix">
        {{#if actions}}
            {{#each actions}}
                <a
                    class="{{this.cls}} {{#if this.primary}}btn btn_outline btn_small{{else}}sub_action{{/if}}"
                    {{#if this.href}}href="{{this.href}}"{{/if}}
                    {{#if this.title}}title="{{#t}}{title}{{/t}}"{{/if}}
                >{{label}}</a>
            {{/each}}
        {{else}}
            {{#if show_transfer_btn}}
                {{#feature flag="feature_teams_to_workspaces"}}
                    <a href="/admin/transfer" class="btn btn_outline btn_small btn_outline btn_small admin_transfer_ownership_btn">{{#t}}Transfer workspace ownership{{/t}}</a>
                {{else}}
                    <a href="/admin/transfer" class="btn btn_outline btn_small btn_outline btn_small admin_transfer_ownership_btn">{{#t}}Transfer team ownership{{/t}}</a>
                {{/feature}}

                {{#memberIsSelf id=member.id}}
                    {{#t}}To make edits, see your <a href="/account/settings">account settings</a>.{{/t}}
                {{/memberIsSelf}}
            {{else}}
                {{#memberIsSelf id=member.id}}
                    {{#if show_username_edit}}
                        {{#if show_email_edit}}
                            {{#t}}There aren't any actions for you to take on yourself. Click your name or email address to edit.{{/t}}
                        {{else}}
                            {{#t}}There aren't any actions for you to take on yourself. Click your name to edit. To edit your email, see your <a href="/account/settings">account settings</a>.{{/t}}
                        {{/if}}
                    {{else}}
                        {{#t}}There aren't any actions for you to take on yourself. To make edits, see your <a href="/account/settings">account settings</a>.{{/t}}
                    {{/if}}
                {{else}}
                    {{#if show_email_edit}}
                        {{#if show_username_edit}}
                            {{#t}}There aren't any actions for you to take on <strong>@{member.name}</strong> ({member_type}). Click their name or email address to edit.{{/t}}
                        {{else}}
                            {{#t}}There aren't any actions for you to take on <strong>@{member.name}</strong> ({member_type}). Click their email address to edit.{{/t}}
                        {{/if}}
                    {{else}}
                        {{#if show_username_edit}}
                            {{#t}}There aren't any actions for you to take on <strong>@{member.name}</strong> ({member_type}). Click their name to edit.{{/t}}
                        {{else}}
                            {{#t}}There aren't any actions for you to take on <strong>@{member.name}</strong> ({member_type}).{{/t}}
                        {{/if}}
                    {{/if}}
                {{/memberIsSelf}}
            {{/if}}
        {{/if}}
        {{#if paid_team}}
            {{#if member.is_restricted}}
                {{#if member.is_ultra_restricted}}
                  {{#if_equal is_enterprise compare=false}}
                        {{#if member.deleted}}
                            <p class="small_bottom_margin small_top_margin show_pill_action">
                                {{#each member.channels}}
                                    <a class="channel pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">#{{this}} <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i></a>
                                {{/each}}
                                {{#each member.groups}}
                                    <a class="group pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">{{this}} <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i></a>
                                {{/each}}
                                {{#if member.more_groups}}
                                    <a class="group pill inline_block api_change_ura_channel" title="{{#t member_name=../member.name}}Change the channel that {member_name} can access{{/t}}">{{#t}}Private Channel{{/t}} <i class="ts_icon ts_icon_pencil ts_icon_inherit pill_action edit"></i></a>
                                {{/if}}
                            </p>
                        {{/if}}
                      {{/if_equal}}
                {{else}}
                    <p class="small_bottom_margin small_top_margin pill_container">
                        {{#if_gt total_memberships compare=1}}<span class="show_pill_action">{{/if_gt}}
                            {{#each channels}}
                                <span class="channel pill">
                                    #{{this.name}}
                                    {{#isModelObExtShared this}}
                                        {{> shared_channels_icon tooltip=true shared_team_ids=this.shared_team_ids}}
                                    {{/isModelObExtShared}}
                                    {{#if_gt ../total_memberships compare=1}}
                                        {{#canKickFromChannels}}
                                            <i class="ts_icon ts_icon_times_circle pill_action api_channel_kick" data-channel-id="{{this.id}}" title="{{#t fallback_hash='66c09654fca702d1cf229b05556c041b1fb5b468' member_name=../member.name channel_name=this.name}}Remove {member_name} from #{channel_name}{{/t}}"></i>
                                        {{/canKickFromChannels}}
                                    {{/if_gt}}
                                </span>
                            {{/each}}
                            {{#each member.groups}}
                                <span class="group pill">{{this}}{{#if_gt ../total_memberships compare=1}}{{#canKickFromGroups}} <i class="ts_icon ts_icon_times_circle pill_action api_group_kick" data-group-id="{{@key}}" title="{{#t member_name=../member.name}}Remove {member_name} from {this}{{/t}}"></i>{{/canKickFromGroups}}{{/if_gt}}</span>
                            {{/each}}
                        {{#if show_add_channel_btn}}
                            <a class="channel pill api_channel_invite"><i class="ts_icon ts_icon_plus"></i></a>
                        {{/if}}
                        {{#if_gt total_memberships compare=1}}</span>{{/if_gt}}
                        {{#if member.more_groups}}
                            {{#if groups_count}}
                                {{#t}}+{member.more_groups, plural, =1{# other private channel}other{# other private channels}}{{/t}}
                            {{else}}
                                {{#t}}+{member.more_groups, plural, =1{# private channel}other{# private channels}}{{/t}}
                            {{/if}}
                        {{/if}}
                    </p>
                {{/if}}
            {{/if}}
        {{/if}}
    </div>

    <div class="notice_processing progress_bar_progress_animated">{{#t}}Updating ...{{/t}}</div>
    <div class="notice_success">
        <span class="success_message"></span>
        <a class="notice_dismiss neutral_white" data-action="success_ok">{{#t}}OK{{/t}}</a>
    </div>
    <div class="notice_error">
        <span class="error_message">
            <span class="error_generic">{{#t}}Oops! There was an error performing your action.{{/t}}</span> <span class="error_detail"></span>
        </span>
        <span class="notice_dismiss neutral_white" data-action="error_try_again">{{#t}}Try again{{/t}}</span>
    </div>

</div>
