<h1 class="light align_center">
  {{#if error_invites}}
    {{#if success_invites}}
      That was only a partial success.
    {{else}}
      That didn't work!
    {{/if}}
  {{else}}
    Your invitation{{#if_gt success_invites.length compare=1}}s have{{else}} has{{/if_gt}} been sent!
  {{/if}}
</h1>

<p class="align_center large_bottom_margin">
  {{#if error_invites}}
    {{#if success_invites}}
      You've invited {{dangerouslyRenderHTML success_invites_html}}, but
    {{/if}}
    <span class="bold">{{error_invites.length}} {{pluralize error_invites.length 'invitation' 'invitations'}} didn't send</span>. Review the errors below.
  {{else}}
    You've invited {{dangerouslyRenderHTML success_invites_html}} to {{team_name}}.
  {{/if}}
</p>

{{#if success_invites}}
  {{#feature flag="feature_name_tagging_client"}}
    <table class="addresses large_bottom_margin align_left full_width">
      <tr>
        <th class="span_1_of_2">Email Address</th>
        <th class="span_1_of_2">Full Name</th>
      </tr>
      {{#each success_invites}}
        <tr>
          <td class="align_top">{{this.email}}</td>
          <td>{{this.full_name}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <table class="addresses large_bottom_margin align_left full_width">
      <tr>
        <th class="span_1_of_2">Email Address</th>
        <th class="span_1_of_2">Name</th>
      </tr>
      {{#each success_invites}}
        <tr>
          <td class="align_top">{{this.email}}</td>
          <td>{{this.first_name}} {{this.last_name}}</td>
        </tr>
      {{/each}}
    </table>
  {{/feature}}
{{/if}}

{{#if error_invites}}
  <table class="addresses error large_bottom_margin align_left full_width">
    <tr>
      <th class="span_1_of_2">Email Address</th>
      <th class="span_1_of_2">What went wrong</th>
    </tr>
    {{#each error_invites}}
      <tr>
        <td class="align_top">{{this.email}}</td>
        <td>{{dangerouslyRenderHTML this.error_msg}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if custom_message}}
  <table class="large_bottom_margin align_left full_width">
    <tr>
      <th class="span_1_of_1">Custom Message</th>
    </tr>
    <tr>
      <td class="align_top break_word">{{custom_message}}</td>
    </tr>
  </table>
{{/if}}

{{#if domains}}
  <div class="alert alert_success no_bottom_margin clearfix">
    <i class="ts_icon ts_icon_check_circle_o"></i>
    <p class="value_proposition">You can set <strong>{{team_name}}</strong> to allow automatic sign up from anyone with a confirmed email address.</p>
    {{#if paid_team}}<p class="value_proposition">Slack will automatically charge or credit your account when active members are added to or removed from your team.</p>{{/if}}
    <p class="top_margin">
      <span class="col span_3_of_4 no_right_padding small_bottom_margin">
        <input type="text" id="invite_signup_domains" class="no_bottom_margin small" value="{{domains}}" />
      </span>
      <button class="btn ladda-button col span_1_of_4" data-style="expand-right" data-action="add_signup_domains">Set Up</button>
      <span class="input_note col span_1_of_1 no_margin">To allow email addresses from multiple domains, separate them with commas.</span>
    </p>
  </div>
{{/if}}

<p class="large_top_padding">
  {{#if is_admin}}
    <a class="btn btn_outline col span_1_of_3" href="/admin/invites" {{#isClient}}target="admin_invites"{{/isClient}}>View Pending Invites</a>
  {{/if}}
  {{#if error_invites}}
    <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}}" data-action="admin_invites_try_again">Try Again</button>
  {{else}}
    <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}}" data-action="admin_invites_reset">Invite More People</button>
  {{/if}}
  <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}} dialog_cancel">Done</button>
</p>