{{i18n_ns "restricted_accounts"}}

<div class="col span_3_of_6">
  
    <h4>
    {{#if enabling}}
        {{#t}}Enable a multi-channel guest{{/t}}
    {{else}}
        {{#t}}Convert to Guest{{/t}}
    {{/if}}
    </h4>

    <p class="small_bottom_margin">
        {{#if enabling}}
            {{#t}}Team members you enable with a Multi-Channel Guest will have the following capabilities:{{/t}}
        {{else}}
            {{#t}}Team members you convert to Multi-Channel Guest will have the following capabilities:{{/t}}
        {{/if}}
    </p>
    {{#t note="List items describing multi-channel guest capabilities"}}
    <ul>
        <li>participate in the channels they are invited to join</li>
        <li>exchange direct messages with others in the channels to which they belong</li>
    </ul>
    {{/t}}
    <p class="small_bottom_margin">{{#t}}They will <strong>not</strong> be able to:{{/t}}</p>
    {{#t note="List items preceded by '[Multi-channel guests] will not be able to:'"}}
    <ul>
        <li>create new channels</li>
        <li>see files or messages in channels they don't belong to</li>
    </ul>
    {{/t}}
    <p class="large_bottom_margin">{{#t}}Single-Channel Guests only have access to one channel.{{/t}}</p>

    {{#t}}
    <h4>Billing</h4>
    <p class="large_bottom_margin">Multi-Channel Guests count as paid users when they are active. Single-Channel Guests are free.</p>
    {{/t}}
</div>

<div class="col span_3_of_6 invite_form_column">

    <div id="step1" class="align_center">

        {{makeMemberPreviewLinkImage member.id 192}}

        <h3 class="top_margin">
            {{#if enabling}}
                {{#if member.profile.real_name}}
                    {{#t}}Enable {member.profile.real_name} with:{{/t}}
                {{else}}
                    {{#t}}Enable {member.name} with:{{/t}}
                {{/if}}
            {{else}}
                {{#if member.profile.real_name}}
                    {{#t}}Convert {member.profile.real_name} to:{{/t}}
                {{else}}
                    {{#t}}Convert {member.name} to:{{/t}}
                {{/if}}
            {{/if}}
        </h3>

        {{#t note="Space before 'A multi-channel guest' and 'A single-channel guest' should be preserved"}}
        <a class="restriction_option" id="restricted_user">
            <i class="presence large active ra"></i> A multi-channel guest <i class="ts_icon ts_icon_arrow_right"></i>
        </a>
        <a class="restriction_option" id="guest_user">
            <i class="presence large active ura"></i> A single-channel guest <i class="ts_icon ts_icon_arrow_right"></i>
        </a>

        <p class="subtle_silver large_top_margin">or <a class="cancel_admin_restrict_workflow subtle_silver">return to Team Administration</a></p>
        {{/t}}
    </div>

    <div id="step2_restricted" class="hidden align_center">

        {{makeMemberPreviewLinkImage member.id 192}}

        <h3 class="top_margin">
            {{#if enabling}}
                {{#if member.profile.real_name}}
                    {{#t}}Enable {member.profile.real_name} as a Multi-Channel Guest{{/t}}
                {{else}}
                    {{#t}}Enable {member.name} as a Multi-Channel Guest{{/t}}
                {{/if}}
            {{else}}
                {{#if member.profile.real_name}}
                    {{#t}}Convert {member.profile.real_name} to a Multi-Channel Guest{{/t}}
                {{else}}
                    {{#t}}Convert {member.name} to a Multi-Channel Guest{{/t}}
                {{/if}}
            {{/if}}
        </h3>

        <p>
            {{#if show_ra_channel_picker}}
                {{#t}}You must pick one channel for this Multi-Channel Guest to join.
                (You can set additional channels in the next step.){{/t}}
            {{else}}
                {{#t}}You can set the channels for this multi-channel guest in the next step.{{/t}}
            {{/if}}
            {{#if enabling}}{{else}}<p>{{#t}}This change will take effect immediately.{{/t}}</p>{{/if}}
        </p>

        {{#if show_ra_channel_picker}}
            <p>
                <label class="select small">
                    <select id="restricted_channel_picker" class="small">
                        {{#if channels}}
                            <optgroup label="{{#t}}Channels{{/t}}">
                                {{#each channels}}
                                    <option value="{{this.id}}">#{{this.name}}</option>
                                {{/each}}
                            </optgroup>
                        {{/if}}
                        {{#if groups}}
                            <optgroup label="{{#t}}Private Channels{{/t}}">
                                {{#each groups}}
                                    <option value="{{this.id}}"><i class="ts_icon ts_icon_lock_o"></i> {{this.name}}</option>
                                {{/each}}
                            </optgroup>
                        {{/if}}
                    </select>
                </label>
            </p>
        {{/if}}

        <p class="error_message moscow_red hidden">{{#t}}Oops! There was an error performing your action.{{/t}}</p>
        <p>
            <a class="btn api_set_restricted btn_success">{{#t}}Confirm{{/t}}</a>
            <a class="cancel_admin_restrict_workflow btn btn_outline small_left_margin">{{#t}}Cancel{{/t}}</a>
        </p>

    </div>

    <div id="step2_guest" class="hidden align_center">

        {{makeMemberPreviewLinkImage member.id 192}}

        <h3 class="top_margin">
            {{#if enabling}}
                {{#if member.profile.real_name}}
                    {{#t}}Enable {member.profile.real_name} as a Single-Channel Guest{{/t}}
                {{else}}
                    {{#t}}Enable {member.name} as a Single-Channel Guest{{/t}}
                {{/if}}
            {{else}}
                {{#if member.profile.real_name}}
                    {{#t}}Convert {member.profile.real_name} to a Single-Channel Guest{{/t}}
                {{else}}
                    {{#t}}Convert {member.name} to a Single-Channel Guest{{/t}}
                {{/if}}
            {{/if}}
        </h3>

        <p class="no_bottom_margin">{{#t note="Preceded with '...Single-Channel Guest'"}}With access to this channel:{{/t}}</p>

        <p>
            <label class="select small">
                <select id="ultra_restricted_channel_picker" class="small">
                    {{#if channels}}
                        <optgroup label="{{#t}}Channels{{/t}}">
                            {{#each channels}}
                                <option value="{{this.id}}">#{{this.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/if}}
                    {{#if groups}}
                        <optgroup label="{{#t}}Private Channels{{/t}}">
                            {{#each groups}}
                                <option value="{{this.id}}"><i class="ts_icon ts_icon_lock_o"></i> {{this.name}}</option>
                            {{/each}}
                        </optgroup>
                    {{/if}}
                </select>
            </label>
        </p>

        {{#if enabling}}{{else}}<p>{{#t}}This change will take effect immediately.{{/t}}</p>{{/if}}

        <p class="error_message moscow_red hidden">{{#t}}Oops! There was an error performing your action.{{/t}}</p>

        <p id="convert_to_ura_confirmation">
            <a class="btn api_set_ultra_restricted btn_success">{{#t}}Confirm{{/t}}</a>
            <a class="cancel_admin_restrict_workflow btn btn_outline small_left_margin">{{#t}}Cancel{{/t}}</a>
        </p>

    </div>

</div>