<div class="row clearfix">
  <div class="col profile_field_preview_protector" data-action="edit_team_profile_to_edit" data-type="text">
    <div class="profile_field_preview">
      <p class="align_center no_bottom_margin">
        <span class="bottom_margin">Text</span>
        <input type="text" class="no_bottom_margin ts_icon_placeholder" placeholder="&#xe136;" readonly="true">
      </p>
    </div>
  </div>
  <div class="col profile_field_preview_protector" data-action="edit_team_profile_to_edit" data-type="options_list">
    <div class="profile_field_preview">
      <p class="align_center no_bottom_margin">
        <span class="bottom_margin">List of options</span>
        <input type="text" class="no_bottom_margin" placeholder="Select &hellip;" readonly="true">
      </p>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col profile_field_preview_protector" data-action="edit_team_profile_to_edit" data-type="date">
    <div class="profile_field_preview">
      <p class="align_center no_bottom_margin">
        <span class="bottom_margin">Date picker</span>
        <input type="text" class="no_bottom_margin ts_icon_placeholder" placeholder="&#xe023;" readonly="true">
      </p>
    </div>
  </div>
  <div class="col profile_field_preview_protector" data-action="edit_team_profile_to_edit" data-type="link">
    <div class="profile_field_preview">
      <p class="align_center no_bottom_margin">
        <span class="bottom_margin">Link</span>
        <input type="text" class="no_bottom_margin" placeholder="https://" readonly="true">
      </p>
    </div>
  </div>
</div>
<div class="row clearfix">
  <div class="col profile_field_preview_protector" data-action="edit_team_profile_to_edit" data-type="user">
    <div class="profile_field_preview">
      <p class="align_center no_bottom_margin">
        <span class="bottom_margin">Person picker</span>
        <span class="edit_team_profile_lazy_filter_select align_left"></span>
      </p>
    </div>
  </div>
</div>