{{#if default_team_profile_fields}}
  <div class="row clearfix  header_row no_padding_right">
    <div class="col no_bottom_margin"><span class="no_margin subtle_silver">Default Fields</span></div>
  </div>
  {{#each default_team_profile_fields}}
    <div class="row clearfix" data-action="edit_team_profile_to_edit" data-type="{{this.type}}" data-label="{{this.label}}">
      <div class="col span_5_of_6 no_bottom_margin"><span class="no_margin">{{this.label}}</span></div>
      <i class="ts_icon ts_icon_plus_circle"></i>
    </div>
  {{/each}}
{{/if}}