{{i18n_ns 'invite'}}
<div id="invite_{{index}}" class="admin_invite_row clearfix">
  <div class="col span_1_of_2">
    <label class="email full_width">
      {{#t}}Email Address{{/t}}<br />
      <div class="full_width">
        <input type="text" spellcheck="false" autocorrect="off" class="email_field small" name="email_address" placeholder="{{placeholder_email_address}}" data-email-healing="true">
      </div>
    </label>
    <p class="error_msg input_note hidden moscow_red no_bottom_margin"></p>
  </div>

  {{#feature flag="feature_name_tagging_client"}}
    <div class="col span_1_of_2">
      <label class="full_width">
        {{#t}}Full Name{{/t}}<br />
        <input type="text" name="full_name" placeholder="{{#t}}Optional{{/t}}" class="small small_right_margin no_bottom_margin full_width" maxlength="200"/>
      </label>
    </div>
  {{else}}
  <div class="col span_1_of_2">
    <div class="col span_1_of_2 mobile_col small_right_padding">
      <label class="full_width">
        {{#t}}First Name{{/t}}<br />
        <input type="text" name="first_name" placeholder="{{#t}}Optional{{/t}}" class="small small_right_margin no_bottom_margin full_width" maxlength="200"/>
      </label>
    </div>
    <div class="col span_1_of_2 mobile_col float_right">
      <label class="full_width">
        {{#t}}Last Name{{/t}}<br />
        <input type="text" name="last_name" placeholder="{{#t}}Optional{{/t}}" class="small no_bottom_margin full_width" maxlength="200"/>
      </label>
    </div>
  </div>
  {{/feature}}
  
  <a class="delete_row {{#unless show_delete_btn}}hidden{{/unless}}" data-action="admin_invites_delete_row"><i class="ts_icon ts_icon_times"></i></a>
</div>