{{i18n_ns 'invite'}}
<hr id="admin_invites_header_divider" class="hide_on_mobile" />
<div class="admin_invites_account_type_option {{#if hide_full_member_option}}disabled{{/if}} {{#if team_in_org}}no_hover{{/if}}" data-action="switch_type" data-account-type="full">
  {{#feature flag="feature_teams_to_workspaces"}}
    <{{#isClient}}h2{{else}}h3{{/isClient}} class="normal small_bottom_margin">{{#t note="type of invitee who can access any public channel"}}Members{{/t}}</{{#isClient}}h2{{else}}h3{{/isClient}}>
  {{else}}
    <{{#isClient}}h2{{else}}h3{{/isClient}} class="normal small_bottom_margin">{{#t note="type of invitee who can access any public channel"}}Team Members{{/t}}</{{#isClient}}h2{{else}}h3{{/isClient}}>
  {{/feature}}
  <p>
    {{#feature flag="feature_teams_to_workspaces"}}
      {{#t}}Members can access messages and files in any public channel and access the full directory.{{/t}}
    {{else}}
      {{#t}}Team Members can access messages and files in any public channel and access the full directory.{{/t}}
    {{/feature}}
  </p>
  {{#unless hide_full_member_option}}
    <i class="option_arrow ts_icon ts_icon_arrow_right ts_icon_inherit"></i>
  {{else}}
    {{#unless team_in_org}}
    <div class="account_type_disabled_hover">
      {{#feature flag="feature_teams_to_workspaces"}}
        <p class="bottom_margin">{{#t}}Members can sign up at <strong>{team_signup_url}</strong>{{/t}}</p>
      {{else}}
        <p class="bottom_margin">{{#t}}Team members can sign up at <strong>{team_signup_url}</strong>{{/t}}</p>
      {{/feature}}
      <a href="/admin/auth/saml" {{#isClient}}target="auth"{{/isClient}} class="btn btn_outline">{{#t}}Change SSO Settings{{/t}}</a>
    </div>
    {{/unless}}
  {{/unless}}
</div>
<div class="admin_invites_account_type_option" data-action="switch_type" data-account-type="restricted">
  <{{#isClient}}h2{{else}}h3{{/isClient}} class="normal small_bottom_margin">{{#t}}Multi-Channel Guests{{/t}}</{{#isClient}}h2{{else}}h3{{/isClient}}>
  <p>{{#t}}Multi-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}</p>
  <i class="option_arrow ts_icon ts_icon_arrow_right ts_icon_inherit"></i>
</div>
<div class="admin_invites_account_type_option {{#unless can_add_ura}}disabled{{/unless}}" data-action="switch_type" data-account-type="ultra_restricted">
  <{{#isClient}}h2{{else}}h3{{/isClient}} class="normal small_bottom_margin">{{#t note="guests who will only be able to access one channel"}}Single-Channel Guests{{/t}}</{{#isClient}}h2{{else}}h3{{/isClient}}>
  <p>{{#t}}Single-Channel Guests can only access messages and files in a single channel. This account type is free.{{/t}} <a href="https://get.slack.help/hc/{{zdLocale}}/articles/202518103-Restricted-account-and-single-channel-guest-FAQ" target="zendesk" class="subtle_silver underline">{{#t}}Learn more{{/t}}</a></p>
  <div class="account_type_disabled_hover hidden">
    {{#feature flag="feature_teams_to_workspaces"}}
      <p class="bottom_margin">{{#t}}You've reached the limit for <strong>Single-Channel Guests</strong>.{{/t}}</p>
    {{else}}
      <p class="bottom_margin">{{#t}}You've reached your team limit for <strong>Single-Channel Guests</strong>.{{/t}}</p>
    {{/feature}}
    <a href="https://get.slack.help/hc/{{zdLocale}}/articles/202518103-Restricted-account-and-single-channel-guest-FAQ" target="zendesk" class="btn btn_outline">{{#t}}Learn More{{/t}}</a>
  </div>
  <i class="option_arrow ts_icon ts_icon_arrow_right ts_icon_inherit"></i>
</div>
{{#currentUserIsAdmin}}
  <p class="align_center large_top_margin">
    {{#feature flag="feature_teams_to_workspaces"}}
      <a href="/admin/invites" target="{{newWindowName}}">{{#t}}See pending and accepted invites for your workspace{{/t}}</a>
    {{else}}
      <a href="/admin/invites" target="{{newWindowName}}">{{#t}}See pending and accepted invites for your team{{/t}}</a>
    {{/feature}}
  </p>
{{/currentUserIsAdmin}}