{{i18n_ns "team_profile"}}

<div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap">
  <button id="edit_team_profile_cancel_hide_btn" class="col btn btn_large btn_outline" data-action="edit_team_profile_cancel">{{#t}}Cancel{{/t}}</button>
  <button id="edit_team_profile_confirm_hide_btn" type="submit" class="col btn btn_large ladda-button" data-style="expand-right" data-action="edit_team_profile_confirm_hide" data-id="{{id}}">{{#t}}Disable field{{/t}}</button>
</div>
<p class="align_center small">{{#t}}You can also <a id="edit_team_profile_to_delete_link" data-action="edit_team_profile_to_delete" data-id="{id}">permanently delete this field.</a>{{/t}}</p>