{{i18n_ns "menu"}}

{{#feature flag="feature_teams_to_workspaces"}}
  <li id="manage_team" role="menuitem">
    <a href="/admin" target="{{newWindowName}}">{{#t}}Manage members{{/t}}</a>
  </li>

  <li id="team_settings" role="menuitem">
    <a href="/admin/settings" target="{{newWindowName}}">{{#t}}Workspace settings{{/t}}</a>
  </li>

  {{#if show_org_settings}}
    <li id="org_settings" role="menuitem">
      <a href="//{{enterprise_domain}}" target="{{newWindowName}}">{{#t}}Organization settings{{/t}}</a>
    </li>
  {{/if}}
{{else}}
  <li id="manage_team" role="menuitem">
    <a href="/admin" target="{{newWindowName}}">{{#t}}Manage team members{{/t}}</a>
  </li>

  <li id="team_settings" role="menuitem">
    <a href="/admin/settings" target="{{newWindowName}}">{{#t}}Team settings{{/t}}</a>
  </li>

  {{#if show_org_settings}}
    <li id="org_settings" role="menuitem">
      <a href="//{{enterprise_domain}}" target="{{newWindowName}}">{{#t}}Organization settings{{/t}}</a>
    </li>
  {{/if}}
{{/feature}}
