{{i18n_ns "invite"}}

<h1 class="light align_center">
  {{#if error_invites}}
    {{#if success_invites}}
      {{#t}}That was only a partial success.{{/t}}
    {{else}}
      {{#t}}That didn\u2019t work!{{/t}}
    {{/if}}
  {{else}}
    {{#if_gt success_invites.length compare=1}}
      {{#t}}Your invitations have been sent!{{/t}}
    {{else}}
      {{#t}}Your invitation has been sent!{{/t}}
    {{/if_gt}}
  {{/if}}
</h1>

<p class="align_center large_bottom_margin">
  {{#if error_invites}}
    {{#if success_invites}}
      {{#t success=(dangerouslyRenderHTML success_invites_html)}}You\u2019ve invited {success}, but <span class="bold">{error_invites.length, plural, =1 {# invitation} other {# invitations}} didn\u2019t send</span>. Review the errors below.{{/t}}
    {{else}}
      {{#t}}<span class="bold">{error_invites.length, plural, =1 {# invitation} other {# invitations}} didn\u2019t send</span>. Review the errors below.{{/t}}
    {{/if}}
  {{else}}
    {{#t success=(dangerouslyRenderHTML success_invites_html)}}You\u2019ve invited {success} to {team_name}.{{/t}}
  {{/if}}
</p>

{{#if success_invites}}
  {{#feature flag="feature_name_tagging_client"}}
    <table class="addresses large_bottom_margin align_left full_width">
      <tr>
        <th class="span_1_of_2">{{#t}}Email Address{{/t}}</th>
        <th class="span_1_of_2">{{#t}}Full Name{{/t}}</th>
      </tr>
      {{#each success_invites}}
        <tr>
          <td class="align_top">{{this.email}}</td>
          <td>{{this.full_name}}</td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <table class="addresses large_bottom_margin align_left full_width">
      <tr>
        <th class="span_1_of_2">{{#t}}Email Address{{/t}}</th>
        <th class="span_1_of_2">{{#t}}Name{{/t}}</th>
      </tr>
      {{#each success_invites}}
        <tr>
          <td class="align_top">{{this.email}}</td>
          <td>{{this.first_name}} {{this.last_name}}</td>
        </tr>
      {{/each}}
    </table>
  {{/feature}}
{{/if}}

{{#if error_invites}}
  <table class="addresses error large_bottom_margin align_left full_width">
    <tr>
      <th class="span_1_of_2">{{#t}}Email Address{{/t}}</th>
      <th class="span_1_of_2">{{#t}}What went wrong{{/t}}</th>
    </tr>
    {{#each error_invites}}
      <tr>
        <td class="align_top">{{this.email}}</td>
        <td>{{dangerouslyRenderHTML this.error_msg}}</td>
      </tr>
    {{/each}}
  </table>
{{/if}}

{{#if custom_message}}
  <table class="large_bottom_margin align_left full_width">
    <tr>
      <th class="span_1_of_1">{{#t}}Custom Message{{/t}}</th>
    </tr>
    <tr>
      <td class="align_top break_word">{{custom_message}}</td>
    </tr>
  </table>
{{/if}}

{{#if domains}}
  <div class="alert alert_success no_bottom_margin clearfix">
    <i class="ts_icon ts_icon_check_circle_o"></i>
    <p class="value_proposition">{{#t}}You can set <strong>{team_name}</strong> to allow automatic sign up from anyone with a confirmed email address.{{/t}}</p>
    {{#if paid_team}}<p class="value_proposition">{{#t}}Slack will automatically charge or credit your account when active members are added to or removed from your team.{{/t}}</p>{{/if}}
    <p class="top_margin">
      <span class="col span_3_of_4 no_right_padding small_bottom_margin">
        <input type="text" id="invite_signup_domains" class="no_bottom_margin small" value="{{domains}}" />
      </span>
      <button class="btn ladda-button col span_1_of_4" data-style="expand-right" data-action="add_signup_domains">{{#t}}Set Up{{/t}}</button>
      <span class="input_note col span_1_of_1 no_margin">{{#t}}To allow email addresses from multiple domains, separate them with commas.{{/t}}</span>
    </p>
  </div>
{{/if}}

<p class="large_top_padding">
  {{#if is_admin}}
    <a class="btn btn_outline col span_1_of_3" href="/admin/invites" {{#isClient}}target="admin_invites"{{/isClient}}>{{#t}}View Pending Invites{{/t}}</a>
  {{/if}}
  {{#if error_invites}}
    <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}}" data-action="admin_invites_try_again">{{#t}}Try Again{{/t}}</button>
  {{else}}
    <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}}" data-action="admin_invites_reset">{{#t}}Invite More People{{/t}}</button>
  {{/if}}
  <button class="btn btn_outline col {{#if is_admin}}span_1_of_3{{else}}span_1_of_2{{/if}} dialog_cancel">{{#t}}Done{{/t}}</button>
</p>