{{i18n_ns "app_space"}}

<ul class="navigation">
  <li class="featured_apps_link">{{#t}}Featured Apps{{/t}}</li>
  <li class="your_apps_link active">{{#t}}Your Apps{{/t}}</li>
  <li class="build_apps_link">{{#t}}Build your own{{/t}}</li>
</ul>
<div class="content">
  <div class="apps featured_apps display_none">{{#t}}Here you'll find the Featured Apps{{/t}}</div>
  <div class="apps your_apps display_flex"></div>
  <div class="apps build_apps display_none">{{#t}}Here you can learn how to Build Apps{{/t}}</div>
</div>
<div class="footer small"><a href="https://www.slack.com/apps" class="subtle_silver">{{#t}}Browse the App Directory {{/t}}<ts-icon class="ts_icon_external_link_square"></ts-icon></a></div>