{{i18n_ns "app_space"}}
<div
  class="p-app_space_profile"
  data-app_id="{{app_id}}"
  data-bot_id="{{bot_id}}"
  data-js="app_space_profile"
>
  {{!-- //////////////////////////////////////////////////
  AVATAR & DESCRIPTION
  /////////////////////////////////////////////////// --}}

  <div class="p-app_space_profile__info">

    <div class="p-app_space_profile__avatar">

      <img class="rounded"
        {{#if avatar}}
          src="{{avatar}}"
        {{else}}
          src="{{versioned_default_application_icon}}"
        {{/if}}
      >

    </div>

    <div class="p-app_space_profile__about">

      {{#if name}}
        <h2 class="p-app_space__header">
          <strong>{{name}}</strong>
        </h2>
      {{/if}}

      {{!-- DESCRIPTION --}}
      {{#if long_description}}
        <section>
          {{> app_profile_description}}
        </section>
      {{/if}}

      {{!-- NON-SLACK APP --}}
      {{#unless is_directory_published}}
        <section>
          <p class="small_bottom_margin">
            <i>{{#t}}This app has not been reviewed by Slack and is not listed in the App Directory.{{/t}}</i>
          </p>
          <p>
            <a href="/apps/{{app_id}}" target="_blank">
              {{#t note="3rd party App URL link text"}}Visit app site{{/t}}
            </a>
          </p>
        </section>
      {{/unless}}

    </div>

  </div>


  {{!-- //////////////////////////////////////////////////
  SCREENSHOTS
  /////////////////////////////////////////////////// --}}

  {{#if has_screenshots}}

    <h3 class="p-app_space__subheader">
      {{#t note="Application screenshots"}}Screenshots{{/t}}
    </h3>

    <div class="p-app_space_profile__screenshots">

      {{#if youtube_id}}
        <div
          class="p-app_space_profile__youtube_thumbnail"
          style="background-image: url(https://slack-imgs.com/?url=https://i.ytimg.com/vi/{{youtube_id}}/hqdefault.jpg);"
          data-app-space-screenshot="youtube"
        >
          <div class="p-app_space_profile__youtube_play_button">
            <ts-icon class="ts_icon_play ts_icon_inherit"></ts-icon>
          </div>
        </div>
      {{/if}}

      {{#each screenshots}}
          <img
            src="{{image_440}}"
            class="p-app_space_profile__screenshot"
            data-app-space-screenshot="{{@index}}"
          />
      {{/each}}

    </div>

  {{/if}}

  {{!-- //////////////////////////////////////////////////
  SLASH COMMANDS
  /////////////////////////////////////////////////// --}}

  {{#if commands}}

    <h3 class="p-app_space__subheader">
      <span>{{#t note="Slash commands the app responds to"}}Commands{{/t}}</span>
      <span class="p-app_space__subheader__helper">
        {{#t note="How to use slash commands helper text"}}
          Use / to start commands in any conversation
        {{/t}}
      </span>
    </h3>

    <div class="p-app_space_profile__slash_commands">
      <section>
        {{#each commands}}
          <div class="p-app_space_profile__slash_command">
            <div>
              <div>
                <strong>{{name}}</strong><span>{{usage}}</span>
              </div>
              <div class="p-app_space_profile__slash_command_desc">{{desc}}</div>
            </div>
            <div>
              <button type="button" class="btn_outline btn" data-slash-command-autofill="{{name}}">
                {{#t note="Start a slash command button"}}Start command{{/t}}
              </button>
            </div>
          </div>
        {{/each}}
      </section>
    </div>

  {{/if}}

</div>
