{{i18n_ns 'apps'}}
{{!-- Abbreviated app description, rendered by TS.web.app_detail.source.js --}}

{{!-- hbslint-disable syntax --}}
<span class="p-app_description__start">
  {{{starting_sentences}}}
</span>
<span class="p-app_description__end hidden" data-js="app_description__end">
  {{{ending_sentences}}}
</span>
{{!-- hbslint-enable syntax --}}

{{!-- Show more/less toggles --}}
<a href="#" class="p-app_description__show_more" data-js="toggle_show_app_desc">
  {{#t}}Show more{{/t}}
</a>
<a href="#" class="p-app_description__show_less hidden" data-js="toggle_show_app_desc">
  {{#t}}Show less{{/t}}
</a>
