{{i18n_ns 'apps'}}
{{!-- Abbreviated app description, rendered by TS.web.app_detail.source.js --}}
<div class="
  p-app_space_profile__description
  {{!-- TODO: Clean these classes up once everything moved to App Space (garrett) --}}
  app_profile_section_text app_profile_desc
  {{#if_not_equal hide_expand_button compare=1}}app_desc_expand_showing{{/if_not_equal}}"
  data-js="app_profile_desc"
>
  {{#if hide_expand_button}}
    <div>{{long_description}}</div>
  {{else}}
    <div data-js="app_profile_desc_inner">
      {{long_description}}
    </div>
    <div class="app_profile_desc_fade"></div>
    <button class="app_desc_btn app_desc_expand_btn" data-js="app_profile_btn" data-action="desc_expand">
      {{#t}}Expand{{/t}}
      <ts-icon class="ts_icon_arrow_down_medium"></ts-icon>
    </button>
    <button class="app_desc_btn app_desc_collapse_btn" data-js="app_profile_btn" data-action="desc_collapse">
      {{#t}}Collapse{{/t}}
      <ts-icon class="ts_icon_arrow_up_medium"></ts-icon>
    </button>
  {{/if}}
</div>