{{i18n_ns "apps"}}

<button type="button" class="close p-app_permission_modal__close position_absolute no_margin normal" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="align_center"><img class="rounded" src="{{app_image}}" height="48" width="48" alt="{{#t}}{app_name}{{/t}}" /></div>
<h3 class="normal bottom_margin top_margin align_center">
  {{title}}
</h3>
<div data-js="app_permission_modal_scope_descriptions">
  <div class="c-oauth_scope_info__safe_scopes no_border">
    {{#each safe_scope_info}}
      <div class="c-oauth_scope_info__safe_scope">
        <div class="display_flex">
          <span class="c-oauth_scope_info__scope_description flex_one large_right_margin">{{this.short_description}}</span>
          {{#if long_description}}
          <ts-icon class="c-oauth_scope_info__info_icon float_right cursor_pointer toggle_info ts_icon_info_circle ts_tip ts_tip_top" data-toggle-visibility="scope_description_safe_{{@index}}">
            <span class="ts_tip_tip" data-toggled-text="{{#t}}Show less{{/t}}">{{#t}}Show more{{/t}}</span>
          </ts-icon>
          {{/if}}
        </div>
        {{#if long_description}}
        <p class="c-oauth_scope_info__scope_description no_bottom_margin small_top_margin hidden" data-toggle-visibility-id="scope_description_safe_{{@index}}">
          {{long_description}}
        </p>
        {{/if}}
      </div>
    {{/each}}
  </div>
  {{#if dangerous_scope_info.length}}
    <div class="c-oauth_scope_info__dangerous_scopes rounded medium_bottom_margin">
      {{#each dangerous_scope_info}}
        <div class="c-oauth_scope_info__dangerous_scope no_margin">
          <div class="display_flex">
            <ts-icon class="ts_icon_warning yolk_orange c-oauth_scope_info__spacer_icon c-oauth_scope_info__info_icon"></ts-icon>
            <span class="c-oauth_scope_info__dangerous_scope_description flex_one right_margin">{{this.short_description}}</span>
            {{#if long_description}}
            <ts-icon class="c-oauth_scope_info__info_icon float_right cursor_pointer toggle_info ts_icon_info_circle ts_tip ts_tip_top" data-toggle-visibility="scope_description_dangerous_{{@index}}">
              <span class="ts_tip_tip" data-toggled-text="{{#t}}Show less{{/t}}">{{#t}}Show more{{/t}}</span>
            </ts-icon>
            {{/if}}
          </div>
          {{#if long_description}}
          <p class="c-oauth_scope_info__dangerous_scope_description no_bottom_margin small_top_margin hidden" data-toggle-visibility-id="scope_description_dangerous_{{@index}}">
            {{long_description}}
          </p>
          {{/if}}
        </div>
      {{/each}}
    </div>
  {{/if}}
</div>
