{{i18n_ns "app_request"}}
{{#feature flag="feature_teams_to_workspaces"}}
    {{#if require_comment}}
        <textarea id="whitelist_request_msg" class="no_bottom_margin" placeholder="{{#t}}Add a message for your Admins{{/t}}"></textarea>
    {{else}}
        <textarea id="whitelist_request_msg" class="no_bottom_margin" placeholder="{{#t}}Add an optional message for your Admins{{/t}}"></textarea>
    {{/if}}
    <span id="whitelist_request_comment_required" class="modal_input_note mustard_yellow hidden margin_auto block">
        {{#t note="Validation error message if 'note' field was required but not provided"}}You need to add a note for your Admins{{/t}}
    </span>
{{else}}
    {{#if require_comment}}
        <textarea id="whitelist_request_msg" class="no_bottom_margin" placeholder="{{#t}}Add a message for your Team Admins{{/t}}"></textarea>
    {{else}}
        <textarea id="whitelist_request_msg" class="no_bottom_margin" placeholder="{{#t}}Add an optional message for your Team Admins{{/t}}"></textarea>
    {{/if}}
    <span id="whitelist_request_comment_required" class="modal_input_note mustard_yellow hidden margin_auto block">
        {{#t note="Validation error message if 'note' field was required but not provided"}}You need to add a note for your Team Admins{{/t}}
    </span>
{{/feature}}