{{i18n_ns "apps"}}
{{#if is_api_tester}}
  <p class="no_margin">
    {{#if user_name}}
      {{#t}}We'll send <b>{user_name}</b> a message that you've denied their request.{{/t}}
    {{else}}
      {{#t}}We'll send this user a message that you've denied their request.{{/t}}
    {{/if}}
  </p>
{{else if is_custom_integration}}
  <p class="no_margin">
    {{#if user_name}}
      {{#if app_name}}
        {{#t}}<b>{user_name}</b> will not be able to add a configuration for {app_name}.{{/t}}
      {{else}}
        {{#t}}<b>{user_name}</b> will not be able to add a configuration for this app.{{/t}}
      {{/if}}
    {{else}}
      {{#if app_name}}
        {{#t}}This user will not be able to add a configuration for {app_name}.{{/t}}
      {{else}}
        {{#t}}This user will not be able to add a configuration for this app.{{/t}}
      {{/if}}
    {{/if}}
  </p>
{{else}}
  <p>
    {{#if request_id}}
      {{#if app_name}}
        {{#t}}Team members will not be able to add or edit {app_name} configurations.{{/t}}
      {{else}}
        {{#t}}Team members will not be able to add or edit this app's configurations.{{/t}}
      {{/if}}
    {{else}}
      {{#if app_name}}
        {{#t}}Team members will no longer be able to add or edit {app_name} configurations.{{/t}}
      {{else}}
        {{#t}}Team members will no longer be able to add or edit this app's configurations.{{/t}}
      {{/if}}
    {{/if}}
  </p>
  <p class="no_margin">
    {{#if config_count}}
      {{#t}}
        <b>{config_count, plural, =1 {# existing configuration} other {# existing configurations}}</b> will remain in use until removed from Team Apps.
      {{/t}}
    {{else}}
      {{#t}}There are no existing configurations.{{/t}}
    {{/if}}
  </p>
{{/if}}
