{{i18n_ns 'at_channel'}}

  <div class="modal-body">
    <p class="at_channel_flexible_width">
      {{#if_equal timezone_count compare=1}}
        {{#t}}By using <span class="mention_yellow_bg">{keyword}</span>, you are about to notify <strong>{member_count, plural, =1 {# person} other {# people}}</strong>. Are you sure?{{/t}}
      {{else}}
        {{#t}}By using <span class="mention_yellow_bg">{keyword}</span>, you are about to notify <strong>{member_count, plural, =1 {# person} other {# people}}</strong> in <strong>{timezone_count} timezones</strong>. Are you sure?{{/t}}
      {{/if_equal}}
    </p>
    <div>
      <div class="inline_block">
        <button type="button" class="btn btn_outline dialog_cancel block">{{#t}}Edit message{{/t}}</button>
        <span class="tiny dialog_cancel_hint">{{#t}}<strong aria-label="escape">Esc</strong> to edit{{/t}}</span>
      </div>
      <div class="inline_block">
        <button type="button" class="btn btn_success dialog_go block">{{#t}}Send it now{{/t}}</button>
        <span class="tiny dialog_go_hint">{{#t}}<strong aria-label="return">Return <span class="return_char">&crarr;</span></strong> to send{{/t}}</span>
      </div>
    </div>
{{#currentUserIsAdmin}}
    <div class="at_channel_flexible_width">
      <span class="tiny dialog_admin_hint">{{#t}}Pssst... admins! <a href="/admin/settings#permissions" target="_blank">Team settings</a> control this warning{{/t}}</span>
    </div>
{{else}}
    <div class="at_channel_flexible_width">
      <span class="tiny dialog_admin_hint">{{#t}}Psssssst! These warnings can be modified by a Team Admin!{{/t}}</span>
    </div>
{{/currentUserIsAdmin}}

    <div class="channel_members popover_menu hidden at_channel_flexible_width">
      <div class="channel_members_scroller"></div>
      <a href="#" class="channel_members_count_underlay overflow_ellipsis">{{#t}}{member_count, plural, =1 {# person} other {# people}}{{/t}}</a>
    </div>
  </div>
