{{i18n_ns 'attachment_actions'}}
{{#if attachment.actions}}
  <div class="attachment_actions_buttons{{#if attachment._pending}} attachment_pending{{/if}}{{#if disable_buttons}} ts_tip ts_tip_top{{/if}}">
    {{#if disable_buttons}}<span class="ts_tip_tip">{{#t}}Buttons disabled in message archives{{/t}}</span>{{/if}}
    <span class="attachment_actions_buttons_inner_wrapper">
      {{renderAttachmentActions attachment disable_buttons}}
    </span>
    {{#if attachment._pending}}
      {{inlineSaver hide_text=true}}
    {{/if}}
  </div>
{{/if}}
{{#if attachment.legacy_actions}}
  <div class="attachment_actions">
    {{#foreach attachment.legacy_actions}}
      {{formatActionLink this.value msg ../enable_slack_action_links}}
      {{#unless this.last}} \u2022 {{/unless}}
    {{/foreach}}
  </div>
{{/if}}
