<select
  class="select small"
  name="{{name}}"
  {{#if _disabled}}
    disabled
    aria-disabled="true"
  {{/if}}
  {{#if text}}
    placeholder="{{text}}"
  {{/if}}
  data-action-id="{{id}}"
  data-data-source="{{data_source}}"
>
  {{#if option_groups}}
    {{#each option_groups}}
      <optgroup label="{{text}}">
        {{#each options}}
          {{renderAttachmentActionSelectOption this is_group_item=true}}
        {{/each}}
      </optgroup>
    {{/each}}
  {{else}}
    {{#each options}}
      {{renderAttachmentActionSelectOption this}}
    {{/each}}
  {{/if}}
</select>
