{{! Note the lazy_filter_select library will decorate these selects. See `TS.attachment_actions.select`. }}
<select
  class="select_attachment_placeholder"
  {{#if disabled}}disabled{{/if}}
  name="{{name}}"
  {{#if text}}placeholder="{{text}}"{{/if}}
  data-action-id="{{id}}"
>
  {{#if option_groups}}
    {{#each option_groups}}
      <optgroup label="{{text}}">
        {{#each options}}
          {{renderAttachmentActionSelectOption this is_group_item=true}}
        {{/each}}
      </optgroup>
    {{/each}}
  {{else}}
    {{#each options}}
      {{renderAttachmentActionSelectOption this}}
    {{/each}}
  {{/if}}
</select>
