{{#*inline "option"}}
  <option
    value="{{value}}"
    {{#if is_group_item}}
      class="group_item"
    {{/if}}
    {{#if selected}}
      selected
      aria-selected="true"
    {{/if}}
    {{#if icon}}
      data-lfs-item-icon="{{icon}}"
    {{/if}}
    {{#if description}}
      data-lfs-item-desc="{{description}}"
    {{/if}}
  >
    {{text}}
  </option>
{{/inline}}

<select
  class="select small"
  name="{{name}}"
  {{#if _disabled}}
    disabled
    aria-disabled="true"
  {{/if}}
  {{#if text}}
    placeholder="{{text}}"
  {{/if}}
  data-action-id="{{id}}"
  data-data-source="{{data_source}}"
>
  {{#if option_groups}}
    {{#each option_groups}}
      <optgroup label="{{text}}">
        {{#each options}}
          {{> option is_group_item=true}}
        {{/each}}
      </optgroup>
    {{/each}}
  {{else}}
    {{#each options}}
      {{> option}}
    {{/each}}
  {{/if}}
</select>
