{{i18n_ns "autocomplete"}}

<li class="tab_complete_ui_item" data-index="{{index}}">

  {{#if member.presence}}
    {{makeProfileImage member size="20"}}
  {{/if}}

  <span class="{{primary_name_classes}}">
    {{#feature flag="feature_name_tagging_client"}}
      {{getMemberDisplayName member}}{{!
    }}{{else}}
      {{member.name}}{{!
    }}{{/feature}}{{!
  }}</span>{{!

  }}{{makeMemberPresenceIcon member}}

  <span class="{{secondary_name_classes}}">
    {{#feature flag="feature_name_tagging_client"}}
      {{secondary_name}}
    {{else}}
      {{getMemberRealName member}}
    {{/feature}}
  </span>

  {{#if show_channel_membership}}
    {{#if membership_status_is_known}}
      {{#if member_does_not_belong_to_channel}}
        <span class="not_in_channel">{{#t}}(not in channel){{/t}}</span>
      {{/if}}
    {{else}}
      {{! TBD - we might display some sort of marker here to indicate that the user's membership status is not known yet}}
    {{/if}}
  {{/if}}

  {{#feature flag="feature_user_custom_status"}}
    {{#or member.profile.status_emoji member.profile.status_text}}
      <span class="current_status greigh">
        {{getMemberCurrentStatusForDisplay member}}
      </span>
    {{/or}}
  {{/feature}}

</li>
