<li class="tab_complete_ui_item" data-index="{{index}}">

  {{#if is_shared_channel}}
    <span class="channelname display_flex"><span class="overflow_ellipsis"><ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{channel.name}}</span><ts-icon class="ts_icon_shared_channel"></ts-icon></span>
  {{else}}
    <span class="channelname"><ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{channel.name}}</span>
  {{/if}}
  {{#feature flag="feature_reveal_channel_renames"}}
    {{#if channel._jumper_previous_name_match}}<span class="small_left_margin">(formerly #{{channel._jumper_previous_name_match}})</span>{{/if}}
  {{/feature}}

</li>