{{i18n_ns "autocomplete"}}

<li class="tab_complete_ui_item" data-index="{{index}}">

  {{#if is_org_shared_channel}}
    <span class="channelname display_flex"><span class="overflow_ellipsis"><ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{channel.name}}</span><ts-icon class="ts_icon_shared_channel"></ts-icon></span>
  {{else}}
    <span class="channelname"><ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{channel.name}}</span>
  {{/if}}
  {{#if channel._jumper_previous_name_match}}<span class="small_left_margin">{{#t note="Shown when a user is typing the old name of a channel, e.g. '(formerly #cats)'"}}(formerly #{channel._jumper_previous_name_match}){{/t}}</span>{{/if}}
  {{~#if channel.is_shared}}{{~#unless channel.is_org_shared}}{{> shared_channels_icon tooltip=true shared_team_ids=channel.shared_team_ids}}{{/unless}}{{/if}}


</li>
