{{i18n_ns "autocomplete"}}

<li class="tab_complete_ui_item" data-index="{{index}}">
  {{#shouldUseUnifiedMemberDisplay}}
    {{> c-member member=member size="small" avatar=true context="not_in_channel" not_channel_member=member_does_not_belong_to_channel}}
  {{else}}
    {{#if member.presence}}
      {{> member_preview_link_image (getMemberPreviewLinkImageArgs member 20 false true)}}
    {{/if}}

    <span class="{{primary_name_classes}}">
      {{#feature flag="feature_name_tagging_client"}}
        {{getPrefCompliantMemberName member}}{{!
      }}{{else}}
        {{member.name}}{{!
      }}{{/feature}}{{!
    }}</span>{{!

    }}{{makeMemberPresenceIcon member}}

    <span class="{{secondary_name_classes}}">
      {{#feature flag="feature_name_tagging_client"}}
        {{secondary_name}}
      {{else}}
        {{getMemberRealName member}}
      {{/feature}}
    </span>
    {{#if team_name}}<span class="team_name">({{team_name}})</span>{{/if}}

    {{#if show_channel_membership}}
      {{#if membership_status_is_known}}
        {{#if member_does_not_belong_to_channel}}
          <span class="not_in_channel">{{#t}}(not in channel){{/t}}</span>
        {{/if}}
      {{else}}
        {{! TBD - we might display some sort of marker here to indicate that the user's membership status is not known yet}}
      {{/if}}
    {{/if}}

    {{#or member.profile.status_emoji member.profile.status_text}}
      <span class="current_status greigh">
        {{getMemberCurrentStatusForDisplay member}}
      </span>
    {{/or}}
  {{/shouldUseUnifiedMemberDisplay}}
</li>
