{{i18n_ns "bank_account_verification"}}

<p>{{#t}}Enter the number of cents (between 1 and 100) of the two deposits here to verify your account.{{/t}}</p>
<input type="text" name="value1" id="value1" placeholder="{{#t}}deposit 1{{/t}}">
<input type="text" name="value2" id="value2" placeholder="{{#t}}deposit 2{{/t}}">
<p class="mini">{{#t}}Within 1-2 business days of adding your bank account, you will receive two small deposits in your account with statement description <code>VERIFICATION</code>.{{/t}}</p>