{{i18n_ns "pages_admin"}}
{{#feature flag="feature_ssi_checkout"}}
<div class="p-add_invoice__confirmation_dialog__error_container small_bottom_margin left_padding right_padding small_top_padding small_bottom_padding hidden">
  <ts-icon class="p-add_invoice__confirmation_dialog__error_icon ts_icon_warning sk_candy_red small_right_margin"></ts-icon>
  <span class="p-add_invoice__confirmation_dialog__error_text">
    {{#t}}Hmm, that didn't work. Try again?{{/t}}
  </span>
</div>
<div class="p-add_invoice_confirmation_dialog__details_list">
  <p class="small_bottom_margin">
    <ts-icon class="ts_icon_check_circle_o seafoam_green"></ts-icon>
    <span>{{plan_text}}</span>
  </p>
  <p class="small_bottom_margin">
    <ts-icon class="ts_icon_check_circle_o seafoam_green"></ts-icon>
    <span>{{#t}}You are paying <strong>Annually</strong>{{/t}}</span>
  </p>
  <p class="small_bottom_margin">
    <ts-icon class="ts_icon_check_circle_o seafoam_green"></ts-icon>
    <span>{{user_count_text}}</span>
  </p>
  <p>
    <ts-icon class="ts_icon_check_circle_o seafoam_green"></ts-icon>
    <span>{{invoice_total_text}}</span>
  </p>
</div>
<div>
  <table class="p-add_invoice_confirmation_dialog__table full_width small_bottom_margin">
    <tr class="no_border">
      <td class="small no_border no_padding">{{active_user_text}}</td>
      <td class="small no_border no_padding align_right">{{cost_for_users}}</td>
    </tr>
    <tr class="no_border">
      <td class="small no_border no_padding">{{#t}}Credits for future usage:{{/t}}</td>
      <td class="small no_border no_padding align_right">{{future_credits}}</td>
    </tr>
    <tr class="no_border {{#if hide_existing_credits}}hidden{{/if}}">
      <td class="small no_border no_padding">{{#t}}Existing credits applied:{{/t}}</td>
      <td class="small no_border no_padding align_right seafoam_green">{{team_credits}}</td>
    </tr>
    <tr class="no_border {{#if hide_taxes}}hidden{{/if}}">
      <td class="small no_border no_padding">{{#t}}Taxes:{{/t}}</td>
      <td class="small no_border no_padding align_right">{{sales_tax}}</td>
    </tr>
  </table>
</div>
<hr class="small_top_margin small_bottom_margin"/>
<div class="p-add_invoice_confirmation_dialog__tos_agreement very_small_bottom_padding">
  <span>
    {{#t}}
      By clicking <strong>Send Invoice</strong>, you understand and agree to the Contract on behalf of the Customer (as described in our <a href="https://slack.com/terms-of-service" target="_blank" rel="noopener">Customer Terms of Service</a>).
    {{/t}}
  </span>
</div>
{{/feature}}
