{{i18n_ns "pages_admin"}}
{{!-- change the form action according to wher ethe thing --}}
<form action="/admin/billing/settings" method="post" id="address_input_form" class="display_flex flex_direction_column {{#if content.is_checkout}}align_items_center{{/if}}">
  <div>
    <div class="{{#if content.allow_additional_notes}}col span_3_of_6{{else}}full_width{{/if}} settings_address_form_container">
      <input type="hidden" name="done_address" value="1">
      <p>
        <fieldset class="settings_fieldset address_fieldset">
          <label class="select small">
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}Country*{{/t}}</p>
              <div class="address_country_error settings_error settings_input_error_display" data-status-for="country_select"></div>
            </div>
            <select id="country_select" class="small billing_settings_address_input" name="country_select" data-qa="country_select_input">
              <option value="" {{#unless country_select_data.selected_option}}selected{{/unless}} disabled="true">{{#t note="heading on dropdown to select billing country"}}Select a country...{{/t}}</option>
              {{> billing_address_select country_select_data}}
            </select>
          </label>
        </fieldset>

        <fieldset class="settings_fieldset company_name_fieldset">
          <label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}Company Name*{{/t}}</p>
              <div class="company_name_error settings_error settings_input_error_display" data-status-for="company_name"></div>
            </div>
            <input type="text" class="small billing_settings_address_input" name="company_name" value="{{content.company_name}}" data-qa="company_name_input" maxlength=47 required/>
          </label>
        </fieldset>

        <fieldset class="settings_fieldset address_fieldset">
          <label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}Street Address*{{/t}}</p>
              <div class="address_street_error settings_error settings_input_error_display" data-status-for="address_street1"></div>
            </div>
            <input type="text" class="small billing_settings_address_input" name="address_street1" value="{{content.street1}}" data-qa="address_input" maxlength=47 required/>
          </label>

          <label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}Suite/Unit{{/t}}</p>
              <div class="address_unit_error settings_error settings_input_error_display" data-status-for="address_street2"></div>
            </div>
            <input type="text" class="small billing_settings_address_input" name="address_street2" value="{{content.street2}}" data-qa="address2_input" maxlength=47 />
          </label>

          <label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}City*{{/t}}</p>
              <div class="address_city_error settings_error settings_input_error_display" data-status-for="address_city"></div>
            </div>
            <input type="text" class="small billing_settings_address_input" name="address_city" value="{{content.city}}" data-qa="city_input" maxlength=150 required/>
          </label>

          <label data-state-label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}State/Province/Region{{/t}}<span class="required_region_asterisk">*</span></p>
              <div class="address_state_error settings_error settings_input_error_display" data-status-for="state_input"></div>
            </div>
            <select id="state_select" class="select small billing_settings_address_input billing_settings_address_state_select" name="state_select">
            </select>
            <input type="text" class="small billing_settings_address_input hidden" name="state_input" id="state_input" value="{{content.state}}" data-qa="state_select" maxlength=100 />
          </label>

          <label>
            <div class="billing_settings_label_container">
              <p class="billing_settings_label_name">{{#t}}Postal Code{{/t}}<span class="required_postal_asterisk">*</span></p>
              <div class="address_zipcode_error settings_error settings_input_error_display" data-status-for="address_zipcode"></div>
            </div>
            <input type="text" class="billing_settings_postal_code_input"  name="address_zipcode" value="{{content.zip}}" data-qa="zipcode_input" maxlength=15 />
          </label>


          {{#feature flag="feature_sales_tax"}}
          <label>
            <div class="billing_settings_label_container" data-vat-id-container >
              <p class="billing_settings_label_name">{{#t}}VAT ID{{/t}}</p>
              <div class="address_vat_id_error settings_error settings_input_error_display" data-status-for="address_vat_id"></div>
            </div>
            <input type="text" class="billing_settings_vat_id_input"  name="address_vat_id" value="{{content.vat_id}}" data-qa="vat_id_input" maxlength=15 />
          </label>
          {{/feature}}

          </br>
          <span class="input_note small_bottom_margin">{{#t}}* indicates a required field{{/t}}</span>
        </fieldset>
      </p>
    </div>
    {{#if content.allow_additional_notes}}
    <div class="col span_3_of_6 no_right_padding">
      <p>
        <fieldset class="settings_fieldset">
          </label>
            <div class="display_flex align_items_center">
              <p class="billing_settings_label_name">{{#t}}Additional Notes{{/t}}</p>
              <div class="additional_notes_error settings_error" data-status-for="additional_notes"></div>
            </div>
            <textarea name="additional_notes" id="additional_notes" class="no_bottom_margin" data-qa="additional_notes_input" maxlength=200>{{content.notes}}</textarea>
            <span class="input_note">{{#t}}Use this field for any additional information you\u2019d like to include on your invoice.{{/t}}</span>
          </label>
        </fieldset>
      </p>
    </div>
    {{/if}}
  </div>

  <p class="alert alert_error hidden full_width" id="api_error_display"><i class="ts_icon ts_icon_warning"></i>{{#t}}We couldn\u2019t verify that address, but if you <a href="https://my.slack.com/help/requests/new">contact us</a> we\u2019d be happy to help!{{/t}}</p>

  <p class="alert alert_error hidden full_width" id="suretax_api_error_display"><i class="ts_icon ts_icon_warning"></i>{{#t}}Drat! We are having some trouble with our checkout system right now. If you <a href="https://my.slack.com/help/requests/new">contact us</a>, we\u2019d be happy to help!{{/t}}</p>

  {{#if content.is_checkout}}
  <p class="large_top_margin align_center">
    <button data-qa="add_payment_method_btn" class="btn btn_large ladda-button submit_setting" type="button" data-style="expand-right">
      <span class="ladda-label">{{#t}}Add a Payment Method{{/t}}</span>
    </button>
  </p>
  {{else}}
  <p>
    <button data-qa="save_setting_btn" class="btn ladda-button no_top_margin submit_setting" type="button" data-style="expand-right">
      <span class="ladda-label">{{#t}}Save Settings{{/t}}</span>
    </button>
  </p>
  {{/if}}
</form>
