{{i18n_ns "pages_admin"}}
<form action="" data-js="add_invoice_form" class="display_flex flex_direction_column large_top_margin" data-qa="inv_ss__form_container">
  {{> billing_add_invoice_number_of_seats_input default_seat_text=default_seat_text minimum_seats_possible=minimum_seats_possible current_user_count=current_user_count disabled=disabled}}

  {{#if disabled}}
    {{> billing_add_invoice_team_too_large_error maximum_seats_possible=maximum_seats_possible}}
  {{/if}}

  {{> billing_add_invoice_billing_contacts_input disabled=disabled}}

  {{> billing_add_invoice_purchase_order_input disabled=disabled}}

  <div class="payment_form_details" data-js="p-add_invoice__price_preview_container">
    {{!-- This field populated by add_invoice_price_preview when necessary (check TS.ui.add_invoice_form.source.js)  --}}
  </div>

  {{> billing_add_invoice_checkout_button disabled=disabled}}
</form>
