{{i18n_ns "pages_admin"}}
<div class="bottom_margin payment_form_details">
  <label for="add_invoice__billing_emails" {{#if disabled}}class="disabled"{{/if}}>{{#t}}Additional Billing Contacts (Optional){{/t}}</label>
  <div class="add_invoice__billing_emails no_margin">
    <input class="add_invoice__new_billing_email small no_margin" type="text" name="add_invoice__billing_emails" placeholder="{{#t}}e.g. @sara or accounting@acme.corp{{/t}}" data-qa="invoice_additional_billing_emails" {{#if disabled}}disabled="true"{{/if}}>
  </div>
  <span class="input_note inline no_margin {{#if disabled}}cursor_default{{/if}}">{{#t}}Add contacts by email or Slack @username{{/t}}</span>
</div>
