{{!--
Billing item type to string partial
Used in billing_history_list_item_col.hbs
--}}

{{!-- types that have a billing statement associated --}}
{{#if_equal type compare="monthly_statement"}}
  <a href="/admin/billing/{{this.id}}" class="link_billing_statement">Monthly Statement
  <span class="show_on_mobile inline"> \u2013 {{this.formatted_date}}</span></a>
{{else if payments_event_description}}
  {{payments_event_description}}
{{else if_equal type compare="invoice_switch"}}
  Switched to invoice
{{else if_equal type compare="invoice"}}
  Invoice
{{else if_equal type compare="invoice_adjust"}}
  Invoice adjusted
{{else if_equal type compare="invoice_cancel"}}
  Your team is no longer paying by invoice.
{{else if_equal type compare="purchase"}}
  Purchased the <strong>{{this.product.level_nice}} plan</strong>{{#if this.product.discount}}<span class="inline_discount"> (Discounted{{#if this.product.is_simple_discount}} {{this.discount_plan.0.percentage}}%{{/if}})</span>{{/if}}, paying {{#if_equal this.product.termly compare="yearly"}}Annually{{else}}Monthly{{/if_equal}}
{{else if_equal type compare="renewal"}}
  Renewed the <strong>{{this.product.level_nice}} plan</strong>{{#if this.is_discounted}}<span class="inline_discount"> (Discounted{{#if this.is_simple_discount}} {{this.discount_plan.0.percentage}}%{{/if}})</span>{{/if}}, paying {{#if_equal this.product.termly compare="yearly"}}Annually{{else}}Monthly{{/if_equal}}
{{else if_equal type compare="cancel"}}
  Switched to the <strong>Free plan</strong>
{{else if_equal type compare="switch"}}
  Switched to the <strong>{{product.type}} plan</strong>, paying {{#if_equal product.term compare="yearly"}}Annually{{else}}Monthly{{/if_equal}}
{{else if_equal type compare="future_cancel"}}
  Switch to the <strong>Free plan</strong> at renewal time
{{else if_equal type compare="future_switch"}}
  Switch to the <strong>{{product.type}} plan</strong> at renewal time, paying {{#if_equal product.term compare="yearly"}}Annually{{else}}Monthly{{/if_equal}}
{{else if_equal type compare="users_change"}}
  Switched from <strong>{{num_users_from}} to {{num_users_to}}</strong> {{pluralize num_users_to 'user' 'users'}}
{{else if_equal type compare="late"}}
  Paid money owed
{{else if_equal type compare="expire"}}
  Paid plan expired
{{else if_equal type compare="comp_gift"}}
  Given the <strong>{{product.typ}} plan</strong>
{{else if_equal type compare="trial_start"}}
  Started a free trial
{{else if_equal type compare="charge_high_balance"}}
  Charged for high balance
{{else if_equal type compare="annual_team_balance_paid"}}
  Monthly accrued balance for annual teams
{{!-- Types with no billing statment associated, will not link --}}
{{else if_equal type compare="staff_gift"}}
  {{#if_gt charges.delta compare=0}}
    Gift from Slack
  {{else}}
    Credit adjustment
  {{/if_gt}}
{{else if_equal type compare="referral_purchase_credit"}}
  Credit for referring a new team
{{else if_equal type compare="referral_credit"}}
  Referral signup credit
{{else if_equal type compare="beta_credit"}}
  Beta testing credit
{{else if_equal type compare="launch_credit"}}
  New team credit
{{else if_equal type compare="credit_test_group"}}
  New team credit
{{else if_equal type compare="survey_credit"}}
  Survey completed
{{else if_equal type compare="txn_void"}}
  Voided Payment
{{else if_equal type compare="txn_refund"}}
  Refunded Payment
{{else if_equal type compare="sales_tax_refund"}}
  Sales Tax Refund
{{else if_equal type compare="enterprise_transfer"}}
  {{#if enterprise_transfer.enterprise_id}}
    Transferred to <a href="{{enterprise_transfer.enterprise_url}}">{{enterprise_transfer.enterprise_name}}</a>
  {{else if enterprise_transfer.team_id}}
    Transferred to <a href="{{enterprise_transfer.team_url}}">{{enterprise_transfer.team_name}}</a>
  {{else}}
    Enterprise plan transfer
  {{/if}}
{{else if_equal type compare="transfer"}}
    Transferred ${{charges.delta}}{$row.delta|abs|cash} {{#if_gt charges.delta compare=0}}from{{else}}to{{/if_gt}} {{transfer.other_team_type}}
  {{#if_equal transfer.reason compare='payments_group'}}
    (payment group transfer)
  {{/if_equal}}
  {{#if_equal transfer.reason compare='enterprise'}}
    (enterprise plan transfer)
  {{/if_equal}}
{{/if_equal}}

