  {{i18n_ns "pages_admin"}}
  {{!-- hbslint-disable syntax --}}
  {{!-- Todo: enable syntax linter and refactor with safeString --}}
  <div class="billing_contact {{#if member.is_primary_owner}}primary_owner{{/if}} {{#if member.deleted}}inactive{{/if}}" data-contact-id="{{contact.id}}">
    {{#if member}}
      {{> member_preview_link_image (getMemberPreviewLinkImageArgs member 48)}}
      <div class="inline_block" style="margin-left: 8px">
        <div class="no_wrap">
          <strong>{{#if member.is_self}}{{#t note="Shown when primary owner is viewing primary owner field"}}You &bull;{{/t}} {{/if}}{{getPrefCompliantMemberName member}}</strong>
          {{#if member.deleted}}&bull; <em class="subtle_silver">{{#t note="Display next to username if user is disabled"}}(Deactivated){{/t}}</em>{{/if}}
        </div>
        <div>{{member_type}} {{#unless member.is_primary_owner}}&bull; {{member.profile.email}}{{/unless}}</div>
      </div>
      {{#if is_primary_and_self}}
        <label class="checkbox primary_owner_toggle_label" for="primary_owner_toggle">
          <input id="primary_owner_toggle" type="checkbox"> {{#t}}Send billing emails to you at <strong>{member.profile.email}</strong>{{/t}}
        </label>
      {{/if}}
    {{else}}
      <div class="inline_block" style="margin-left: 56px">
        <div class="no_wrap"><strong>{{contact.email}}</strong></div>
        <div>{{#t note="header to display billing contact information"}}Billing Contact{{/t}}</div>
      </div>
    {{/if}}
    {{#unless member.is_primary_owner}}
      <a class="remove_contact"><i class="ts_icon ts_icon_times float_right"></i></a>
    {{/unless}}
  </div>
