{{i18n_ns "billing_history_list"}}
{{#if_gt history.length compare=0}}
  <table class="full_width">
    <tr>
      <th class="billing_list_cell cell_date hide_on_mobile">{{#t}}Date{{/t}}</th>
      <th>{{#t}}Item{{/t}}</th>
      <th class="billing_list_cell cell_charges">{{#t note="column title of billing history table: total charge for billing item"}}Charges{{/t}}</th>
      <th class="billing_list_cell cell_credit_balance">{{#t note="column title of billing history table: credit balance remaining"}}Credit<br>Balance{{/t}}</th>
    </tr>
    {{#each history}}
    <tr data-qa="{{this.id}}" >
      {{#if_equal this.type compare="monthly_statement"}}
        <td data-qa="billing_item_date" class=" billing_list_cell cell_date hide_on_mobile">
          {{#if this.has_billing_statement}}
            <a data-qa="billing_item_link" href="/admin/billing/{{this.id}}">{{#t note="convert to MMMM y format (ex: January 2017)" month_year=(toMonthYearFormat this.month_start)}}{month_year}{{/t}}</a>
          {{else}}
            {{#t  note="convert to MMMM y format (ex: January 2017)" month_year=(toMonthYearFormat this.month_start)}}{month_year}{{/t}}
          {{/if}}
        </td>
      {{else}}
        <td data-qa="billing_item_date" class=" billing_list_cell cell_date hide_on_mobile">
          {{#if this.has_billing_statement}}
            <a data-qa="billing_item_link" href="/admin/billing/{{this.id}}">{{#t date_create=(convertTimestampToMilliseconds this.date_create)}}{date_create, date, short}{{/t}}</a>
          {{else}}
            {{#t date_create=(convertTimestampToMilliseconds this.date_create)}}{date_create, date, short}{{/t}}
          {{/if}}
        </td>
      {{/if_equal}}
      <td data-qa="billing_item_description" class="billing_list_cell">
        {{> billing_history_list_item_cell this}}
      </td>
      <td data-qa="billing_item_charges" class="billing_list_cell cell_charges">
        {{> billing_history_list_charges_cell this}}
      </td>
      <td data-qa="billing_item_credit" class="billing_list_cell cell_credit_balance">
        {{> billing_history_list_balance_cell this}}
      </td>
    </tr>
    {{/each}}
  </table>
{{else}}
  <p class="subtle_silver align_center large_top_padding col span_1_of_2 margin_auto float_none">{{#t}}You have no billing history for this month.{{/t}}</p>
{{/if_gt}}
