  {{i18n_ns "pages_admin"}}
  <div id="add_contact_form" class="top_margin">
    <div>
      <div>{{#t}}Add a billing contact from your team:{{/t}}</div>
      <div class="add_contact_input">
        <select id="user_contact_select" multiple data-placeholder="{{#t}}Type the new billing contact's name{{/t}}">
          {{#each members}}
            <option value="{{id}}">{{#feature flag="feature_name_tagging_client"}}{{getMemberFullName this}} ({{profile.email}}){{else}}{{#if real_name}}{{real_name}} &bull;{{/if}} {{name}}{{/feature}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="small_top_margin">
      <div>{{#t}}Or by email address:{{/t}}</div>
      <input id="email_contact_input" class="add_contact_input small no_bottom_margin" type="text" placeholder="{{#t note="example email for billing contact"}}name@domain.com{{/t}}">
    </div>

    <button class="btn ladda-button top_margin" data-style="expand-right"><span class="ladda-label">{{#t}}Add billing contact{{/t}}</span></button>
  </div>
