<table class="full_width">
  <tr>
    <th class="billing_list_cell cell_date hide_on_mobile">Date</th>
    <th>Item</th>
    <th class="billing_list_cell cell_charges">Charges</th>
    <th class="billing_list_cell cell_credit_balance">Credit Balance</th>
  </tr>
  {{#each history}}
  <tr>
    <td class=" billing_list_cell cell_date hide_on_mobile">
      {{#if this.has_billing_statement}}
        <a href="/admin/billing/{{this.id}}">{{this.formatted_date}}</a>
      {{else}}
        {{this.formatted_date}}
      {{/if}}
    </td>
    <td class="billing_list_cell">
      {{> billing_history_list_item_cell this}}
    </td>
    <td class="billing_list_cell cell_charges">
      {{> billing_history_list_charges_cell this}}
    </td>
    <td class="billing_list_cell cell_credit_balance">
      {{> billing_history_list_balance_cell this}}
    </td>
  </tr>
  {{/each}}
</table>