{{i18n_ns "pages_admin"}}
<div class="bottom_margin payment_form_details" data-qa="inv_ss__contacts_container">
  <label for="add_invoice__billing_emails" class="black {{#if disabled}}disabled{{/if}}">{{#t}}Additional Billing Contacts (Optional){{/t}}</label>
  <div data-js="add_invoice__billing_contacts_lfs" class="add_invoice__billing_emails no_margin"></div>
  <div class="p-add_invoice__warning_container very_small_left_padding very_small_right_padding small_top_padding small_bottom_padding hidden" data-js="add_invoice__contact_error">
    <p class="p-add_invoice__warning_text--without_icon small black small_left_margin no_bottom_margin">
      {{#feature flag="feature_ssi_checkout"}}
        {{#t}}Oops, you\u2019ve entered an invalid email.{{/t}}
      {{/feature}}
    </p>
  </div>
  <span class="input_note inline no_margin {{#if disabled}}cursor_default{{/if}}">{{#t}}Add contacts by email or Slack @username{{/t}}</span>
</div>
