<h1>Upload an icon</h1>
<div class="alert bottom_margin hidden" id="icon_upload_alert"><i class="ts_icon ts_icon_warning"></i><span class="alert_body"></span></div>
<div id="bot_icon_modal" data-current-step="upload">
  <div class="step" data-progress="prompt" data-step="upload" id="upload_step">
    <div class="drop_zone">
      <span class="upload_prompt">Drop an image file here, or click to upload.</span>
      <div class="upload_progress">
        <div id="upload_progress_circle"></div>
        <span>Uploading...</span>
      </div>
    </div>
    <form>
      <input type="file" id="hidden_file" name="image">
    </form>
  </div>
  <div class="step" data-step="crop">
    <img id="crop_img">
    <div class="actions">
      <button class="btn ladda-button disabled" data-style="expand-right" id="crop_btn" disabled="disabled"><span class="ladda-label">Crop</span></button>
    </div>
  </div>
</div>
