{{i18n_ns "calls"}}
<div id="calls_interactive_screen_share_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    {{#experiment name="calls_interactive_ss" group="enabled"}}
      <h2 class="black">{{#t}}Share your screen, Screenhero-style{{/t}}</h2>
      <p>{{#t}}
        Now you can co-edit documents during any Slack call, just like in Screenhero &mdash; simply share your screen and hit
        <i id="calls_interactive_icon" class="ts_icon ts_icon_collab_screenshare_on"></i>
        to let others click and type.
      {{/t}}</p>
    {{/experiment}}
  </div>
</div>
