{{i18n_ns "calls"}}

<div class="ss_controls ss_controls--{{#if is_host }}host{{else}}guest{{/if}}">
    {{#experiment name="calls_interactive_ss" group="enabled"}}
    <div class="ss_controls__info_container">
        <div class="ss_controls__speaker">
            <span class="ss_controls__empty_speaker_message">{{#t}}Waiting for people...{{/t}}</span>
            <img class="ss_controls__speaker--avatar" />
            <div class="ss_controls__speaker_info_container">
                <span class="ss_controls__speaker--desc">{{#t note="shown above the user's name that is currently speaking"}}Current speaker{{/t}}</span>
                <span class="ss_controls__speaker--name"></span>
            </div>
        </div>
        <div class="ss_controls__reaction">
            <span class="ss_controls__reaction--emoji"></span>
            <span class="ss_controls__reaction--name"></span>
        </div>
        <span class="ss_controls__help_text">
            {{!-- These translations need to live here because we don't have TS.i18n in the mini panel --}}
            <span name="end_share">{{#t}}Stop sharing your screen{{/t}}</span>
            <span name="options">{{#t}}More options{{/t}}</span>
            <span name="mute_on">{{#t}}Mute your microphone{{/t}}</span>
            <span name="mute_off">{{#t}}Enable your microphone{{/t}}</span>
            <span name="doodle_on">{{#t}}Don't let others draw on your screen{{/t}}</span>
            <span name="doodle_off">{{#t}}Let others draw on your screen{{/t}}</span>
            <span name="doodle_disabled_linux">{{#t}}Allowing others to draw on your screen is not supported on Linux{{/t}}</span>
            <span name="interactive_on">{{#t fallback_hash=e422d0e2bd5d0fa2fce9ebbd12890cb35d1337cb}}Stop sharing control{{/t}}</span>
            <span name="interactive_off">{{#t fallback_hash=22764871de9c3a5e2579c06d7f126b02b10bfa97}}Share control of your screen{{/t}}</span>
            <span name="interactive_disabled_linux">{{#t}}Sharing control of your screen is not supported on Linux{{/t}}</span>
            <span name="interactive_disabled_mas">{{#t}}Download the Slack app from our website to use this feature{{/t}}</span>
            <span name="video_on">{{#t}}Disable camera{{/t}}</span>
            <span name="video_off">{{#t}}Enable camera{{/t}}</span>
        </span>
    </div>

    <div class="ss_controls__button_container">
        <button data-action="mute" class="ss_controls__button ss_controls__button--mute"></button>
        {{#if is_host }}
        <button data-action="doodle" class="ss_controls__button ss_controls__button--doodle
            {{#if is_linux }}ss_controls__button--disabled disabled_linux{{/if}}"></button>
        <button data-action="interactive" class="ss_controls__button ss_controls__button--interactive
            {{#if is_linux }}ss_controls__button--disabled disabled_linux{{/if}}"></button>
        <button data-action="end_share" class="ss_controls__button ss_controls__button--end_share"></button>
        {{else}}
        <button data-action="video" class="ss_controls__button ss_controls__button--video"></button>
        <button data-action="options" class="ss_controls__button ss_controls__button--options"></button>
        {{/if}}
    </div>
    {{/experiment}}
</div>