{{i18n_ns "calls"}}
<div id="calls_interactive_mas_migration_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    {{#experiment name="calls_interactive_ss" group="enabled"}}
      <h2 class="black">{{#t rough-draft=true}}Interactive screen sharing{{/t}}</h2>
      <p>{{#t rough-draft=true}}Your version of Slack now supports interactive screen sharing. To try it out, start a call, share your screen, and invite some teammates.{{/t}}</p>
    {{/experiment}}
  </div>
</div>    
