{{i18n_ns "calls"}}
<div id="calls_interactive_mas_migration_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    {{#experiment name="calls_interactive_ss" group="enabled"}}
      <h2 class="black">{{#t}}Share control of your screen{{/t}}</h2>
      <p>{{#t}}
        Now you can let other people click, type, or enter<br>
        data on your computer during screen sharing. Just<br>
        start a call, share your screen, and click the <i id="calls_interactive_icon" class="ts_icon ts_icon_collab_screenshare_on"></i> icon.
      {{/t}}</p>
    {{/experiment}}
  </div>
</div>    
