  <li class="{{makeChannelDomId model_ob}} channel {{#if model_ob.is_private}}private {{/if}}{{makeChannelDomClass model_ob}}">
    <a href="{{makeChannelPath model_ob}}" class="channel_name primary_action" data-channel-id="{{model_ob.id}}" aria-label="{{makeChannelLinkAriaLabelSafe model_ob}}"{{#feature flag="feature_arugula"}} draggable="true" data-drag-meta="{{makeChannelDragData model_ob}}"{{/feature}}>
      {{#if model_ob.is_archived}}
        {{#if_equal model_ob.is_moved compare=1}}
          {{> ts_icon class="ts_icon_angle_arrow_up_left prefix"}}
        {{else}}
          {{> ts_icon class="ts_icon_archived_channel prefix"}}
        {{/if_equal}}
      {{else}}
        {{#showDraftIcon model_ob}}
          {{> ts_icon class="ts_icon_pencil prefix"}}
        {{else if model_ob.is_private}}
          {{> ts_icon class="ts_icon_lock prefix"}}
        {{else}}
          {{> ts_icon class="ts_icon_channel_pane_hash prefix"}}
        {{/showDraftIcon}}
      {{/if}}
      <span class="{{makeUnreadMsgsDomId model_ob}} unread_msgs {{#if_equal model_ob.unread_cnt compare=0}}hidden{{/if_equal}}">
        {{numberWithMax model_ob.unread_cnt 10}}
      </span>
      <span class="{{makeUnreadHighlightDomId model_ob}} unread_highlights
                   {{#if_equal model_ob.unread_highlight_cnt compare=0}}hidden{{/if_equal}}
                   {{#if_equal model_ob.unread_highlight_cnt compare=undefined}}hidden{{/if_equal}}">
        {{numberWithMax model_ob.unread_highlight_cnt 10}}
      </span>
      <span class="display_flex">
        <span class="overflow_ellipsis">
          {{model_ob.name}}
        </span>
        {{#if model_ob.is_org_shared}}{{> shared_channel_icon}}{{else if model_ob.is_shared}}{{> shared_channels_icon}}{{/if}}
      </span>
    </a>
  </li>
