{{i18n_ns "coachmarks"}}

{{!-- TODO: move to separate templates... so many conditions --}}
<div id="channels_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    <h2 class="black">
      {{#t}}Messaging happens in channels{{/t}}
    </h2>
    {{~#currentUserIsAdmin~}}
      <p>{{#t}}Channels bring order and searchability to your team\u2019s conversations. Organize by topic (#research), working group (#sales), or specific project (#sales-tv-ad).{{/t}}</p>
    {{~else~}}
      {{~#currentUserIsRA~}}
        <p>{{#if in_single_private_channel~}}
          {{#t}}Channels organize your team's conversations by topic or working group. As a guest,{{/t}}
        {{~else~}}
          {{~#if_equal total_count compare=1~}}
            {{#t first_listed_channel=(firstListedChannel)}}Channels organize your team's conversations by topic or working group. As a guest, you can send messages and browse archives in one channel, <strong>{first_listed_channel}</strong>.{{/t}}
          {{~else~}}
            {{#t}}Channels organize your team's conversations by topic or working group. As a guest, you can send messages and browse archives in the channels listed here.{{/t}}
          {{~/if_equal~}}
        {{~/if~}}
        {{~#unless in_single_private_channel~}}
          {{~#currentUserIsURA}}
              {{!-- Don't show anything --}}
          {{~else~}}
            {{!-- Don't show anything --}}
          {{~/currentUserIsURA~}}
        {{~else~}}
          {{#t}}you can access one channel, <span class="no_wrap"><ts-icon class="ts_icon_lock"></ts-icon><strong>{first_group_channel_name}</strong></span>. This is a private, invitation-only channel.{{/t}}
        {{~/unless}}</p>
      {{~else~}}
        <p>{{#t}}Channels bring order and searchability to your team\u2019s conversations. They\u2019re organized by topic (#research), working group (#sales), or specific project (#sales-tv-ad).{{/t}}</p>
      {{~/currentUserIsRA~}}
    {{~/currentUserIsAdmin~}}
  </div>
</div>    
