{{i18n_ns 'channel_options'}}

<div class="channel_options_section" data-section="options">

  <div class="channel_options_header charcoal_grey larger_bottom_padding">
    {{#t}}Additional Options for {name}{{/t}}
  </div>

  {{#if show_archive_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="{{#if model_ob.is_group}}group_archive_btn{{else}}channel_archive_btn{{/if}}">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Archive this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}If you don\u2019t think it will be used anymore and you want to clean up, archive it. The channel can be unarchived later (but everyone will have been removed).{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{! External Shared Channels button }}
  {{#feature flag="feature_shared_channels_client"}}
    {{#if show_share_channel_btn}}
      {{! TODO - refactor the --disabled styles to be more Slack Kit compliant }}
      <div class="channel_option_item top_padding bottom_padding {{#if disable_show_share_channel_btn}}channel_option_item--disabled{{/if}}" data-action="share_channel_btn">
        <div class="title channel_option_item__title bold small_bottom_margin">{{#t}}Share this channel with another workspace{{/t}}</div>

        <p class="channel_option_item__copy subtle_silver no_bottom_margin">
          {{#feature flag="feature_esc_cancel_invitations_button"}}
            {{#t}}Shared channels link two workspaces together. People from both sides can send messages, share files, and search the channel\u2019s history.{{/t}}

            <a target="_blank" href="https://get.slack.help/hc/articles/115004151203" data-action="shared_channels_learn_more">
              {{#t note="Link to a Help Center article about shared channels."}}Learn more{{/t}}
            </a>
          {{else}}
            {{#t}}Shared channels link two workspaces together. People from both sides can send messages, share files, and search the channel\u2019s history. <a target="_blank" href="https://get.slack.help/hc/articles/115004151203">Learn more</a>{{/t}}
          {{/feature}}
        </p>

        {{#if pending_team_name}}
          <div class="c-alert c-alert--inline c-alert--level_warning channel_option_item__alert">
            {{#t}}<strong>{pending_team_name}</strong> was already invited to this channel.{{/t}}

            {{#if show_cancel_shared_invite_btn}}
              {{! Temporarily hidden, waiting on an API to cancel a pending invitation using the channel ID / target team ID }}
              <a class="{{#feature flag="feature_esc_cancel_invitations_button"}}{{else}}hidden{{/feature}}" data-action="shared_channel_cancel_invitation_btn">
                {{#t note="Button to cancel a shared channel invitation"}}Cancel invitation{{/t}}
              </a>
            {{/if}}
          </div>
        {{/if}}

        {{#if model_ob.unlinked}}
          <div class="c-alert c-alert--inline c-alert--level_warning channel_option_item__alert">
            {{#t}}This channel was previously shared with another workspace and can\u2019t be shared again.{{/t}}
          </div>
        {{/if}}

        <div class="channel_option_open">
          <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
        </div>
      </div>
    {{/if}}
  {{/feature}}

  {{#feature flag="feature_shared_channels_client"}}
    {{#if show_stop_sharing_channel_btn}}
      <div class="channel_option_item top_padding bottom_padding">
        <div class="title bold small_bottom_margin">{{#t}}Stop sharing this channel{{/t}}</div>

        <p class="channel_option_item__copy subtle_silver no_bottom_margin">
          {{#t}}You can stop sharing this channel at any time. Note that you won\u2019t be able to re-share this channel in the future.{{/t}}
        </p>

        <div class="channel_option_open">
          <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
        </div>
      </div>
    {{/if}}
  {{/feature}}

  {{#if show_convert_btn}}
    <div class="channel_option_item top_padding bottom_padding {{#if disable_convert_btn}}channel_option_item--disabled{{/if}}" {{#unless disable_convert_btn}}data-action="channel_convert_btn"{{/unless}}>
      <div class="title channel_option_item__title bold small_bottom_margin">
        {{#t}}Convert this channel to a private channel{{/t}}
      </div>

      <p class="channel_option_item__copy subtle_silver no_bottom_margin">
        {{#t}}Private channels are similar to channels, but they\u2019re hidden to non-members and the conversation is private. This conversion cannot be undone.{{/t}}
      </p>

      {{#feature flag="feature_esc_disable_convert_to_private_option"}}
        {{#if disable_convert_btn}}
          {{#if model_ob.unlinked}}
            <div class="c-alert c-alert--inline c-alert--level_warning channel_option_item__alert">
              {{#t}}During the shared channels beta, channels that were previously shared can\u2019t be made private.{{/t}}
            </div>
          {{else}}
            <div class="c-alert c-alert--inline c-alert--level_warning channel_option_item__alert">
              {{#t}}During the beta, shared channels can\u2019t be made private.{{/t}}
            </div>
          {{/if}}
        {{/if}}
      {{/feature}}

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_convert_to_shared_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="shared_channel_convert_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Convert this channel to a shared channel{{/t}}</div>

      {{#feature flag="feature_teams_to_workspaces"}}
        <p class="subtle_silver no_bottom_margin">{{#t}}Shared channels are similar to channels, but they\u2019re shared across workspaces. This conversion cannot be undone.{{/t}}</p>
      {{else}}
        <p class="subtle_silver no_bottom_margin">{{#t}}Shared channels are similar to channels, but they\u2019re shared across teams. This conversion cannot be undone.{{/t}}</p>
      {{/feature}}

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#feature flag="feature_removing_workspaces_from_cross_workspace_channels"}}
    {{#if show_manage_teams}}
      <div class="channel_option_item top_padding bottom_padding" data-action="manage_teams_btn">
        <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Manage access to this channel{{/t}}</div>

        {{#feature flag="feature_teams_to_workspaces"}}
          <p class="subtle_silver no_bottom_margin">{{#t org_name=(currentEnterpriseName)}}Choose which {org_name} workspaces can find and join this channel.{{/t}}</p>
        {{else}}
          <p class="subtle_silver no_bottom_margin">{{#t org_name=(currentEnterpriseName)}}Choose which {org_name} teams can find and join this channel.{{/t}}</p>
        {{/feature}}

        <div class="channel_option_open">
          <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
        </div>
      </div>
    {{/if}}
  {{/feature}}

  {{#if show_rename_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_rename_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Rename this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}You can rename a channel at any time. But, use it sparingly: it might confuse or disorient your colleagues!{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_purpose_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_purpose_btn">
      <div class="title bold charcoal_grey small_bottom_margin">
        {{#if model_ob.purpose.value}}
          {{#t}}Edit the channel purpose{{/t}}
        {{else}}
          {{#t}}Set the channel purpose{{/t}}
        {{/if}}
      </div>

      <p class="subtle_silver no_bottom_margin">
        {{#feature flag="feature_teams_to_workspaces"}}
          {{#if model_ob.purpose.value}}
            {{#t formatted_purpose=(formatTopicOrPurpose model_ob.purpose.value)}}Channel purposes are especially useful to new members choosing which conversations to join. This channel\u2019s current purpose is <em>"{formatted_purpose}"</em>{{/t}}
          {{else}}
            {{#t}}Channel purposes are especially useful to new members choosing which conversations to join.{{/t}}
          {{/if}}
        {{else}}
          {{#if model_ob.purpose.value}}
            {{#t formatted_purpose=(formatTopicOrPurpose model_ob.purpose.value)}}Channel purposes are especially useful to new team members choosing which conversations to join. This channel\u2019s current purpose is <em>"{formatted_purpose}"</em>{{/t}}
          {{else}}
            {{#t}}Channel purposes are especially useful to new team members choosing which conversations to join.{{/t}}
          {{/if}}
        {{/feature}}
      </p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_manage_posting_privilege_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="posting_privilege_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Manage posting permissions{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Change who is allowed to post messages in this channel.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_data_retention_link}}
    <div class="channel_option_item top_padding bottom_padding" data-action="data_retention_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Set the channel message retention policy{{/t}}</div>

      {{#feature flag="feature_teams_to_workspaces"}}
        <p class="subtle_silver no_bottom_margin">{{#t}}By default, Slack will save your message data for the lifetime of the workspace. You can configure a custom message retention policy duration.{{/t}}</p>
      {{else}}
        <p class="subtle_silver no_bottom_margin">{{#t}}By default, Slack will save your message data for the lifetime of the team. You can configure a custom message retention policy duration.{{/t}}</p>
      {{/feature}}

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_export_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="export_history_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Export message history{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Export the messages in this conversation as a JSON file.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_delete_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_delete_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Delete this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Deleting a channel will permanently remove all of its messages. This cannot be undone.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

</div>

<div class="channel_options_section" data-section="option">
  <div class="channel_options_header charcoal_grey larger_bottom_padding larger_bottom_margin"></div>
  <div class="channel_option_content"></div>
</div>

<div class="channel_options_section" data-section="review">
  <div class="channel_options_header charcoal_grey larger_bottom_padding larger_bottom_margin">
    {{#t}}Review Changes{{/t}}
  </div>
  <div class="channel_options_review_content"></div>
</div>

<div class="channel_options_buttons hidden">
  <button class="btn btn_outline option_cancel" data-qa="channel_option_cancel">{{#t}}Cancel{{/t}}</button>
  <button class="btn ladda-button option_review very_small_left_margin" data-style="expand-right" data-qa="channel_option_review">
    <span class="ladda-label">
      {{#t}}Review Changes{{/t}}
    </span>
  </button>
  <button class="btn ladda-button option_go very_small_left_margin hidden" data-style="expand-right" data-qa="channel_option_go"><span class="ladda-label">{{#t}}Ok{{/t}}</span></button>
</div>
