  <i class="ts_icon ts_icon_user icon_member_header small_right_margin"></i>
  <a id="member_count_title" title="Click to expand or collapse" class="flex_one">{{~#if is_loading_members~}}
    Members
  {{else}}
    {{~#if lazy_load_members_and_bots~}}
      {{member_count}} {{pluralize member_count 'Member' 'Members'}}
    {{else}}
      {{online_count}}<span class="dull_grey">/{{member_count}}</span> {{pluralize member_count 'Member' 'Members'}}
    {{/if}}
  {{/if}}</a>

  {{#if show_restricted_members}}
    <div class="restricted_members_count ts_tip ts_tip_top ts_tip_float ts_tip_multiline ts_tip_delay_300" title="{{restricted_count}} {{pluralize restricted_count 'Guest' 'Guests'}}">
      <i class="ts_icon ts_icon_lock_o icon_restricted_header"></i> {{restricted_count}}
    </div>
  {{/if}}

  <div class="disclosure_triangle inline_block">
    <i class="ts_icon ts_icon_caret_right"></i>
    <i class="ts_icon ts_icon_caret_down"></i>
  </div>

