{{i18n_ns 'share_channels'}}

<div class="share_channel_modal_contents">

  {{#if show_heading}}
    <h1>
      {{#if model_ob}}
        {{#t channel_name=model_ob.name}}Share #{channel_name}{{/t}}</h1>
      {{else}}
        {{#t}}Share a new channel{{/t}}</h1>
      {{/if}}
    </h1>
  {{/if}}

  {{> channel_share_dialog_information}}

  {{#if can_create_shared_channel}}

    {{#unless model_ob}}

      <p>
        <label class="checkbox">
          <input id="channel_public_private_toggle" type="checkbox" name="public" value="public" {{#unless is_private}}checked="checked"{{/unless}} data-on-text="{{#t}}Public{{/t}}" data-off-text="{{#t}}Private{{/t}}" data-label="{{#t}}Anyone on your team can view and join this channel.{{/t}}" data-off-label="{{#t}}This channel can only be joined or viewed by invite.{{/t}}" data-off-class="ts_toggle_orange">
        </label>
      </p>

      <p class="no_margin">
        <label for="channel_create_title" class="block align_left">{{#t}}Channel name{{/t}}</label>
        <div class="channel_modal_title_input_container no_margin">
          <i class="channel_icon private_channel_item subtle_silver ts_icon_lock ts_icon hidden" />
          <i class="channel_icon public_channel_item subtle_silver ts_icon_channel ts_icon" />
          <input
            id="channel_create_title"
            name="title_input"
            type="text"
            class="lowercase title_input large_left_padding tiny_bottom_margin"
            placeholder="{{#t}}e.g. leads{{/t}}"
            data-validation="channel_name=fix"
            data-validation-for="channel_create_title"
            data-validation-success=""
            autocapitalize="off"
            autocorrect="off"
            autocomplete="off"
            value="{{title}}"
          />
        </div>
      </p>

    {{/unless}}

    <p>
      <label for="email_address">{{#t note="Input label for share channel form"}}Email address of admin on receiving team{{/t}}</label>
      <input class="tiny_bottom_margin" type="text" name="email_address" id="email_address" placeholder="{{#t}}jane@acme-corp.com{{/t}}" data-validation="required">
      <span class="extra_help subtle_silver">{{#t}}This should be the email address they use to sign into Slack.{{/t}}</span>
    </p>

    <p>
      <label for="team_url">{{#t note="Input label for share channel form"}}Other team\u02bcs URL{{/t}}</label>
      <input class="tiny_bottom_margin" type="text" name="team_url" id="team_url" placeholder="{{#t}}acme-corp{{/t}}" data-validation="required">
      <span class="url_domain_slack_dot_com bold">.slack.com</span>
      <span class="extra_help subtle_silver">{{#t}}Each Slack team has a unique URL. <a href="https://get.slack.help/hc/en-us/articles/221769328-Find-your-Slack-team-URL">How to find a Team URL</a>{{/t}}</span>
    </p>

    <p class="align_right large_top_margin">
      <button class="btn btn_large btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large ladda-button submit" disabled="disabled" data-style="expand-right">{{#t note="Form submit button label"}}Share channel{{/t}}</button>
    </p>

  {{else}}

    <p class="tiny_bottom_margin">
      <label for="select_admin">{{#t note="Form input label"}}Choose an Admin{{/t}}
        <div class="lfs_container"></div>
      </label>
    </p>

    <p class="tiny_bottom_margin">
      <label for="message">{{#t note="Form input label"}}Add a message{{/t}}</label>
    </p>

    <div class="message_field">
      <div id="message" name="message">{{#t channel_name=model_ob.name}}Hi there, I was hoping to make #{channel_name} a shared channel on our team. Would you be able to help?{{/t}}</div>
      <button class="emo_menu btn_unstyle" aria-label="{{#t}}emoji menu{{/t}}" type="button"><i class="ts_icon ts_icon_circle_fill"></i><i class="ts_icon ts_icon_smile_o"></i><i class="ts_icon ts_icon_happy_smile"></i></button>
    </div>

    <div class="message_attachment"></div>

    <p class="align_right large_top_margin">
      <button class="btn btn_large btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large ladda-button submit" data-style="expand-right">{{#t note="Form submit button label"}}Request channel share{{/t}}</button>
    </p>

  {{/if}}

</div>
