{{i18n_ns 'share_channels'}}

{{#feature flag="feature_shared_channels_client"}}

{{#if_equal error compare="invalid_target_domain"}}
    {{#feature flag="feature_teams_to_workspaces"}}
        {{#t}}<strong>We couldn\u2019t find a workspace at {target_domain}.</strong> Please double-check the Slack URL you entered.{{/t}}
    {{else}}
        {{#t}}<strong>We couldn\u2019t find a team at {target_domain}.</strong> Please double-check the Slack URL you entered.{{/t}}
    {{/feature}}
{{/if_equal}}

{{#if_equal error compare="shared_channel_invites_disabled"}}
    {{#t}}<strong>{team_name} doesn\u2019t accept shared channel invitations.</strong> You may want to ask their admin to change this setting.{{/t}}
{{/if_equal}}

{{/feature}}
