<p>Archiving a channel is useful to clean things up when you do not anticipate using the channel any more. If you archive this channel:</p>
<ul>
  <li>No one will be able to send messages to it anymore</li>
  <li>It will be closed for anyone who has it open and all members will be removed</li>
  <li>You will be able to view past conversations in the Archives on the site</li>
  <li>You will be able to search for archived messages from this channel</li>
  <li>You will always be able to un-archive it later</li>
</ul>
<p>Are you sure you want to archive <strong>#{{name}}{{#if is_shared}}<ts-icon class="ts_icon_shared_channel"></ts-icon>{{/if}}</strong>?</p>
