{{i18n_ns 'shared_channels'}}

<div class="p-share_channel_dialog__contents">

  {{#if show_heading}}
    <h3 class="p-share_channel_dialog__subheading">
      {{#t}}Step 2 of 2{{/t}}
    </h3>

    <h1 class="p-share_channel_dialog__heading">
      {{#t}}Send an invitation{{/t}}
    </h1>
  {{/if}}

  {{#if sharing_existing_channel}}
    {{> shared_channels_retention_disclaimer}}

    <p class="p-share_channel_dialog__description--channel-options-menu">
      {{#feature flag="feature_warn_harder_when_sharing_existing_channels"}}
        <div class="c-alert c-alert--boxed c-alert--level_warning bottom_margin">
          <ts-icon class="c-alert__icon c-icon c-icon--warning"></ts-icon>
          <div class="c-alert__message">
            {{#t}}This will give another workspace access to all of the files, messages, and apps in <strong>{channel_name}</strong>.{{/t}}
            <br />
            <a class="link" onClick="TS.ui.share_channel_dialog.start()">{{#t}}Share a new channel instead{{/t}}</a>
          </div>
        </div>

        <div class="c-alert c-alert--boxed c-alert--level_error large_bottom_margin hidden" data-label="shared_channel_form_error">
          <ts-icon class="c-alert__icon c-icon c-icon--warning"></ts-icon>
          <span data-label="shared_channel_form_error_label"></span>
        </div>

        {{#t}}To share this channel, you\u2019ll need the contact info of an admin at the other workspace.{{/t}}
      {{else}}
        <div class="c-alert c-alert--boxed c-alert--level_error large_bottom_margin hidden" data-label="shared_channel_form_error">
          <ts-icon class="c-alert__icon c-icon c-icon--warning"></ts-icon>
          <span data-label="shared_channel_form_error_label"></span>
        </div>

        {{#t}}To share this channel, you\u2019ll need the contact info of an admin at the other workspace. <strong>Note:</strong> this will also share all of the existing messages and files in the channel.{{/t}}
      {{/feature}}
    </p>

  {{else}}
    <p class="p-share_channel_dialog__description">
      {{#t}}Next, invite another workspace. You\u2019ll need an admin\u2019s contact info, and they\u2019ll receive this via Slackbot.{{/t}}
    </p>

    <div class="c-alert c-alert--boxed c-alert--level_error large_bottom_margin hidden" data-label="shared_channel_form_error">
      <ts-icon class="c-alert__icon c-icon c-icon--warning"></ts-icon>
      <span data-label="shared_channel_form_error_label"></span>
    </div>
  {{/if}}

  {{> channel_share_dialog_invite_fields}}

  {{#if sharing_existing_channel}}
    <p class="align_right large_top_margin">
      <button class="btn btn_large btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large ladda-button submit" data-style="expand-right">{{#t note="Form submit button label"}}Share Channel{{/t}}</button>
    </p>
  {{/if}}

</div>
