<div class="channel_invite_member">
  <i class="add_icon ts_icon ts_icon_plus_circle ts_icon_inherit float_right not_in_token"></i>
  {{makeMemberPreviewLinkImage member.id 36 false true}}
  <div class="name_container overflow_ellipsis">
    {{#feature flag="feature_name_tagging_client"}}
      <div class="bold {{#unlessMemberHasSecondaryName member}}{{#unless member.profile.title}}vertically_center_full_name{{/unless}}{{/unlessMemberHasSecondaryName}}">
        {{getMemberDisplayName member}}
        <span class="not_in_token">{{makeMemberPresenceIcon member}}</span>
        {{#feature flag="feature_user_custom_status"}}
          {{#or member.profile.status_emoji member.profile.status_text}}
            <span class="current_status greigh not_in_token normal">
              {{getMemberCurrentStatusForDisplay member}}
            </span>
          {{/or}}
        {{/feature}}
      </div>
      {{#memberHasSecondaryName member}}
        <div class="greigh not_in_token">
          {{getMemberSecondaryName member}}
          {{~#if member.profile.title}}, {{member.profile.title}}{{/if}}
        </div>
      {{else}}
        <div class="greigh not_in_token">
          {{#if member.profile.title}}
            {{member.profile.title}}
          {{/if}}
        </div>
      {{/memberHasSecondaryName}}
    {{else}}
      {{#if member.profile.real_name}}
        <div class="bold">
          {{member.profile.real_name}}
          <span class="not_in_token">{{makeMemberPresenceIcon member}}</span>
          {{#feature flag="feature_user_custom_status"}}
            {{#or member.profile.status_emoji member.profile.status_text}}
              <span class="current_status greigh not_in_token normal">
                {{getMemberCurrentStatusForDisplay member}}
              </span>
            {{/or}}
          {{/feature}}
        </div>
        <div class="greigh not_in_token">
          @{{member.name~}}
          {{~#if member.profile.title}}, {{member.profile.title}}{{/if}}
        </div>
      {{else}}
        <div class="bold">
          {{member.name}}
          <span class="not_in_token">{{makeMemberPresenceIcon member}}</span>
          {{#feature flag="feature_user_custom_status"}}
            {{#or member.profile.status_emoji member.profile.status_text}}
              <span class="current_status greigh not_in_token normal">
                {{getMemberCurrentStatusForDisplay member}}
              </span>
            {{/or}}
          {{/feature}}
        </div>
        {{#if member.profile.title}}
          <div class="greigh not_in_token">{{member.profile.title}}</div>
        {{/if}}
      {{/if}}
    {{/feature}}
  </div>
</div>
