{{i18n_ns 'channel_options'}}

<div class="channel_options_section" data-section="options">

  <div class="channel_options_header charcoal_grey larger_bottom_padding">
    {{#t}}Additional Options for {name}{{/t}}
  </div>

  {{#if show_archive_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="{{#if model_ob.is_group}}group_archive_btn{{else}}channel_archive_btn{{/if}}">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Archive this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}If you don\u2019t think it will be used any more and you want to clean up, archive it. The channel can be unarchived later (but everyone will have been removed).{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_convert_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_convert_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Convert this channel to a private channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Private channels are similar to channels, but they\u2019re hidden to non-members and the conversation is private. This conversion cannot be undone.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_convert_to_shared_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="shared_channel_convert_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Convert this channel to a shared channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Shared channels are similar to channels, but they\u2019re shared across teams. This conversion cannot be undone.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_share_channel_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="share_channel_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Share this channel with another team{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}In a shared channel, two Slack teams can send messages, share files, and access the channel\u2019s history. <a href="http://help.slack.com">Learn more</a>{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_rename_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_rename_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Rename this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}You can rename a channel at any time. But, use it sparingly: it might confuse or disorient your colleagues!{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_purpose_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_purpose_btn">
      <div class="title bold charcoal_grey small_bottom_margin">
        {{#if model_ob.purpose.value}}
          {{#t}}Edit the channel purpose{{/t}}
        {{else}}
          {{#t}}Set the channel purpose{{/t}}
        {{/if}}
      </div>

      <p class="subtle_silver no_bottom_margin">
        {{#if model_ob.purpose.value}}
          {{#t formatted_purpose=(formatTopicOrPurpose model_ob.purpose.value)}}Channel purposes are especially useful to new team members choosing which conversations to join. This channel\u2019s current purpose is <em>"{formatted_purpose}"</em>{{/t}}
        {{else}}
          {{#t}}Channel purposes are especially useful to new team members choosing which conversations to join.{{/t}}
        {{/if}}
      </p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_manage_posting_privilege_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="posting_privilege_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Manage posting privileges{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Change who is allowed to post messages in this channel.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_data_retention_link}}
    <div class="channel_option_item top_padding bottom_padding" data-action="data_retention_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Set the channel message retention policy{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}By default, Slack will save your message data for the lifetime of the team. You can configure a custom message retention policy duration.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_export_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="export_history_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Export message history{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Export the messages in this conversation as a JSON file.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

  {{#if show_delete_btn}}
    <div class="channel_option_item top_padding bottom_padding" data-action="channel_delete_btn">
      <div class="title bold charcoal_grey small_bottom_margin">{{#t}}Delete this channel{{/t}}</div>

      <p class="subtle_silver no_bottom_margin">{{#t}}Deleting a channel will permanently remove all of its messages. This cannot be undone.{{/t}}</p>

      <div class="channel_option_open">
        <ts-icon class="ts_icon_arrow_large_right"></ts-icon>
      </div>
    </div>
  {{/if}}

</div>

<div class="channel_options_section" data-section="option">
  <div class="channel_options_header charcoal_grey larger_bottom_padding larger_bottom_margin"></div>
  <div class="channel_option_content"></div>

  <div class="channel_option_buttons">
    <button class="btn btn_outline option_cancel" data-qa="channel_option_cancel">{{#t}}Cancel{{/t}}</button>
    <button class="btn ladda-button option_go very_small_left_margin" data-style="expand-right" data-qa="channel_option_go"><span class="ladda-label">{{#t}}Ok{{/t}}</span></button>
  </div>
</div>
