{{i18n_ns 'channel_options'}}

<p>{{#t}}Converting <strong>#{name}</strong> to a private channel will preserve the history and membership.{{/t}}</p>
<p class="small_bottom_margin"><strong>{{#t}}Two things you should know:{{/t}}</strong></p>
<ul>
  <li>{{#t}}This conversion is not reversible. It is a one-way street.{{/t}}</li>
  <li>{{#t}}Files that were previously shared in this channel will not become private. They will remain publicly accessible to others on your team.{{/t}}</li>
</ul>
<p>{{#t}}Are you sure you want to convert <strong>#{name}</strong> to a private channel?{{/t}}</p>
