{{i18n_ns 'shared_channels'}}

{{#feature flag="feature_shared_channels_client"}}

<div class="medium_bottom_margin">
  <label for="email_address">{{#t note="Input label for share channel form"}}Admin\u2019s email address{{/t}}</label>
  <div class="p-share_channel_dialog__input_wrapper">
    <input
      class="tiny_bottom_margin"
      type="text"
      name="email_address"
      placeholder="{{#t}}jane@acme-corp.com{{/t}}"
      data-input="email_address"
      data-validation="is_email=fix"
      data-validation-for="email_address"
      data-validation-success=""
      {{#if email_address}}value={{email_address}}{{/if}}
    />
  </div>
</div>

<div class="medium_bottom_margin">
  <label class="p-share_channel_dialog__input_label" for="team_url">
    {{#t note="Input label for share channel form"}}Slack URL{{/t}}
  </label>
  <div class="p-share_channel_dialog__input_wrapper">
    <input
      class="p-share_channel_dialog__team_url tiny_bottom_margin"
      type="text"
      name="team_url"
      placeholder="{{#t}}acme-corp{{/t}}"
      data-validation="required"
      data-input="team_url"
      {{#if team_url}}value={{team_url}}{{/if}}
    />
    <span class="p-share_channel_dialog__team_url_suffix">
      .slack.com
    </span>
  </div>
  <span class="modal_input_note margin_auto">
    {{#t locale=(zdLocale)}}
      <a href="https://get.slack.help/hc/{locale}/articles/221769328-Find-your-Slack-team-URL" target="_blank">What\u2019s a Slack URL?</a>
    {{/t}}
  </span>
</div>

<div class="small_bottom_margin">
  <label class="p-share_channel_dialog__input_label" for="custom_message">
    <span class="inline_block small_right_margin">{{#t note="Input label for share channel form"}}Add a message{{/t}}</span>
  </label>

  <div class="p-share_channel_dialog__custom_message_container">
    <div class="p-share_channel_dialog__custom_message_user medium_bottom_margin">
      <div class="c-member c-member--medium">
        <span class="member_image">
          {{> member_preview_link_image (getMemberPreviewLinkImageArgs inviter 36 false true false)}}
          {{> member_type_external_badge size=36 badge_size=(getTeamBadgeSize size) with_tooltip=true}}
        </span>
        <div class="c-member__flex-container--medium">
          <div class="c-member__name c-member__name--medium">
            <span class="c-member__display-name c-member__display-name--medium">{{getPrefCompliantMemberName inviter}}</span>
          </div>
          <div class="c-member__title c-member__title--medium">{{team.name}}</div>
        </div>
      </div>
    </div>

    <textarea
      class="p-share_channel_dialog__custom_message_input"
      name="custom_message"
      data-input="custom_message"
      data-validation="hasnourl"
      placeholder="{{#t note="placeholder for a message input"}}e.g. Hi there! I\u2019m working on a project with...{{/t}}"
    >{{#if custom_message}}{{custom_message}}{{/if}}</textarea>
  </div>
</div>

{{/feature}}
