{{i18n_ns "channel_pages"}}
<div class="display_flex align_items_center">
  <i class="ts_icon ts_icon_user icon_member_header small_right_margin"></i>
  <span id="member_count_title" title="{{#t}}Click to expand or collapse{{/t}}" class="section_title flex_one">
    {{~#if is_loading_members~}}
      {{#t}}Members{{/t}}
    {{~else~}}
      {{~#if lazy_load_members_and_bots~}}
        {{#t}}{member_count, plural, =1 {# Member} other {# Members}}{{/t}}
      {{~else~}}
        {{#t}}{online_count, number}<span class="dull_grey">/{member_count, number}</span>  {member_count, plural, =1 {Member} other {Members}}{{/t}}
      {{~/if~}}
    {{~/if~}}
  </span>

  {{#if show_restricted_members}}
    <div class="restricted_members_count ts_tip ts_tip_top ts_tip_float ts_tip_multiline ts_tip_delay_300" title="{{#t}}{restricted_count, plural, =1 {# Guest} other {# Guests}}{{/t}}">
      <i class="ts_icon ts_icon_lock_o icon_restricted_header"></i> {{i18n_number restricted_count}}
    </div>
  {{/if}}

  <div class="disclosure_triangle inline_block">
    <i class="ts_icon ts_icon_caret_right"></i>
    <i class="ts_icon ts_icon_caret_down"></i>
  </div>
</div>
