{{i18n_ns "channel_browser"}}

<div class="channel_browser_row">
  <div class="channel_browser_row_header overflow_ellipsis">
    <ts-icon class="channel_browser_type_icon greigh"></ts-icon><span class="channel_browser_channel_name bold"></span> <ts-icon class="shared_channel_icon greigh ts_icon_shared_channel hidden"></ts-icon> <span class="shared_channels_icon hidden">{{> shared_channels_icon model_ob=model_ob}}</span><span class="shared_channels_pending_icon hidden">{{> shared_channels_icon model_ob=model_ob}}</span>
  </div>
  <div class="overflow_ellipsis">
    {{#t note="Populated by code and will have user name and date added, e.g. 'Created by {username} on {date}'"}}
      Created <span class="channel_browser_created_by hidden">by <span class="channel_browser_creator_name"></span></span> on <span class="channel_browser_created_on"></span>
    {{/t}}
  </div>
  <div class="channel_browser_channel_purpose greigh"></div>

  <div class="channel_browser_member_count_container greigh small_left_margin"><i class="ts_icon ts_icon_user"></i> <span class="channel_browser_member_count"></span></div>
  <div class="channel_browser_open">
    <i class="ts_icon ts_icon_enter"></i>
  </div>
  <div class="channel_browser_preview align_center">
    <i class="ts_icon ts_icon_enter"></i><br>{{#t}}preview{{/t}}
  </div>

  <div class="channel_browser_teams small_top_margin tiny_bottom_margin"></div>
</div>
