{{i18n_ns "channel_pages"}}

{{#feature flag="feature_searchable_member_list"}}

  <div id="channel_membership_dialog_container" class="searchable_member_list">
    <div id="channel_membership_dialog_scroller" class="searchable_member_list_scroller"></div>
  </div>

{{else}}

  <div id="all_members_filter">
    <ts-icon class="ts_icon_search"></ts-icon><input type="text" class="display_block mini full_width" placeholder="{{#t}}Find a member{{/t}}">
  </div>
  <div id="all_members_no_matches" class="hidden align_center full_width position_absolute greigh">{{#t}}Sorry, there\u2019s no one here by that name.{{/t}}</div>
  <div id="all_members_container"></div>

{{/feature}}
