{{#if show_ra_tip}}
  <p class="no_bottom_margin">
    Type or select the names of team members that you would like to invite:
  </p>
  <p class="small_bottom_margin mini subtle_silver">
    {{raLabel 'Restricted Accounts'}} will not appear in this list. Ask a Team Administrator to invite them.
  </p>
{{else}}
  <p class="small_bottom_margin">
    Type or select the names of team members that you would like to invite:
  </p>
{{/if}}

  <div id="select_invite_channel_members_holder">
  
    <p class="no_bottom_margin">
      <select multiple="multiple" id="select_invite_channel_members" size="30">
        {{#each invite_members}}
          <option value="{{this.member.id}}" data-additional-search-field="@{{this.member.name}}"{{#if this.preselected}} selected="selected"{{/if}}>{{#if this.member.profile.real_name}}{{this.member.profile.real_name}} \u2022 {{this.member.name}}{{else}}{{this.member.name}}{{/if}}{{#if this.member.is_restricted}} ({{raLabel 'Restricted Account'}}){{/if}}</option>
        {{/each}}
      </select>    
    </p>
    
  </div>

