{{i18n_ns 'channel_options'}}

<p>{{#t}}Archiving is useful if you don\u2019t think you\u2019ll need this channel any longer. Here\u2019s what will happen when you archive this channel:{{/t}}</p>
<ul>
  <li>{{#t}}No one will be able to send messages to it{{/t}}</li>
  <li>{{#t}}Apps installed in this channel will be disabled{{/t}}</li>
  <li>{{#t}}A message will be posted that you archived the channel{{/t}}</li>
</ul>

<p>{{#t}}Messages from archived channels will still show up in search and archives, the same way they do today. You can always un-archive an archived channel later, if you need it again.{{/t}}</p>

<p>{{#t name=name}}Are you sure you want to archive {name}?{{/t}}</p>
