{{i18n_ns 'share_channels'}}

{{#feature flag="feature_shared_channels_client"}}

<div class="share_channel_modal_contents">
    <h1 class="share_channel_modal_heading">
      {{#t}}Shared Channel Request{{/t}}</h1>
    </h1>

    <p>
      {{#t team_name=team.name}}You\u2019ve received a request from <strong>{team.name}</strong> to join the channel <strong>#{channel_name}</strong>. Review the details below and adjust any settings for your team.{{/t}}
    </p>

    <h2 class="large_top_margin">{{#t}}Invited By{{/t}}</h2>

     <div class="p-share_channel_request_dialog__inviter small_bottom_margin">
      <div class="c-member c-member--large">
        <span class="member_image">
          {{> member_preview_link_image (getMemberPreviewLinkImageArgs inviter 44 false true false)}}
          {{> member_type_external_badge size=44 badge_size=(getTeamBadgeSize size) with_tooltip=true}}
        </span>
        <div class="c-member__flex-container--large">
          <div class="c-member__name c-member__name--large">
            <span class="c-member__display-name c-member__display-name--large">{{getPrefCompliantMemberName inviter}}</span>
          </div>
          <div class="c-member__title c-member__title--large">{{team.name}}</div>
        </div>
      </div>
    </div> 

    {{#if custom_message}}
    <div class="bottom_margin">
      {{#t note="Custom message for a shared channel invitation, wrapped in quotes" custom_message=custom_message}}
        \u201c{custom_message}\u201d
      {{/t}}
    </div>
    {{/if}}

    <h2 class="large_top_margin small_bottom_margin">{{#t}}Channel details{{/t}}</h2>
    <p class="greigh large_bottom_margin">{{#t}}You can change the channel name or privacy. Doing so will only affect your team.{{/t}}</p>

    <div class="bottom_margin">
      <label class="checkbox">
          <input 
            id="channel_public_private_toggle" 
            type="checkbox" 
            name="public" 
            value="public" 
            checked="checked" 
            data-style="toggle" 
            data-on-text="{{#t}}Public{{/t}}" 
            data-off-text="{{#t}}Private{{/t}}" 
            data-label="{{#t team_name=team.name}}Anyone on {team_name} can view and join this channel{{/t}}" 
            data-off-label="{{#t team_name=team.name}}Members of {team_name} can join by invitation only{{/t}}" 
            data-off-class="ts_toggle_orange">
      </label>
    </div>

    <div class="bottom_margin">
      <label for="channel_create_title" class="block align_left">{{#t team_name=team.name}}Name on {team_name}{{/t}}</label>
      <div class="channel_modal_title_input_container no_margin">
        <i class="channel_icon private_channel_item subtle_silver ts_icon_lock ts_icon hidden" />
        <i class="channel_icon public_channel_item subtle_silver ts_icon_channel ts_icon" />
        <input
          id="channel_create_title"
          name="title_input"
          type="text"
          class="lowercase title_input large_left_padding tiny_bottom_margin"
          placeholder="{{channel_name}}"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          value="{{title}}"
        />
      </div>
      <span class="modal_input_note margin_auto">{{#t team_name=team.name}}Current name was set by {team_name}. You can change for your team.{{/t}}</span>
    </div>

    <div class="large_bottom_margin">
      <label for="invite_members_input" class="block align_left">
        {{#t}}
        Add people from your team
        <span class="normal">(optional)</span>
        {{/t}}
      </label>
      <div id="invite_members_container"></div>
    </div>

    <p class="align_right large_top_margin">
      <button class="btn btn_large btn_outline btn" data-action="cancel" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large ladda-button submit" data-action="submit" data-style="expand-right">{{#t note="Form submit button label"}}Approve &amp; Add Channel{{/t}}</button>
    </p>
</div>

{{/feature}}
