{{i18n_ns 'share_channels'}}

<div class="share_channel_modal_contents share_channel_modal_interstitial">

  {{#if show_heading}}
    <h1>{{> channel_share_dialog_heading}}</h1>
  {{/if}}

  {{> channel_share_dialog_information}}

  <ul class="no_left_margin">
    <li class="large_bottom_margin">
      <div class="circle medium_right_margin"></div>
      <p class="bold small_bottom_margin">{{#t}}One benefit of shared channels{{/t}}</p>
      <p>{{#t}}Some copy to expand on what this means and how it could benefit you and your team.{{/t}}</p>
    </li>
    <li class="large_bottom_margin">
      <div class="circle medium_right_margin"></div>
      <p class="bold small_bottom_margin">{{#t}}One benefit of shared channels{{/t}}</p>
      <p>{{#t}}Some copy to expand on what this means and how it could benefit you and your team.{{/t}}</p>
    </li>
    <li class="large_bottom_margin">
      <div class="circle medium_right_margin"></div>
      <p class="bold small_bottom_margin">{{#t}}One benefit of shared channels{{/t}}</p>
      <p>{{#t}}Some copy to expand on what this means and how it could benefit you and your team.{{/t}}</p>
    </li>
  </ul>

  {{#if can_create_shared_channel}}
    <p class="align_right large_top_margin">
      <button class="btn btn_large btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large submit" data-style="expand-right">{{#t note="Form submit button label"}}Continue{{/t}}</button>
    </p>
  {{else}}
    <div class="large_top_margin non_admin_buttons normal_padding">
      <div class="blurb">
        <p class="small_bottom_margin bold">{{#t}}Only Team Admins can share channels.{{/t}}</p>
        <p class="no_margin">{{#t}}If you'd like, you can connect with an Admin on your team and get them to help you.{{/t}}</p>
      </div>
      <div class="buttons medium_left_margin">
        <button class="btn btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
        <button class="btn btn_info small_left_margin submit" data-style="expand-right">{{#t note="Form submit button label"}}Ask an admin{{/t}}</button>
      </div>
    </div>
  {{/if}}

</div>
