{{i18n_ns 'channels'}}

<div class="shared_channels_join_modal">

  <h2>
    {{>shared_channels_icon tooltip}}
    {{#t}}Shared Channel{{/t}}
  </h2>

  <div class="teams">
    <div class="icons">
      {{>team_icon team=source_team size=44 classes="source_team"}}
      {{>team_icon team=channel.shares.0.team size=44 classes="shared_team"}}
    </div>
    {{#t}}This channel is shared between<br>
    <strong>{source_team.name}</strong> and <strong>{channel.shares.0.team.name}</strong>.{{/t}}
  </div>

  <div class="details">
    <h3>{{#t}}Invited by:{{/t}}</h3>
    <p>{{inviter.real_name}}</p>
    <h3>{{#t}}Channel purpose:{{/t}}</h3>
    <p>{{channel.purpose.value}}</p>
  </div>

  <div class="footer">
    <button class="btn" type="button">{{#t note="Acknowledging that you've been invited to a shared channel"}}Got it!{{/t}}</button>
    <p><a href="#">{{#t}}Learn more about shared channels{{/t}}</a></p>
  </div>

</div>
