  <div id="channel_page_scroller" class="flex_content_scroller">

    <div class="selectable_flex_pane_padder no_top_margin">

      <div class="conversation_details"></div>

      <div class="channel_page_about channel_page_section {{#if state.expanded_sections.about}}expanded{{/if}}" data-section-name="about">

        <div class="section_header no_bottom_margin display_flex align_items_center">
          <i class="ts_icon ts_icon_info channel_page_blue small_right_margin"></i>
          <a id="channel_page_title" title="Click to expand or collapse" class="flex_one"></a>

          <div class="disclosure_triangle inline_block left_margin">
            <i class="ts_icon ts_icon_caret_right"></i>
            <i class="ts_icon ts_icon_caret_down"></i>
          </div>
        </div>

        <div class="section_content channel_purpose"></div>

      </div>

      <div class="channel_page_pinned_items channel_page_section {{#if state.expanded_sections.pinned_items}}expanded{{/if}}" data-section-name="pinned_items">

        <div class="section_header no_bottom_margin display_flex align_items_center">
          <i class="ts_icon ts_icon_thumb_tack pin_orange small_right_margin" ></i>
          <a title="Click to expand or collapse" class="flex_one" id="pinned_items_title"></a>

          <div class="disclosure_triangle inline_block left_margin">
            <i class="ts_icon ts_icon_caret_right"></i>
            <i class="ts_icon ts_icon_caret_down"></i>
          </div>
        </div>

        <div class="section_content pinned_items"></div>

      </div>

      <div class="channel_page_members channel_page_section {{#if state.expanded_sections.members}}expanded{{/if}}" data-section-name="members">
        <div class="channel_page_member_tabs section_header"></div>
        <div class="channel_page_member_lists section_content"></div>
      </div>

      <div class="channel_page_shared_files channel_page_section {{#if state.expanded_sections.shared_files}}expanded{{/if}}" data-section-name="shared_files">

      <div class="section_header no_bottom_margin display_flex align_items_center">
        <i class="ts_icon ts_icon_all_files mustard_yellow small_right_margin"></i>
        <a title="Click to expand or collapse" class="flex_one" id="channel_files_title">Shared Files</a>

        <div class="disclosure_triangle inline-block left_margin">
          <i class="ts_icon ts_icon_caret_right"></i>
          <i class="ts_icon ts_icon_caret_down"></i>
        </div>
      </div>

      <div class="section_content bottom_margin"></div>

      </div>

      <div class="channel_page_notif_prefs channel_page_section {{#if state.expanded_sections.notif_prefs}}expanded{{/if}}" data-section-name="notif_prefs">

        <div class="section_header no_bottom_margin display_flex align_items_center">
          <span class="channel_page_notif_prefs_mute_state">
            <i class="ts_icon ts_icon_bell_o moscow_red small_right_margin"></i>
          </span>
          <a id="channel_notif_prefs_title" title="Click to expand or collapse" class="flex_one">Notification Preferences</a>

          <div class="disclosure_triangle inline_block left_margin">
            <i class="ts_icon ts_icon_caret_right"></i>
            <i class="ts_icon ts_icon_caret_down"></i>
          </div>
        </div>

        <div class="section_content"></div>
      </div>

    </div>

  </div>

