{{i18n_ns 'share_channels'}}

{{#feature flag="feature_shared_channels_client"}}

<div class="p-share_channel_dialog__contents">

  <h3 class="p-share_channel_dialog__subheading">
      {{#t}}Step 1 of 2{{/t}}
  </h3>

  <h1 class="p-share_channel_dialog__heading">
      {{#t}}Create a shared channel{{/t}}
  </h1>

  <p class="p-share_channel_dialog__description">
    {{#t}}First, choose a name and privacy setting for your channel.{{/t}}
  </p>

  <div class="medium_bottom_margin">
    <label class="radio">
      {{#feature flag="feature_teams_to_workspaces"}}
        <input type="radio" name="channel_privacy" value="public" {{#unless is_private}}checked="checked" aria-checked="true"{{/unless}}>{{#t}}Public <span class="normal small_left_margin">Any member of your workspace can join</span>{{/t}}
      {{else}}
        <input type="radio" name="channel_privacy" value="public" {{#unless is_private}}checked="checked" aria-checked="true"{{/unless}}>{{#t}}Public <span class="normal small_left_margin">Any member of your team can join</span>{{/t}}
      {{/feature}}
    </label>
    <label class="radio disabled small_top_margin">
      <input type="radio" name="channel_privacy" value="private" disabled="disabled" aria-disabled="true" {{#if is_private}}checked="checked" aria-checked="true"{{/if}}>{{#t note="Channel privacy option"}}Private <span class="normal small_left_margin">Coming soon \u2014 we\u2019re working out the kinks</span>{{/t}}
    </label>
    <div class="alert alert_warning top_margin hidden" data-alert="private_channel">
      <ts-icon class="ts_icon_warning"></ts-icon>
      {{#feature flag="feature_teams_to_workspaces"}}
        {{#t}}<strong>Note:</strong> This setting only applies to <strong>{team.name}</strong>. The channel won\u2019t necessarily be private on other workspaces.{{/t}}
      {{else}}
        {{#t}}<strong>Note:</strong> This setting only applies to <strong>{team.name}</strong>. The channel won\u2019t necessarily be private on other teams.{{/t}}
      {{/feature}}
    </div>
  </div>

  <div class="medium_bottom_margin">
    <label for="channel_name" class="block align_left">{{#t}}Name{{/t}}</label>
    <div class="channel_modal_title_input_container">
      <i class="channel_icon private_channel_item subtle_silver ts_icon_lock ts_icon hidden" />
      <i class="channel_icon public_channel_item subtle_silver ts_icon_channel ts_icon" />
      <input
        name="channel_name"
        type="text"
        class="lowercase title_input large_left_padding tiny_bottom_margin"
        placeholder="{{#t note="placeholder for a channel name input"}}e.g. leads{{/t}}"
        data-input="channel_name"
        data-validation="channel_name=fix"
        data-validation-for="channel_name"
        data-validation-success=""
        autocapitalize="off"
        autocorrect="off"
        autocomplete="off"
        value="{{channel_name}}"
      />
    </div>
    <span class="modal_input_note margin_auto">
      {{#t}}Names must be lowercase, without spaces or periods, and shorter than 22 characters.{{/t}}
    </span>
  </div>

  <div class="large_bottom_margin">
    <label for="invite_members_input" class="block align_left">
      {{#t}}Invite people <span class="normal">(optional)</span>{{/t}}
    </label>
    <div id="invite_members_container"></div>
  </div>

</div>

{{/feature}}

