{{i18n_ns 'channels'}}

<div id="channel_created" class="channel_overlay channel_overlay_redesign">
  {{#if channel.is_shared}}
    <img class="channel_overlay_shared_icon float_left" src="{{versioned_join_shared_channel '2x'}}" srcset="{{versioned_join_shared_channel '1x'}} 1x, {{versioned_join_shared_channel '2x'}} 2x" />
    <div class="channel_overlay_title_wrap bottom_margin">
      <p class="channel_overlay_title_shared small_bottom_margin">
        {{#feature flag="feature_lazy_grid_teams"}}
          {{#feature flag="feature_teams_to_workspaces"}}
            {{#if channel.is_global_shared}}
              {{#t}}You just created a channel shared with <button class="btn_link" data-channel-shared-teams>all workspaces</button>{{/t}}
            {{else}}
              {{#t}}You just created a channel shared with <button class="btn_link" data-channel-shared-teams>{channel.shared_team_ids.length, plural, =1 {# workspace} other {# workspaces}}</button>{{/t}}
            {{/if}}
          {{else}}
            {{#if channel.is_global_shared}}
              {{#t}}You just created a channel shared with <button class="btn_link" data-channel-shared-teams>all teams</button>{{/t}}
            {{else}}
              {{#t}}You just created a channel shared with <button class="btn_link" data-channel-shared-teams>{channel.shared_team_ids.length, plural, =1 {# team} other {# teams}}</button>{{/t}}
            {{/if}}
          {{/feature}}
        {{else}}
          {{#t note="{teams} is a comma separated list of teams" teams=(listify teams_shared_with map='name' strong=true)}}You just created a channel shared with {teams}{{/t}}
        {{/feature}}
      </p>
  {{else}}
    <img class="channel_overlay_team_icon float_left" src="{{versioned_join_team_channel '2x'}}" srcset="{{versioned_join_team_channel '1x'}} 1x, {{versioned_join_team_channel '2x'}} 2x" />
    <div class="channel_overlay_title_wrap bottom_margin">
  {{/if}}
    <p class="channel_overlay_title">
      {{#unless channel.is_shared}}
        <span class="channel_overlay_title_opener">{{#t note="Appears above the name of the channel you created, so will read 'You just created {channel_name}'"}}You just created{{/t}}</span><br />
      {{/unless}}
      <span class="channel_overlay_title_prefix">#</span><strong>{{channel.name}}</strong>
    </p>
  </div>
  <ul>
    {{#pageNeedsEnterprise}}
      {{#if channel.is_shared}}
        {{#feature flag="feature_teams_to_workspaces"}}
          <li>{{#t}}Messages, files, and members in this channel will be visible to both workspaces.{{/t}}</li>
        {{else}}
          <li>{{#t}}Messages, files, and members in this channel will be visible to both teams.{{/t}}</li>
        {{/feature}}
        <li>{{#t}}Slack integrations are disabled in this channel.{{/t}}</li>
        {{#feature flag="feature_lazy_grid_teams"}}{{else}}
          {{#isThereComplianceExportsTeam channel}}
            <li>{{makeTeamsThatHaveComplianceExportsBlurb channel}}</li>
          {{/isThereComplianceExportsTeam}}
        {{/feature}}
      {{/if}}
    {{/pageNeedsEnterprise}}
    {{#feature flag="feature_teams_to_workspaces"}}
      <li>{{#t}}Others in your workspace can join from the <strong>Channel List</strong>.{{/t}}</li>
      <li>{{#t}}Or, you can <a class="bold invite_link">invite other people now</a>!{{/t}}</li>
    {{else}}
      <li>{{#t}}Others on your team can join from the <strong>Channel List</strong>.{{/t}}</li>
      <li>{{#t}}Or, you can <a class="bold invite_link">invite some teammates now</a>!{{/t}}</li>
    {{/feature}}
  </ul>
  {{#if channel.purpose.value}}
    <p class="channel_overlay_purpose">{{#t channel_purpose=(formatTopicOrPurpose channel.purpose.value)}}The purpose of this channel is:<br /><em>{channel_purpose}</em>{{/t}}</p>
  {{/if}}

  <label class="checkbox overlay_pref block">
    <input id="no_created_overlays_cb" type="checkbox" /> {{#t}}Don't show me this message when I create a channel{{/t}}
  </label>

  <a class="btn padded">{{#t}}Got it!{{/t}}</a>

  <p class="hidden" aria-hidden="false">
    {{#t}}Press enter to close this message and view the channel.{{/t}}
  </p>

</div>
