{{i18n_ns "channel_pages"}}

{{#sharedChannelsEnabled}}
  {{#if model_ob.shares}}
    <div class="channel_shared_teams_section">
    <div class="bold greigh shared_teams_label mini small_bottom_margin">{{#t}}Teams{{/t}}</div>
    {{#if is_globally_shared}}
      <p>
        <img class="member_image float_left small_right_margin" src="{{enterprise_org_icon.image_68}}" srcset="{{enterprise_org_icon.image_34}} 1x, {{enterprise_org_icon.image_68}} 2x"/>
        {{#t}}Shared with all teams in the {enterprise_org_name} organization{{/t}}
      </p>
    {{else}}
      <div class="channel_shared_teams">
        {{#feature flag="feature_thin_shares"}}
          {{#each teams_shared_with}}
            <div class="shared_team bottom_margin">
              <img class="member_image float_left" src="{{this.icon.image_68}}" srcset="{{this.icon.image_34}} 1x, {{this.icon.image_68}} 2x"/>
              <div class="shared_team_name_and_owner">
                <div class="shared_team_name overflow_ellipsis" title="{{this.name}}">{{this.name}}</div>
                <div class="shared_team_user old_petunia_grey mini">{{getMemberDisplayNameById user}}</div>
              </div>
            </div>
          {{/each}}
        {{else}}
          {{#each model_ob.shares}}
            <div class="shared_team bottom_margin">
              <img class="member_image float_left" src="{{team.icon.image_68}}" srcset="{{team.icon.image_34}} 1x, {{team.icon.image_68}} 2x"/>
              <div class="shared_team_name_and_owner">
                <div class="shared_team_name overflow_ellipsis" title="{{team.name}}">{{team.name}}</div>
                <div class="shared_team_user old_petunia_grey mini">{{getMemberDisplayNameById user}}</div>
              </div>
            </div>
          {{/each}}
        {{/feature}}
      </div>
    </div>
    {{/if}}
  {{/if}}
{{/sharedChannelsEnabled}}

<div class="channel_purpose_section">
  <div class="bold greigh purpose_label mini{{#sharedChannelsEnabled}}{{#if model_ob.shares}} top_margin{{/if}}{{/sharedChannelsEnabled}}">{{#t}}Purpose{{/t}}</div>
  <div class="bold greigh edit_purpose_label hidden mini tiny_bottom_margin">{{#t}}Set a new purpose{{/t}}</div>

  <div class="channel_purpose_text no_jumbomoji">
    {{#if model_ob.purpose.value}}
      {{{formatTopicOrPurpose model_ob.purpose.value}}}
      {{#if show_edit_purpose_or_topic}}<a class="edit_purpose mini">{{#t}}edit{{/t}}</a>{{/if}}
    {{else}}
      {{#if show_edit_purpose_or_topic}}
        <a class="edit_purpose mini block">{{#t}}Set a channel purpose{{/t}}</a>
      {{else}}
        {{#if model_ob.is_channel}}
        <span class="italic">{{#t}}A purpose has not been set for #{model_ob.name}.{{/t}}</span>
        {{else}}
        <span class="italic">{{#t}}A purpose has not been set for <i class="ts_icon ts_icon_lock"></i>{model_ob.name}.{{/t}}</span>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  <textarea type="text" id="channel_purpose_input" class="hidden small" maxLength="{{ChannelPurposeMaxLength}}" tabindex="1">{{#if model_ob.purpose.value}}{{unFormatMessage model_ob.purpose.value}}{{else}}{{/if}}</textarea>

  <button class="hidden btn btn_outline btn_small purpose_cancel tiny_right_margin" tabindex="3">{{#t}}Cancel{{/t}}</button>
  <button class="hidden btn btn_small purpose_done" tabindex="2">{{#t}}Done{{/t}}</button>
</div>

<div class="creator italic greigh top_margin">
  <a class="creator_link greigh"> {{#t}}Created by {creator_name} {days_since_creation, select, 0 {today} 1 {yesterday} other {on {creation_date, date, long}}}{{/t}} </a>
</div>
