{{i18n_ns 'channel_options'}}

<p>{{#t}}Are you sure you want to delete <strong>{name}</strong>? All of the channel\u2019s messages will be removed from Slack immediately \u2014 files, however, will not be deleted. This cannot be undone.{{/t}}</p>
<p>
{{#t}}<strong>Note:</strong> <a href="#" id="archive_channel_alt">Archiving a channel</a> lets you close out a conversation without deleting its messages.{{/t}}
</p>

<p class="float_left very_small_top_margin">
  <label class="checkbox normal" style="font-size: 1rem;">
    <input id="delete_channel_cb" type="checkbox" class="small_right_margin" />
    {{#t}}Yes, permanently delete this channel{{/t}}
  </label>
</p>
