{{i18n_ns 'channel_options'}}

<p>{{#t}}This message retention policy will only affect this {model_type, select, conversation {conversation} other {channel}}. Retention policies can also be set on a team-wide basis in your <a target="new" href="/admin/settings#data_retention">team settings</a>.{{/t}}</p>

<p id="retention_duration_warning" class="alert alert_warning hidden {{#isWeb}}small{{/isWeb}}">
  <i class="ts_icon ts_icon_warning"></i>
  <strong>{{#t}}An important note about message retention policies{{/t}}</strong><br />
  {{#t}}Setting a custom duration for message retention means that messages in this {model_type, select, conversation {conversation} other {channel}} will be deleted after the number of days you set. This deletion is permanent and the messages will be irretrievable. Proceed with caution!{{/t}}
</p>

<div class="clearfix">
  {{#isWeb}}
    <p class="col span_4_of_6">
      <label for="retention_type" class="select small">
        {{#t}}Retention Type{{/t}}
        <select name="retention_type" class="small">
          <option value="0"{{#if_equal retention_type compare=0}} selected="selected"{{/if_equal}}>{{#t}}Use team preference{{/t}}</option>
          <option value="1"{{#if_equal retention_type compare=1}} selected="selected"{{/if_equal}}>{{#t}}Retain all messages for a specific number of days{{/t}}</option>
        </select>
      </label>
    </p>
    <p class="col span_2_of_6 {{#if_equal retention_type compare=0}}hidden{{/if_equal}}" id="retention_duration_container">
      <label for="retention_duration">{{#t}}Duration{{/t}}</label>
      <input type="text" name="retention_duration" id="retention_duration" class="mini align_right" value="{{retention_duration}}" /> {{#t}}days{{/t}}
    </p>
  {{else}}
    <p class="col span_4_of_6">
      <label for="retention_type" class="select small full_width align_left">
        {{#t}}Retention Type{{/t}}
        <select name="retention_type" class="small" style="margin-bottom: 4px;">
          <option value="0"{{#if_equal retention_type compare=0}} selected="selected"{{/if_equal}}>{{#t}}Use team preference{{/t}}</option>
          <option value="1"{{#if_equal retention_type compare=1}} selected="selected"{{/if_equal}}>{{#t}}Retain all messages for a specific number of days{{/t}}</option>
        </select>
      </label>
    </p>

    <div class="col span_2_of_6 {{#if_equal retention_type compare=0}}hidden{{/if_equal}}" id="retention_duration_container">
      <label for="retention_duration" class="align_left">{{#t}}Duration{{/t}}</label>
      <div class="input-append no_bottom_margin">
        <input type="text" name="retention_duration" id="retention_duration" class="input-mini align_right" value="{{retention_duration}}" style="border-radius: 4px 0 0 4px !important; width: 60px; height: 37px;" />
        <span class="add-on" style="line-height: 27px;">{{#t}}days{{/t}}</span>
      </div>
    </div>
  {{/isWeb}}
</div>

<div id="team_retention_pref" class="hidden">
  <p>
    {{#if_equal team_type compare=0}}{{#t}}The team preference is to <strong>retain all messages.</strong>{{/t}}{{/if_equal}}
    {{#if_equal team_type compare=1}}{{#t}}The team preference is to <strong>retain all messages AND also retain edit and deletion logs for all messages.</strong>{{/t}}{{/if_equal}}
    {{#if_equal team_type compare=2}}{{#t}}The team preference is to <strong>retain all messages for {team_duration, plural, =1 {# day} other {# days}}.</strong>{{/t}}{{/if_equal}}
    {{#if_equal team_type compare=3}}{{#t}}The team preference is to <strong>retain all messages for {team_duration, plural, =1 {# day} other {# days}} but keep logs for compliance exports.</strong>{{/t}}{{/if_equal}}
  </p>
</div>

<div class="alert alert_warning hidden invalid_duration_error">
  <i class="ts_icon ts_icon_warning"></i>
  {{#t}}You must set a number of days greater than zero for message retention.{{/t}}
</div>
