{{i18n_ns "channel_pages"}}

  <div id="channel_page_scroller" class="flex_content_scroller">

    <div class="selectable_flex_pane_padder no_top_margin">

      <div class="conversation_details"></div>

      <div class="channel_page_about channel_page_section {{#if state.expanded_sections.about}}expanded{{/if}}" data-section-name="about">

        <button class="section_header no_bottom_margin btn_unstyle" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
          <div class="channel_section_label display_flex align_items_center">
            <i class="ts_icon ts_icon_info channel_page_blue small_right_margin"></i>
            <span id="channel_page_title" class="section_title flex_one"></span>

            <div class="disclosure_triangle inline_block left_margin">
              <i class="ts_icon ts_icon_caret_right"></i>
              <i class="ts_icon ts_icon_caret_down"></i>
            </div>
          </div>
        </button>

        <div class="section_content channel_purpose"></div>
      </div>

      {{#feature flag="feature_sli_channel_insights"}}
        <div class="channel_page_highlights channel_page_section hidden {{#if state.expanded_sections.highlights}}expanded{{/if}}" data-section-name="highlights">

          <button class="section_header no_bottom_margin btn_unstyle" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
            <div class="channel_section_label display_flex align_items_center">
              <i class="ts_icon ts_icon_sparkles blue_fill small_right_margin"></i>
              <span class="section_title flex_one" id="highlights_title">{{#t note="This is a TS-only prototype"}}Highlights{{/t}}</span>

              <div class="disclosure_triangle inline_block left_margin">
                <i class="ts_icon ts_icon_caret_right"></i>
                <i class="ts_icon ts_icon_caret_down"></i>
              </div>
            </div>
          </button>

          <div class="section_content highlights" data-js="sli_channel_highlights_section"></div>

        </div>
      {{/feature}}

      <div class="channel_page_pinned_items channel_page_section {{#if state.expanded_sections.pinned_items}}expanded{{/if}}" data-section-name="pinned_items">

        <button class="section_header no_bottom_margin btn_unstyle" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
          <div class="channel_section_label display_flex align_items_center">
            <i class="ts_icon ts_icon_thumb_tack pin_orange small_right_margin" ></i>
            <span class="section_title flex_one" id="pinned_items_title"></span>

            <div class="disclosure_triangle inline_block left_margin">
              <i class="ts_icon ts_icon_caret_right"></i>
              <i class="ts_icon ts_icon_caret_down"></i>
            </div>
          </div>
        </button>

        <div class="section_content pinned_items"></div>

      </div>

      <div class="channel_page_members channel_page_section {{#if state.expanded_sections.members}}expanded{{/if}}" data-section-name="members">
        <button class="channel_page_member_tabs section_header btn_unstyle" type="button"></button>
        <div class="channel_page_member_lists section_content"></div>
      </div>

      {{#feature flag="feature_app_permissions_api_site"}}
        <div class="p-channel_page_apps overflow_hidden channel_page_section very_small_left_padding {{#if state.expanded_sections.apps}}expanded{{/if}}" data-js="channel_page_apps" data-section-name="apps">

          <button class="section_header no_bottom_margin btn_unstyle very_small_left_padding" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
            <div class="channel_section_label display_flex align_items_center">
              <i class="ts_icon ts_icon_bolt thrills_purple small_right_margin"></i>
              <span class="section_title flex_one" data-js="channel_page_apps_title"></span>

              <div class="disclosure_triangle inline_block left_margin">
                <i class="ts_icon ts_icon_caret_right"></i>
                <i class="ts_icon ts_icon_caret_down"></i>
              </div>
            </div>
          </button>

          <div class="section_content p-channel_page_apps__list no_padding" data-js="channel_page_apps_list"></div>
        </div>
      {{/feature}}

      <div class="channel_page_shared_files channel_page_section {{#if state.expanded_sections.shared_files}}expanded{{/if}}" data-section-name="shared_files">

      <button class="section_header no_bottom_margin btn_unstyle" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
        <div class="channel_section_label display_flex align_items_center">
          <i class="ts_icon ts_icon_all_files mustard_yellow small_right_margin"></i>
          <span class="section_title flex_one" id="channel_files_title">{{#t}}Shared Files{{/t}}</span>

          <div class="disclosure_triangle inline-block left_margin">
            <i class="ts_icon ts_icon_caret_right"></i>
            <i class="ts_icon ts_icon_caret_down"></i>
          </div>
        </div>
      </button>

      <div class="section_content bottom_margin"></div>

      </div>

      <div class="channel_page_notif_prefs channel_page_section {{#if state.expanded_sections.notif_prefs}}expanded{{/if}}" data-section-name="notif_prefs">

        <button class="section_header no_bottom_margin btn_unstyle" title="{{#t}}Click to expand or collapse{{/t}}" type="button">
          <div class="channel_section_label display_flex align_items_center">
            <span class="channel_page_notif_prefs_mute_state">
              <i class="ts_icon ts_icon_bell_o moscow_red small_right_margin"></i>
            </span>
            <span id="channel_notif_prefs_title" class="section_title flex_one">{{#t}}Notification Preferences{{/t}}</span>

            <div class="disclosure_triangle inline_block left_margin">
              <i class="ts_icon ts_icon_caret_right"></i>
              <i class="ts_icon ts_icon_caret_down"></i>
            </div>
          </div>
        </button>

        <div class="section_content"></div>
      </div>

    </div>

  </div>

