{{i18n_ns 'share_channels'}}

<div class="share_channel_modal_contents">

  {{#if show_heading}}
    <h1>{{#t channel_name=model_ob.name}}Share #{channel_name}{{/t}}</h1>
  {{/if}}

  <p class="large_bottom_margin information">
    {{#t}}In a shared channel, two Slack teams can send messages, share files, and access the channel\u02bcs history. <a href="https://help.slack.com">Learn more</a>{{/t}}
  </p>

  <p>
    <label for="email_address">{{#t note="Input label for share channel form"}}Email address of admin on receiving team{{/t}}</label>
    <input type="text" name="email_address" id="email_address" placeholder="{{#t}}jane@acme-corp.com{{/t}}" data-validation="required">
  </p>

  <p>
    <label for="team_url">{{#t note="Input label for share channel form"}}Other team\u02bcs URL{{/t}}</label>
    <input type="text" name="team_url" id="team_url" placeholder="{{#t}}acme-corp{{/t}}" data-validation="required">
    <span class="url_domain_slack_dot_com bold">.slack.com</span>
  </p>

  {{#if show_buttons}}
    <p class="align_right">
      <button class="btn btn_large btn_outline btn cancel_share" type="button">{{#t}}Cancel{{/t}}</button>
      <button class="btn btn_large ladda-button submit" data-style="expand-right">{{#t note="Form submit button label"}}Share channel{{/t}}</button>
    </p>
  {{/if}}

</div>
