{{i18n_ns 'share_channels'}}
<p class="large_bottom_margin information">
  {{#feature flag="feature_teams_to_workspaces"}}
    {{#t}}In a shared channel, two Slack workspaces can send messages, share files, and access the channel\u02bcs history. <a href="https://help.slack.com">Learn more</a>{{/t}}
  {{else}}
    {{#t}}In a shared channel, two Slack teams can send messages, share files, and access the channel\u02bcs history. <a href="https://help.slack.com">Learn more</a>{{/t}}
  {{/feature}}
</p>
