{{i18n_ns 'channel_invite'}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and refactor with safeString --}}

<div id="channel_invite_tokens">
  {{#each members}}
    <div class="member_token {{getMemberTypeClass this}}" data-member-id="{{this.id}}">
      {{makeMemberPreviewLinkImage this.id 24 false true true}}
      {{getMemberDisplayName this}}
      <i class="ts_icon ts_icon_times ts_icon_inherit remove_member_icon"></i>
    </div>
  {{/each}}
  <input type="text" id="channel_invite_filter" {{#unless members}}placeholder="{{#if async_data}}{{#t}}Search by name{{/t}}{{else}}{{#t}}Search{{/t}}{{/if}}"{{/unless}}>
  {{#if async_data}}
    {{> loading_indicator id="channel_invite_spinner" class="hidden"}}
  {{/if}}
</div>
