{{i18n_ns 'channel_options'}}

{{#feature flag="feature_removing_workspaces_from_cross_workspace_channels"}}

<div class="bottom_margin">
  <label>{{#t rough-draft=true}}Share this channel with:{{/t}}</label>

  <label class="radio small_bottom_margin"><input type="radio" name="share_with" value="all" checked>{{#t currentEnterpriseName=(currentEnterpriseName rough-draft=true)}}All <span class="enterprise-name">{currentEnterpriseName}</span> teams{{/t}}</label>
  <label class="radio small_bottom_margin"><input type="radio" name="share_with" value="specific">{{#t currentEnterpriseName=(currentEnterpriseName) rough-draft=true}}Specific <span class="enterprise-name">{currentEnterpriseName}</span> teams{{/t}}</label>

  <div class="specific_team hidden">
    {{#feature flag="feature_react_lfs"}}
      <div id="manage_teams_team_picker"></div>
    {{else}}
      <input type="text" name="domains" placeholder="{{#t rough-draft=true}}Add teams{{/t}}" data-validation="required" data-validation-for="share_with_specific">
    {{/feature}}
  </div>
</div>

{{/feature}}
