{{i18n_ns 'channel_modal'}}

<div class="kb_nav_label mini greigh">
  {{#t}}
  <span class="charcoal_grey">Tab</span> or
  <i class="ts_icon ts_icon_arrow_up"></i>
  <i class="ts_icon ts_icon_arrow_down"></i>
  to navigate
  {{/t}}
  {{#if multiple_select}}
  {{#t note="Press return to add selected user to a Group DM conversation"}}<span class="left_margin charcoal_grey">Return</span> <i class="ts_icon ts_icon_enter"></i>to add selection{{/t}}
  {{else}}
  {{#t note="Press return to open a DM conversation with the select user(s)"}}<span class="left_margin charcoal_grey">Return</span> <i class="ts_icon ts_icon_enter"></i>to open selection{{/t}}
  {{/if}}
</div>
