{{i18n_ns 'channel_modal'}}

<div class="kb_nav_label mini greigh">
  {{#t}}
  <span class="charcoal_grey">Tab</span> or
  <i class="ts_icon ts_icon_arrow_up"></i>
  <i class="ts_icon ts_icon_arrow_down"></i>
  to navigate
  {{/t}}
  {{#if multiple_select}}
  {{#t note="Press return to add selected user to a Group DM conversation" fallback_hash="bcbdedb2f663bf9d7ea1b102ec118cecd219192c"}}<span class="kb_nav_label_left_margin charcoal_grey">Return</span> <i class="ts_icon ts_icon_enter"></i>to add selection{{/t}}
  {{else}}
  {{#t note="Press return to open a DM conversation with the select user(s)" fallback_hash="ffd7bff814f4f509f66dcebb7e62b7224c9f26fe"}}<span class="kb_nav_label_left_margin charcoal_grey">Return</span> <i class="ts_icon ts_icon_enter"></i>to open selection{{/t}}
  {{/if}}
</div>
