{{i18n_ns 'channel_options'}}

<p>{{#t}}Archiving a channel is useful to clean things up when you do not anticipate using the channel any more. If you archive this channel:{{/t}}</p>
<ul>
  <li>{{#t}}No one will be able to send messages to it anymore{{/t}}</li>
  <li>{{#t}}It will be closed for anyone who has it open and all members will be removed{{/t}}</li>
  <li>{{#t}}You will be able to view past conversations in the Archives on the site{{/t}}</li>
  <li>{{#t}}You will be able to search for archived messages from this channel{{/t}}</li>
  <li>{{#t}}You will always be able to un-archive it later{{/t}}</li>
</ul>

<p>{{#t name=name}}Are you sure you want to archive {name}?{{/t}}</p>
