{{i18n_ns "channel_browser"}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and refactor with safeString --}}

<div id="channel_browser" class="channel_modal_with_list channel_modal">
  <div class="large_bottom_margin display_flex align_items_center">
    <h1 class="no_bottom_margin channel_modal_header">{{title}}</h1>
    {{#if can_create}}
      <button class="new_channel btn btn_primary auto_left_margin">{{#t}}New channel{{/t}}</button>
    {{/if}}
  </div>
  <div class="small_bottom_margin display_flex align_items_center">
    <div class="channel_browser_filter_container channel_modal_filter_container flex_one">
      <i class="ts_icon ts_icon_search cloud_silver search_icon"></i>
      <i class="ts_icon ts_icon_times_circle cloud_silver clear_filter_icon"></i>
      <input type="text" id="channel_browser_filter" class="small" placeholder="{{#t}}Search channels{{/t}}" title="Search channels">
    </div>
  </div>
  <div class="large_bottom_margin display_flex align_items_center">
    <div class="show_which_channels_container flex_one right_margin">
      {{#feature flag="feature_react_lfs"}}
        <div id="show_which_channels_react"></div>
      {{/feature}}
      <select id="show_which_channels" class="small">
        <option {{#if_equal sort_by_selected compare="all"}}selected{{/if_equal}} value="all">{{#t}}All channels{{/t}}</option>
        <option {{#if_equal sort_by_selected compare="private"}}selected{{/if_equal}} value="private">{{#t}}Private channels{{/t}}</option>
        {{#pageNeedsEnterprise}}
          <option {{#if_equal sort_by_selected compare="org_shared"}}selected{{/if_equal}} value="org_shared">{{#t}}Shared channels{{/t}}</option>
        {{/pageNeedsEnterprise}}
        {{#pageNeedsEnterprise}}
          <option {{#if_equal sort_by_selected compare="local"}}selected{{/if_equal}} value="local">{{#t team_name=(currentTeamName)}}{team_name} channels{{/t}}</option>
        {{else}}
          {{#sharedChannelsEnabled}}
            <option {{#if_equal sort_by_selected compare="local"}}selected{{/if_equal}} value="local">{{#t team_name=(currentTeamName)}}{team_name} channels{{/t}}</option>
          {{else if (objectKeyCount external_teams)}}
            <option {{#if_equal sort_by_selected compare="local"}}selected{{/if_equal}} value="local">{{#t team_name=(currentTeamName)}}{team_name} channels{{/t}}</option>
          {{/sharedChannelsEnabled}}
        {{/pageNeedsEnterprise}}
        <option {{#if_equal sort_by_selected compare="archived"}}selected{{/if_equal}} value="archived">{{#t}}Archived channels{{/t}}</option>
        {{#sharedChannelsEnabled}}
          {{#feature flag="feature_pending_channel_string"}}
            <option {{#if_equal sort_by_selected compare="pending_ext_shared"}}selected{{/if_equal}} value="pending_ext_shared">{{#t}}Pending shared channels{{/t}}</option>
          {{/feature}}
          {{! show filter options for individual external teams if there are more than one }}
          {{#if_gt (objectKeyCount external_teams) compare=1}}
            <option {{#if_equal sort_by_selected compare="ext_shared"}}selected{{/if_equal}} value="ext_shared">{{#t}}All shared channels (beta){{/t}}</option>
            {{#each external_teams}}
              <option value="ext_shared_team_{{@key}}">{{#t team_name=(escape name)}}Shared with {team_name}{{/t}}</option>
            {{/each}}
          {{else}}
            <option {{#if_equal sort_by_selected compare="ext_shared"}}selected{{/if_equal}} value="ext_shared">{{#t}}Shared channels (beta){{/t}}</option>
          {{/if_gt}}
        {{else if (objectKeyCount external_teams)}}
          {{#feature flag="feature_pending_channel_string"}}
            <option {{#if_equal sort_by_selected compare="pending_ext_shared"}}selected{{/if_equal}} value="pending_ext_shared">{{#t}}Pending shared channels{{/t}}</option>
          {{/feature}}
          {{! show filter options for individual external teams if there are more than one }}
          {{#if_gt (objectKeyCount external_teams) compare=1}}
            <option {{#if_equal sort_by_selected compare="ext_shared"}}selected{{/if_equal}} value="ext_shared">{{#t}}All shared channels (beta){{/t}}</option>
            {{#each external_teams}}
              <option value="ext_shared_team_{{@key}}">{{#t team_name=(escape name)}}Shared with {team_name}{{/t}}</option>
            {{/each}}
          {{else}}
            <option {{#if_equal sort_by_selected compare="ext_shared"}}selected{{/if_equal}} value="ext_shared">{{#t}}Shared channels (beta){{/t}}</option>
          {{/if_gt}}
        {{/sharedChannelsEnabled}}
      </select>
    </div>
    <div class="channel_browser_sort_container flex_one">
      {{#feature flag="feature_react_lfs"}}
        <div id="channel_browser_sort_react"></div>
      {{/feature}}
      <select id="channel_browser_sort" class="small">
        <option {{#if_equal sort_by_selected compare="name"}}selected{{/if_equal}} value="name">
        {{#t}}Channel Name{{/t}}
        </option>
        <option {{#if_equal sort_by_selected compare="creator"}}selected{{/if_equal}} value="creator">{{#t}}Name of Creator{{/t}}</option>
        <option {{#if_equal sort_by_selected compare="created"}}selected{{/if_equal}} value="created">{{#t}}Creation Date (newest first){{/t}}</option>
        <option {{#if_equal sort_by_selected compare="members_high"}}selected{{/if_equal}} value="members_high">{{#t}}Members (most to fewest){{/t}}</option>
        <option {{#if_equal sort_by_selected compare="members_low"}}selected{{/if_equal}} value="members_low">{{#t}}Members (fewest to most){{/t}}</option>
      </select>
    </div>
  </div>
  <div id="channel_browser_empty" class="hidden align_center margin_auto display_flex align_items_center justify_content_center">
    <span class="channel_browser_empty_message"></span>
  </div>
  <div id="channel_list_container" class="channel_modal_list">
    {{{loadingHTML}}}
  </div>
</div>

<div id="new_channel_container" class="no_opacity"></div>
