{{i18n_ns "channel_pages"}}

{{#if model_ob.is_org_shared}}
  <div class="channel_shared_teams_section bottom_margin {{#channelInsightsIsEnabled}}feature_sli_channel_insights{{/channelInsightsIsEnabled}}">
    {{#feature flag="feature_teams_to_workspaces"}}
      <div class="bold greigh shared_teams_label mini small_bottom_margin">{{#t}}Workspaces{{/t}}</div>
    {{else}}
      <div class="bold greigh shared_teams_label mini small_bottom_margin">{{#t}}Teams{{/t}}</div>
    {{/feature}}
    {{#if is_globally_shared}}
      <p>
        <span class="c-org_icon float_left small_right_margin">
          <img class="" src="{{enterprise_org_icon.image_68}}" srcset="{{enterprise_org_icon.image_34}} 1x, {{enterprise_org_icon.image_68}} 2x"/>
        </span>
        {{#feature flag="feature_teams_to_workspaces"}}
          {{#t}}Shared with all workspaces in the {enterprise_org_name} organization{{/t}}
        {{else}}
          {{#t}}Shared with all teams in the {enterprise_org_name} organization{{/t}}
        {{/feature}}
      </p>
    {{else}}
      {{#each shared_teams}}
        <div class="shared_team_details small_top_margin display_flex align_items_center">
          {{> team_icon team=this size=36}}
          <div class="team_name team_name--org_shared">{{this.name}}</div>
        </div>
      {{/each}}
      {{#feature flag="feature_lazy_grid_teams"}}
        {{#if shared_teams_loading}}
          {{> infinite_spinner size="medium" text="" color="white"}}
        {{/if}}
        {{#if show_more_teams_link}}
          <button type="button" id="see_all_teams" class="btn btn_small btn_outline small_top_margin">
            {{#feature flag="feature_teams_to_workspaces"}}
              {{#t}}See all {total_teams_count, number} workspaces{{/t}}
            {{else}}
              {{#t}}See all {total_teams_count, number} teams{{/t}}
            {{/feature}}
          </button>
        {{/if}}
      {{/feature}}
    {{/if}}
  </div>
{{else if model_ob.is_shared}}
  <div class="channel_shared_teams_section bottom_margin">
    {{#feature flag="feature_teams_to_workspaces"}}
      <div class="bold black greigh shared_teams_label mini small_bottom_margin">{{#t}}Workspaces{{/t}}</div>
    {{else}}
      <div class="bold black greigh shared_teams_label mini small_bottom_margin">{{#t}}Teams{{/t}}</div>
    {{/feature}}
    {{#each shared_teams}}
      <div class="shared_team_details small_top_margin">
        {{#if this.is_pending_ext_shared}}
          {{> team_icon team=this size=36 classes="p-shared_team_icons__team_image--pending"}}
        {{else}}
          {{> team_icon team=this size=36}}
        {{/if}}
        <div class="team_name">{{this.name}}</div>
        <div class="team_member_count mini">
          {{#if this.is_pending_ext_shared}}
            {{#feature flag="feature_shared_channels_client"}}
              {{#t}}Waiting for them to join\u2026{{/t}}
            {{/feature}}
          {{else if ../is_loading_members}}
            {{#t note="Placeholder for loading team channel membership"}}\u2013 members{{/t}}
          {{else}}
            {{#t count=this.member_count}}{count, plural, =1 {# member} other {# members}}{{/t}}
          {{/if}}
          {{#if this.connecting_admin}}
            | {{this.connecting_admin}}
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>

  {{#unless model_ob.is_org_shared}}
    {{> shared_channels_retention_disclaimer}}
  {{/unless}}
{{/if}}

<div class="channel_purpose_section {{#channelInsightsIsEnabled}}medium_bottom_margin{{/channelInsightsIsEnabled}}">
  {{#channelInsightsIsEnabled}}
    <div class="black greigh purpose_label mini small_bottom_margin">
      {{#t}}Purpose{{/t}}
      {{#if model_ob.purpose.value}}
        {{#if show_edit_purpose_or_topic}}
          <button class="edit_purpose btn_link" type="button">{{#t}}edit{{/t}}</button>
        {{/if}}
      {{/if}}
    </div>
  {{else}}
    <div class="bold greigh purpose_label mini">{{#t}}Purpose{{/t}}</div>
  {{/channelInsightsIsEnabled}}

  <div class="greigh edit_purpose_label hidden mini {{#channelInsightsIsEnabled}}black small_bottom_margin{{else}}bold tiny_bottom_margin{{/channelInsightsIsEnabled}}">{{#t}}Set a new purpose{{/t}}</div>

  <div class="channel_purpose_text no_jumbomoji">
    {{#if model_ob.purpose.value}}
      {{formatTopicOrPurpose model_ob.purpose.value}}
      {{#channelInsightsIsEnabled}}{{else}}
        {{#if show_edit_purpose_or_topic}}<button class="edit_purpose btn_link" type="button">{{#t}}edit{{/t}}</button>{{/if}}
      {{/channelInsightsIsEnabled}}
    {{else}}
      {{#if show_edit_purpose_or_topic}}
        <button class="edit_purpose edit_purpose--blank btn_link block" type="button">{{#t}}Set a channel purpose{{/t}}</button>
      {{else}}
        {{#if model_ob.is_channel}}
        <span class="italic">{{#t}}A purpose has not been set for #{model_ob.name}.{{/t}}</span>
        {{else}}
        <span class="italic">{{#t}}A purpose has not been set for <i class="ts_icon ts_icon_lock"></i>{model_ob.name}.{{/t}}</span>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>

  <div id="channel_purpose_input" class="message_input hidden small" tabindex="1"></div>
  <div class="candy_red too_long_warning hidden align_right small">{{#t}}text is too long!{{/t}}</div>

  <button class="hidden btn btn_outline btn_small purpose_cancel tiny_right_margin" tabindex="3">{{#t}}Cancel{{/t}}</button>
  <button class="hidden btn btn_small purpose_done" tabindex="2">{{#t}}Done{{/t}}</button>
</div>

{{#channelInsightsIsEnabled}}
{{#feature flag="feature_sli_channel_insights"}}
  <div class="channel_created_section medium_bottom_margin">
    <div class="black greigh mini small_bottom_margin">{{#t}}Created{{/t}}</div>
    <div class="creator">
      {{#if creator_is_self}}
        <a class="creator_link" href="{{permalink}}"> {{#t}}Created by you {days_since_creation, select, 0 {today} 1 {yesterday} other {on {creation_date, date, long}}}{{/t}} </a>
      {{else}}
        <a class="creator_link" href="{{permalink}}"> {{#t note="{creator_name} will always be third person, e.g. 'Created by UserA'"}}Created by {creator_name} {days_since_creation, select, 0 {today} 1 {yesterday} other {on {creation_date, date, long}}}{{/t}} </a>
      {{/if}}
    </div>
  </div>
{{/feature}}
{{else}}
  <div class="creator italic greigh top_margin">
    {{#if creator_is_self}}
      <a class="creator_link greigh" href="{{permalink}}"> {{#t}}Created by you {days_since_creation, select, 0 {today} 1 {yesterday} other {on {creation_date, date, long}}}{{/t}} </a>
    {{else}}
      <a class="creator_link greigh" href="{{permalink}}"> {{#t note="{creator_name} will always be third person, e.g. 'Created by UserA'"}}Created by {creator_name} {days_since_creation, select, 0 {today} 1 {yesterday} other {on {creation_date, date, long}}}{{/t}} </a>
    {{/if}}
  </div>
{{/channelInsightsIsEnabled}}

<div class="c-channel_insights" data-js="sli_channel_insights_section"></div>
