{{i18n_ns 'channel_options'}}

{{#if description}}
  <p>{{description}}</p>
{{/if}}

{{#if additional_copy}}
  <p>{{additional_copy}}</p>
{{/if}}

{{#if points}}
  <ul>
    {{#each points}}
      <li>{{this}}</li>
    {{/each}}
  </ul>
{{/if}}

{{#if note}}
  <p>{{note}}</p>
{{/if}}

{{#if confirm}}
  <p class="float_left very_small_top_margin">
    <label class="checkbox normal" style="font-size: 1rem;">
      <input id="confirm_cb" type="checkbox" class="small_right_margin" />
      {{confirm}}
    </label>
  </p>
{{/if}}
