{{i18n_ns 'shared_channels'}}

{{#feature flag="feature_shared_channels_client"}}

<div class="p-share_channel_dialog__contents">
    <h1 class="share_channel_modal_heading">
      {{#t}}Shared channel invitation{{/t}}</h1>
    </h1>

    <p>{{#t}}<strong>{inviting_team.name}</strong> would like to share a channel with your workspace.{{/t}}</p>

    <h2 class="large_top_margin">{{#t}}Invited by{{/t}}</h2>

     <div class="p-share_channel_request_dialog__inviter small_bottom_margin">
      <div class="c-member c-member--large">
        <span class="member_image">
          {{> member_preview_link_image (getMemberPreviewLinkImageArgs inviter 44 false true false)}}
          {{> member_type_external_badge size=44 team=inviting_team badge_size=(getTeamBadgeSize size) with_tooltip=true}}
        </span>
        <div class="c-member__flex-container--large">
          <div class="c-member__name c-member__name--large">
            <span class="c-member__display-name c-member__display-name--large">{{getPrefCompliantMemberName inviter}}</span>
          </div>
          <div class="c-member__title c-member__title--large">{{inviting_team.name}}</div>
        </div>
      </div>
    </div>

    {{#if custom_message}}
    <div class="bottom_margin">
      {{#t note="Custom message for a shared channel invitation, wrapped in quotes" custom_message=custom_message}}
        \u201c{custom_message}\u201d
      {{/t}}
    </div>
    {{/if}}

    <h2 class="large_top_margin small_bottom_margin">{{#t}}Channel details{{/t}}</h2>
    <p class="greigh large_bottom_margin">
      {{#t}}You can edit these if you\u2019d like. Changes you make will only affect <strong>{team.name}</strong>.{{/t}}
    </p>

    <div class="alert alert_error large_bottom_margin hidden" data-label="shared_channel_form_error">
      <ts-icon class="ts_icon_warning"></ts-icon>
      <span data-label="shared_channel_form_error_label"></span>
    </div>

    <div class="medium_bottom_margin">
      <label class="radio">
        {{#t}}<input type="radio" name="channel_privacy" value="public" checked="checked" aria-checked="true">Public <span class="normal small_left_margin">Any member of your workspace can join</span>{{/t}}
      </label>

      <label class="radio disabled small_top_margin">
        <input type="radio" name="channel_privacy" value="private" disabled="disabled" aria-disabled="true">{{#t note="Channel privacy option"}}Private <span class="normal small_left_margin">Not available in beta</span>{{/t}}
      </label>

      <div class="alert alert_warning top_margin hidden" data-alert="private_channel">
        <ts-icon class="ts_icon_warning"></ts-icon>
        {{#t}}<strong>Note:</strong> This setting only applies to <strong>{team.name}</strong>. The channel won\u2019t necessarily be private on other workspaces.{{/t}}
      </div>
    </div>

    <div class="medium_bottom_margin">
      <label for="channel_name" class="p-share_channel_dialog__input_label">
        <span class="inline_block small_right_margin">{{#t}}Name{{/t}}</span>
      </label>
      <div class="channel_modal_title_input_container no_margin">
        <i class="channel_icon private_channel_item subtle_silver ts_icon_lock ts_icon hidden" />
        <i class="channel_icon public_channel_item subtle_silver ts_icon_channel ts_icon" />
        <input
          name="channel_name"
          type="text"
          class="lowercase title_input large_left_padding tiny_bottom_margin"
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
          data-input="channel_name"
          data-validation="channel_name=fix"
          data-validation-for="channel_name"
          data-validation-success=""
          value="{{channel_name}}"
        />
      </div>
      <span class="modal_input_note margin_auto">
        {{#t}}Names must be lowercase, without spaces or periods, and shorter than 22 characters.{{/t}}
      </span>
    </div>

    <div>
      <label for="invite_members_input" class="block align_left">
        {{#t}}Invite people <span class="normal">(optional)</span>{{/t}}
      </label>
      <div class="p-share_channel_dialog__invite_people_wrapper">
        <div id="invite_people_picker"></div>
      </div>
    </div>
</div>

{{/feature}}
