{{i18n_ns "channel_modal"}}

<div id="new_channel_modal" class="channel_modal">
  <div>
    <h1 class="channel_modal_header">
      <span class="public_channel_item{{#unless is_public}} hidden{{/unless}}">{{#t}}Create a channel{{/t}}</span>
      <span class="private_channel_item{{#is_public}} hidden{{/is_public}}">{{#t}}Create a private channel{{/t}}</span>
    </h1>
    <p class="input_note_special medium_bottom_margin">{{#t}}Channels are where your team communicates. They\u2019re best when organized around a topic \u2014 #leads, for example.{{/t}}</p>
  </div>
  <div class="bottom_margin">
    {{#if can_toggle_private}}
      <label class="checkbox">
        <input id="channel_public_private_toggle" type="checkbox" name="public" value="public" {{#is_public}}checked="checked"{{/is_public}} data-style="toggle" data-on-text="{{#t}}Public{{/t}}" data-off-text="{{#t}}Private{{/t}}" data-label="{{#t}}Anyone on your team can view and join this channel.{{/t}}" data-off-label="{{#t}}This channel can only be joined or viewed by invite.{{/t}}" data-off-class="ts_toggle_orange">
      </label>
    {{/if}}
  </div>
  <div>
    <div class="bottom_margin">
      <label for="channel_create_title" class="block align_left">{{#t}}Name{{/t}}</label>
      <div class="channel_modal_title_input_container no_margin">
        <i class="channel_icon private_channel_item subtle_silver ts_icon_lock ts_icon {{#is_public}}hidden{{/is_public}}" />
        <i class="channel_icon public_channel_item subtle_silver ts_icon_channel ts_icon {{#unless is_public}}hidden{{/unless}}" />
        <input
          id="channel_create_title"
          name="title_input"
          type="text"
          class="lowercase title_input large_left_padding"
          value="{{title}}"
          placeholder="{{#t}}e.g. leads{{/t}}"
          data-validation="channel_name=fix"
          data-validation-for="channel_create_title"
          data-validation-success=""
          autocapitalize="off"
          autocorrect="off"
          autocomplete="off"
        />
      </div>
      <span class="modal_input_note margin_auto">
        {{#t}}Names must be lowercase, without spaces or periods, and shorter than 22 characters.{{/t}}
      </span>
      <span class="modal_input_note mustard_yellow hidden name_taken_warning margin_auto block">
        <i class="ts_icon ts_icon_warning"></i>
        {{#t}}That name is already taken by a channel, username, or user group.{{/t}}
      </span>
      <span class="modal_input_note mustard_yellow hidden invalid_chars_warning margin_auto block">
        <i class="ts_icon ts_icon_warning"></i>
        {{#t}}We changed your name so it doesn"t contain disallowed characters. If it looks good, click "Create Channel" again!{{/t}}
      </span>
      <span class="modal_input_note mustard_yellow hidden other_error margin_auto block">
        <i class="ts_icon ts_icon_warning"></i>
        <span class="error_message"></span>
      </span>
    </div>

    {{#unless is_ra}}
    <div class="medium_bottom_margin">
      <label for="channel_purpose_input" class="block align_left">
        {{#t}}
        Purpose
        <span class="greigh normal">(optional)</span>
        {{/t}}
      </label>
      {{#supportsTextyMentions}}
        <div id="channel_purpose_input" name="channel_purpose_input" class="texty_single_line_input" data-validation="maxlength={{ChannelPurposeMaxLength}}" data-validation-for="channel_purpose_input"></div>
      {{else}}
        <input id="channel_purpose_input" name="channel_purpose_input" type="text" maxlength="{{ChannelPurposeMaxLength}}" placeholder=""/>
      {{/supportsTextyMentions}}
      <span class="modal_input_note margin_auto">{{#t}}What\u2019s this channel about?{{/t}}</span>
    </div>
    {{/unless}}

    <div class="bottom_margin">
      <label for="invite_members_input" class="block align_left">
        {{#t}}
        Send invites to:
        <span class="greigh normal">(optional)</span>
        {{/t}}
      </label>
      <div id="invite_members_container"></div>
    </div>
  </div>
  <div class="new_channel_modal_footer">
    <button id="save_channel" class="btn btn_large new_channel_go ladda-button float_right" type="submit" data-style="expand-right"><span class="ladda-label">{{#t}}Create Channel{{/t}}</span></button>
    <button type="reset" class="btn btn_large btn_outline float_right small_right_margin ladda-button new_channel_cancel_btn"><span class="ladda-label">{{#t}}Cancel{{/t}}</span></button>
  </div>
  {{#if can_create_shared_channel}}
    <button class="btn_unstyle create_share_channel position_absolute sk_light_grey subtle_silver" type="button"><ts-icon class="ts_icon_plus_circle position_relative"></ts-icon> {{#t}}Share a channel with another team{{/t}}</button>
  {{/if}}
</div>
