{{i18n_ns 'channel_pages'}}

<a class="view_all_files_link blue_link overflow_ellipsis">
  <i class="ts_icon ts_icon_search_files"></i>
  {{#if model_ob.is_im}}
    {{#if member.profile.first_name}}
      {{#t user=member.profile.first_name}}View all files shared with {user}{{/t}}
    {{else}}
      {{#t user=member.name}}View all files shared with {user}{{/t}}
    {{/if}}
  {{/if}}
  {{#if model_ob.is_group}}
    {{#t}}View all files in <i class="ts_icon ts_icon_lock"></i> {model_ob.name}{{/t}}
  {{/if}}
  {{#if model_ob.is_channel}}
    {{#t}}View all files in #{model_ob.name}{{/t}}
  {{/if}}
</a>
