<div id="signup_wrapper" class="fs_split_pane {{#if minimal_ui_theme}}fs_split_pane_full_width{{else}}fs_split_pane_left{{/if}}">
  {{#unless minimal_ui_theme}}{{> create_inc_find_team_mobile}}{{/unless}}

  {{#if minimal_ui_theme}}
  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}
  {{/if}}

  <form class="fs_split_flex_wrapper" onsubmit="return false;">
    {{#unless minimal_ui_theme}}
    {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}
    {{/unless}}

    <div id="team_name_form_body" class="fs_split_body">
      {{#if step_number_copy}}<div class="create_step_number_label">{{step_number_copy}}</div>{{/if}}

      <h1>{{#if header_copy}}{{preventWidow header_copy}}{{else}}What do you want to call your Slack team?{{/if}}</h1>
      {{#unless header_copy}}
      <p class="desc">
        Name your team after the group that will be using Slack together.
      </p>
      <p class="desc">
        <span class="bold flat_grey">Work at a large company?</span> Try using the name of your division, instead of your company name.
      </p>
      {{/unless}}
      <label id="teamname_label">
        {{#if input_label}}{{input_label}}{{else}}Slack team name <span class="subtle_silver normal">(you can change this later)</span>{{/if}}
      </label>
      <input type="text" placeholder="{{#if placeholder}}{{placeholder}}{{else}}Ex. Acme or Acme Marketing{{/if}}" id="signup_team_name" maxlength="255" autocomplete="off" data-qa="team_name_field" value="{{team_name}}" aria-labelledby="teamname_label"/>
      <p class="error_message"></p>
      {{#if input_label}}<p class="subtle_silver normal">We'll use this to name your Slack team, which you can always change later.</p>{{/if}}
    </div>


    <div id="submit" class="fs_split_footer">
      <div class="button_container">
        <button id="submit_btn" class="btn btn_large ladda-button" {{#unless team_name}}disabled="true" aria-disabled="true"{{/unless}} data-style="expand-right" data-qa="submit_button">
          <span class="ladda-label">{{continue_btn_copy}}{{> ts_icon class="ts_icon_arrow_right"}}</span>
        </button>
      </div>
    </div>
  </form>
</div>

{{#unless minimal_ui_theme}}
{{> create_inc_graphics_pane inc_find_team=1}}
{{/unless}}