{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <form class="fs_split_flex_wrapper">

    <div class="fs_split_body">
      <h1>{{#t}}Use your Google account to create a Slack team{{/t}}</h1>
      {{#t}}<p class="desc">Your email, <span class="bold flat_grey">{email}</span>, looks like it\u2019s hosted by Google Apps. You can skip a handful of steps by signing up using Google.</p>
      <p class="desc">Anyone with an @{email_domain} email address will be able to join this team without an invitation.</p>{{/t}}
      
      <div class="align_center very_large_top_margin">
        {{> create_inc_email_misc this}}
      </div>

      <div class="button_container medium_bottom_margin">
        <a href="{{auth_url}}" class="btn btn_large google_signin_button full_width">
          <span class="ladda-label">{{> ts_icon class="ts_icon_google"}} {{#t}}Sign in to Google{{/t}}</span>
        </a>
      </div>

      <div class="align_center">
        <p id="google_signin_create_team" class="subtle_silver">{{#t}}or <a class="subtle_silver underline" href="#teamname">create team manually</a></p>{{/t}}
      </div>
    </div>


    <div id="submit" class="fs_split_footer"></div>

    {{> create_inc_legalese_mobile}}
  </form>

</div>
