<div id="signup_graphics_pane" class="fs_split_pane fs_split_pane_right" data-step="{{step}}">
  <div class="fs_split_flex_wrapper">
    <div class="fs_split_header">{{#if inc_find_team}}{{> create_inc_find_team}}{{/if}}</div>
    <div id="signup_graphics_container" class="fs_split_body">
      <div id="signup_graphics" class="hide_image_loading fs_split_graphics"></div>
    </div>

    {{#if inc_legalese}}{{> create_inc_legalese}}{{/if}}

    <div class="fs_split_footer"></div>
  </div>
</div>
