{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <div class="fs_split_flex_wrapper">

    <div class="shared_invite_link_form_body fs_split_body">
      <h1 class="small_bottom_margin">{{#t}}Share this link with your&nbsp;teammates{{/t}}</h1>
      <p class="desc shared_invite_link_text">{{#t}}Anyone with this link will be able to instantly join your new Slack team. (We\u2019ll also send you an email that you can forward to your team).{{/t}}</p>

      <div class="shared_invite_link_container">
        <span class="shared_invite_link_label">{{#t}}{team_name}\u2019s invite link{{/t}}</span>
        <div class="shared_invite_link_input_container">
          <input type="text" name="shared_invite_link" class="shared_invite_link_input" readonly value={{invite_url}} onclick="select()"/>
          <button data-action="copy_invite_link" class="shared_invite_link_copy_btn btn btn_info ts_tip ts_tip_top" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=copy_shared_invite_link,trigger=click_copy_btn,step=shared_invite_link">
            {{#t}}Copy{{/t}}
            <span class="shared_invite_link_tooltip ts_tip_tip hidden">{{#t}}Link copied!{{/t}} \ud83d\udc4f\ud83c\udffe</span>
          </button>
        </div>
      </div>

      <div class="shared_invite_link_skip_container">
        <span>{{#t}}Or, you can <a data-action="shared_invite_link_skip" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=skip_to_invite_by_email,trigger=click_invite_by_email_link,step=shared_invite_link">invite people by email</a>.{{/t}}<span>
      </div>
    </div>

    <div id="submit" class="fs_split_footer">
      <div class="button_container">
        <a id="submit_btn" class="btn btn_large ladda-button" data-style="expand-right" data-qa="submit_button" href={{signin_url}}>
          <span class="ladda-label">{{#t}}Launch Slack{{/t}} {{> ts_icon class="ts_icon_arrow_right"}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
