{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <div class="fs_split_flex_wrapper">

    <div class="fs_split_body">
      <h1>{{#t}}Use your Google account to sign up for Slack{{/t}}</h1>
      {{#t}}<p class="desc">Connect your <span class="bold">{email_domain}</span> Google account to quickly invite teammates.{{/t}}

      <div class="google_signin_button_container">
        <a id="skip_button" class="btn btn_large btn_outline">Skip for now</a>
        <a id="submit_btn" target="_blank" class="btn btn_large google_signin_button">
          <span class="ladda-label">{{> ts_icon class="ts_icon_google"}} {{#t note="Button text for prompting the user to sign in to their Google account."}}Connect{{/t}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
