{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <form class="fs_split_flex_wrapper">

    {{> create_inc_rate_limit}}
    <div id="invite_failed_alert" class="header_error_message hidden no_bottom_margin">
      <h3>{{#t}}Sorry, but something went wrong!{{/t}}</h3>
      {{#t}}Some of your invites didn\u2019t go through. You\u2019ll be able to try again later.{{/t}}
    </div>

    <div id="invite_form_body" class="fs_split_body">

      <div>
        <h1 class="small_bottom_margin">{{#t}}Send Invitations{{/t}}</h1>
        <p class="desc">{{#t}}Your Slack team is ready to go. Know a few friends or coworkers who\u2019d like to explore Slack with you?{{/t}}</p>
        <label class="inline_block">{{#t}}Email address{{/t}}</label>
        <a data-action= "signup_add_invite"class="inline_block float_right bold">+ {{#t}}Add another invitation{{/t}}</a>
      </div>
      <div id="invite_rows"></div>
    </div>

    <div id="submit" class="fs_split_footer">
      {{#if signup_domain}}
      <div class="fs_split_well align_left large_bottom_margin">
        <label class="signup_whitelist_domain_notice" for="whitelist_domain">
          <input type="checkbox" id="whitelist_domain" data-qa="whitelist_domain" class="position_absolute" checked>
          <span class="normal inline_block">{{#t}}Let people on your team sign up with their verified <span class="bold">@{signup_domain}</span> email address{{/t}}</span>
        </label>
      </div>
      {{/if}}

      <div class="shared_invite_link_back_container">
        <span>{{#t}}Or, you can <a data-action="shared_invite_link_back"  data-clog-params="action=back_to_shared_invite_link,trigger=click_back_to_shared_invite_link,step=invites">get an invite link</a> to share with your teammates.{{/t}}<span>
      </div>

      <div class="send_invitations_button_container">
        <a id="secondary_btn" class="btn btn_outline btn_large ladda-button" data-style="expand-right" data-qa="secondary_button" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=skip_invites,trigger=create_team,step=invites" >
          <span class="ladda-label">{{#t}}Skip For Now{{/t}}</span>
        </a>

        <button id="submit_btn" type="submit" class="btn btn_large ladda-button" data-style="expand-right" data-qa="submit_button" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=send_invites,trigger=create_team,step=invites" >
          <span class="ladda-label">{{#t}}Send Invitations{{/t}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
