{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <form class="fs_split_flex_wrapper" onsubmit="return false;">

    {{> create_inc_rate_limit}}

    <div id="team_info_form_body" class="fs_split_body">
      {{#if step_number_copy}}<div class="create_step_number_label">{{step_number_copy}}</div>{{/if}}

      <h1>{{#t}}Tell us about your team{{/t}}</h1>

      <div class="team_info_question" data-question="organization_type">
        <label class="bold select" for="organization_type">
          <span data-label="organization_type">{{#t}}What will your team use Slack for?{{/t}}</span>
          <select id="team_info_organization_type_select" class="team_info_select unanswered" name="organization_type" required>
            {{#t note="A question about the purpose of the user's Slack team."}}
            <option disabled selected hidden value="">Select an option</option>
            <option value="work">Work</option>
            <option value="school">School</option>
            <option value="shared_interest_group">Shared interest group</option>
            <option value="other">Other</option>
            {{/t}}
          </select>
        </label>
      </div>

      <div class="team_info_question hidden" data-question="company_industry">
        <label class="bold select" for="company_industry">
          <span data-label="company_industry"></span>
          <select id="team_info_company_industry_select" class="team_info_select unanswered" name="company_industry">
            {{#t note="A question about the industry of the user's Slack team."}}
            <option disabled selected hidden value="">Select an option</option>
            <option value="consumer_goods">Consumer Goods</option>
            <option value="financial">Financial Services</option>
            <option value="government">Government</option>
            <option value="healthcare">Healthcare/Pharmaceutical</option>
            <option value="media">Media</option>
            <option value="nonprofit">Nonprofit</option>
            <option value="retail">Retail</option>
            <option value="tech">Technology</option>
            <option value="other">Other</option>
            {{/t}}
          </select>
        </label>
      </div>

      <div class="form_text_placeholder" data-form-placeholder-id="2">
        <div class="form_text_placeholder_title"></div>
        <div class="form_text_placeholder_body"></div>
      </div>

      <div class="team_info_question hidden" data-question="other_team_purpose">
        <label class="bold" for="other_team_purpose" data-label="other_team_purpose"></label>
        <input type="text" maxlength="600" id="team_info_other_team_purpose_input" placeholder="{{#t}}We'll use Slack for...{{/t}}" name="other_team_purpose">
      </div>

      <div class="team_info_question hidden" data-question="company_size">
        <label class="bold select" for="company_size">
          <span data-label="company_size"></span>
          <select id="team_info_company_size_select" class="team_info_select unanswered" name="company_size">
            {{#t note="A question about the size of the user's Slack team."}}
            <option disabled selected hidden value="">Select an option</option>
            <option value="1-9">1-9 people</option>
            <option value="10-49">10-49 people</option>
            <option value="50-99">50-99 people</option>
            <option value="100-499">100-499 people</option>
            <option value="500-999">500-999 people</option>
            <option value="1000+">1000 or more people</option>
            {{/t}}
          </select>
        </label>
      </div>

      <div class="form_text_placeholder" data-form-placeholder-id="3">
        <div class="form_text_placeholder_title"></div>
        <div class="form_text_placeholder_body"></div>
      </div>

    </div>

    <div id="submit" class="fs_split_footer">
      <div class="button_container">
        <button id="submit_btn" class="btn btn_large ladda-button" disabled="true" aria-disabled="true" data-style="expand-right" data-qa="submit_button">
          <span class="ladda-label"><span data-label="continue_btn">{{continue_btn_copy}}</span>{{> ts_icon class="ts_icon_arrow_right"}}</span>
        </button>
      </div>
    </div>
  </form>
</div>
