{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}

  <form class="fs_split_flex_wrapper" onsubmit="return false;">

    <div class="fs_split_body">

      <h1>{{#t}}What\u2019s your name?{{/t}}</h1>
        {{#feature flag="feature_name_tagging_client"}}
          <p class="desc">{{#t}}This is how your teammates in Slack will see and refer to you.{{/t}}</p>
          <div class="names no_top_padding bottom_padding" id="name_fields">
            <label>{{#t}}Full name{{/t}}</label>
            <div class="name_field" id="real_name_wrapper">
              <input type="text" name="full_name" placeholder="{{#t}}Full name{{/t}}" id="signup_real_name" autocomplete="off" data-qa="real_name_field" {{#if real_name}}value="{{real_name}}"{{/if}} data-validation data-validation-for="real_name_profile_field_warnings" data-validation-success/>
              <label for="real_name_profile_field_warnings"><span class="validation_message"></span></label>
            </div>
          </div>
        {{else}}
          <p class="desc">{{#t}}Your name will be displayed along with your messages in Slack.{{/t}}</p>
          <div class="names no_top_padding bottom_padding" id="name_fields">
            <label>{{#t}}Your name{{/t}}</label>
            <div class="col span_1_of_2 no_padding name_field" id="first_name_wrapper">
              <input type="text" placeholder="{{#t}}First name{{/t}}" id="signup_first_name" maxlength="35" autocomplete="off" data-qa="first_name_field" value="{{first_name}}" aria-label="First name"/>
              <p class="error_message"></p>
            </div>
            <div class="col span_1_of_2 no_padding name_field" id="last_name_wrapper">
              <input type="text" placeholder="{{#t}}Last name{{/t}}" id="signup_last_name" maxlength="35" autocomplete="off" data-qa="last_name_field" value="{{last_name}}" aria-label="Last name"/>
              <p class="error_message"></p>
            </div>
          </div>
          {{/feature}}        
      <div id="username_form_body" class="clear_both">
          {{#feature flag="feature_name_tagging_client"}}
          <label for="display_name">{{#t}}Display name{{/t}}</label>
          <div class="input_wrapper display_name">
            <p id="display_name_overlay" class="input_overlay"></p>
            <input type="text" name="display_name" id="signup_display_name" autocomplete="off" data-qa="display_name_field" placeholder="{{#if display_name_placeholder_prefill}}{{display_name_placeholder_prefill}}{{else}}{{#t}}Display name{{/t}}{{/if}}" data-validation data-validation-for="display_name_profile_field_warnings" data-validation-success/>
          </div>
          <label for="display_name_profile_field_warnings"><span class="validation_message"></span></label>
          <p class="subtle_silver">{{#t}}By default, Slack will display your full name when people mention you \u2014 but you can choose something shorter if you\u2019d like.{{/t}}</p>
          {{else}}
          <label id="username_label">{{#t}}Username{{/t}}</label>
          <div class="input_wrapper username">
            <p id="username_overlay" class="input_overlay"></p>
            <input type="text" id="signup_username" maxlength="21" autocomplete="off" placeholder="{{#t note="form input placeholder text"}}username{{/t}}" data-qa="username_field" value="{{username}}" aria-labelledby="username_label username_rule_label"/>
          </div>
          <p class="error_message"></p>
          <p id="username_rule_label" class="subtle_silver">{{#t}}Please choose a username that is all lowercase, containing only letters, numbers, periods, hyphens, and underscores.{{/t}}</p>
        {{/feature}}  
      </div>

      {{#if inc_misc_and_legalese}}
      <div class="minimal_ui_email_misc_checkbox">
        <input type="checkbox" id="email_misc" data-qa="email_checkbox" {{#if uncheck_email}}{{else}}checked{{/if}}>
        <label for="email_misc">{{#t}}It's ok to send me email about the Slack service.{{/t}}</label>
      </div>
      {{/if}}
    </div>


    <div id="submit" class="fs_split_footer">
      <div class="button_container">
        <button id="submit_btn" class="btn btn_large ladda-button" {{#unless username}}disabled="true" aria-disabled="true"{{/unless}} data-style="expand-right" data-qa="submit_button">
          <span class="ladda-label">{{continue_btn_copy}}{{> ts_icon class="ts_icon_arrow_right"}}</span>
        </button>
      </div>
    </div>

    {{#if inc_misc_and_legalese}}
      <div class="minimal_ui_legalese">
        {{#t}}By proceeding to create your account and use Slack, you are agreeing to our <a class="bold" href="/terms-of-service">Terms&nbsp;of&nbsp;Service</a> and <a href="/privacy-policy" class="bold">Privacy Policy</a>. If you do not agree, you cannot use Slack.{{/t}}
      </div>
    {{/if}}
  </form>
</div>
