<div class="tos_container">
  <div class="tos_window popup">

    <div class="tos_content">
      <h1>Review the Terms</h1>
      
      <p class="terms">By clicking \u201c<b>I Agree</b>\u201d, you understand and agree to the Contract on
      behalf of Customer (as described in our <a href="/terms-of-service" target="_blank">Customer Terms of Service</a>),
      and to our <a href="/privacy-policy" target="_blank">Privacy Policy</a>.</p>

      <p class="align_center no_margin">
        <a href="#" id="create_tos_i_agree" class="btn btn_large">I Agree</a>
      </p>
    </div>

  </div>
</div>