{{i18n_ns "team_creation"}}

<div id="signup_wrapper" class="fs_split_pane fs_split_pane_full_width">

  {{#unlessOurApp}}<a data-clog-event="WEBSITE_CLICK" data-clog-params="action=nav_logo,trigger=create_team" class="logo_link" href="/">{{/unlessOurApp}}<img id="slack_logo" src="{{versioned_slack_logo_240}}" width="120" height="137" title="Slack">{{#unlessOurApp}}</a>{{/unlessOurApp}}
  
  <div class="fs_split_flex_wrapper invite_contacts_wrapper">

    {{> create_inc_rate_limit}}
    <div id="invite_failed_alert" class="header_error_message hidden no_bottom_margin">
      <h3>{{#t}}Sorry, but something went wrong!{{/t}}</h3>
      {{#t}}Some of your invites didn\u2019t go through. You\u2019ll be able to try again later.{{/t}}
    </div>

    <div class="fs_split_body invite_contacts_body">
      <h1 class="medium_bottom_margin">{{#t}}Invite your teammates{{/t}}</h1>
      {{> contact_list placeholder=placeholder}}
    </div>

    <div id="submit" class="fs_split_footer">
      {{#if signup_domain}}
      <div class="fs_split_well align_left large_bottom_margin">
        <label class="signup_whitelist_domain_notice" for="whitelist_domain">
          <input type="checkbox" id="whitelist_domain" data-qa="whitelist_domain" class="position_absolute" checked>
          <span class="normal inline_block">{{#t}}Let people on your team sign up with their verified <span class="bold">@{signup_domain}</span> email address{{/t}}</span>
        </label>
      </div>
      {{/if}}

      <div class="send_invitations_button_container">
        <a id="secondary_btn" class="col span_1_of_2 btn btn_outline btn_large ladda-button" data-style="expand-right" data-qa="secondary_button" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=skip_google_invites,trigger=create_team,step=google_invites">
          <span class="ladda-label">{{#t}}Skip For Now{{/t}}</span>
        </a>
        <button id="submit_btn" type="submit" class="col span_1_of_2 btn btn_large ladda-button" data-style="expand-right" data-qa="submit_button" data-clog-click="true" data-clog-event="GROWTH_CREATE_TEAM" data-clog-params="action=send_google_invites,trigger=create_team,step=google_invites">
          <span class="ladda-label" data-label="invites_btn_label">{{#t}}Send Invitations{{/t}}</span>
        </button>
      </div>
    </div>
  </div>
</div>
