{{i18n_ns "team_creation"}}

<div class="tos_container">
  <div class="tos_window popup">

    <div class="tos_content">
      <h1>{{#t}}Review the Terms{{/t}}</h1>
      
      <p class="terms">{{#t fallback_hash='f56d985622fa2a1b5cac3d764bd54a40f82b2823'}}By clicking \u201c<b>I Agree</b>\u201d, you understand and agree to the Contract on behalf of the Customer (as described in our <a href="/terms-of-service" target="_blank">Customer Terms of Service</a>), <a href="/privacy-policy" target="_blank">Privacy Policy</a>, and <a href="/cookie-policy" target="_blank">Cookie Policy</a>.{{/t}}</p>

      <p class="align_center no_margin">
        <a href="#" id="create_tos_i_agree" class="btn btn_large">{{#t}}I Agree{{/t}}</a>
      </p>
    </div>

  </div>
</div>