{{i18n_ns "team_creation"}}

<div class="invite_row">
  <div class="input_wrapper">
    <p class="seafoam_green hidden input_checkmark"><i class="ts_icon ts_icon_check_small_bold neutral_white_bg"></i></p>
    <input type="text" class="no_bottom_margin" placeholder="{{#t}}name@example.com{{/t}}" name="email_address" data-qa="email_field" autocomplete="off" spellcheck="false" data-email-healing="true"/>
  </div>
  <p class="error_message"></p>
  <a class="delete_row" data-action="admin_invites_delete_row"><i class="ts_icon ts_icon_times"></i></a>
</div>
