{{i18n_ns "team_creation"}}

<div class="fs_split_body medium_bottom_padding">

  <h1>{{#t}}Looking to sign in?{{/t}}</h1>
  {{#feature flag="feature_teams_to_workspaces"}}
    <p class="desc">{{#t}}Your email address will allow you to access the Slack workspaces listed below.{{/t}}</p>
  {{else}}
    <p class="desc">{{#t}}Your email address will allow you to access the Slack teams listed below.{{/t}}</p>
  {{/feature}}
  <p class="bold">{{teams_title}}</p>

  <div class="signup_teams">
  {{#each teams}}
    {{> create_signin_teams_row}}
  {{/each}}
  </div>

  {{#if more_teams.length}}
  <div id="signup_more_teams" class="signup_teams signup_more_teams hidden">
  {{#each more_teams}}
    {{> create_signin_teams_row}}
  {{/each}}
  </div>
  <button id="signup_team_more_btn" class="btn_unstyle signup_team_more_btn cursor_pointer small_top_margin normal clear_blue" type="button">
    {{#feature flag="feature_teams_to_workspaces"}}
      {{#t}}View {more_teams.length} more
        { more_teams.length, plural,
          =1 {workspace}
          other {workspaces} }
      {{/t}}
    {{else}}
      {{#t}}View {more_teams.length} more
        { more_teams.length, plural,
          =1 {team}
          other {teams} }
      {{/t}}
    {{/feature}}
  </button>
  {{/if}}

</div>
