{{i18n_ns "developer_apps"}}
<div data-js="url-table-editor">

  <div data-js="url-table-editor-alert" class="alert alert_error hidden">
    <ts-icon class="ts_icon_warning"></ts-icon>
    <span class="message">{{#t}}Oops, something went wrong{{/t}}</span>
  </div>
  <h2 data-js="url-table-editor-header" class="c-url_table_editor__title">{{ options.title }}</h2>
  <div data-js="url-table-editor-body" class="small_bottom_margin">
    {{#if options.show_empty_message}}
      <div data-js="url-table-editor-empty-message-container"></div>
    {{/if}}
    {{#if model}}
      {{#each model}}
        {{> developer_apps_url_table_editor_row index=@key is_read_mode=true cancel_button_text=../options.cancel_button_text save_button_text=../options.save_button_text edit_button_text=../options.edit_button_text validation=../options.validation id=../options.id }}
      {{/each}}
    {{/if}}
  </div>

  <div data-js="url-table-editor-footer">
    {{#if options.footer}}
      <aside class="small subtle_silver bottom_margin">{{options.footer}}</aside>
    {{/if}}

    <button data-js-url-editor="create" class="btn_outline btn block bottom_margin">{{ options.add_button_text }}</button>
    {{#if promise_to_save_button}}
      <button data-js-url-editor="save-all" class="btn ladda-button block small_bottom_margin c-url_table_editor__save_all" data-spinner-size="32" data-style="expand-right">{{ options.save_all_urls_text }}</button>
    {{/if}}
  </div>
</div>