<tr class="saved_scope_row align_middle">
  <td class="scope_name">{{name}}</td>
  <td class="display_flex justify_content_between align_items_center">
    <span class="flex_one scope_reason">{{reason}}</span>
    <span class="no_wrap left_padding">
      <button class="btn_icon btn btn_outline ts_icon ts_icon_pencil edit_scope_button"></button>
      <button class="btn_icon btn btn_outline btn_danger ts_icon ts_icon_trash small_left_margin delete_scope_button"></button>
    </span>
  </td>
</tr>
