{{i18n_ns "developer_apps"}}
<tr class="scope_edit_row" {{#if selected_scope}}data-saved-scope="{{selected_scope}}"{{/if}}>
  <td>
    <select class="scopes_lazy_filter_select hidden">
      {{#each scopes}}
        <option value="{{this}}" {{#if_equal this compare=../selected_scope}}selected{{/if_equal}}>
          {{this}}
        </option>
      {{/each}}
    </select>
  </td>
  <td class="display_flex justify_content_between flex_wrap">
    <textarea class="full_width flex_one scope_reason_textarea"
      placeholder="Tell us why you're requesting this scope."
      name="reason_{{selected_scope}}"
      data-validation="required"
      >{{reason}}</textarea>
    <span class="no_wrap left_padding">
      <button class="btn btn_outline cancel_scope_edit_button">{{#t note="Text on button to cancel editing of a scope"}}Cancel{{/t}}</button>
      <button class="btn small_left_margin save_scope_button ladda-button" data-style="expand-right">{{#t note="Text on button to save changes of a scope"}}Save Changes{{/t}}</button>
    </span>
    <label class="scope_reason_textarea_label" for="reason_{{selected_scope}}"></label>
  </td>
</tr>
