{{i18n_ns "developer_apps"}}
{{!-- Possible Error --}}
<p class="alert alert_error hidden" id="developer_apps_new_error">
  <ts-icon class="ts_icon ts_icon_warning"></ts-icon>
  <span class="error_message">{{#t note="Generic error message when something goes wrong when a third party developer fills in a form to create an app"}}Oops, something went wrong! Try again?{{/t}}</span>
</p>

<form action="/apps/create_new" enctype="multipart/form-data" method="post" id="developer_apps_new_form" class="application_config">
  <input type="hidden" name="done" value="1">
  <input type="hidden" name="crumb" value="{{crumb}}">

  {{!-- App Name --}}
  <label for="name">{{#t note="Title of the form which shows up in a modal when a third party developer wishes to create an app"}}App Name{{/t}}</label>
  <input type="text" name="name" placeholder="{{#t note="Placeholder text for a name of an app"}}e.g. Super Service{{/t}}" class="no_bottom_margin overflow_ellipsis" value="" autocomplete="off"
    data-validation="required keywords maxlength=35">
  <aside>{{#t note="Helper text reassuring a third party developer that the name they chose for their app can be changed at a later date"}}Don\u2019t worry; you'll be able to change this later.{{/t}}</aside>

  {{!-- Team Selector --}}
  <label for="team_id" class="top_margin">{{#t note="Label for a dropdown where a third party developer chooses Slack Team their proposed app will belong to"}}Development Slack Team{{/t}}</label>
  <span class="team_picker menu_launcher_large overflow_ellipsis full_width block">
    {{#if auto_select_team}}{{!-- auto_select_team is behind feature_single_team_apps in TS.developer_apps.new.source.js --}}
      <img class="small_border_radius" src="{{teams.[0].icon_src}}">
      <span class="selected_team_name">{{teams.[0].name}}</span>
      {{!-- Hidden input for id of team selected, since the team selector is actually a menu --}}
      <input name="team_id" class="hidden" value="{{teams.[0].encoded_id}}" />
    {{else}}
      {{#feature flag="feature_single_team_apps"}}
        <img class="hidden small_border_radius">
        <span class="selected_team_name">
          {{#t note="Helper text that shows up in a dropdown where a user can select a team that they are currently logged into. Copy not final"}}Please select a team for this app to belong to{{/t}}
        </span>
        {{!-- Hidden input for id of team selected, since the team selector is actually a menu --}}
        <input name="team_id" class="hidden" value="" data-validation="required" />
      {{else}}
        <img class="small_border_radius" src="{{teams.[0].icon_src}}">
        <span class="selected_team_name">{{teams.[0].name}}</span>
        {{!-- Hidden input for id of team selected, since the team selector is actually a menu --}}
        <input name="team_id" class="hidden" value="{{teams.[0].encoded_id}}" />
      {{/feature}}
    {{/if}}
  </span>
  <aside>
    {{#feature flag="feature_multiple_app_ownership"}}
      {{#t note="helper text letting the third party developer know what happens to the app they're creating if they leave their team"}}Your app belongs to this team\u2014leaving this team will remove your ability to manage this app. Unfortunately, this can\u2019t be changed later.{{/t}}
    {{else}}
      {{#t note="helper text letting the third party developer know what happens to the app they're creating if they leave their team"}}This team owns your Slack app (and if you lose access to the team, you won't be able to administer the app).
      You can't change this later.{{/t}}
    {{/feature}}
  </aside>
  <ul id="teams_list" class="hidden">
    {{#each teams}}
      <li role="menuitem" data-team-id="{{this.encoded_id}}" data-team-name="{{this.name}}"><a>
        <img src="{{this.icon_src}}">
        {{this.name}}
      </a></li>
    {{/each}}
    <li role="menuitem" class="avatar_menu_signin_item">
      <a href="https://slack.com/signin">
        <ts-icon class="ts_icon_plus"></ts-icon>
        {{#t note="a button allowing the third party developer sign into another team"}}Sign in to another team{{/t}}
      </a>
    </li>
  </ul>

  {{#if should_show_app_submission}}
  {{!-- Enable Submission Checkbox --}}
  <label class="checkbox top_margin no_bottom_margin">
    <input type="checkbox" name="create_submission">{{#t note="Checkbox a user clicks if they plan on submitting the app they're developing into the Slack App Directory"}}I plan to submit this app to the Slack App Directory.{{/t}}
  </label>
  <aside>
    {{#t note="Helper copy underneath the checkbox where a user decides if they intend to submit their app to the app directory"}}We'll help you get your app ready for submission. If you're not sure, you can decide
    to submit later.{{/t}}
  </aside>
  {{/if}}

  {{!-- ToS Agreement --}}
  <div class="small top_margin">{{#t note="Legal copy targetted towards a third party developer creating an app using our api"}}By creating a Web API Application, you agree to the <a target="_blank" href="/terms-of-service/api">Slack API Terms of Service</a>.{{/t}}</div>
</form>
