{{i18n_ns 'apps'}}

<div>

  <div class="alert alert_error">
    <ts-icon class="ts_icon_warning"></ts-icon>
      {{#t}}
        <p>Are you sure you want to deactivate public distribution? Only your workspace will be able to install this app.</p>
        <p class="no_margin">This will remove your app from workspaces that have installed it. If you activate distribution again, your app will have to re-installed on other workspaces.</p>
      {{/t}}
  </div>
</div>
<div>
  <label for="app_name">{{#t note="Label for input where developer needs to input app name to confirm deactivation of distribution"}}Enter your app\u2019s name to deactivate public distribution{{/t}}</label>
  <input type="text" class="small" name="app_name" placeholder="{{app_name}}" data-validation="matches_placeholder">
</div>
