<div class="collaborator_row" data-id={{id}}>
  {{#if team_url}}<a href="{{team_url}}team/{{id}}" class="indifferent_grey">{{/if}}
    <img class="small_border_radius constrain_24" src="{{image}}"><!-- ignore whitespace
       --><span class="bold left_padding align_middle">{{name}}</span><!--
     -->{{#if team_url}}</a>{{/if}}
  {{#if subtext}}
    <span class="align_middle">({{subtext}})</span>
  {{/if}}
  <div class="float_right">
    {{#if button}}
      <div class="ts_tip ts_tip_left ts_tip_multiline ts_tip_float">
        <button class="btn btn_small btn_outline align_middle{{#if only_row}} disabled{{/if}}" type="button" data-action={{button_action}} data-id={{id}}>
          {{button}}
        </button>
        <span id="disable_leave_tooltip" class="ts_tip_tip{{#unless only_row}} hidden{{/unless}}">
          <span class="ts_tip_multiline_inner">Before you can leave, please add another Collaborator.</span>
        </span>
      </div>
    {{/if}}
    <div id="saver_hook" class="inline"></div>
  </div>
</div>
