<tr class="no_padding {{weight}}" data-event-type="{{event_name}}" data-event-scope="{{scope}}" data-table="{{table}}">
  <td class="no_bottom_padding">
    <a href="/events/{{event_name}}" data-is-pending-removal="false" target="_blank" class="small overflow_ellipsis {{row_class}}">{{event_name}}</a>
  </td>
  <td class="no_bottom_padding">
    <p class="event_description small">{{description}}</p>
  </td>
  {{#unless is_bot}}
  <td class="no_bottom_padding">
  {{!-- We keep the scope but hide it for pending bot subscriptions, so that we are able to find, and update it in the filter select when it is removed. --}}
    <p class="event_scope small">{{scope}}</p>
  </td>
  {{/unless}}
  <td class="no_bottom_padding">
    <div class="display_flex flex_direction_row_reverse no_wrap">
      <ts_icon class="remove_event btn_icon ts_icon ts_icon_trash cursor_pointer" aria-label="Delete"></ts_icon>
    </div>
  </td>
</tr>