{{i18n_ns "developer_apps"}}
<div class="{{type}}_events_table_container">
  <table id="{{type}}_events_table" class="events_table full_width no_bottom_border no_bottom_margin {{#unless events}} hidden{{/unless}}">
    <thead>
      <tr>
        {{#t note="heading descriptions for Events API events"}}
        <th class="no_bottom_margin no_border">
          Event Name
        </th>
        <th class="no_bottom_margin no_border">
          Description
        </th>
        {{#unless is_bot}}
          <th class="no_bottom_margin no_border">
            Required Scope
          </th>
        {{/unless}}
        {{/t}}
      </tr>
    </thead>
      {{#each events as |event|}}
      <tbody>
          <tr class="no_padding"
            {{#unless event.current}}data-pending{{/unless}}
            data-event-type="{{@key}}" data-event-scope="{{event.scope}}"
            data-event-description="{{event.description}}" data-table="{{../type}}"
          >
            <td class="no_bottom_padding">
              <a class="overflow_ellipsis small {{#if event.pending_removal}}pending_removal{{/if}} {{#if event.current}}current_{{else}}pending_{{/if}}event_subscription_name"
                href="/events/{{@key}}" target="_blank" data-is-pending-removal="{{#if pending_removal}}true{{else}}false{{/if}}">
                {{@key}}
              </a>
            </td>
            <td class="no_bottom_padding medium_right_padding {{#if event.pending_removal}}pending_removal{{/if}}">
              <p class="event_description small">{{event.description}}</p>
            </td>
            {{#unless ../is_bot}}
              <td class="no_bottom_padding {{#if event.pending_removal}}pending_removal{{/if}}">
                <p class="event_scope small">{{event.scope}}</p>
              </td>
            {{/unless}}
            <td class="no_bottom_padding">
              {{!-- We set the flex direction to row_reverse so that if no description exists, the icons still appear on the right hand side  --}}
              <div class="display_flex flex_direction_row_reverse no_wrap">
                  <ts_icon class="{{#if event.current}}delete_event{{else}}remove_event{{/if}} {{#if event.pending_removal}}ts_icon_undo{{else}}ts_icon_trash{{/if}} btn_icon ts_icon cursor_pointer"
                    aria-label="{{#t}}Delete{{/t}}">
                  </ts_icon>
              </div>
            </td>
          </tr>
        </tbody>
      {{else}}
        <tbody class="no_border">
          <tr class="no_bottom_border">
            <td class="subtle_silver small"><i>{{#t note="no Events API events added yet"}}No events added yet.{{/t}}</i></td>
          </tr>
        </tbody>
      {{/each}}
  </table>
</div>
