{{i18n_ns 'developer_apps'}}
<table class="full_width middle_border">
  <tbody id="collaborators_tbody">
    {{#each app_collaborators as |collaborator|}}
      <tr><td>
        {{#if_equal ../user_id compare=collaborator.id}}
          {{#if_equal ../app_collaborators.length compare=1}}
            {{> developer_apps_collaborator_row collaborator subtext=(t 'you') button=(t 'Leave') button_action='collaborator_remove' team_url=../team_url only_row=true}}
          {{else}}
            {{> developer_apps_collaborator_row collaborator subtext=(t 'you') button=(t 'Leave') button_action='collaborator_remove' team_url=../team_url}}
          {{/if_equal}}
        {{else}}
          {{#if ../user_is_guest}}
            {{> developer_apps_collaborator_row collaborator team_url=../team_url}}
          {{else}}
            {{> developer_apps_collaborator_row collaborator button=(t 'Remove') button_action='collaborator_remove' team_url=../team_url}}
          {{/if}}
        {{/if_equal}}
      </td></tr>
    {{/each}}
  </tbody>
</table>
<select id="lfs_new_collaborator" class="hidden"></select>
