{{i18n_ns "team"}}


{{#if members}}
  <div class="mpdm_badge display_flex align_items_center">
  {{#each members}}
    {{#shouldUseUnifiedMemberDisplay}}
      {{> member_preview_link_image (getMemberPreviewLinkImageArgs this.id 56 false false)}}
    {{else}}
      {{> member_preview_link_image (getMemberPreviewLinkImageArgs this.id 72 false false)}}
    {{/shouldUseUnifiedMemberDisplay}}
  {{/each}}
{{else}}
  <div class="dm_badge display_flex align_items_center">
  {{#shouldUseUnifiedMemberDisplay}}
    {{> c-member member=member size="large" linked=true}}
  {{else}}
    {{> member_preview_link_image (getMemberPreviewLinkImageArgs member.id 72 false false)}}

    {{#if member.profile}}
      <p class="dm_badge_meta">
        {{#feature flag="feature_name_tagging_client"}}
          <span class="member_real_name bold"><a href="/team/{{member.id}}" class="member_preview_link member_real_name" data-member-id="{{member.id}}">{{getPrefCompliantMemberName member}}</a></span>
        {{else}}
          {{#if member.profile.real_name}}
            <span class="member_real_name bold">{{member.profile.real_name}}</span>
          {{/if}}
        {{/feature}}
        {{makeMemberPresenceIcon member}}

        {{#feature flag="feature_name_tagging_client"}}
        {{else}}
          <span class="{{getMemberColorClassById member.id}}">
            <a href="/team/{{member.name}}" target="/team/{{member.name}}"
            {{#if member.profile.bot_id}}
              class="app_preview_link member_name"
              data-bot-id="{{member.profile.bot_id}}"
            {{else}}
              class="member_preview_link member_name"
            {{/if}}
            data-member-id="{{member.id}}">@{{member.name}}</a>
          </span>
        {{/feature}}

        {{#if member.profile.title}}
          <br />

          {{member.profile.title}}
        {{/if}}
        {{#or member.profile.status_emoji member.profile.status_text}}
          <br />
          <span class="current_status">
            {{getMemberCurrentStatusForDisplayWithoutAnimations member}}
          </span>
        {{/or}}
        {{#pageNeedsEnterprise}}
          {{#if member.is_restricted}}
            <br />

            <span class="member_type_and_description float_left old_petunia_grey lato">
              <span class="overflow_ellipsis">
                {{#if member.is_ultra_restricted}}
                  {{#if ura_channel}}
                    {{#t note="{ura_channel} is the channel a single-channel guest has membership to"}}Single-Channel Guest in #{ura_channel}{{/t}}
                  {{else}}
                    {{#t}}Single-Channel Guest{{/t}}
                  {{/if}}
                {{else}}
                  {{#t}}Multi-Channel Guest{{/t}}
                {{/if}}
              </span>
            </span>
          {{else if member.is_bot}}
            <br />

            <span class="member_type_and_description float_left old_petunia_grey lato">
              <span class="overflow_ellipsis">{{#t note="Description for bots"}}Non-sentient Bot{{/t}}</span>
            </span>
          {{/if}}
        {{/pageNeedsEnterprise}}
        {{#if member.is_external}}
          <br />
          <span class="member_team_name">{{getTeamNameByMember member}}</span>
        {{/if}}
        <br />
      </p>
    {{/if}}
  {{/shouldUseUnifiedMemberDisplay}}
{{/if}}
</div>

<p class="dm_explanation margin_auto align_left clear_both">
  {{#if member.is_self}}
    {{#t note="Description for self DM"}}<strong>This is your space.</strong> Draft messages, list your to-dos, or keep links and files handy. You <em>can</em> also talk to yourself here, but please bear in mind you\u2019ll have to supply both sides of the conversation.{{/t}}
  {{else}}
    {{#if members~}}
      {{#t members=(mpimDisplayName model_ob false false false true)}}This is <span class="not_limited_copy">the very beginning of</span> your direct message history with {members}.{{/t}}
    {{else if member.is_external}}
      {{#t member_name=(getPrefCompliantMemberName member) team_name=(getTeamNameByMember member)}}{member_name} is from <strong>{team_name}</strong> and not a member of your team, so share files and information with care.{{/t}}
    {{else}}
      {{#t member_name=(getPrefCompliantMemberName member)}}This is <span class="not_limited_copy">the very beginning of</span> your direct message history with <strong>{member_name}</strong>.{{/t}}
    {{/if}}
  {{/if}}
</p>
{{#if members}}
  {{#if desktop_notifs_enabled}}
    <div class="mpim_notif_prefs {{#feature flag="feature_client_resize_optimizations"}}{{else}}special_formatting_quote{{/feature}} medium_bottom_margin">
      <div class="quote_bar">
        <div class="shim"></div>
      </div>
      <p class="content">
        <span class="bold">{{#t note="Followed by various notification preferences e.g. Activity of any kind, Only mentions of my name or highlight words, etc."}}Send me desktop notifications for:{{/t}}</span>
        <span class="mini small_left_margin"><button class="more_options btn_link" type="button">{{#t}}More options{{/t}}</button></span>
        {{#if_equal desktop_setting compare="nothing"}}
        {{else}}
        {{#unless is_muted}}
          <label class="radio no_margin normal">
            <input id="all_notifications_rd" type="radio" name="notifications" {{#if_equal desktop_setting compare="everything"}}checked="checked"{{/if_equal}}>
            {{#t note="One of many notification preference settings"}}Activity of any kind{{/t}}
          </label>
          <label class="radio no_margin normal">
            <input id="mentions_rd" type="radio" name="notifications" {{#if_equal desktop_setting compare="mentions"}}checked="checked"{{/if_equal}}>
            {{#t note="One of many notification preference settings"}}Only mentions of my name or highlight words{{/t}}
          </label>
        {{/unless}}
        {{/if_equal}}
        <label class="checkbox no_margin normal {{#if_equal desktop_setting compare="nothing"}}{{#if is_muted}}hidden{{/if}}{{else}}hidden{{/if_equal}}">
          <input id="no_notifications_cb" type="checkbox" checked="checked">
            {{#t note="One of many notification preference settings"}}No notifications{{/t}}
        </label>
        <label class="checkbox no_margin normal {{#if is_muted}}{{else}}hidden{{/if}}">
          <input id="notifications_muted_cb" type="checkbox" checked="checked">
          {{#t}}Mute this conversation{{/t}}
        </label>
      </p>
    </div>
  {{else}}
    <p class="highlight_yellow_bg">
      {{#if notifications_not_yet_allowed}}
        <span>{{#t}}You have not yet allowed desktop notifications. Open the <button onclick="TS.ui.prefs_dialog.start('notifications')" class="btn_link bold" type="button">Preferences Dialog</button> and follow the instructions to set them up.{{/t}}</span>
      {{/if}}
      {{#if notifications_not_allowed}}
        <span>{{#t}}You\u2019ve disallowed notifications in your browser. You\u2019ll need to open your browser preferences to change that.{{/t}}</span>
      {{/if}}
      {{#if notifications_impossible}}
        <span>{{#t}}Your browser does not support desktop notifications. <a href="/downloads" target="_blank">Try one of our apps?</a>{{/t}}</span>
      {{/if}}
    </p>
  {{/if}}
{{/if}}
