{{i18n_ns "team"}}

<div class="dm_badge display_flex align_items_center">
  {{#if members}}
    {{#each members}}
      {{makeMemberPreviewLinkImage this.id 72 false false true}}
    {{/each}}
  {{else}}
    {{makeMemberPreviewLinkImage member.id 72 false false true}}
  {{/if}}

  {{#if member.profile}}
    <p class="dm_badge_meta">
      {{#feature flag="feature_name_tagging_client"}}
        <span class="member_full_name bold"><a href="/team/{{member.id}}" class="member_preview_link member_full_name" data-member-id="{{member.id}}">{{getMemberFullName member}}</a></span>
      {{else}}
        {{#if member.profile.real_name}}
          <span class="member_real_name bold">{{member.profile.real_name}}</span>
        {{/if}}
      {{/feature}}
      {{makeMemberPresenceIcon member}}

      {{#feature flag="feature_name_tagging_client"}}
      {{else}}
        <span class="{{getMemberColorClassById member.id}}">
          <a href="/team/{{member.name}}" class="member_preview_link member_name" data-member-id="{{member.id}}">@{{member.name}}</a>
        </span>
      {{/feature}}

      <br />
      {{#if member.profile.title}}
        {{member.profile.title}}
      {{/if}}
      {{#pageNeedsEnterprise}}
        {{#if member.profile.title}}
          <br />
        {{/if}}
        {{#if member.is_restricted}}
          <span class="member_type_and_description float_left old_petunia_grey lato">
            <span class="overflow_ellipsis">
              {{#if member.is_ultra_restricted}}
                {{#if ura_channel}}
                  {{#t note="{ura_channel} is the channel a single-channel guest has membership to"}}Single-Channel Guest in #{ura_channel}{{/t}}
                {{else}}
                  {{#t}}Single-Channel Guest{{/t}}
                {{/if}}
              {{else}}
                {{#t}}Multi-Channel Guest{{/t}}
              {{/if}}
            </span>
          </span>
        {{else if member.is_bot}}
          <span class="member_type_and_description float_left old_petunia_grey lato">
            <span class="overflow_ellipsis">{{#t note="Description for bots"}}Non-sentient Bot{{/t}}</span>
          </span>
        {{/if}}
      {{/pageNeedsEnterprise}}
    </p>
  {{/if}}
</div>

<p class="dm_explanation margin_auto align_left clear_both">
  {{#if member.is_self}}
    {{#t note="Description for self DM"}}<strong>This is your space.</strong> Draft messages, list your to-dos, or keep links and files handy. You <em>can</em> also talk to yourself here, but please bear in mind you\u2019ll have to supply both sides of the conversation.{{/t}}
  {{else}}
    {{#if members~}}
      {{#t members=(mpimDisplayName model_ob false false false true)}}This is <span class="not_limited_copy">the very beginning of</span> your direct message history with {members}.{{/t}}
    {{else}}
      {{#feature flag="feature_name_tagging_client"}}
        {{#t member_name=(getMemberFullName member)}}This is <span class="not_limited_copy">the very beginning of</span> your direct message history with <strong>{member_name}</strong>.{{/t}}
      {{else}}
        {{#t member_name=(getMemberDisplayName member)}}This is <span class="not_limited_copy">the very beginning of</span> your direct message history with <strong>{member_name}</strong>.{{/t}}
      {{/feature}}
    {{/if}}
  {{/if}}
</p>
{{#if members}}
  {{#if desktop_notifs_enabled}}
    <div class="mpim_notif_prefs special_formatting_quote medium_bottom_margin">
      <div class="quote_bar">
        <div class="shim"></div>
      </div>
      <p class="content">
        <span class="bold">{{#t note="Followed by various notification preferences e.g. Activity of any kind, Only mentions of my name or highlight words, etc."}}Send me desktop notifications for:{{/t}}</span>
        <span class="mini small_left_margin"><a class="more_options">{{#t}}More options{{/t}}</a></span>
        {{#if_equal desktop_setting compare="nothing"}}
        {{else}}
        {{#unless is_muted}}
          <label class="radio no_margin normal">
            <input id="all_notifications_rd" type="radio" name="notifications" {{#if_equal desktop_setting compare="everything"}}checked="checked"{{/if_equal}}>
            {{#t note="One of many notification preference settings"}}Activity of any kind{{/t}}
          </label>
          <label class="radio no_margin normal">
            <input id="mentions_rd" type="radio" name="notifications" {{#if_equal desktop_setting compare="mentions"}}checked="checked"{{/if_equal}}>
            {{#t note="One of many notification preference settings"}}Only mentions of my name or highlight words{{/t}}
          </label>
        {{/unless}}
        {{/if_equal}}
        <label class="checkbox no_margin normal {{#if_equal desktop_setting compare="nothing"}}{{#if is_muted}}hidden{{/if}}{{else}}hidden{{/if_equal}}">
          <input id="no_notifications_cb" type="checkbox" checked="checked">
            {{#t note="One of many notification preference settings"}}No notifications{{/t}}
        </label>
        <label class="checkbox no_margin normal {{#if is_muted}}{{else}}hidden{{/if}}">
          <input id="notifications_muted_cb" type="checkbox" checked="checked">
          {{#t}}Mute this conversation{{/t}}
        </label>
      </p>
    </div>
  {{else}}
    <p class="highlight_yellow_bg">
      {{#if notifications_not_yet_allowed}}
        <span>{{#t}}You have not yet allowed desktop notifications. Open the <a onclick="TS.ui.prefs_dialog.start('notifications')" class="cursor_pointer bold">Preferences Dialog</a> and follow the instructions to set them up.{{/t}}</span>
      {{/if}}
      {{#if notifications_not_allowed}}
        <span>{{#t}}You\u2019ve disallowed notifications in your browser. You\u2019ll need to open your browser preferences to change that.{{/t}}</span>
      {{/if}}
      {{#if notifications_impossible}}
        <span>{{#t}}Your browser does not support desktop notifications. <a href="/downloads" target="_blank">Try one of our apps?</a>{{/t}}</span>
      {{/if}}
    </p>
  {{/if}}
{{/if}}
