<div class="download_item {{item.state}} clearfix" data-token="{{item.token}}">
  <div class="icon_actions">
    {{#if img_src}}
      <img src="{{img_src}}" width="32" height="32" class="download_icon download_img">
    {{else}}
      <i class="filetype_icon {{filetype}} s48 download_icon download_filetype"></i>
    {{/if}}
    <i class="ts_icon action_icon {{filetype}} {{#if img_src}}image{{/if}}"></i>
  </div>
  <i class="ts_icon ts_icon_times_circle download_remove_link"></i>
  <div class="download_data">
    <div class="download_name_row">
      <span class="download_name overflow_ellipsis">{{name}}</span>
      <a class="download_cancel_link">Cancel</a>
    </div>
    <div class="download_size_row">
      <span class="download_size overflow_ellipsis"><span class="partial_size">{{#if partial_size}}{{convertFilesize partial_size}} of {{/if}}</span>{{convertFilesize size}} {{pretty_type}}</span>
      <span class="download_actions">
        <a class="download_show_link">{{#isMac}}Show in Finder{{else}}Open containing folder{{/isMac}}</a>
        <a class="download_open_link">Click to open</a>
        <a class="download_retry_link">Retry</a>
      </span>
      <span class="download_estimate">{{estimate}}</span>
    </div>
    <div class="download_progress_row"><div class="download_progress_bar" style="width:{{perc}}%"></div></div>
  </div>
  <pre class="hidden download_debug"></pre>
</div>