<div id="edit_member_profile_container">

  <div class="hidden_file_input">
    <input type="file" accept="image/*;capture=camera" aria-hidden="true" tabindex="-1" data-action="edit_member_profile_upload_photo" />
  </div>

  <section id="edit_member_profile_loading">{{{loadingHTML}}}</section>

  <section id="edit_member_profile_list" class="display_flex flex_direction_column very_large_bottom_margin hidden"></section>

  {{#feature flag="feature_take_profile_photo"}}
  <section id="edit_member_profile_photo_take" class="display_flex flex_direction_column very_large_bottom_margin align_items_center hidden">
    <div class="edit_member_profile_photo__modal_container">
      <div class="edit_member_profile_photo__capture_preview">
        <video autoplay="false" id="edit_member_profile_photo_preview_video" class="edit_member_profile_photo__preview_video no_opacity"></video>
        <div id="edit_member_profile_photo_preview_overlay" class="edit_member_profile_photo__preview_overlay no_opacity">
          <p> Please allow Slack to use <br/> your computer's camera. </p>
        </div>
      </div>
      <div id="edit_member_profile_photo_capture_button" class="edit_member_profile_photo__capture_button" data-action="edit_member_profile_capture_photo">
        <span class="edit_member_profile_photo__capture_icon ts_icon ts_icon_camera"></span>
      </div>
      <div id="edit_member_profile_photo_capture_countdown" class="edit_member_profile_photo__capture_countdown hidden">
        <div id="edit_member_profile_photo_countdown_progress" class="position_relative">
          <strong id="edit_member_profile_photo_countdown_text" class="edit_member_profile_photo__countdown_text"></strong>
        </div>
      </div>
    </div>
  </section>
  {{/feature}}

  <section id="edit_member_profile_photo_upload" class="display_flex flex_direction_column very_large_bottom_margin align_center hidden">
    <div class="edit_member_profile_photo__modal_container">
      <div id="edit_member_profile_progress_circle" class="photo_well align_center"></div>

      <div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap">
        <button id="edit_member_profile_cancel_photo_upload_btn" class="col btn btn_large btn_outline" data-action="edit_member_profile_cancel_photo">Cancel</button>
      </div>
    </div>
  </section>

  <section id="edit_member_profile_photo_crop" class="display_flex flex_direction_column very_large_bottom_margin align_items_center hidden">
    <div class="edit_member_profile_photo__crop_container edit_member_profile_photo__modal_container">
      <img id="edit_member_profile_photo" />
      <div id="edit_member_profile_photo_preview"></div>
      <input type="hidden" name="cropbox" id="cropbox" value="" />
    </div>

    <div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap full_width">
      <button id="edit_member_profile_cancel_photo_crop_btn" class="col btn btn_large btn_outline" data-action="edit_member_profile_cancel_photo">Cancel</button>
      {{#feature flag="feature_take_profile_photo"}}
      <button id="edit_member_profile_retake_photo_crop_btn" class="col btn btn_large btn_outline hidden" data-action="edit_member_profile_take_photo">Retake</button>
      {{/feature}}
      <button id="edit_member_profile_confirm_photo_crop_btn" type="submit" class="col btn btn_large ladda-button" data-style="expand-right" data-action="edit_member_profile_confirm_photo_crop">Save Profile Photo</button>
    </div>
  </section>

  <section id="edit_member_profile_photo_delete" class="hidden">
    <div class="edit_member_profile_photo__modal_container">
      <p class="small center_and_narrow">Are you sure you want to remove your photo?<br>We'll replace it with a default Slack avatar.</p>

      <div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap">
        <button id="edit_member_profile_cancel_photo_delete_btn" class="col btn btn_large btn_outline" data-action="edit_member_profile_cancel_photo">Cancel</button>
        <button id="edit_member_profile_confirm_photo_delete_btn" type="submit" class="col btn btn_large btn_danger ladda-button" data-style="expand-right" data-action="edit_member_profile_confirm_photo_delete">Yes, Remove Photo</button>
      </div>
    </div>
  </section>

  <section id="edit_member_profile_photo_format_error" class="hidden">
    <div class="edit_member_profile_photo__modal_container">
      <p class="small photo_well align_center">{{emojiGraphicReplace ':flushed:' 'apple'}}<br><strong>Profile photos must be<br>GIFs, JPGs or PNGs.</strong></p>

      <div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap">
        <button id="edit_member_profile_cancel_photo_format_error_btn" class="col btn btn_large btn_outline" data-action="edit_member_profile_cancel_photo">Cancel</button>
        <button id="edit_member_profile_retry_photo_format_error_btn" type="submit" class="col btn btn_large btn_info ladda-button" data-style="expand-right" data-action="edit_member_profile_photo_menu">Try a different image</button>
      </div>
    </div>
  </section>

  <section id="edit_member_profile_photo_oversize_error" class="hidden">
    <div class="edit_member_profile_photo__modal_container">
      <p class="small photo_well align_center">{{emojiGraphicReplace ':worried:' 'apple'}}<br><strong>That's a very nice photo, but<br>it's a bit too big. Try one<br>that's smaller than 4000px<br>tall by 4000px wide.</strong></p>

      <div class="clearfix bottom_margin large_top_margin display_flex justify_content_center flex_wrap">
        <button id="edit_member_profile_cancel_photo_oversize_error_btn" class="col btn btn_large btn_outline" data-action="edit_member_profile_cancel_photo">Cancel</button>
        <button id="edit_member_profile_retry_photo_oversize_error_btn" type="submit" class="col btn btn_large btn_info ladda-button" data-style="expand-right" data-action="edit_member_profile_photo_menu">Try a different image</button>
      </div>
    </div>
  </section>
</div>