{{i18n_ns "profile"}}
<div class="edit_profile_drop_overlay hidden"></div>
<div class="clearfix display_flex flex_wrap position_relative">
  <p class="col span_2_of_3">
    {{#feature flag="feature_name_tagging_client"}}
      <label for="real_name_profile_field">{{#t note="For a members profile"}}Full name{{/t}}</label>
      <input type="text" class="no_bottom_margin" name="real_name" value="{{member.profile.real_name}}" data-validation data-validation-for="real_name_profile_field_warnings" data-validation-success placeholder="{{#t note='For a members profile'}}Full name{{/t}}" id="real_name_profile_field" />
      <label for="real_name_profile_field_warnings"><span class="validation_message"></span></label>
    {{else}}
      <label for="first_name_profile_field">{{#t note="For a members profile"}}First name{{/t}}</label>
      <input type="text" class="no_bottom_margin" name="first_name" value="{{member.profile.first_name}}" placeholder="{{#t note='For a members profile'}}First name{{/t}}" data-validation="maxlength=34" data-validation-for="first_name_profile_field" id="first_name_profile_field" />
    {{/feature}}
  </p>
  <div id="edit_member_profile_photo_container" class="col">
    <label>{{#t note="Label for the profile fiend"}}Profile photo{{/t}}</label>
    {{#feature flag="feature_take_profile_photo"}}
      <div class="member_image_wrapped">{{> member_preview_link_image (getMemberPreviewLinkImageArgs member.id 192 false true true)}}</div>
      <div class="member_image_wrapped_no_photo" data-instructions-text="{{#t}}Drag & drop your photo here{{/t}}">{{> member_preview_link_image (getMemberPreviewLinkImageArgs member.id 192 false true true)}}</div>
      <div class="member_image_upload hidden" data-instructions-text="{{#t}}Drop to upload{{/t}}"><img src="{{versioned_file_drop_blue}}" class="file_drop_icon animate_file_drop" /></div>
      <ts-icon class="show_take hidden member_upload ts_icon_camera" data-action="edit_member_profile_take_photo"><a>{{#t note="For your profile avatar"}}Take a photo{{/t}}</a></ts-icon>
      <ts-icon class="member_upload ts_icon_cloud_upload" data-action="edit_member_profile_upload_image"><a>{{#t note="For your profile avatar"}}Upload a photo{{/t}}</a></ts-icon>
      <ts-icon class="show_delete ts_icon_trash" data-action="edit_member_profile_to_delete"><a>{{#t note="Remove your profile avatar photo"}}Remove photo{{/t}}</a></ts-icon>
    {{else}}
      <div class="member_image_wrapper" data-instructions-text="{{#t}}Change your profile photo{{/t}}" data-action="edit_member_profile_photo_menu"><ts-icon class="upload_camera_icon ts_icon_camera" aria-label="{{#t}}upload a photo{{/t}}">{{> member_preview_link_image (getMemberPreviewLinkImageArgs member.id 192 false true true)}}</ts-icon></div>
    {{/feature}}
  </div>
</div>

<div class="clearfix">
  <p class="col span_2_of_3">
    {{#feature flag="feature_name_tagging_client"}}
      <label for="display_name_profile_field">{{#t note="For a members profile"}}Display name{{/t}}</label>
      <input type="text" class="no_bottom_margin" name="display_name" value="{{member.profile.display_name}}" placeholder="{{member.profile.real_name}}" id="display_name_profile_field" data-validation data-validation-for="display_name_profile_field_warnings" data-validation-success />
      <label for="display_name_profile_field_warnings"><span class="validation_message"></span></label>
      <span class="input_note">{{#t note="Helper note for setting a display name"}}This could be your first name, or a nickname \u2014 however you\u2019d like people to refer to you in Slack.{{/t}}</span>
    {{else}}
      <label for="last_name_profile_field">{{#t note="For a members profile"}}Last name{{/t}}</label>
      <input type="text" class="no_bottom_margin" name="last_name" value="{{member.profile.last_name}}" placeholder="{{#t note='For a members profile'}}Last name{{/t}}" data-validation="maxlength=35" data-validation-for="last_name_profile_field" id="last_name_profile_field" />
    {{/feature}}
  </p>
</div>

<div class="clearfix">
  <p class="col span_2_of_3">
    <label for="title_profile_field">{{#t note="Label for a members profile field"}}What I do{{/t}}</label>
    <input type="text" class="no_bottom_margin" name="title" value="{{member.profile.title}}" placeholder="{{#t note='Label for a members profile field'}}What I do{{/t}}" data-validation="maxlength=249" data-validation-for="title_profile_field" id="title_profile_field" />
    <span class="input_note">{{#t note="For a members profile"}}Let people know what you do at {team.name}.{{/t}}</span>
  </p>
</div>

{{#isClient}}
  <div class="clearfix">
    <div class="col span_2_of_3">
      {{> current_status_input for_edit_profile=true}}
    </div>
  </div>
{{/isClient}}

<div class="clearfix">
  <p class="col span_2_of_3">
    <label for="phone_profile_field">{{#t note="Label for a members profile field"}}Phone number{{/t}}</label>
    <input type="text" class="no_bottom_margin" name="phone" value="{{member.profile.phone}}" placeholder="{{#t note="fake example telephone number used as placeholder text for a form input"}}(123) 555-5555{{/t}}" data-validation="maxlength=98" data-validation-for="phone_profile_field" id="phone_profile_field" />
    <span class="input_note">{{#t note="Help text for a members profile field"}}Enter a phone number.{{/t}}</span>
  </p>
</div>

<div class="clearfix">
  <p class="col span_2_of_3">
    <label class="select with_hint" for="timezone_profile_field">
      {{#t}}Time Zone{{/t}}
      <select class="no_bottom_margin" name="tz" id="timezone_profile_field">
        {{#each timezone_options}}
          <option value="{{this.val}}"{{#if_equal this.val compare=../member_tz}} selected{{/if_equal}}>{{this.label}}</option>
        {{/each}}
      </select>
    </label>
    <span class="input_note">{{#t}}Your current time zone. Used to send summary and notification emails, for times in your activity feeds, and for reminders.{{/t}}</span>
  </p>
</div>

{{#if team_member_profile_fields.length}}
  {{#each team_member_profile_fields}}
    <div class="clearfix">
      <p class="col {{#if_equal this.type compare="link"}}span_2_of_3{{else}}{{#if_equal this.type compare="date"}}span_2_of_3{{else}}span_1_of_1{{/if_equal}}{{/if_equal}} no_padding">
        {{#if_not_equal this.type compare="options_list"}}
          <label for="{{this.id}}_profile_field">
            {{#if this.options.is_scim}}
              <ts-icon class="ts_icon_lock sk_light_grey ts_tip ts_tip_top ts_tip_multiline">
                <span class="ts_tip_tip ts_tip_multiline_inner">{{#t}}This field is automatically synced by your organization.{{/t}}</span>
              </ts-icon>
            {{/if}}
            {{this.label}}
          </label>
        {{/if_not_equal}}
        {{#if_equal this.type compare="text"}}
          <input type="text" class="no_bottom_margin" name="{{this.id}}" placeholder="{{this.label}}" data-qa="{{this.label}}" data-validation="maxlength=256" data-validation-for="{{this.id}}_profile_field" value="{{this.value}}" id="{{this.id}}_profile_field" {{#if this.options.is_scim}}disabled{{/if}}/>
        {{/if_equal}}
        {{#if_equal this.type compare="options_list"}}
          <label class="select no_bottom_margin with_hint" id="{{this.id}}_profile_field">{{this.label}}
            <select class="no_bottom_margin" name="{{this.id}}" data-qa="{{this.label}}" id="{{this.id}}_profile_field" {{#if this.options.is_scim}}disabled{{/if}}>
              <option value='' {{#unless ../this.value}} selected{{/unless}}>{{#t note="Select a date"}}Select \u2026{{/t}}</option>
              {{#each this.possible_values}}
                <option{{#if_equal ../this.value compare=this}} selected{{/if_equal}}>{{this}}</option>
              {{/each}}
            </select>
          </label>
        {{/if_equal}}
        {{#if_equal this.type compare="date"}}
          <input type="text" class="no_bottom_margin ts_icon_placeholder" name="{{this.id}}" data-plastic-type="date" placeholder="&#xe023;" data-qa="{{this.label}}" data-validation="dateandformat=Y-m-d" data-validation-for="{{this.id}}_profile_field" value="{{this.value}}" id="{{this.id}}_profile_field" {{#if this.options.is_scim}}disabled{{/if}}/>
        {{/if_equal}}
        {{#if_equal this.type compare="link"}}
          <input type="text" class="no_bottom_margin" name="{{this.id}}" placeholder="https://" data-qa="{{this.label}}" data-validation="maxlength=256 isurl" data-validation-for="{{this.id}}_profile_field" value="{{this.value}}" id="{{this.id}}_profile_field"  {{#if this.options.is_scim}}disabled{{/if}}/>
        {{/if_equal}}
        {{#if_equal this.type compare="user"}}
          <input class="edit_member_profile_lazy_filter_select no_bottom_margin" name={{this.id}} data-qa="{{this.label}}" data-validation="maxcsv=25" data-validation-for="{{this.id}}_profile_field" value="{{this.value}}" id="{{this.id}}_profile_field" {{#if this.options.is_scim}}disabled{{/if}}/>
        {{/if_equal}}
        {{#if this.hint}}
          <span class="input_note">{{this.hint}}</span>
        {{/if}}
      </p>
      {{#if_equal this.type compare="link"}}
        <p class="col span_1_of_3 no_padding">
          <label for="{{this.id}}_alt_profile_field">{{#t}}Display text{{/t}}</label>
          <input type="text" class="no_bottom_margin" name="{{this.id}}_alt" placeholder="{{#t}}My link{{/t}}" data-qa="{{this.label}}_display" data-validation="maxlength=256" data-validation-for="{{this.id}}_alt_profile_field" value="{{this.alt}}" id="{{this.id}}_alt_profile_field" {{#if this.options.is_scim}}disabled{{/if}}/>
          <span class="input_note">{{#t}}Optional{{/t}}</span>
        </p>
      {{/if_equal}}
      {{#if_equal this.type compare="date"}}
        <p class="col span_1_of_3 no_padding">
          <label for="{{this.id}}_alt_profile_field">{{#t}}Display text{{/t}}</label>
          <input type="text" class="no_bottom_margin" name="{{this.id}}_alt" placeholder="{{#t}}My date{{/t}}" data-qa="{{this.label}}_display" data-validation="maxlength=256" data-validation-for="{{this.id}}_alt_profile_field" value="{{this.alt}}" id="{{this.id}}_alt_profile_field" {{#if this.options.is_scim}}disabled{{/if}}/>
          <span class="input_note">{{#t}}Optional{{/t}}</span>
        </p>
      {{/if_equal}}
    </div>
  {{/each}}
{{/if}}
