<div id="emoji_menu" class="menu">
  <div class="popover_mask"></div>
  <div id="emoji_menu_content">
    <div id="emoji_menu_header"></div>
    <div id="emoji_menu_items_scroller">
      <div id="emoji_menu_items_div"></div>
    </div>
    <div id="emoji_menu_footer">
    
    <div id="emoji_div_handy_rxns" class="hidden">
      <h3 id="emoji_h3_handy_rxns">{{#t note="Heading above a small sent of commonly used emojis"}}Handy Reactions{{/t}}</h3>
      <div class="emoji_ul" id="emoji_ul_handy_rxns" role="menu" no-bootstrap="1">
        {{> emoji_menu_handy_rxns}}
      </div>
    </div>
    
    <div id="emoji_preview">
      <span id="emoji_preview_img"></span>
      <div id="emoji_preview_text" class="overflow_ellipsis float_left">
        <span id="emoji_name"></span><br />
        <span id="emoji_aliases"></span>
      </div>
    </div>
    
    <div id="emoji_preview_deluxe">
      {{#t note="The fancy name of the emoji picker"}}<span class="bold">Emoji Deluxe</span>\u2122{{/t}}
    </div>
    
    <div id="emoji_skin_button_container" class="hidden">
      <div id="emoji_skin_button"></div>
      <span id="emoji_skin_picker_label" class="bold hidden">
        {{#t note="Label for the currently selected default emoji skin tone"}}Skin Tone{{/t}}
      </span>
    </div>
    <div id="emoji_skin_tip" class="bold hidden">{{#t note="Default emoji skin tone"}}Choose your default skin tone{{/t}}</div>
    <div id="emoji_skin_picker" class="hidden"></div>
    </div>
  </div>
</div>
