<div class="enterprise_member_profile_actions">
  {{#feature flag="feature_enterprise_context_menu"}}
    {{#if can_edit_this_user}}
      {{#unless is_self}}
        <div data-context-menu-trigger="profile_menu" data-member-profile-context-menu class="inline_block small_padding cursor_pointer context_menu__trigger btn btn_outline">
          <ts-icon class="ts_icon_cog_o no_right_margin"></ts-icon><ts-icon class="ts_icon_chevron_down no_right_margin"></ts-icon>
        </div>
      {{/unless}}
    {{/if}}
  {{else}}
    {{#if can_edit_this_user}}
      {{#if permissions.length}}
      <label class="select small inline_block">
        <select name="member_profile_membership" class="small tiny_top_margin" data-member-profile-membership>
          <option value="">Change Membership</option>
          {{#each permissions}}
            <option value="{{this.value}}">{{this.label}}</option>
          {{/each}}
        </select>
      </label>
      {{/if}}
      <button class="btn tiny_top_margin small_left_margin align_top ladda-button" data-style="expand-right" data-member-profile-sso-rebind>
        <span class="ladda-label">Send SSO Rebind Email</span>
      </button>
    {{/if}}
  {{/feature}}
  {{!-- this will show up based on permissions --}}
  {{#if can_edit_this_user}}
    <button class="btn tiny_top_margin small_left_margin align_top ladda-button" data-style="expand-right" data-member-profile-edit-mode {{#if profile_is_editable}}disabled{{/if}}>
      <span class="ladda-label">Edit Profile</span>
    </button>
  {{/if}}
</div>
