<form class="enterprise_profile__form">
  <div data-member-profile-error></div>
  {{!-- <div class="enterprise_profile__input" data-profile-input="full_name">Full Name</div> --}}
  <div class="enterprise_profile__input" data-profile-input="first_name">First Name</div>
  <div class="enterprise_profile__input" data-profile-input="last_name">Last Name</div>
  <div class="enterprise_profile__input" data-profile-input="name">username</div>
  {{!-- <div class="enterprise_profile__input" data-profile-input="preferred_name">Preferred Name</div> --}}
  <div class="enterprise_profile__input break_all" data-profile-input="email">Email</div>
  <div class="enterprise_profile__input" data-profile-input="title">Title</div>
  <div class="enterprise_profile__input" data-profile-input="phone">Phone</div>
</form>