<div class="enterprise_profile__header display_flex">
  <div class="enterprise_profile__image">
    <img src="{{user.profile.image_192}}" alt="{{user.profile.real_name}}">
  </div>
  <div class="enterprise_profile__details">
    <h4 class="no_bottom_margin">
      {{#if user.profile.real_name}}
        {{user.profile.real_name}}
      {{else}}
        {{user.name}}
      {{/if}}
      {{!-- ORG OWNER/ORG ADMIN TAGS --}}
      {{#if user.deleted}}
        <span class="ent_list_badge candy_red">Deactivated</span>
      {{else if user.is_primary_owner}}
        <span class="ent_list_badge">Primary Org Owner</span>
      {{else if user.is_owner}}
        <span class="ent_list_badge">Org Owner</span>
      {{else if user.is_admin}}
        <span class="ent_list_badge">Org Admin</span>
      {{/if}}
    </h4>
    <div class="enterprise_profile__metadata">
      {{#if user.teams.length}}
        Member on {{user.teams.length}} {{pluralize user.teams.length 'team'}}
      {{else if user.deleted}}
        This user has been deactivated
      {{else}}
        Not on any teams
      {{/if}}
    </div>
  </div>
</div>