<div class="enterprise_profile__view">
  {{!-- top bar --}}
  <div class="enterprise_profile__top_bar display_flex justify_content_between">
    <h2 class="black">Groups</h2>
    {{!-- this feature doesn't exist yet :( --}}
    {{!-- <div data-member-profile-groups-controls>
      {{#if can_edit_this_user}}<button class="btn tiny_top_margin align_top ladda-button" data-member-profile-manage-groups>Manage Groups</button>{{/if}}
    </div> --}}
  </div>
  <div data-enterprise-member-profile-groups-list></div>
</div>
