{{i18n_ns "files"}}

<div class="file_preview_meta">
  {{#feature flag="feature_file_threads"}}
    <span class="title break_word">
      {{#if is_post}}
        {{#if preview}}
          <a href="{{file.permalink}}" {{#isClient}}target="{{file.id}}"{{/isClient}} data-file-id="{{file.id}}" class="file_new_window_link">{{#t privacy_label=(makeFilePrivacyLabel file) note="Can be 'draft', 'shared', or 'private'"}}{privacy_label} post{{/t}}</a>
        {{else}}
          <a href="{{file.permalink}}" {{#isClient}}target="{{file.id}}"{{/isClient}} data-file-id="{{file.id}}" class="file_new_window_link">{{highlightSearchMatchesInFileTitle file.title}}</a>
        {{/if}}
      {{else}}
        <a href="{{file.permalink}}" {{#isClient}}target="{{file.id}}"{{/isClient}} data-file-id="{{file.id}}" class="{{#unless preview}}file_preview_link {{/unless}}{{#fileIsImage id=file.id}}file_viewer_channel_link file_viewer_link{{/fileIsImage}}">{{highlightSearchMatchesInFileTitle file.title}}</a>
      {{/if}}
    </span>
  {{else}}
  <p class="file_meta {{file.mode}}">

    {{#if_equal file.mode compare="snippet"}}
      <label class="checkbox normal mini inline_block no_bottom_margin subtle_silver" for="snippet_wrap">
        <input type="checkbox" id="snippet_wrap" class="snippet_wrap" /> {{#t note="wrap, as in long lines of text"}}Wrap{{/t}}
      </label>
      <span class="bullet">\u2022</span>
    {{/if_equal}}

    <span class="date">{{#t date=(toCalendarDateOrNamedDayShort file.timestamp) time=(toTime file.timestamp)}}{date} at {time}{{/t}}</span>
    <span class="bullet">\u2022</span>

    {{#if meta_filetype}}
      {{meta_filetype}}
      <span class="bullet">\u2022</span>
    {{/if}}

    <span class="file_share_public_label inline_block{{#unless file.is_public}} hidden{{/unless}}" data-file-id="{{file.id}}">
      <span class="file_share_shared_label bold_share_labels{{#unless file.is_shared}} hidden{{/unless}}">{{#t note='Followed by where the file is shared, like "in general"'}}Shared{{/t}} {{makeFileShareLabel file}}</span>
      <span class= "file_share_unshared_label{{#if file.is_shared}} hidden{{/if}}" data-file-id="{{file.id}}">
        {{#feature flag="feature_teams_to_workspaces"}}
          {{#t}}Workspace file{{/t}}
        {{else}}
          {{#t}}Team file{{/t}}
        {{/feature}}
      </span>
    </span>

    <span class="file_share_private_label inline_block{{#if file.is_public}} hidden{{/if}}" data-file-id="{{file.id}}">
      <i class="ts_icon ts_icon_eye ts_icon_inherit"></i>
      {{makeFilePrivacyLabel file}}
      {{#if_equal file.mode compare="email"}}
        {{#t}}email{{/t}}
      {{else}}
        {{#and (if_not_equal file.mode compare="post") (if_not_equal file.mode compare="space")}}
          {{#if_equal file.mode compare="snippet"}}{{#t}}snippet{{/t}}{{else}}{{#t}}file{{/t}}{{/if_equal}}
          {{makeFileShareLabel file}}
        {{/and}}
      {{/if_equal}}
    </span>

    {{#if file.public_url_shared}}
      <span class="bullet">\u2022</span>
      <span class="file_share_public_link_label inline_block">
        {{> file_public_link}}
      </span>
    {{/if}}

  </p>
  {{/feature}}

  {{rxnPanel file._rxn_key}}

</div>

{{#feature flag="feature_file_threads"}}
  <div class="convo_flexpane_divider lato no_left_margin hidden"><span class="reply_count">{{#t}}Replies{{/t}}</span></div>
{{/feature}}