<div class="file_preview_title">
  <div id="file_title_container">
    {{makeFilePreviewHeader file member}}
  </div>

  <div id="file_edit_title_container" class="hidden">
    <form action="" id="file_edit_title_form" class="small_bottom_margin" method="post" onSubmit="TS.files.saveEditFileTitle('{{file.id}}'); return false;">
      {{! no need for crumb_input }}
      <p class="no_bottom_margin"><input type="text" id="file_edit_title_input" class="small" name="file_edit_title_input"></input></p>
      <p class="no_bottom_margin align_right">
        <button type="button" class="btn btn_small btn_outline" onClick="TS.files.endEditFileTitle(); return false;">Cancel</button>
        <button type="submit" class="btn btn_small">Save Changes</button>
      </p>
    </form>
  </div>
</div>