{{i18n_ns "upload"}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and refactor with safeString --}}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{#t note="Dialog title" }}Upload a file? <span class="file_count"></span>{{/t}}</h3>
  </div>
  <div class="modal-body">

    {{#if over_storage_limit}}
      <p class="alert alert_warning">
      <i class="ts_icon ts_icon_info_circle"></i>
        {{#t
          note="Inline error message indicating the team's storage limit has been exceeded."
        }}
          You are over your storage limit.<br /> Please <a href="/pricing?ui_step=70&ui_element=5" target="{newWindowName}" class="bold underline" data-clog-event="GROWTH_PRICING" data-clog-ui-element="pricing_link" data-clog-ui-action="click" data-clog-ui-step="file_upload">upgrade to a paid plan</a>.
        {{/t}}
      </p>
    {{/if}}

    <div id="upload_image_preview" class="hidden bottom_margin">
      <img src="" alt="{{#t note="Text description of the image preview for the file for users who are visually impaired"}}Preview of {filename}{{/t}}" />
    </div>

    <p>
      <label for="upload_file_title" class="inline_block">{{#t note="Label for the title used to describe the file"}}Title{{/t}}</label>
      <input id="upload_file_title" name="upload_file_title" type="text" class="small title_input" value="{{title}}" aria-describedby="upload_file_title_instructions" />
      <span id="upload_file_title_instructions" class="modal_input_note">
        {{#t}}Titles are the easiest ways to search for files: it pays to be descriptive.{{/t}}
      </span>
      <input id="upload_file_name" name="upload_file_name" type="hidden" {{#if has_name}}disabled="disabled"{{else}}{{/if}} class="filename_input" value="{{filename}}" />
    </p>

    {{{sharing_html}}}
  </div>
  <div class="modal-footer">
    <div class="upload_actions">
      {{#if file_retention_type}}
        <div class="modal_input_note_full_width small_bottom_margin align_right">
          {{#t}}Due to your custom file retention <br />policy, this file will be deleted after <span class="bold">{file_retention_duration}</span>.{{/t}}
        </div>
      {{/if}}
      {{#if more_in_queue}}<button type="button" class="btn btn_outline dialog_cancel_all">{{#t note="Label for the button that cancels uploading all files when multiple files have been selected for upload."}}Cancel All{{/t}}</button>{{/if}}
      <button type="button" class="btn btn_outline dialog_cancel">{{#t note="Label for the cancel button that cancels uploading of the file and closes the dialog"}}Cancel{{/t}}</button>
      <button type="button" class="btn dialog_go">{{#t note="Label for the button that confirms the file should be uploaded"}}Upload{{/t}}</button>
    </div>
    <div class="modal-footer-confirm hidden">
      <p class="confirm-text">{{#t note="Inline confirmation message displayed if the dialog is dismissed"}}Closing the window will discard your comment.{{/t}}</p>
      <button type="button" class="btn btn_outline dialog_go">{{#t note="Label for the cancel button accompanying the inline confirmation message. Cancels the request to close the dialog."}}Cancel{{/t}}</button>
      <button type="button" class="btn btn_danger dialog_cancel">{{#t note="Label for a button accompanying the inline confirmation message. Closes the dialog without saving changes."}}Close Window{{/t}}</button>
    </div>
  </div>
