{{i18n_ns 'files'}}

{{#if comment_group}}
  <p class="file_comments_header">
        {{#t date=(toCalendarDateOrNamedDayShort comment_group.first_share.timestamp) time=(toTime comment_group.first_share.timestamp) channel_link=(makeChannelOrGroupLinkById c_id)}}
                Started on {date} at {time} in {channel_link}
        {{/t}}
    </p>
{{/if}}

{{#if file_partial}}
  {{> (concatStr 'file_' file_partial)}} {{!-- dynamically create the string "file_snippet" from "file_" and the template arg file_partial (snippet) --}}
{{/if}}

<div class="file_comments_{{file.id}} comments">
  {{comments file}}
</div>
