<div class="file_preview_meta">

  <p class="file_meta {{file.mode}}">

    <span class="date">{{toCalendarDateOrNamedDayShort file.timestamp}} at {{toTime file.timestamp}}</span>
    <span class="bullet">\u2022</span>

    {{#if meta_filetype}}
      {{meta_filetype}}
      <span class="bullet">\u2022</span>
    {{/if}}

    <span class="file_share_public_label inline_block{{#unless file.is_public}} hidden{{/unless}}" data-file-id="{{file.id}}">
      <span class="file_share_shared_label bold_share_labels{{#unless file.is_shared}} hidden{{/unless}}">Shared {{makeFileShareLabel file}}</span>
      <span class= "file_share_unshared_label{{#if file.is_shared}} hidden{{/if}}" data-file-id="{{file.id}}">
        Team file
      </span>
    </span>

    <span class="file_share_private_label inline_block{{#if file.is_public}} hidden{{/if}}" data-file-id="{{file.id}}">
      <i class="ts_icon ts_icon_eye ts_icon_inherit"></i>
      {{makeFilePrivacyLabel file}}
      {{#if_equal file.mode compare="email"}}
        email
      {{else}}
        {{#and (if_not_equal file.mode compare="post") (if_not_equal file.mode compare="space")}}
          {{#if_equal file.mode compare="snippet"}}snippet{{else}}file{{/if_equal}}
          {{makeFileShareLabel file}}
        {{/and}}
      {{/if_equal}}
    </span>

    {{#if file.public_url_shared}}
      <span class="bullet">\u2022</span>
      <span class="file_share_public_link_label inline_block">
        {{> file_public_link}}
      </span>
    {{/if}}

  </p>

  {{rxnPanel file._rxn_key}}

</div>