{{i18n_ns 'file_share'}}

{{#if item.create_channel}}
  {{#t}}Create a channel:{{/t}} <i class="ts_icon ts_icon_channel"></i><strong><span class="hash">#</span>{{item.name}}</strong>
{{else if item.is_group}}
  {{#if item.is_mpim}}
    {{#if show_share_prefix}}<span class="share_prefix">{{#t}}Share in:{{/t}} </span>{{/if}}<i class="ts_icon multipary_dm_icon ts_icon_multiparty_dm_{{mpimMemberCount item}}"></i>{{mpimDisplayName item}}
  {{else}}
    {{#if show_share_prefix}}<span class="share_prefix">{{#t}}Share in:{{/t}} </span>{{/if}}<i class="ts_icon ts_icon_lock"></i>{{item.name}} {{#if item.is_shared}}{{> shared_channel_icon}}{{/if}}
  {{/if}}
{{else}}
  {{#if item.is_channel}}
    {{#if show_share_prefix}}<span class="share_prefix">{{#t}}Share in:{{/t}} </span>{{/if}}<i class="ts_icon ts_icon_channel"></i>{{item.name}} {{#if item.is_shared}}{{> shared_channel_icon}}{{/if}}
  {{else}}
    {{#if show_share_prefix}}<span class="share_prefix">{{#t}}Share with:{{/t}} </span>{{/if}}{{makeMemberPresenceIcon item}}{{#feature flag="feature_name_tagging_client"}}{{getMemberFullName item}}{{#if item.is_self}} {{#t}}(you){{/t}} {{/if}}{{#if item.profile.preferred_name}}<span class="preferred_name">{{getMemberPreferredName item}}</span>{{/if}}{{else}}{{getMemberDisplayName item}}{{#if item.is_self}} {{#t}}(you){{/t}}{{/if}}{{/feature}}
  {{/if}}
{{/if}}
