  <div id="file_sharing_div">

    <div class="small_bottom_margin">
      <input type="hidden" id="share_model_ob_id" value="{{#if selection}}{{selection}}{{else}}{{#if model_ob.is_im}}{{model_ob.user}}{{else}}{{model_ob.id}}{{/if}}{{/if}}" />
      <label for="share_cb" class="{{#isWeb}}block{{/isWeb}} small_bottom_margin">
        <input id="share_cb" checked="checked" name="share_cb" type="checkbox" class="no_top_margin small_right_margin {{#if hide_checkbox}}hidden{{/if}}" tabindex="2"/>Share
        <span id="share_context_label">
          {{#if_equal share_context compare="im"}}with{{else}}{{#if_equal share_context compare="mpim"}}with{{else}}in{{/if_equal}}{{/if_equal}}
        </span>
      </label>

      <div id="select_share_channels" class="file_share_select inline_block no_margin"></div>

      {{#isWeb}}<br />{{/isWeb}}

      <span id="select_share_channels_note" class="modal_input_note {{#if_not_equal share_context compare="channel"}}hidden{{/if_not_equal}}">
        {{file_sharing_notice}}
        <span id="select_share_channels_join_note" class="{{#unless show_channel_join_note}}hidden{{/unless}}"><br><b>NOTE:</b> you will join this channel when you share the file into it.</span>
      </span>

      <span id="select_share_ims_note" class="modal_input_note {{#if_not_equal share_context compare="im"}}hidden{{/if_not_equal}}">
        {{#if file.is_public}}
          &nbsp;
        {{else}}
          This file will be private; the person you're sharing with will be able to see it.
        {{/if}}
      </span>

      <span id="select_share_mpims_note" class="modal_input_note {{#if_not_equal share_context compare="mpim"}}hidden{{/if_not_equal}}">
        {{#if file.is_public}}
          &nbsp;
        {{else}}
          This file will be private; the members of the conversation you're sharing with will be able to see it.
        {{/if}}
      </span>

      <span id="select_share_groups_note" class="modal_input_note {{#if_not_equal share_context compare="group"}}hidden{{/if_not_equal}}">
        {{#if file.is_public}}
          &nbsp;
        {{else}}
          This file will be private; the members of the private channel you're sharing in will be able to see it.
        {{/if}}
      </span>

      {{#if enable_collab_editing}}
        <p class="small_top_margin bottom_margin">
          <label class="checkbox no_margin enable_collab_editing_checkbox">
            <input id="enable_collab_editing" type="checkbox" class="small_right_margin"> Let others edit this post
          </label>
        </p>
      {{/if}}

    </div>

    {{#if is_owner}}
      {{#if_equal file.filetype compare="space"}}
        {{#if_equal file.name compare="-"}}
          {{#unless has_title}}
            {{! Untitled space \u2014 prompt for a name }}
            <p class="small_bottom_margin share_name_field">
              <label class="inline_block align_top">
                Name this post
                <span class="input_note normal">(optional)</span>
              </label>
              <input type="text" id="file_name_input" name="name">
              <input type="hidden" name="requires_title" value="1">
            </p>
          {{/unless}}
        {{/if_equal}}
      {{/if_equal}}
    {{/if}}

    <p class="no_bottom_margin">
      <label class="{{#isClient}}inline_block{{/isClient}} align_top">
        Add Comment {{#isClient}}<br />{{/isClient}}
        <span class="input_note normal">(optional)</span>
      </label>
      <textarea id="file_comment_textarea" class="comment_input no_bottom_margin" name="comment" tabindex="4" wrap="virtual">{{comment}}</textarea>
      <span id="select_share_at_channel_blocked_note" class="modal_input_note indifferent_grey hidden"></span>
      <span id="select_share_at_channel_note" class="modal_input_note indifferent_grey hidden"></span>
    </p>
  </div>
