{{i18n_ns 'files'}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and enable safeString --}}

<div class="file_header_detailed{{#unless member}} no_member{{/unless}}">
  {{#if member}}
    {{> member_preview_link_image (getMemberPreviewLinkImageArgs member 48 false true)}}
  {{/if}}

  <h2 class="title no_jumbomoji">
    {{#feature flag="feature_name_tagging_client"}}{{{formatFileTitle file}}}{{else}}{{{title}}}{{/feature}}
  </h2>

  <p class="file_meta">
    {{#if member}}
      {{{makeMemberPreviewLink member}}}
      <span class="bullet" aria-hidden="true">\u2022</span>
    {{/if}}

    {{#t date=(toCalendarDateOrNamedDayShort timestamp) time=(toTime timestamp)}}{date} at {time}{{/t}}

    {{{share_label}}}

    {{#if file.public_url_shared}}
      <span class="bullet" aria-hidden="true">\u2022</span>
      <span class="file_share_public_link_label">
        {{> file_public_link}}
      </span>
    {{/if}}
  </p>
</div>
