<div data-file-id="{{file.id}}"
  class="file_container email_container
  {{#feature flag="feature_email_like_fix_files"}}{{else}}email_reset{{/feature}}
  {{#if is_message}}
    {{#shouldTruncateInlineFilePreview file}}
      {{#isInlineFilePreviewTruncated msg_dom_id file}}
        inline_collapsed
      {{else}}
        inline_expanded
      {{/isInlineFilePreviewTruncated}}
    {{/shouldTruncateInlineFilePreview}}
  {{/if}}
">

  {{#if is_message}}
    <div class="inline_collapsed_content email_inline_collapsed_content">
      <div class="file_header email_header">
        {{#feature flag="feature_email_like_fix_files"}}<i class="file_header_icon email_header_icon ts_icon {{#if is_message}}ts_icon_file_email{{else}}ts_icon_file_email_small{{/if}}"></i>{{/feature}}

        <p class="file_header_meta email_header_meta overflow_ellipsis">
          {{#each file.from}}
            {{#if this.name}}{{this.name}}{{else}}{{this.address}}{{/if}}
          {{/each}}
        </p>

        {{#if file.title}}
          <h4 class="file_header_title email_header_title overflow_ellipsis no_jumbomoji">
            {{{formatFileTitle file}}}
            {{#if file.attachments}}<i class="ts_icon ts_icon_paperclip"></i>{{/if}}
          </h4>
        {{/if}}
      </div>
      <div class="file_body email_body{{#feature flag="feature_email_like_fix_files"}}{{else}} no_wrap overflow_ellipsis{{/feature}}">
        {{#if file.preview_plain_text}}
          {{file.preview_plain_text}}
        {{else}}
          <p class="cloud_silver small">{{#t}}(No Content){{/t}}</p>
        {{/if}}
      </div>
    </div>
    <div class="inline_expanded_content email_inline_expanded_content">
  {{/if}}

      <div class="file_header email_header">
        {{#feature flag="feature_email_like_fix_files"}}<i class="file_header_icon email_header_icon ts_icon {{#if is_message}}ts_icon_file_email{{else}}ts_icon_file_email_small{{/if}}"></i>{{/feature}}

        {{#if file.from}}
          <p class="file_header_meta email_header_meta">
            {{#each file.from}}
              <span class="email_header_label">{{#t note='Followed by a name, email address, or both.'}}From{{/t}}</span>{{#if this.name}}{{this.name}} {{/if}}<span class="email_address">&lt;{{this.address}}&gt;</span>
            {{/each}}
          </p>
        {{/if}}

        {{#if file.to}}
          <p class="file_header_meta email_header_meta">
            {{#each file.to}}
              {{#if @first}}
                <span class="email_header_label">{{#t note='Followed by a name, email address, or both.'}}To{{/t}}</span>{{#if this.name}}{{this.name}} {{/if}}{{#if this.address}}<span class="email_address">&lt;{{this.address}}&gt;</span>{{/if}}{{#if_gt ../to_more_count compare=0}}, {{/if_gt}}
              {{else}}
                {{#if_equal ../to_more_count compare=1}}
                  {{#if this.name}}{{this.name}} {{/if}}{{#if this.address}}<span class="email_address">&lt;{{this.address}}&gt;</span>{{/if}}
                {{else}}
                  {{#if_equal @index compare=1}}
                    <a class="subtle_silver" onclick="$(this).siblings('.email_more').removeClass('hidden'); $(this).addClass('hidden');">{{#t more_count=../to_more_count}}and {more_count} more{{/t}}</a>
                  {{/if_equal}}
                  <span class="email_more hidden">{{#if this.name}}{{this.name}} {{/if}}{{#if this.address}}<span class="email_address">&lt;{{this.address}}&gt;</span>{{/if}}{{#if @last}}{{else}},{{/if}}</span>
                {{/if_equal}}
              {{/if}}
            {{/each}}
          </p>
        {{/if}}

        {{#if file.cc}}
          <p class="file_header_meta email_header_meta">
            {{#each file.cc}}
              {{#if @first}}
                <span class="email_header_label">{{#t note='Followed by a name, email address, or both.'}}CC{{/t}}</span>{{#if this.name}}{{this.name}} {{/if}}<span class="email_address">&lt;{{this.address}}&gt;</span>{{#if_gt ../cc_more_count compare=0}}, {{/if_gt}}
              {{else}}
                {{#if_equal ../cc_more_count compare=1}}
                  {{#if this.name}}{{this.name}} {{/if}}<span class="email_address">&lt;{{this.address}}&gt;</span>
                {{else}}
                  {{#if_equal @index compare=1}}
                    <a class="subtle_silver" onclick="$(this).siblings('.email_more').removeClass('hidden'); $(this).addClass('hidden');">{{#t more_count=../cc_more_count}}and {more_count} more{{/t}}</a>
                  {{/if_equal}}
                  <span class="email_more hidden">{{#if this.name}}{{this.name}} {{/if}}<span class="email_address">&lt;{{this.address}}&gt;</span>{{#if @last}}{{else}},{{/if}}</span>
                {{/if_equal}}
              {{/if}}
            {{/each}}
          </p>
        {{/if}}

        <h4 class="file_header_title email_header_title"><span class="email_header_label">{{#t}}Subject{{/t}}</span><strong>{{#if file.subject}}{{file.subject}}{{else}}{{#t}}(No Subject){{/t}}{{/if}}</strong></h4>

        {{#if file.timestamp}}
          <p class="file_header_meta email_header_meta">{{#t date=(toCalendarDateOrNamedDayShort file.timestamp) time=(toTime file.timestamp)}}<span class="email_header_label">Date</span>{date} at {time}{{/t}}</p>
        {{/if}}

      </div>
      <div class="file_body email_body">

        <div class="email_content">
          <div class="loading_hash_animation large_top_margin large_bottom_margin"><img src="{{versioned_loading_hash_animation}}" alt="{{#t}}Loading&hellip;{{/t}}" /><br />{{#t}}Loading&hellip;{{/t}}</div>
          {{#if_not_equal file.simplified_html compare=""}}
            {{{proxyImgUrls file.simplified_html}}}
          {{else}}
            {{#t}}(No Content){{/t}}
          {{/if_not_equal}}
        </div>

        {{#if file.attachments}}
          <div class="file_attachments">{{#t}}{file.attachments.length, plural, =1{attachment}other{attachments}}{{/t}}</div>
        {{/if}}

        {{#if file.attachments}}
          <div class="email_attachments">
            {{#each file.attachments}}
              {{#mimeTypeIsImage type=this.mimetype}}
                <a href="{{this.url}}" class="file_viewer_external_link" data-src="{{this.url}}" data-link-url="{{this.url}}" target="_blank">
                  <img src="{{this.url}}" class="attachment image">
                </a>
              {{else}}
                <div class="attachment">
                  {{!-- <a class="add_to_slack_btn btn btn_small btn_outline float_right">Add to Slack</a> --}}
                  <i class="ts_icon ts_icon_paperclip align_top"></i>
                  <a href="{{this.url}}" target="{{this.filename}}" class="attachment_filename align_top"><span class="align_top">{{this.filename}}</span> <i class="ts_icon ts_icon_cloud_download"></i></a>
                  <span class="attachment_filesize align_text_bottom">{{convertFilesize this.size}} {{this.mimetype}}</span>
                </div>
              {{/mimeTypeIsImage}}
            {{/each}}
          </div>
        {{/if}}
      </div>

  {{#if is_message}}
    </div>{{!--/email_inline_expanded_content--}}
    {{> message_file_preview_actions collapse=true file=file open_original=true new_window=true}}
    {{> message_file_preview_footer file=file collapse=true}}
  {{/if}}

</div>
