{{i18n_ns 'files'}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and enable safeString --}}

<div class="file_container generic_container{{#if file.thumb_480}} file_has_thumb{{/if}}">

  <a data-file-id="{{file.id}}"
    target="{{#isClient}}{{newWindowName}}{{else}}_blank{{/isClient}}"
    class="file_header generic_header {{#if_equal file.mode compare='hosted'}}{{#fileDefaultIsNewWindow id=file.id}}{{else}}file_ssb_download_link{{/fileDefaultIsNewWindow}}{{/if_equal}} {{#nonImageCanUseFSFV file}}file_viewer_channel_link file_viewer_link{{/nonImageCanUseFSFV}}"

    {{#if_equal file.mode compare='hosted'}}
      {{#fileDefaultIsNewWindow id=file.id}}
        href="{{file.url_private}}"
      {{else}}
        href="{{file.url_private_download}}"
      {{/fileDefaultIsNewWindow}}
    {{else}}
      href="{{file.url_private}}"
    {{/if_equal}}
  >

    <i class="file_header_icon generic_header_icon filetype_icon {{file.filetype}} s48">
      {{#fileIconTypeDownload file}}
        <i class="ts_icon ts_icon_arrow_down {{file.filetype}}"></i>
      {{else}}
        {{#nonImageCanUseFSFV file}}
          <i class="ts_icon ts_icon_search_small {{file.filetype}}"></i>
        {{else}}
          <i class="ts_icon ts_icon_arrow_ne_medium {{file.filetype}}"></i>
        {{/nonImageCanUseFSFV}}
      {{/fileIconTypeDownload}}
    </i>

    <h4 class="file_header_title generic_header_title overflow_ellipsis">{{#if file.title}}{{{formatFileTitle file}}}{{else}}{{file.name}}{{/if}}</h4>

    <p class="file_header_meta generic_header_meta">
      {{#if filesize}}
        <span class="meta_size">{{convertFilesize file.size}}</span><span class="meta_hover_placement">
        <span class="meta_type overflow_ellipsis">{{#if file.is_external}}{{{makeExternalFiletypeHTML file}}}{{else}}{{file.pretty_type}}{{/if}}</span>
      {{else}}
        <span class="meta_hover_placement"><span class="meta_type overflow_ellipsis">{{#if file.is_external}}{{{makeExternalFiletypeHTML file}}}{{else}}{{file.pretty_type}}{{/if}}</span>
      {{/if}}

      <span class="meta_hover overflow_ellipsis">
        {{#if_equal file.mode compare='hosted'}}
          {{#fileDefaultIsNewWindow id=file.id}}
            {{#nonImageCanUseFSFV file}}
              {{#t}}Click to view{{/t}}
            {{else}}
              {{#t}}Click to open original{{/t}}
            {{/nonImageCanUseFSFV}}
          {{else}}
            {{#t}}Click to download{{/t}}
          {{/fileDefaultIsNewWindow}}
        {{else}}
          {{#if_equal file.external_type compare="gdrive"}}{{#t}}Click to open in Google\u00a0Drive{{/t}}{{/if_equal}}
          {{#if_equal file.external_type compare="dropbox"}}{{#t}}Click to open in Dropbox{{/t}}{{/if_equal}}
          {{#if_equal file.external_type compare="box"}}{{#t}}Click to open in Box{{/t}}{{/if_equal}}
          {{#if_equal file.external_type compare="onedrive"}}{{#t}}Click to open in OneDrive{{/t}}{{/if_equal}}
          {{#if_equal file.external_type compare="unknown"}}{{#t}}Click to open in a\u00a0web\u00a0page{{/t}}{{/if_equal}}
        {{/if_equal}}
      </span></span>
    </p>

    {{#if file.has_rich_preview}}
      {{#if file.thumb_800}}
        <div class="file_thumb{{#if_gt file.thumb_800_w compare=file.thumb_800_h}} file_thumb_landscape{{/if_gt}}" style="background-image: url('{{file.thumb_800}}');"></div>
      {{else if file.thumb_480}}
        <div class="file_thumb{{#if_gt file.thumb_480_w compare=file.thumb_480_h}} file_thumb_landscape{{/if_gt}}" style="background-image: url('{{file.thumb_480}}');"></div>
      {{/if}}
    {{/if}}
  </a>

  {{#if is_message}}
    {{#if_equal file.mode compare='hosted'}}
      {{#fileDefaultIsNewWindow id=file.id}}
        {{! the default for images and pdfs is to open the original in a browser window }}
        {{> message_file_preview_actions file=file download=true main_action="new_window"}}
      {{else}}
        {{! the default for other files is to download }}
        {{> message_file_preview_actions file=file download=true main_action="download"}}
      {{/fileDefaultIsNewWindow}}
    {{else}}
      {{> message_file_preview_actions file=file main_action="new_window"}}
    {{/if_equal}}
  {{/if}}

    {{#if file_is_video}}
      <video class="inline_video" controls preload="{{video_preload}}" style="height:{{video_height}}px" src="{{best_source}}" {{#if video_onplay}} onplay="{{video_onplay}}"{{/if}}>
        {{#t}}Your browser does not support HTML5 Video. Try <a href="http://browsehappy.com/">a modern browser</a>.{{/t}}
      </video>
    {{/if}}
    {{#if file_is_audio}}
      <audio controls preload="{{audio_preload}}" src="{{file.url_private}}">
        {{#t}}Your browser does not support HTML5 Audio. Try <a href="http://browsehappy.com/">a modern browser</a>.{{/t}}
      </audio>
    {{/if}}

</div>{{!--/file_container--}}
