<div id="{{makeFileDomId file}}" class="file_list_item file_item {{file.mode}} {{#if is_hosted_or_external}}{{#if file.thumb_80}}has_image{{else}}has_icon{{/if}}{{else}}has_icon{{/if}}" data-file-id="{{file.id}}">

  {{#if for_files_list}}

    <div class="actions">
      {{#isClient}}
        {{#if can_share}}
          <button class="file_share btn_icon btn_outline btn ts_icon ts_icon_share_action ts_tip_btn ts_tip ts_tip_top" data-file-id="{{file.id}}">
            <div class="ts_tip_tip">Share</div>
          </button>
        {{/if}}
        <button class="file_actions btn_icon btn_outline btn ts_icon ts_icon_ellipsis ts_tip_btn ts_tip ts_tip_top" data-file-id="{{file.id}}" data-include-view-public-link="true">
          <div class="ts_tip_tip">{{#if info_pane_visible}}File{{else}}More{{/if}} actions</div>
        </button>
      {{/isClient}}

      <button class="file_star btn_icon btn btn_outline ts_tip_btn ts_tip ts_tip_top">
        {{star 'file' file null}}
        <div class="star_message ts_tip_tip">Star</div>
         <div class="unstar_message ts_tip_tip">Unstar</div>
      </button>
    </div>

    {{#if is_email}}
      <i class="filetype_icon s30 email"></i>
    {{/if}}

    {{#if is_post}}
      <i class="filetype_icon s30 post"></i>
    {{/if}}

    {{#if is_space}}
      <i class="filetype_icon s30 post"></i>
    {{/if}}

    {{#if is_multnomah}}
      <i class="filetype_icon s30 post"></i>
    {{/if}}

    {{#if is_snippet}}
      <i class="filetype_icon s30 {{#if_equal file.mode compare="snippet"}}{{#if_equal file.filetype compare="text"}}snippet{{else}}{{file.filetype}}{{/if_equal}}{{else}}{{file.filetype}}{{/if_equal}}"></i>
    {{/if}}

    {{#if is_hosted_or_external}}
      {{#if file.thumb_80}}
        {{#if_equal icon_class compare="thumb_80"}}
          <i data-original="{{#if file.thumb_160}}{{file.thumb_160}}{{else}}{{file.thumb_80}}{{/if}}" class="filetype_image lazy"></i>
        {{else}}
          <i data-original="url({{file.thumb_360}})" class="filetype_image lazy"></i>
        {{/if_equal}}
      {{else}}
        <i data-file-id="{{file.id}}" class="filetype_icon s30 {{file.filetype}}"></i>
      {{/if}}
    {{/if}}

    <div class="contents">

      <span class="author">{{makeMemberPreviewLink member}}</span>
      <span class="time">{{toCalendarDateOrNamedDayShort file.timestamp}} at {{toTime file.timestamp}}</span>

      <h4 class="title {{#if supports_line_clamp}}{{else}}overflow_ellipsis{{/if}} {{#unless file.plain_text}}{{#unless file.preview_in_list}}{{#unless file.preview}}no_preview{{/unless}}{{/unless}}{{/unless}}">
        {{#isWeb}}<a href="{{file.permalink}}">{{/isWeb}}
          {{highlightSearchMatchesInFileTitle file.title}}
        {{#isWeb}}</a>{{/isWeb}}
      </h4>



      {{#if is_email}}
        {{#if file.preview_plain_text}}
          <p class="email_preview_text">
            {{file.preview_plain_text}}
          </p>
        {{/if}}
      {{/if}}

      {{#if is_post}}
        {{#if file.preview_in_list}}
          <p class="preview {{#if supports_line_clamp}}{{else}}overflow_ellipsis{{/if}}">
            {{smartnl2br file.preview_in_list}}
          </p>
        {{/if}}
      {{/if}}

      {{#if is_space}}
        {{#if file.preview_in_list}}
          <div class="preview post_body {{#if supports_line_clamp}}{{else}}overflow_ellipsis{{/if}}">
            {{formatSpaceHtml file.preview_in_list}}
          </div>
        {{/if}}
      {{/if}}

      {{#if is_multnomah}}
        {{#if file.preview_in_list}}
          <div class="preview post_body {{#unless supports_line_clamp}}overflow_ellipsis{{/unless}}">
            {{formatSpaceHtml file.preview_in_list}}
          </div>
        {{/if}}
      {{/if}}

      {{#if is_snippet}}
        {{#if file.preview}}
          <div class="snippet_preview monospace {{#if supports_line_clamp}}{{else}}overflow_ellipsis{{/if}}">
            {{file.preview}}
          </div>
        {{/if}}
      {{/if}}

      {{#if file.comments_count}}
        <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}"{{/isClient}} data-file-id="{{file.id}}" class="file_preview_link file_comment_link no_wrap tiny_right_margin">{{#if_gt file.comments_count compare="0"}}{{file.comments_count}}{{/if_gt}} <i class="ts_icon ts_icon_comment"></i></a>
      {{/if}}

      {{#feature flag="feature_enterprise_search_ui"}}
        {{#and (if_not_equal for_search compare=true) (if_not_equal is_enterprise compare=true)}}
          <span class="share_info">
            <span class="file_share_public_label{{#unless file.is_public}} hidden{{/unless}}" data-file-id="{{file.id}}">
              <span class="file_share_shared_label{{#unless file.is_shared}} hidden{{/unless}}" data-file-id="{{file.id}}">
                Shared {{makeFileShareLabel file}}
              </span>
            </span>
            <span class="file_share_private_label {{#if file.is_public}} hidden{{/if}}" data-file-id="{{file.id}}">
              Private file {{makeFileShareLabel file}}
            </span>
          </span>
        {{/and}}
      {{else}}
        <span class="share_info">
          <span class="file_share_public_label{{#unless file.is_public}} hidden{{/unless}}" data-file-id="{{file.id}}">
            <span class="file_share_shared_label{{#unless file.is_shared}} hidden{{/unless}}" data-file-id="{{file.id}}">
              Shared {{makeFileShareLabel file}}
            </span>
          </span>
          <span class="file_share_private_label {{#if file.is_public}} hidden{{/if}}" data-file-id="{{file.id}}">
            Private file {{makeFileShareLabel file}}
          </span>
        </span>
      {{/feature}}

    </div>

  {{else}}

    <div class="actions">
      {{starWithTip 'file' file null}}
      {{#isClient}}
        {{#if can_share}}<a class="file_share ts_icon ts_icon_share_action" data-file-id="{{file.id}}"></a>{{/if}}
        <a class="file_actions ts_icon ts_icon_ellipsis" data-file-id="{{file.id}}"></a>
      {{/isClient}}
    </div>

    {{#if is_email}}
      <i class="filetype_icon s24 email"></i>
    {{/if}}

    {{#if is_post}}
      <i class="filetype_icon s24 post"></i>
    {{/if}}

    {{#if is_space}}
      <i class="filetype_icon s24 post"></i>
    {{/if}}

    {{#if is_multnomah}}
      <i class="filetype_icon s24 post"></i>
    {{/if}}

    {{#if is_snippet}}
      <i class="filetype_icon s24 {{#if_equal file.mode compare="snippet"}}{{#if_equal file.filetype compare="text"}}snippet{{else}}{{file.filetype}}{{/if_equal}}{{else}}{{file.filetype}}{{/if_equal}}"></i>
    {{/if}}

    {{#if is_hosted_or_external}}
      <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}"{{/isClient}} data-file-id="{{file.id}}" class="file_preview_link icon {{icon_class}}">
        {{#if file.thumb_80}}
          {{#if_equal icon_class compare="thumb_80"}}
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-original="{{#if file.thumb_160}}{{file.thumb_160}}{{else}}{{file.thumb_80}}{{/if}}" class="lazy" />
          {{else}}
            <img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACwAAAAAAQABAAACAkQBADs=" data-original="{{file.thumb_360}}" class="lazy" />
          {{/if_equal}}
        {{else}}
          <span data-file-id="{{file.id}}" class="filetype_icon s48 {{file.filetype}}"></span>
        {{/if}}
      </a>
    {{/if}}

    <div class="contents">

      <div class="title break_word">
        <a href="{{file.permalink}}" {{#isClient}}target="{{file.id}}"{{/isClient}} data-file-id="{{file.id}}" {{#unless preview}}class="file_preview_link file_force_flexpane"{{/unless}}>{{highlightSearchMatchesInFileTitle file.title}}</a>
      </div>

      {{makeMemberPreviewLink member}}
      <span class="time"><span class="bullet">\u2022</span> {{toCalendarDateOrNamedDayShort file.timestamp}} at {{toTime file.timestamp}}</span><br />

      {{#if file.comments_count}}
        <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}"{{/isClient}} data-file-id="{{file.id}}" class="file_preview_link file_comment_link no_wrap small_right_margin">{{#if_gt file.comments_count compare="0"}}{{file.comments_count}}{{/if_gt}} <i class="ts_icon ts_icon_comment"></i></a>
      {{/if}}

      <span class="share_info">
        <span class="file_share_public_label{{#unless file.is_public}} hidden{{/unless}}" data-file-id="{{file.id}}">
          <span class="file_share_shared_label{{#unless file.is_shared}} hidden{{/unless}}" data-file-id="{{file.id}}">
            shared {{makeFileShareLabel file}}
          </span>
        </span>
        <span class="file_share_private_label {{#if file.is_public}} hidden{{/if}}" data-file-id="{{file.id}}">
          private file {{makeFileShareLabel file}}
        </span>
      </span>

      {{#if is_email}}
        <p class="no_bottom_margin email_preview_text">
          {{file.preview_plain_text}}
        </p>
      {{/if}}

      {{#if is_post}}
        <p class="preview">
          {{#if for_search}}
            {{#if file.preview_search}}
              {{nl2brAndHighlightSearchMatches file.preview_search}}
            {{else}}
              {{smartnl2br file.preview}}
            {{/if}}
          {{else}}
            {{smartnl2br file.preview}}
          {{/if}}
        </p>
      {{/if}}

      {{#if is_space}}
        <div class="preview post_body">
          {{#if for_search}}
            {{#if file.preview_search}}
              {{highlightSearchMatchesInSpacesHtml file.preview_search}}
            {{else}}
              {{formatSpaceHtml file.preview}}
            {{/if}}
          {{else}}
            {{formatSpaceHtml file.preview}}
          {{/if}}
        </div>
      {{/if}}

      {{#if is_multnomah}}
        <div class="preview post_body">
          {{#if for_search}}
            {{#if file.preview_search}}
              {{highlightSearchMatchesInSpacesHtml file.preview_search}}
            {{else}}
              {{formatSpaceHtml file.preview}}
            {{/if}}
          {{else}}
            {{formatSpaceHtml file.preview}}
          {{/if}}
        </div>
      {{/if}}

      {{#if is_snippet}}
        <div class="snippet_preview">
          {{dangerouslyRenderHTML file.preview_highlight}}
          {{#if_gt file.lines_more compare=0}}
            <a href="{{file.permalink}}" data-file-id="{{file.id}}" class="file_preview_link snippet_preview_more" {{#isClient}}target="{{file.permalink}}"{{/isClient}} data-file-id="{{file.id}}" class="file_preview_link">+ {{file.lines_more}} more line{{#if_gt file.lines_more compare=1}}s{{/if_gt}}...</a>
          {{/if_gt}}
        </div>
      {{/if}}

    </div>

  {{/if}}

</div>
