{{i18n_ns 'files'}}

{{#feature flag="feature_fetch_files"}}

  <div class="pagination pagination-centered">
    <ul>
    {{#if has_prev}}
      <li><a href="{{prev_url}}" data-pagination="{{prev_page}}">{{#t}}Prev{{/t}}</a></li>
    {{else}}
      <li class="disabled"><a href="#">{{#t}}Prev{{/t}}</a></li>
    {{/if}}

    {{#each pages}}
      {{#if is_current}}
        <li class="active"><a href="{{url}}" data-pagination="{{page}}">{{page}}</a></li>
      {{else if is_dots}}
        <li class="disabled"><a href="#">{{#t}}&hellip;{{/t}}</a></li>
      {{else}}
        <li><a href="{{url}}" data-pagination="{{page}}">{{page}}</a></li>
      {{/if}}
    {{/each}}

    {{#if has_next}}
      <li><a href="{{next_url}}" data-pagination="{{next_page}}">{{#t}}Next{{/t}}</a></li>
    {{else}}
      <li class="disabled"><a href="#">{{#t}}Next{{/t}}</a></li>
    {{/if}} 
    </ul>
  </div>

{{/feature}}