{{i18n_ns "archives"}}

{{#feature flag="feature_sli_channel_insights"}}
<div class="c-archive_footer lato">
  <div class="c-archive_footer__title">{{message}}</div>
  <div class="c-archive_footer__metadata">{{metadata}}</div>
  <div class="c-archive_footer__controls display_flex">
    <button class="c-archive_footer__join btn btn_green" data-js="join_channel">{{#t}}Join Channel{{/t}}</button>
    <button class="c-archive_footer__see_more btn btn_outline left_margin {{#if hide_more_details}}hidden{{/if}}" data-js="see_more_details"><ts-icon class="ts_icon_info_circle"></ts-icon> {{#t}}See More Details{{/t}}</button>
  </div>
</div>
{{/feature}}