<header class="fs_modal_file_viewer_header{{#if link_url}} external{{/if}}">
  {{#if member}}
    <div class="star_btn btn_icon btn star_file">
      {{starWithTip star_type star_ob star_parent_ob}}
    </div>
  {{/if}}

  {{> file_header_detailed}}

  <div class="controls">

    {{#if actions.download}}
      <a href="{{file.url_private_download}}" target="{{newWindowName}}" data-file-id="{{file.id}}" class="download_btn control_btn btn_icon btn ts_icon ts_icon_cloud_download ts_tip ts_tip_bottom file_ssb_download_link">
        <div class="ts_tip_tip">Download
          <div class="muted_tooltip_info">{{makeFileSize file}}</div>
        </div>
        <div class="flex_menu_download_circle"></div>
      </a>
    {{/if}}

    {{#if link_url}}
      <a {{makeRefererSafeLink url=link_url}} target="_blank" class="open_btn control_btn btn_icon btn ts_icon ts_icon_external_link ts_tip ts_tip_bottom">
        <span class="ts_tip_tip">Open original</span>
      </a>
    {{/if}}

    {{#if actions.more}}
      <button data-file-id="{{file.id}}"
        class="more_btn control_btn btn_icon btn ts_icon ts_icon_ellipsis_o ts_tip ts_tip_bottom file_actions"
        data-include-view-public-link="true"
        data-exclude-rxn="true"{{! no way to update reactions in this fs modal :( }}
        data-exclude-edit-title="true"{{! don\u2019t show rename changing in flexpane, it\u2019s behind the fs modal }}
        data-exclude-download="true"{{! download is outside menu above \u2191 }}
        data-exclude-comment="true"{{! comments are below \u2193 }}
      >
        <span class="ts_tip_tip">More actions</span>
      </button>
    {{/if}}

    {{#if actions.comment}}
      <button class="comment_btn control_btn btn ts_tip ts_tip_bottom {{#if is_comment_panel_active}}active{{/if}}">
        <ts-icon class="ts_icon ts_icon_comment_o"></ts-icon>
        <span class="comment_count">{{comments_count}}</span>
        <span class="ts_tip_tip" data-tip-toggle-auto="Hide comments">View comments</span>
      </button>
    {{/if}}

    <button id="fs_modal_close_btn" class="close_btn control_btn btn_icon btn ts_icon ts_icon_times ts_tip ts_tip_bottom ts_tip_right">
      <div class="ts_tip_tip">Close
        <div class="muted_tooltip_info">(esc)</div>
      </div>
    </button>

  </div>
</header>
