<div class="images">

  <figure class="scaled">
    <img src="{{scaled_src}}" alt=""
      class="scaled_image{{#if scaled_rotation}} orientation_{{file.image_exif_rotation}}{{/if}}"
      {{#if scaled_rotation}}data-exif-orientation="{{file.image_exif_rotation}}"{{/if}}
    >
  </figure>

  {{#if actual_pixel_src}}
    <figure class="actual_pixel">
      <div class="actual_pixel_center">
        <img src="{{actual_pixel_src}}" alt=""
          class="actual_pixel_image{{#if actual_pixel_rotation}} orientation_{{file.image_exif_rotation}}{{/if}}"
          {{#if actual_pixel_rotation}}data-exif-orientation="{{file.image_exif_rotation}}"{{/if}}
        >
      </div>
    </figure>
  {{/if}}

</div>{{!--/images--}}
