{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and enable safeString --}}
{{#unless fs_modal_header}}
  {{#if settings.title}}<h1>{{settings.title}}</h1>{{/if}}
{{/unless}}
{{#if settings.body}}
  {{{settings.body}}}
{{/if}}
{{#unless fs_modal_footer}}
  <div class="actions">
    <button type="button" class="btn btn_outline dialog_cancel {{#unless settings.show_cancel_button}}hidden{{/unless}}">{{{settings.cancel_button_text}}}</button>
    <button type="button" class="btn btn dialog_secondary_go {{#if settings.secondary_go_button_class}}{{settings.secondary_go_button_class}}{{/if}} {{#unless settings.show_secondary_go_button}}hidden{{/unless}}">{{{settings.secondary_go_button_text}}}</button>
    <button type="button" class="btn dialog_go {{#if settings.go_button_class}}{{settings.go_button_class}}{{/if}} {{#unless settings.show_go_button}}hidden{{/unless}}">{{{settings.go_button_text}}}</button>
  </div>
{{/unless}}