{{i18n_ns "fs_modal"}}
{{!--
  Custom Fullscreen Modal Header for App Screenshots
 --}}
<div id="fs_modal_header" class="p-app_space_modal_header">
  <div class="p-app_space_modal_header__avatar">
    <img class="rounded"
      {{#if avatar}}
        src="{{avatar}}"
      {{else}}
        src="{{versioned_default_application_icon}}"
      {{/if}}
    >
  </div>
  <div class="p-app_space_modal_header__title">
    <div class="p-app_space_modal_header__app_name">{{name}}</div>
    <div class="p-app_space_modal_header__subtext">
      {{#t note="App Space modal header featuring examples of how to use app"}}Videos & Screenshots{{/t}}
      (<span data-modal-slideshow-count>1</span>/<span data-modal-slideshow-total>1</span>)
    </div>
  </div>
</div>