{{i18n_ns "file_viewer"}}
{{#if actions.comment}}

  <header class="comment_header">
    <button class="aside_close_btn">{{#t}}Close{{/t}}</button>
    <h4 class="comment_label">
      {{#feature flag="feature_share_mention_comment_cleanup"}}
        {{#if name}}
          {{name}}
        {{else}}
          {{#t}}Comments{{/t}}
        {{/if}}
      {{else}}
        {{#t}}Comments{{/t}}
      {{/feature}}
    </h4>
  </header>

  <div class="file_comments_{{file.id}} comments">{{comments file}}</div>

  <div class="no_comment">{{#t}}Be the first to leave a comment{{/t}}</div>

{{/if}}
