{{!

Note: this template used to be inlined in TS.templates.source.js, and as a side effect of the way
we represented templates, all of the newlines were actually elided. So, that's what the crazy
things are around all of the line endings below. If you're refactoring this, future engineer,
feel free to take them out -- I just didn't want to change the meaning of the templates during
my refactoring. Love, Mark.

}}<div class="modal-header c-modal_header--{{type}}">{{!
}}  {{#if img}}<span class="modal-header-image modal-header-image--{{img}}"></span>{{/if}}{{!
}}  <button type="button" class="close c-modal_header__close--{{type}} ts_icon ts_icon_times" data-dismiss="modal" aria-hidden="true"></button>{{!
}}  <h3>{{title}} <img src="{{versioned_loading_animation}}" width="16" height="16" class="throbber hidden"></h3>{{!
}}</div>{{!
}}<div class="modal-body c-modal_body--{{type}}">{{!
}}  {{body}}{{!
}}</div>{{!
}}<div class="modal-footer c-modal_footer--{{type}}">{{!
}}  <button type="button" class="btn btn_outline dialog_cancel c-modal_footer__cancel--{{type}}" data-qa="generic_dialog_cancel"></button>{{!
}}  <button type="button" class="btn btn dialog_secondary_go hidden c-modal_footer__secondary_go--{{type}}" data-qa="generic_dialog_secondary_go"></button>{{!
}}{{#if ladda}}{{!
}}  <button type="button" class="btn dialog_go ladda-button c-modal_footer__go--{{type}}" data-style="expand-right" data-qa="generic_dialog_go"><span class="ladda-label"></span></button>{{!
}}{{else}}{{!
}}  <button type="button" class="btn dialog_go c-modal_footer__go--{{type}}" data-qa="generic_dialog_go"></button>{{!
}}{{/if}}{{!
}}</div>
