{{i18n_ns 'group_overlay'}}

<div id="group_joined" class="channel_overlay channel_overlay_redesign">
  {{#if group.is_shared}}
  <img class="channel_overlay_shared_icon float_left" src="{{versioned_join_shared_channel '2x'}}" srcset="{{versioned_join_shared_channel '1x'}} 1x, {{versioned_join_shared_channel '2x'}} 2x" />
  <div class="channel_overlay_title_wrap bottom_margin">
    <p class="channel_overlay_title_shared small_bottom_margin">
      {{#t}}You just joined a shared private channel{{/t}}
    </p>
  {{else}}
    <img class="channel_overlay_team_icon float_left" src="{{versioned_join_team_channel '2x'}}" srcset="{{versioned_join_team_channel '1x'}} 1x, {{versioned_join_team_channel '2x'}} 2x" />
    <div class="channel_overlay_title_wrap bottom_margin">
  {{/if}}
    <p class="channel_overlay_title">
      {{#unless group.is_shared}}
        <span class="channel_overlay_title_opener">{{#t note='Followed by the group name'}}You just joined{{/t}}</span><br />
      {{/unless}}
      <span class="channel_overlay_title_prefix">{{groupPrefix}}</span><strong>{{group.name}}</strong>
    </p>
  </div>
  <ul>
    <li>
    {{#if group.creator}}
      {{#t create_date=(toCalendarDate group.created) creator_link=(makeMemberPreviewLinkById group.creator)}}Created on {create_date} by {creator_link}.{{/t}}
    {{else}}
      {{#t create_date=(toCalendarDate group.created)}}Created on {create_date}{{/t}}
    {{/if}}
    </li>
    <li>{{#t}}This is a private channel.{{/t}}</li>
    {{#if invited}}
      {{#if group.inviter}}
        <li>{{#t inviter=(makeMemberPreviewLinkById group.inviter)}}You were invited to this channel by {inviter}.{{/t}}</li>
      {{/if}}
    {{/if}}
    {{#if_equal group.active_members.length compare=1}}
      <li>{{#t}}You are currently the only member of this channel.{{/t}}</li>
    {{else}}
      <li>{{#t group_names=(listify (getDisplayNamesFromIds group.active_members))}}The members are {group_names}.{{/t}}</li>
    {{/if_equal}}
    <li>{{#t}}Only members can open the channel and they are the only ones to have access to the archives.{{/t}}</li>
    <li>{{#t}}You can invite more members from the channel menu.{{/t}}</li>
  </ul>
  {{#if group.purpose.value}}
    <p class="channel_overlay_purpose">{{#t purpose=(formatTopicOrPurpose group.purpose.value)}}The purpose of this channel is:<br /><em>{purpose}</em>{{/t}}</p>
  {{/if}}

  <label class="checkbox overlay_pref block">
    <input id="no_joined_overlays_cb" type="checkbox"> {{#t}}Don\u2018t show me this message when I join a channel{{/t}}
  </label>

  <a class="btn padded">{{#t}}Got it!{{/t}}</a>

  <p class="hidden" aria-hidden="false">
    {{#t}}Press enter to close this message and view the channel.{{/t}}
  </p>

</div>
