{{i18n_ns 'group_overlay'}}

<div id="group_created" class="channel_overlay channel_overlay_redesign">
  {{#if group.is_shared}}
    <img class="channel_overlay_shared_icon float_left" src="{{versioned_join_shared_channel '2x'}}" srcset="{{versioned_join_shared_channel 1x}} '1x', {{versioned_join_shared_channel '2x'}} 2x" />
    <div class="channel_overlay_title_wrap bottom_margin">
      <p class="channel_overlay_title_shared small_bottom_margin">
        {{#t}}You just created a shared private channel{{/t}}
      </p>
  {{else}}
    <img class="channel_overlay_team_icon float_left" src="{{versioned_join_team_channel '2x'}}" srcset="{{versioned_join_team_channel '1x'}} 1x, {{versioned_join_team_channel '2x'}} 2x" />
    <div class="channel_overlay_title_wrap bottom_margin">
  {{/if}}
    <p class="channel_overlay_title">
      {{#if group.is_shared}}
        <span class="channel_overlay_title_prefix">{{groupPrefix}}</span><strong>{{group.name}}</strong>
      {{else}}
        {{#t group_prefix=(groupPrefix)}}<span class="channel_overlay_title_opener">You just created</span><br /> <span class="channel_overlay_title_prefix">{group_prefix}</span><strong>{group.name}</strong>{{/t}}
      {{/if}}
    </p>
  </div>
  <ul>
    {{#if_gt group.active_members.length compare=1}}
      <li>{{#t}}{group.active_members.length} people have this private channel open.{{/t}}</li>
    {{else}}
      <li>{{#t}}You are currently the only person in this private channel.{{/t}}</li>
    {{/if_gt}}
    <li>{{#t}}You can invite other people from the channel menu, which you'll find at the top of this column.{{/t}}</li>
    <li>{{#t new_win_name=(newWindowName)}}You can review messages from this channel in the <a href="/archives/{name_for_url}" class="bold" target={new_win_name}>Channel Archive</a>.{{/t}}</li>
  </ul>
  {{#if group.purpose.value}}
    <p class="channel_overlay_purpose">{{#t purpose=(formatTopicOrPurpose group.purpose.value)}}The purpose of this channel is:<br /><em>{purpose}{{/t}}</em></p>
  {{/if}}

  <label class="checkbox overlay_pref block">
    <input id="no_created_overlays_cb" type="checkbox" /> {{#t}}Don't show me this message when I create a channel{{/t}}
  </label>

  <a class="btn padded">{{#t}}Got it!{{/t}}</a>

  <p class="hidden" aria-hidden="false">
    {{#t}}Press enter to close this message and view the channel.{{/t}}
  </p>

</div>
