{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and refactor with safeString --}}

  <li class='{{makeGroupDomId model_ob}} group {{makeGroupDomClass model_ob}} cursor_pointer'>
    {{makeModelObPriorityIconSafe model_ob}}
    {{#if show_starred}}{{makeModelObStarredIconSafe model_ob}}{{/if}}
    {{#if show_muted}}{{makeModelObMutedIconSafe model_ob}}{{/if}}
    <button class="group_name btn_basic primary_action" data-group-id="{{model_ob.id}}" aria-label="{{{makeGroupLinkAriaLabelSafe model_ob}}}"{{#feature flag="feature_arugula"}} draggable="true" data-drag-meta="{{makeChannelDragData model_ob}}"{{/feature}} type="button">
      {{#if model_ob.is_archived}}
        {{#if model_ob.is_moved}}
          {{> ts_icon class="ts_icon_angle_arrow_up_left prefix"}}
        {{else}}
          {{> ts_icon class="ts_icon_archived_channel prefix"}}
        {{/if}}
      {{else}}
        {{#showDraftIcon model_ob}}
          {{> ts_icon class="ts_icon_pencil prefix"}}
        {{else}}
          {{> ts_icon class="ts_icon_lock prefix"}}
        {{/showDraftIcon}}
      {{/if}}
      <span class="{{makeUnreadMsgsDomId model_ob}} unread_msgs
                   {{#if_equal model_ob.unread_cnt compare=0}}hidden{{/if_equal}}">
        {{numberWithMax model_ob.unread_cnt 10}}</span>
      <span class="{{makeUnreadHighlightDomId model_ob}} unread_highlights
                   {{#if_equal model_ob.unread_highlight_cnt compare=0}}hidden{{/if_equal}}
                   {{#if_equal model_ob.unread_highlight_cnt compare=undefined}}hidden{{/if_equal}}">
        {{numberWithMax model_ob.unread_highlight_cnt 10}}</span>
      <span class="display_flex">
        <span class="overflow_ellipsis">
          {{model_ob.name}}
        </span>

        {{#sharedChannelsEnabled}}{{#if model_ob.is_shared}}{{> shared_channel_icon}}{{/if}}{{/sharedChannelsEnabled}}
      </span>
    </button>
  </li>
