{{i18n_ns "invite"}}

<div id="group_invite_archives_prompt" class="">
  {{#t}}
    <p class="bold">Should new members be allowed to see the private channel\u2019s message history?</p>

    <p>If <strong>Yes</strong>, new members will be invited and will have access to this private channel\u2019s entire message history.</p>
    <p>If <strong>No</strong>, this private channel will be renamed and archived. A new private channel will be created with all current members plus the new ones you invite. You and other current members will see a link back to the original private channel\u2019s archives.</p>
  {{/t}}
</div>
