  {{i18n_ns "notifications"}}

  <div id="growl_prompt_overlay">

    <div id="growl_prompt_overlay_impossible" class="hidden">
      <h3>{{#t}}The browser you're using doesn't support desktop notifications.{{/t}}</h3>
      <p>{{#t}}When someone mentions you or sends you a direct message in Slack, we can let you know via a desktop notification.{{/t}}</p>
      <p>{{#t new_win_name=(newWindowName)}}If you'd like to get desktop notifications from Slack, you can use a browser that supports them (like <a href="http://www.google.com/chrome/" class="bold">Google Chrome</a>), or download one of our <a href="/downloads" class="bold" target="{new_win_name}">desktop apps</a>.{{/t}}</p>
      <p style="line-height: 26px;" class="large_top_margin no_bottom_margin">
        <a href="/downloads" class="btn btn_small  see-apps" target="{{newWindowName}}">{{#t note="Invites user to see our desktop app offerings, or dismiss the overlay with 'Not for me'"}}See our Apps</a>
        <span class="left_margin right_margin">or</span>
        <a class="prompt_cancel_forever">Not for me{{/t}}</a>
      </p>
    </div>

    <div id="growl_prompt_overlay_start" class="hidden">
      <h3>{{#t}}Turn on desktop notifications?{{/t}}</h3>
      <p>{{#t}}When someone mentions you or sends you a direct message in Slack, we will let you know via a desktop notification.{{/t}}</p>
      <p style="line-height: 26px;" class="no_bottom_margin">
        <a class="prompt_allow btn btn_small ">{{#t}}Yes, turn on notifications</a>
        <span class="left_margin right_margin">or</span>
        <a class="prompt_cancel_forever">No, don't turn them on{{/t}}</a>
      </p>
    </div>

    <div id="growl_prompt_overlay_tell_to_allow" class="hidden">
      <i class="ts_icon ts_icon_arrow_circle_up block float_right" style="font-size: 3.5rem; margin: 0 1rem 0 0;"></i>
      <h3>{{#t}}Turn on desktop notifications?{{/t}}</h3>
      <p class="no_bottom_margin">{{#t}}Click <strong>Allow</strong> above to turn on desktop notifications.{{/t}}</p>
    </div>

    <div id="growl_prompt_overlay_success" class="hidden">
      <h3>{{#t}}Desktop notifications enabled{{/t}}</h3>
      <p>{{#t}}When someone mentions you or sends you a direct message in Slack, we will let you know via a desktop notification.{{/t}}</p>
      <p style="line-height: 26px;" class="no_bottom_margin">
        <a class="prompt_test btn btn_small ">{{#t}}Send me a test notification</a>
        <span class="left_margin right_margin">or</span>
        <a class="prompt_cancel">I'm done{{/t}}</a>
      </p>
    </div>

    <div id="growl_prompt_overlay_disallowed" class="hidden">
      <h3>{{#t}}Desktop notifications disabled{{/t}}</h3>
      <p>{{#t}}You chose not to allow desktop notifications. You will need to update your browser preferences in order to turn them on.{{/t}}</p>
      <p><a class="prompt_cancel btn btn_small float_right">{{#t}}OK{{/t}}</a></p>
      <div class="clear_both"></div>
    </div>

  </div>
