{{i18n_ns "help"}}

{{#feature flag="feature_shortcuts_flexpane"}}
  <div id="help_modal_header" class="help_modal_header">
    <a data-clog-click="true" data-clog-event="HELP_MODAL_ACTION" data-clog-params="action=keyboard_shorcuts,trigger=click_keyboard_shorcuts" class="keyboard_shortcuts">
      <ts-icon class="ts_icon_keyboard small_right_margin"></ts-icon>
      {{#t}}Keyboard shortcuts{{/t}}
    </a>
  </div>
{{else}}
  <div id="help_modal_header" class="help_modal_header_legacy">
    <a data-clog-click="true" data-clog-event="HELP_MODAL_ACTION" data-clog-params="action=keyboard_shorcuts,trigger=click_keyboard_shorcuts" class="subtle_silver right_margin keyboard_shortcuts"><ts-icon class="ts_icon_laptop small_right_margin"></ts-icon>{{#t}}Keyboard shortcuts...{{/t}}</a>
  </div>
{{/feature}}