{{i18n_ns "ims"}}

{{#if item.members}}
  {{#if member_one}}
    {{{makeMemberPreviewLinkImage member_one.id 32 false true}}}
  {{/if}}
  {{#if member_two}}
    {{{makeMemberPreviewLinkImage member_two.id 32 false true}}}
  {{/if}}
{{else}}
  {{#if item.member}}
    {{{makeMemberPreviewLinkImage item.member.id 36 false true}}}
  {{/if}}
{{/if}}

{{#if last_msg_time}}<div class="im_last_msg_time float_right greigh small_left_margin">{{last_msg_time}}</div>{{/if}}
<i class="ts_icon ts_icon_enter ts_icon_inherit enter_icon float_right sky_blue small_top_margin"></i>
<div class="overflow_ellipsis bold im_display_name_container">
  {{#if model_ob.is_mpim}}<i class="ts_icon ts_icon_multiparty_dm_{{mpimMemberCount model_ob}} mpim_member_count"></i>{{/if}}
  <span class="im_display_name">{{display_name}}{{#if is_self}} {{#t note="Part of self DM label (placed next to user's own name)"}}(you){{/t}}{{/if}}</span>
  {{#if item.member}}<span class="im_presence">{{{makeMemberPresenceIcon item.member}}}</span>{{/if}}
  {{#if secondary_name}}<span class="greigh normal">{{secondary_name}}</span>{{/if}}
</div>
{{#if unread_cnt}}
  <div class="im_unread_cnt float_right small_left_margin">{{unread_cnt}}</div>
{{/if}}
{{#if item.member.is_slackbot}}
  <div class="im_slackbot_greeting italic greigh overflow_ellipsis">{{slackbot_msg}}</div>
{{else}}
  {{#if last_msg}}
    <div class="im_last_msg greigh overflow_ellipsis">{{last_msg}}</div>
  {{/if}}
  {{#if title}}
    <div class="im_member_title italic greigh overflow_ellipsis {{#unless last_msg}}no_last_msg{{/unless}}">{{title}}</div>
  {{/if}}
{{/if}}
