{{i18n_ns "ims"}}
{{#if item.disabled_dm}}{{#feature flag="feature_shared_channels_client"}}<div class="disabled_dm_warning float_right greigh small_left_margin">{{#t note="Warning that this external member cannot be added to this shared group DM"}}From another workspace{{/t}}</div>{{/feature}}
{{else if last_msg_time}}<div class="im_last_msg_time float_right greigh small_left_margin">{{last_msg_time}}</div>{{/if}}
<i class="ts_icon ts_icon_enter ts_icon_inherit enter_icon float_right blue_link small_top_margin"></i>
{{#if item.members}}
  {{#if member_one}}
    {{makeMemberPreviewLinkImage member_one.id 32 false true}}
  {{/if}}
  {{#if member_two}}
    {{makeMemberPreviewLinkImage member_two.id 32 false true}}
  {{/if}}
  <div class="overflow_ellipsis bold im_display_name_container">
    <i class="ts_icon ts_icon_multiparty_dm_{{mpimMemberCount model_ob}} mpim_member_count"></i>
    <span class="im_display_name">{{display_name}}</span>
  </div>
{{else}}
  {{> c-member member=item.member size="medium"}}
{{/if}}
{{#if unread_cnt}}
  <div class="im_unread_cnt float_right small_left_margin">{{unread_cnt}}</div>
{{/if}}
