{{i18n_ns "ims"}}

<div id="im_browser" class="channel_modal_with_list channel_modal {{#unless preselected}}showing_recent{{/unless}} {{#if reached_maximum}}reached_maximum{{/if}} {{#if preselected}}showing_alert{{/if}}">
  {{#if preselected}}
    <div id="im_browser_alert" class="alert alert_info">
      <i class="ts_icon ts_icon_info"></i>
      {{#t}}This will start a new conversation.{{/t}} {{#canUserCreateGroups}}{{#t}}If you need to add a lot more people, you can <a class="create_private_channel">create a private channel</a> instead.{{/t}}{{/canUserCreateGroups}}
    </div>
  {{/if}}

  <div class="{{#if title}}medium_bottom_margin{{else}}large_bottom_margin{{/if}}">
    <h1 class="channel_modal_header no_bottom_margin">
      {{#feature flag="feature_shared_channels_client"}}
        {{#if title}}{{title}}{{else}}{{#t}}Direct Messages{{/t}}{{/if}}
      {{else}}
        {{#t}}Direct Messages{{/t}}
      {{/feature}}
    </h1>
  </div>

  {{#feature flag="feature_shared_channels_client"}}
    {{#if subtitle}}
      <p class="large_bottom_margin">{{subtitle}}</p>
    {{/if}}
  {{/feature}}

  <div class="im_browser_filter_container full_width">
    <div class="float_right left_margin">
      <button class="btn btn_primary btn_large {{#unless preselected}}disabled{{/unless}} im_browser_go ladda-button" data-style="zoom-in">
        <span class="ladda-label">{{#t}}Go{{/t}}</span>
      </button>
      <div class="subtle_silver mini align_right tiny_right_margin return_hint">{{#t}}Return{{/t}} <i class="ts_icon ts_icon_enter ts_icon_inherit"></i></div>
    </div>
    {{> im_browser_tokens members=preselected}}
    <div class="remaining_participant_hint greigh">{{#if reached_maximum}}{{#t}}You have reached the maximum number of participants{{/t}}{{/if}}</div>
    {{> channel_kb_nav_label multiple_select=true}}
    {{#feature flag="feature_im_browser_qs_tip"}}
      <div class="qs_tip alert alert_info">
        <ts-icon class="ts_icon_magic"></ts-icon>
        {{#t}}<strong>Tip:</strong> Jump easily from one channel or DM to another with the Quick Switcher ({quickswitcher_shortcut}).{{/t}}
      </div>
    {{/feature}}
  </div>
  <div id="im_browser_empty" class="hidden align_center margin_auto display_flex align_items_center justify_content_center">
    <span class="im_browser_empty_message"></span>
  </div>
  {{#canUserCreateGroups}}
    <div class="create_private_channel_container align_center large_top_margin">
      <div class="greigh">{{#t}}Need to add more people?{{/t}}</div>
      <button class="btn btn_outline small_top_margin create_private_channel">{{#t}}Create a private channel instead{{/t}}</button>
    </div>
  {{/canUserCreateGroups}}

  {{#feature flag="feature_shared_channels_client"}}
    {{#if is_admin_only_mode}}
      <div class="bold small small_bottom_margin">{{#t team_name=team_name}}Admins{{/t}}</div>
    {{else}}
      <div class="recent_label greigh mini small_bottom_margin">{{#t}}Recent conversations{{/t}}</div>
    {{/if}}
  {{else}}
  <div class="recent_label greigh mini small_bottom_margin">{{#t}}Recent conversations{{/t}}</div>
  {{/feature}}

  <div id="im_list_container" class="channel_modal_list"></div>
</div>

<div id="new_channel_container" class="hidden"></div>
