{{i18n_ns "imports"}}

<div class="col span_3_of_6 break_all">{{channel.name}}</div>
<div class="channel_map_selector col span_3_of_6">
  <label class="select small">
    <select name="channel_{{channel.id}}" class="small">
      <option value="create" {{#if_equal channel.mapping compare="create"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Create new public channel{{/t}}</option>
      <option value="create_group" {{#if_equal channel.mapping compare="create_group"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Create new private channel{{/t}}</option>
      <option value="0" {{#if_equal channel.mapping compare="0"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Skip channel (don\u2019t import){{/t}}</option>
      <optgroup label="{{#t note="drop-down menu option"}}Add to existing channel{{/t}}">
        {{#foreach existing_channels}}
          <option value="{{this.value.id}}" {{#if_equal this.value.id compare=../channel.mapping}}SELECTED{{/if_equal}}>#{{this.value.name}}</option>
        {{/foreach}}
      </optgroup>
    </select>
  </label>
</div>