{{i18n_ns "imports"}}

<div class="col span_3_of_6 break_all">{{user.name}} ({{#if user.import_email}}{{user.import_email}}{{else}}{{#t note="placeholder if the user has no email address"}}no email{{/t}}{{/if}})</div>
<div id="user_{{user.id}}_options" class="user_map_selector col span_3_of_6">
  <label class="select small">
    <select name="user_{{user.id}}" class="small user_change">
      <option value="-" {{#if_equal user.mapping compare="-"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Choose one:{{/t}}</option>
      <option value="invite" {{#if_equal user.mapping compare="invite"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Create & invite user{{/t}}</option>
      <option value="create" {{#if_equal user.mapping compare="create"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Create a disabled user, without inviting them{{/t}}</option>
      <option value="bot" {{#if_equal user.mapping compare="bot"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Do not create a user, just import messages{{/t}}</option>
      <option value="0" {{#if_equal user.mapping compare="0"}}SELECTED{{/if_equal}}>{{#t note="drop-down menu option"}}Skip user completely, importing no messages{{/t}}</option>
      <optgroup label="{{#t note="drop-down menu option"}}Existing Users{{/t}}">
        {{#foreach existing_users}}
          <option value="{{this.value.id}}" {{#if_equal this.value.id compare=../user.mapping}}SELECTED{{/if_equal}}>{{getPrefCompliantMemberNameById this.value.id}}</option>
        {{/foreach}}
      </optgroup>
    </select>
  </label>
  <div class="control-group{{#if_equal user.email_state compare="ok"}}{{else}} error{{/if_equal}} small_top_margin">
    <span class="small_left_margin help-inline dup-email {{#if_equal user.email_state compare="duped"}}{{else}}hidden{{/if_equal}}">
      <i class="ts_icon ts_icon_warning moscow_red"></i> {{#t note="error messages related to email validation"}}Another user has this email.{{/t}}
    </span>
    <span class="small_left_margin help-inline req-email {{#if_equal user.email_state compare="empty"}}{{else}}hidden{{/if_equal}}">
      <i class="ts_icon ts_icon_warning moscow_red"></i> {{#t note="error messages related to email validation"}}An email address is required.{{/t}}
    </span>
    <span class="small_left_margin help-inline invalid-email {{#if_equal user.email_state compare="invalid"}}{{else}}hidden{{/if_equal}}">
      <i class="ts_icon ts_icon_warning moscow_red"></i> {{#t note="error messages related to email validation"}}This address is invalid.{{/t}}
    </span>
    <input type="email" name="email_{{user.id}}" value="{{#if_equal user.email_state compare="empty"}}{{else}}{{user.email}}{{/if_equal}}" placeholder="{{#t note="fake example email used as placeholder"}}name@example.com{{/t}}" class="small {{#unless user.show_input}}hidden{{/unless}}">
  </div>
</div>