<div class="infinite_spinner infinite_spinner_{{size}}">
  <svg class="infinite_spinner_spinner {{#if speed}}infinite_spinner_{{speed}}{{/if}} " viewBox="0 0 100 100">
    <circle class="infinite_spinner_bg" cx="50%" cy="50%" r="35" />
    <circle class="infinite_spinner_path {{#if color}}infinite_spinner_{{color}} {{else}}infinite_spinner_blue{{/if}}" cx="50%" cy="50%" r="35"/>
  </svg>
  <svg class="infinite_spinner_spinner infinite_spinner_tail {{#if speed}}infinite_spinner_{{speed}}{{/if}}" viewBox="0 0 100 100">
    <circle class="infinite_spinner_path {{#if color}}infinite_spinner_{{color}}{{else}}infinite_spinner_blue{{/if}}" cx="50%" cy="50%" r="35"/>
  </svg>
</div>
{{#if text}}
<div id="loading_text">
  {{text}}
</div>
{{/if}}
