{{i18n_ns "inline_saver"}}

<ts-inline-saver class="saving">
  <span class="saving">
    {{> loading_indicator}}
    {{#unless hide_text}}
      {{#if custom_text}}
        {{custom_text.saving}}
      {{else}}
        {{#t note="Indication that save is in progress"}}Saving &hellip;{{/t}}
      {{/if}}
    {{/unless}}
  </span>
  <span class="saved">
    <ts-icon class="ts_icon_check_circle_o"></ts-icon>
    {{#unless hide_text}}
      {{#if custom_text}}
        {{custom_text.saved}}
      {{else}}
        {{#t note="Indication that save has succeeded"}}Saved!{{/t}}
      {{/if}}
    {{/unless}}
  </span>
  <span class="failed">
    <ts-icon class="ts_icon_exclamation_circle"></ts-icon>
    {{#unless hide_text}}
      {{#if custom_text}}
        {{custom_text.failed}}
      {{else}}
        {{#t note="Indication that save has failed"}}Not saved{{/t}}
      {{/if}}
    {{/unless}}
  </span>
</ts-inline-saver>
