{{i18n_ns 'inline_message_input'}}

<div class="inline_message_input_container">
  <form>
    {{#if is_texty}}
      <div class="message_input"></div>
    {{else}}
      <textarea class="message_input" spellcheck="{{should_spellcheck}}"></textarea>
    {{/if}}

    {{#if include_emo}}<button class="emo_menu btn_unstyle hidden" aria-label="{{#t}}emoji menu{{/t}}" type="button"><i class="ts_icon ts_icon_circle_fill"></i><i class="ts_icon ts_icon_smile_o"></i><i class="ts_icon ts_icon_happy_smile"></i></button>{{/if}}

    <span class="mini float_right edit_controls">
    <span class="candy_red hidden edit_warning">{{#t}}text is too long!{{/t}}</span></span>
  </form>
</div>
