{{i18n_ns "files"}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and enable safeString --}}

  {{#if actions.edit_title}}

    <span class="inline_edit inline_edit_editable" data-file-id="{{file.id}}" aria-label="{{#t}}Rename this file\u2019s title{{/t}}">
      <span class="inline_edit_inner">
        <span class="inline_edit_input" data-inline-edit-unformatted="{{file.title}}">{{{formatFileTitle file}}}</span>
      </span>
    </span>

  {{else}}

    <span class="inline_edit">
      <span class="inline_edit_inner">
        <span class="inline_edit_input">{{{formatFileTitle file}}}</span>
      </span>
    </span>

  {{/if}}
