{{i18n_ns 'invite'}}

<div class="fs_split_header"></div>

<div id="ratelimit_alert" class="header_error_message hidden bottom_margin">
    <h3>{{#t note="This refers to a rate limit we have for filling out this form"}}Whoa, you're going too fast!{{/t}}</h3>
    <p class="no_margin">{{#t}}Slow down a bit. You might have better luck if you try again in a minute.{{/t}}</p>
</div>

<div id="invite_form_body" class="fs_split_body">
    <h1>{{#t}}Join the Slack workspace <span class="bold">{team_name}</span>{{/t}}</h1>

    <div class="names_container no_top_padding bottom_padding" id="names_container">
        <label>{{#t}}Full name{{/t}}</label>
        <div class="name_field" id="real_name_wrapper">
            <input type="text" name="full_name" placeholder="{{#t}}Full name{{/t}}" id="invite_real_name" autocomplete="off" data-qa="real_name_field" {{#if real_name}}value="{{real_name}}"{{/if}} data-validation="membername=required" data-validation-for="real_name_profile_field_warnings" data-validation-success/>
            <label for="real_name_profile_field_warnings"><span class="validation_message"></span></label>
        </div>
    </div>

    <div id="username_container">
        <label for="display_name_overlay">{{#t}}Display name (optional){{/t}}</label>
            <div class="input_wrapper display_name">
            <p id="display_name_overlay" class="input_overlay"></p>
            <input type="text" name="display_name" id="invite_display_name" autocomplete="off" data-qa="display_name_field" placeholder="{{#if display_name_placeholder_prefill}}{{display_name_placeholder_prefill}}{{else}}{{#t}}Display name{{/t}}{{/if}}" data-validation="membername" data-validation-for="display_name_profile_field_warnings" data-validation-success/>
        </div>
        <label for="display_name_profile_field_warnings"><span class="validation_message"></span></label>
        <p class="subtle_silver">{{#t}}By default, Slack will display your full name when people mention you \u2014 but you can choose something shorter if you\u2019d like.{{/t}}</p>

        {{#if custom_username_policy}}
            <div id="custom_username_policy" class="large_bottom_margin">
                <p class="bold small_bottom_margin">{{#t}}Custom rules for this workspace:{{/t}}</p>
                <p class="no_bottom_margin">{{custom_username_policy}}</p>
            </div>
        {{/if}}
    </div>
</div>

{{#if collect_user_role}}
    <div id="submit" class="fs_split_footer full_width">
        <div id="email_checkbox" class="align_left no_top_margin large_bottom_margin">
            <input type="checkbox" id="email_misc" data-qa="email_checkbox" {{#if uncheck_email}}{{else}}checked{{/if}}>
            <label for="email_misc">{{#t}}It's ok to send me email about the Slack service.{{/t}}</label>
        </div>


        <button id="submit_btn" type="submit" class="{{#unless email_reminded}}disabled{{/unless}} btn btn_large ladda-button submit_setting" data-style="expand-right" data-qa="submit_button">
            <span class="ladda-label">{{#t}}Next{{/t}}<i class="ts_icon ts_icon_arrow_right"></i></span>
        </button>
    </div>
{{else}}
<div id="submit" class="fs_split_footer">

    <div id="email_checkbox">
        <input type="checkbox" id="email_misc" data-qa="email_checkbox" {{#if uncheck_email}}{{else}}checked{{/if}}>
        <label for="email_misc">{{#t}}It's ok to send me (very occasional)<br class="hide_on_mobile" /> email about the Slack service.{{/t}}</label>
    </div>


    <button id="submit_btn" type="submit" class="{{#unless email_reminded}}disabled{{/unless}} btn btn_large ladda-button submit_setting" data-style="expand-right" data-qa="submit_button">
        <span class="ladda-label">{{#t}}Next{{/t}}<i class="ts_icon ts_icon_arrow_right"></i></span>
    </button>
</div>
{{/if}}

<p class="mobile_legalese fs_split_well show_on_mobile align_center">
    {{#t}}By proceeding to create your account and use Slack, you are agreeing to our <a class="bold" href="/terms-of-service">Terms of Service</a> and <a href="/privacy-policy" class="bold">Privacy Policy</a>. If you do not agree, you cannot use Slack.{{/t}}
</p>
