{{i18n_ns "invite"}}
<div class="fs_split_header"></div>

<div id="invite_form_body" class="fs_split_body">
    <h1>{{#t}}Tell us about your role{{/t}}</h1>

    <p class="subtle_silver">{{#t}}What type of work do you do at {team_name}?{{/t}}</p>

    <div id="guest_user_role_container">
        <label class="normal" for="guest_user_role">{{#t}}What I do{{/t}}</label>
        <input type="text" id="invite_guest_user_role" data-qa="guest_user_role-field" placeholder="{{#t}}What I do{{/t}}" name="guest_user_role"/>
        <p class="subtle_silver">{{#t}}This information will be displayed to your team on your profile. You may change it later.{{/t}}</p>
    </div>
</div>

<div id="submit" class="fs_split_footer large_bottom_margin ">
    <button id="submit_btn" type="submit" class="disabled btn btn_large ladda-button submit_setting" data-style="expand-right" data-qa="submit_button">
        <span class="ladda-label">{{#t}}Next{{/t}}<i class="ts_icon ts_icon_arrow_right"></i></span>
    </button>
</div>
