{{i18n_ns "invite"}}

<div class="fs_split_header"></div>

<div id="invite_sso_form_body" class="fs_split_body">
    <h1>{{#t}}Join {team_name}{{/t}}</h1>
    <div id="sso_container">
        {{#if_equal auth_mode compare="google"}}
            {{#if sso_required}}
                <p>{{#t}}This workspace requires you to sign up with your <strong>@{email_domain}</strong> Google account.{{/t}}</p>
            {{else}}
                {{#if domain_match}}
                    <p>
                        {{#if_gt allowed_domains_count compare=1}}
                            {{#t}}This workspace allows you to sign up with your <strong>Google Apps</strong> account.{{/t}}
                        {{else}}
                            {{#t}}This workspace allows you to sign up with your <strong>@{google_sso_domain}</strong> Google account.{{/t}}
                        {{/if_gt}}
                    </p>
                {{/if}}
            {{/if}}
            {{#or sso_required domain_match}}
                <p>
                    <a href="{{auth_url}}" class="btn btn_info btn_large btn_with_icon full_width">
                        <i class="ts_icon ts_icon_google"></i>
                        {{#t}}Sign up with Google{{/t}}
                    </a>
                </p>
            {{/or}}
            {{#if sso_required}}{{else}}
                {{#if domain_match}}
                    <p class="large_top_margin">{{#t}}You can also register with a <strong>username</strong> and <strong>password</strong>.{{/t}}</p>
                    <p id="no_sso_btn" class="btn btn_large full_width ladda-button">
                        <span class="ladda-label">{{#t}}Enter username and password{{/t}}</span>
                    </p>
                {{/if}}
            {{/if}}
        {{else}}
            <p>
                {{#if sso_required}}
                    {{#t}}This workspace requires you to sign in with your {saml_provider_label} account.{{/t}}
                {{else}}
                    {{#t}}This workspace allows you to sign in with your {saml_provider_label} account.{{/t}}
                {{/if}}
            </p>
            <p>
                <a href="{{invite_sso_url}}?action=invite&redir=%2Finvite%2F{{invite_code}}" class="btn btn_info btn_large btn_with_icon full_width">
                    <i class="ts_icon ts_icon_key"></i>
                    {{#t}}Sign in with {saml_provider_label}{{/t}}
                </a>
            </p>
            {{#unless sso_required}}
                <p class="large_top_margin">{{#t}}You can also register with a <strong>username</strong> and <strong>password</strong>.{{/t}}</p>
                <p id="no_sso_btn" class="btn btn_large full_width ladda-button">
                    <span class="ladda-label">{{#t}}Enter username and password{{/t}}</span>
                </p>
            {{/unless}}
        {{/if_equal}}
    </div>
</div>

<div class="fs_split_footer"></div>
<div class="fs_split_footer"></div>
