{{i18n_ns "invite"}}

<div class="fs_split_header" id="slack_logo"></div>

<div id="ratelimit_alert" class="header_error_message hidden bottom_margin">
    <h3>{{#t note="This refers to a rate limit we have for filling out this form"}}Whoa, you're going too fast!{{/t}}</h3>
    <p class="no_margin">{{#t}}Slow down a bit. You might have better luck if you try again in a minute.{{/t}}</p>
</div>

<div id="invite_form_body" class="fs_split_body">
     <h1>{{#t}}Set your password{{/t}}</h1>

    <p class="subtle_silver">{{#t}}Choose a password for signing in to {team_name} on Slack.{{/t}}</p>

    <div id="password_container">
        <label class="normal" for="password">{{#t}}Password{{/t}}</label>
        <input type="password" id="invite_password" data-qa="password-field" placeholder="{{#t}}Password{{/t}}" name="password"/>
        <p class="error_message" id="password_error_message"></p>

        <p class="subtle_silver">{{#t}}Passwords must be at least 6 characters long, and can't be things like <i>password</i>, <i>123456</i> or <i>abcdef</i>.{{/t}}</p>
    </div>
</div>

<div id="submit" class="fs_split_footer large_bottom_margin ">
    <button id="submit_btn" type="submit" class="disabled btn btn_large ladda-button submit_setting" data-style="expand-right" data-qa="submit_button">
        <span class="ladda-label">{{#t}}Next{{/t}}<i class="ts_icon ts_icon_arrow_right"></i></span>
    </button>
</div>
