


  <p><b>Effective: November 17, 2016</b></p>

  <p>
    These User Terms of Service (the <b>\u201cUser Terms\u201d</b>) govern your access and use of our online workplace 
    productivity tools and platform (the <b>\u201cServices\u201d</b>).  Please read them carefully.  Even though you are 
    signing onto an existing team, these User Terms apply to you \u2014the prospective user reading these 
    words. We are grateful you\u2019re here.
  </p>


  <p>
    <h2>First things First</h2>
  </p>

  <h4>These User Terms are Legally Binding</h4>

  <p>
    These User Terms are a legally binding contract between you and us.  As part of these User Terms, you 
    agree to comply with the most recent version of our <a href="/acceptable-use-policy">Acceptable Use Policy</a>, 
    which is incorporated by reference into these User Terms.  If you access or use the Services, or continue accessing or using 
    the Services after being notified of a change to the User Terms or the <a href="/acceptable-use-policy">Acceptable Use Policy</a>, 
    you confirm that you have read, understand and agree to be bound by the User Terms and the 
    <a href="/acceptable-use-policy">Acceptable Use Policy</a>.  \u201cWe\u201d, \u201cour\u201d and \u201cus\u201d currently refers to 
    Slack Technologies, Inc.
  </p>


  <p>
    <h2>Customer\u2019s Choices and Instructions</h2>
  </p>

  <h4>You are an Authorized User on a Team Controlled by a \u201cCustomer\u201d</h4>
  
  <p>
    An organization or other third party that we refer to in these User Terms as <b>\u201cCustomer\u201d</b> has invited you 
    to a team (i.e., a unique domain where a group of users may access the Services, as further described in 
    our <a href="https://get.slack.help/hc">Help Center</a> pages).  If you are joining one of your employer\u2019s 
    teams, for example, Customer is your employer.  If you are joining a team created by your friend using her 
    personal email address to work on her new startup idea, she is our Customer and she is authorizing 
    you to join her team.
  </p>

  <h4>What This Means for You\u2014and for Us</h4>

  <p>
    Customer has separately agreed to our <a href="/terms-of-service">Customer Terms of Service</a> or entered into a written 
    agreement with us (in either case, the <b>\u201cContract\u201d</b>) that permitted Customer to create and configure a 
    team so that you and others could join (each invitee granted access to the Services, including you, 
    is an <b>\u201cAuthorized User\u201d</b>).  The Contract contains our commitment to deliver the Services to Customer, 
    who may then invite Authorized Users to join its team(s).  When an Authorized User (including, you) 
    submits content or information to the Services, such as messages or files (<b>\u201cCustomer Data\u201d</b>), you 
    acknowledge and agree that the Customer Data is owned by Customer and the Contract provides Customer 
    with many choices and control over that Customer Data.  For example, Customer may provision or 
    deprovision access to the Services, enable or disable third party integrations,  manage permissions, 
    retention and export settings, transfer or assign teams, share channels, or consolidate your team 
    or channels with other teams or channels, and these choices and instructions may result in the access, 
    use, disclosure, modification or deletion of certain or all Customer Data.  Please check out our 
    <a href="https://get.slack.help/hc/en-us/categories/200122103-Team-Administration">Help Center</a> 
    pages for more detail on our different Service plans and the options available to Customer.
  </p>

  <h4>The Relationship Between You, Customer and Us</h4>

  <p>
    AS BETWEEN US AND CUSTOMER, YOU AGREE THAT IT IS SOLELY CUSTOMER\u2019S RESPONSIBILITY TO (A) INFORM AUTHORIZED 
    USERS OF ANY RELEVANT CUSTOMER POLICIES AND PRACTICES AND ANY SETTINGS THAT MAY IMPACT THE PROCESSING OF 
    CUSTOMER DATA; (B) OBTAIN ANY RIGHTS, PERMISSIONS OR CONSENTS FROM AUTHORIZED USERS THAT ARE NECESSARY FOR 
    THE LAWFUL USE OF CUSTOMER DATA AND THE OPERATION OF THE SERVICES; AND (C) RESPOND TO AND RESOLVE ANY 
    DISPUTE WITH AN AUTHORIZED USER RELATING TO OR BASED ON CUSTOMER DATA, THE SERVICES OR CUSTOMER\u2019S FAILURE 
    TO FULFILL THESE OBLIGATIONS.  SLACK MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND, WHETHER EXPRESS 
    OR IMPLIED, TO YOU RELATING TO THE SERVICES, WHICH ARE PROVIDED TO YOU ON AN \u201cAS IS\u201d AND \u201c AS AVAILABLE\u201d BASIS. 
  </p>


  <p>
    <h2>A Few Ground Rules</h2>
  </p>

  <h4>You Must be Over the Age of 13</h4>

  <p>
    The Services are not intended for and should not be used by anyone under the age of thirteen.  
    You represent that you are over the age of 13 and are the intended recipient of Customer\u2019s invitation to 
    the Services.  You may not access or use the Services for any purpose if either of the representations in 
    the preceding sentence is not true.
  </p>

  <h4>While You Are Here, You Must Follow the Rules</h4>
  
  <p>
    To help ensure a safe and productive work environment, all Authorized Users must comply with our 
    <a href="/acceptable-use-policy">Acceptable Use Policy</a> and remain vigilant in reporting inappropriate 
    behavior or content to Customer and us.
  </p>  

  <h4>You Are Here At the Pleasure of Customer (and Us)</h4>
  
  <p>
    These User Terms remain effective until Customer\u2019s subscription for you expires or terminates, or your access 
    to the Services has been terminated by Customer or us.  Please contact Customer if you at any time or for any 
    reason wish to terminate your account, including due to a disagreement with any updates to these User Terms or 
    the <a href="/acceptable-use-policy">Acceptable Use Policy</a>.
  </p>

  <p>
    <h2>Limitation of Liability</h2>
  </p>

  <p>
    If we believe that there is a violation of the Contract, User Terms, the Acceptable Use Policy, or any of our 
  other policies that can simply be remedied by Customer\u2019s removal of certain Customer Data or taking other action, 
  we will, in most cases, ask Customer to take action rather than intervene.  We may directly step in and take what 
  we determine to be appropriate action (including disabling your account) if Customer does not take appropriate 
  action or we believe there is a credible risk of harm to us, the Services, Authorized Users, or any third parties.  
  IN NO EVENT WILL YOU OR WE HAVE ANY LIABILITY TO THE OTHER FOR ANY LOST PROFITS OR REVENUES OR FOR ANY INDIRECT, 
  SPECIAL, INCIDENTAL, CONSEQUENTIAL, COVER OR PUNITIVE DAMAGES HOWEVER CAUSED, WHETHER IN CONTRACT, TORT OR UNDER 
  ANY OTHER THEORY OF LIABILITY, AND WHETHER OR NOT THE PARTY HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. 
  UNLESS YOU ARE ALSO A CUSTOMER (AND WITHOUT LIMITATION TO OUR RIGHTS AND REMEDIES UNDER THE CONTRACT), YOU WILL 
  HAVE NO FINANCIAL LIABILITY TO US FOR A BREACH OF THESE USER TERMS.  OUR MAXIMUM AGGREGATE LIABILITY TO YOU FOR 
  ANY BREACH OF THE USER TERMS IS ONE HUNDRED DOLLARS ($100) IN THE AGGREGATE.  THE FOREGOING DISCLAIMERS WILL NOT 
  APPLY TO THE EXTENT PROHIBITED BY APPLICABLE LAW AND DO NOT LIMIT EITHER PARTY\u2019S RIGHT TO SEEK AND OBTAIN EQUITABLE 
  RELIEF.
  </p>

  <h4>Survival</h4>

  <p>
    The sections titled \u201cThe Relationship Between You, Customer, and Us\u201d, \u201cLimitation of Liability\u201d,  and \u201cSurvival\u201d, 
  and all of the provisions under the general heading \u201cGeneral Provisions\u201d will survive any termination or expiration 
  of the User Terms.
  </p>



  <p>
    <h2>General Provisions</h2>
  </p>

  <h4>Email and Slack Messages</h4>

  <p>
    Except as otherwise set forth herein, all notices under the User Terms will be by email, although we may instead 
    choose to provide notice to Authorized Users through the Services (e.g., a slackbot notification).  Notices to 
    Slack should be sent to <a href="mailto:feedback@slack.com">feedback@slack.com</a>, except for  legal notices, 
    which must be sent to <a href="legal@slack.com">legal@slack.com</a>.  A notice will be deemed to have been duly 
    given (a) the day after it is sent, in the case of a notice sent through email; and (b) the same day, in the case 
    of a notice sent through the Services.  Notices under the Contract will be delivered solely to Customer in 
    accordance with the terms of that agreement.
  </p>
  
  <h4>Privacy Policy</h4>
  
  <p>
    Please review our <a href="/privacy-policy">Privacy Policy</a> for more information on how we collect and use 
    data relating to the use and performance of our products.  
  </p>
  
  <h4>Modifications</h4>
  
  <p>
    As our business evolves, we may change these User Terms or the <a href="/acceptable-use-policy">Acceptable Use Policy</a>. 
    If we make a material change to the User Terms or the <a href="/acceptable-use-policy">Acceptable Use Policy</a>, we 
    will provide you with reasonable notice prior to the change taking effect either by emailing the email address associated with 
    your account or by messaging you through the Services. You can review the most current version of the User Terms at any time 
    by visiting this page, and by visiting the following for the most current versions of the other pages that are referenced 
    in these User Terms: <a href="/acceptable-use-policy">Acceptable Use Policy</a> and <a href="/privacy-policy">Privacy Policy</a>. 
    Any material revisions to these User Terms will become effective on the date set forth in our notice, and all other changes will 
    become effective on the date we publish the change.  If you use the Services after the effective date of any changes, that use 
    will constitute your acceptance of the revised terms and conditions.
  </p>
  
  <h4>Waiver</h4>
  
  <p>
    No failure or delay by either party in exercising any right under the User Terms, including the 
    <a href="/acceptable-use-policy">Acceptable Use Policy</a>, will constitute a waiver of that right. No waiver under 
    the User Terms will be effective unless made in writing and signed by an authorized representative of the party 
    being deemed to have granted the waiver.
  </p>
  
  <h4>Severability</h4>
  
  <p>
    The User Terms, including the <a href="/acceptable-use-policy">Acceptable Use Policy</a>, will be enforced to 
    the fullest extent permitted under applicable law.  If any provision of the User Terms is held by a court of 
    competent jurisdiction to be contrary to law, the provision will be modified by the court and interpreted 
    so as best to accomplish the objectives of the original provision to the fullest extent permitted by law, and 
    the remaining provisions of the User Terms will remain in effect.
  </p>
  
  <h4>Assignment</h4>
  
  <p>
    You may not assign any of your rights or delegate your obligations under these User Terms, including the 
    <a href="/acceptable-use-policy">Acceptable Use Policy</a>, whether by operation of law or otherwise, 
    without the prior written consent of us (not to be unreasonably withheld).  We may assign these User Terms 
    in their entirety (including all terms and conditions incorporated herein by reference), without your consent, 
    to a corporate affiliate or in connection with a merger, acquisition, corporate reorganization, or sale of all
     or substantially all of our assets.  
  </p>
  
  <h4>Governing Law</h4>
  
  <p>
    The Contract, and any disputes arising out of or related hereto, will be governed exclusively by the internal 
    laws of the State of California, without regard to its conflicts of laws rules or the United Nations Convention 
    on the International Sale of Goods.
  </p>
  
  <h4>Venue; Waiver of Jury Trial; Fees</h4>
  
  <p>
    The state and federal courts located in San Francisco County, California will have exclusive jurisdiction to 
    adjudicate any dispute arising out of or relating to these User Terms, including the <a href="/acceptable-use-policy">Acceptable 
    Use Policy</a>, or their formation as a contract between us or their enforcement. Each party hereby consents and 
    submits to the exclusive jurisdiction of such courts. <b>Each party also hereby waives any right to jury trial 
    in connection with any action or litigation in any way arising out of or related to the User Terms.</b> In any 
    action or proceeding to enforce rights under the User Terms, the prevailing party will be entitled to recover 
    its reasonable costs and attorney\u2019s fees.
  </p>

  <h4>Entire Agreement</h4>
  
  <p>
    The User Terms, including any terms incorporated by reference into the User Terms, constitute the entire agreement 
    between you and us and supersede all prior and contemporaneous agreements, proposals or representations, written 
    or oral, concerning its subject matter. To the extent of any conflict or inconsistency between the provisions in 
    these User Terms and any pages referenced in these User Terms, the terms of these User Terms will first prevail; 
    provided, however, that if there is a conflict or inconsistency between the Contract and the User Terms, the 
    terms of the Contract will first prevail, followed by the provisions in these User Terms, and then followed by 
    the pages referenced in these User Terms (e.g., the Privacy Policy).  Customer will be responsible for notifying 
    Authorized Users of those conflicts or inconsistencies and until such time the terms set forth herein will be binding. 
  </p>


  <h3>Contacting Slack</h3>

  <p>
    Please also feel free to contact us if you have any questions about Slack\u2019s User Terms of Service. 
    You may contact us at <a href="mailto:feedback@slack.com">feedback@slack.com</a> or 
    at our mailing address below:
  </p>

  <p>
    Slack Technologies<br />
    155 5th Street, 6th Floor<br />
    San Francisco, CA<br />
    94103
  </p>

  
