
{{i18n_ns 'invite'}}


<div class= "fs_grey large_top_padding col span_3_of_6 margin_auto float_none">

<div id="ratelimit_alert" class="header_error_message hidden bottom_margin">
    <h3>{{#t note="This refers to a rate limit we have for filling out this form"}}Whoa, you're going too fast!{{/t}}</h3>
    <p class="no_margin">{{#t}}Slow down a bit. You might have better luck if you try again in a minute.{{/t}}</p>
</div>

<div id="invite_form_body">
    <h1>{{#t}}Join the Slack team for {team_name}{{/t}}</h1>

    <div class="names_container" id="names_container">
        <label>{{#t}}Your name{{/t}}</label>
        <div class="col span_1_of_2 no_padding no_bottom_margin name_field" id="first_name_wrapper">
            <input type="text" placeholder="{{#t}}First name{{/t}}" id="invite_first_name" maxlength="35" autocomplete="off" data-qa="first_name_field" value="{{first_name}}"/>
            <p class="error_message small_bottom_margin"></p>
        </div>
        <div class="col span_1_of_2 no_padding no_bottom_margin name_field" id="last_name_wrapper">
            <input type="text" placeholder="{{#t}}Last name{{/t}}" id="invite_last_name" maxlength="35" autocomplete="off" data-qa="last_name_field" value="{{last_name}}"/>
            <p class="error_message small_bottom_margin"></p>
        </div>

        <p class="description clear_both">{{#t}}Your name will be displayed along with your messages in Slack.{{/t}}</p>
    </div>

    <div id="username_container">
        <label for="invite_username">{{#t}}Username (required){{/t}}</label>
        <div class="input_wrapper username">
            <p id="username_overlay" class="input_overlay"></p>
            <input type="text" id="invite_username" maxlength="21" autocomplete="off" data-qa="username_field" placeholder="{{#t}}username{{/t}}" value="{{#if username_prefill}}{{username_prefill}}{{/if}}"/>
        </div>
        <p class="error_message small_bottom_margin" id="username_error_message"></p>

        <p class="description">{{#t}}Please choose a username that is all lowercase, containing only letters, numbers, periods, hyphens, and underscores.{{/t}}</p>

        {{#if custom_username_policy}}
            <div id="custom_username_policy" class="large_bottom_margin">
                <p class="bold small_bottom_margin">{{#t}}Custom rules for this team:{{/t}}</p>
                <p class="no_bottom_margin">{{custom_username_policy}}</p>
            </div>
        {{/if}}
    </div>

    <div id="password_container">
        <label for="password">{{#t}}Password (required){{/t}}</label>
        <input type="password" id="invite_password" data-qa="password-field" placeholder="{{#t}}Password{{/t}}" name="password"/>
        <p class="error_message small_bottom_margin" id="password_error_message"></p>

        <p class="description">{{#t}}Passwords must be at least 6 characters long, and can't be things like <i>password</i>, <i>123456</i> or <i>abcdef</i>.{{/t}}</p>
    </div>

    {{#if collect_user_role}}
        {{> invite_inc_user_role}}
    {{/if}}

    {{#if collect_guest_user_role}}
        {{> invite_inc_guest_user_role}}
    {{/if}}

    <div id="submit" class="align_center">
        <div id="email_checkbox">
            <input type="checkbox" id="email_misc" data-qa="email_checkbox" {{#if uncheck_email}}{{else}}checked{{/if}}>
            <label for="email_misc">{{#t}}It's ok to send me (very occasional)<br class="hide_on_mobile" /> email about the Slack service.{{/t}}</label>
        </div>


        <button id="submit_btn" type="submit" class="{{#unless email_reminded}}disabled{{/unless}} btn btn_large ladda-button submit_setting" data-style="expand-right" data-qa="submit_button">
            <span class="ladda-label">{{#t}}Next{{/t}}<i class="ts_icon ts_icon_arrow_right"></i></span>
        </button>
    </div>

</div>
</div>