<div class="status_change_group display_flex left_margin no_bottom_padding align_items_center">
  <input type="text" name="from[]" maxlength="140" class="small no_bottom_margin">
  <ts-icon class="small_padding large ts_icon ts_icon_arrow_large_right flex_none subtle_silver"></ts-icon>
  <input type="text" name="to[]" maxlength="140" class="small no_bottom_margin">
  <ts-icon class="delete small_left_padding large ts_icon ts_icon_trash candy_red_on_hover flex_none" data-change-number={{data_change_id}}></ts-icon>
</div>
