{{i18n_ns "threads"}}
<div class="join_channel_from_thread_container">
  {{#if is_threads_view}}
    <span>{{#t}}You\u2019ll need to join #{model_ob_name} to reply.{{/t}}</span>
  {{/if}}
  <button class="join_channel_from_thread btn btn_small">{{#t}}Join Channel{{/t}}</button>
  {{#if is_convo}}
    {{#if has_replies}}
      <p>{{#t}}You\u2019ll need to join #{model_ob_name} to reply.{{/t}}</p>
    {{else}}
      <p>{{#t}}You\u2019ll need to join #{model_ob_name} to start a thread.{{/t}}</p>
    {{/if}}
  {{/if}}
</div>