<div class="lfs_input_container empty" data-qa="{{instance.data_qa}}-value">
  <ts-icon class="ts_icon_search ts_icon search_icon subtle_silver"></ts-icon>
  {{#if instance.single}}<div class="lfs_value"></div>{{/if}}
  <input
    type="text"
    class="lfs_input"
    size="1"
    data-qa="{{instance.data_qa}}-input-value"
    placeholder="{{instance.placeholder_text}}"
    {{#if instance.disabled}} disabled="true"{{/if}}
    {{#if aria_labelledby}} aria-labelledby="{{aria_labelledby}}"{{/if}}
  >
</div>
<div class="lfs_list_container" data-qa="{{instance.data_qa}}">
  <div class="lfs_list"></div>
</div>
<div class="lfs_empty hidden"></div>
<div class="lfs_error hidden"></div>
