<a  {{#if is_targettable}}
    {{#if entity.is_service}}
      href="/services/{{entity.id}}" target="/services/{{entity.id}}" class="service_link member_image thumb_36 app_preview_link"
    {{else}}
      href="/team/{{entity.name}}" target="/team/{{entity.name}}"
    {{/if}}
  {{/if}}
  {{#if entity}}
    {{#unless entity.is_service}}
      data-member-id="{{entity.id}}"
    {{/unless}}
  {{/if}}
  {{#if size}} data-thumb-size="{{size}}" {{/if}}
  {{#if image}} style="background-image: {{image}}" {{/if}}
  {{#if title}} title="{{#feature flag="feature_name_tagging_client"}}{{getMemberFullName entity}}{{else}}{{getMemberDisplayName entity}}{{/feature}}" {{/if}}
  class="member_image {{css_classes}}"
>
  {{~#feature flag="feature_shared_channels_client"}}{{#if entity.is_external~}}
    {{> member_type_external_badge team=(getTeamById entity.team_id) size=size}}
  {{~/if}}{{/feature~}}
</a>
