{{#if omit_link}}
  <span class="{{#if lazy}}lazy{{/if}} member_preview_link member_image {{avatar_class}}" data-member-id="{{member.id}}" data-thumb-size="{{size}}" {{#if lazy}}data-original="{{bg_img_style}}" style="background-color: #f6f6f6;"{{else}}style="{{bg_img_style}}"{{/if}} aria-hidden="true">{{badge_html}}</span>
{{else}}
  <a href="/team/{{member.name}}" {{target}} class="{{#if lazy}}lazy{{/if}} member_preview_link member_image {{avatar_class}}" data-member-id="{{member.id}}" data-thumb-size="{{size}}" {{#if lazy}}data-original="{{bg_img_style}}" style="background-color: #f6f6f6;"{{else}}style="{{bg_img_style}}"{{/if}} aria-hidden="true" tabindex="-1">{{badge_html}}</a>
{{/if}}