{{i18n_ns 'member_badges'}}

{{#if is_standalone}}
  <ts-icon class="member_type_badge ts_icon_restricted_user member_type_badge_{{size}}{{#if with_tooltip}} ts_tip ts_tip_top ts_tip_multiline ts_tip_float{{/if}}">
    {{#if with_tooltip}}
      <span class="ts_tip_tip">
        <span class="ts_tip_multiline_inner">{{#t}}Multi-Channel Guests <span class="old_petunia_grey">see only a partial directory and can only access messages and files from selected channels.</span>{{/t}}</span>
      </span>
    {{/if}}
  </ts-icon>
{{else}}
  <ts-icon class="member_type_badge member_type_badge_{{size}}{{#if with_tooltip}} ts_tip ts_tip_top ts_tip_multiline ts_tip_float{{/if}}">
    <!-- Background for icon -->
    <svg class="member_type_badge_background_ra" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g class="badge_bg" id="badge_bg" fill="#FFFFFF">
          <path d="M2.959235e-08,17.9999991 L18,17.9999991 L17.9999998,2.4681151e-07 L3.75230755,2.4681151e-07 C1.97230762,2.4681151e-07 0,1.97230786 0,3.7523078 L2.959235e-08,17.9999991 Z" id="status---restricted---online"></path>
        </g>
      </g>
    </svg>

    <!-- Actual icon -->
    <svg class="member_type_badge_icon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g class="badge_ra" id="badge_ra" fill="#808183">
          <path d="M0,3.06 L0,14.94 C0,16.72 1.28,18 3.06,18 L14.94,18 C16.72,18 18,16.72 18,14.94 L18,3.06 C18,1.28 16.72,0 14.94,0 L3.06,0 C1.28,0 0,1.28 0,3.06 L0,3.06 Z" id="status---restricted---online"></path>
        </g>
      </g>
    </svg>
    {{#if with_tooltip}}
      <span class="ts_tip_tip">
        <span class="ts_tip_multiline_inner">{{#t}}Multi-Channel Guests <span class="old_petunia_grey">see only a partial directory and can only access messages and files from selected channels.</span>{{/t}}</span>
      </span>
    {{/if}}
  </ts-icon>
{{/if}}
