  <li class='{{makeMemberDomId member}} member {{makeMemberDomClass member}} cursor_pointer'>
    {{makeModelObHotnessIconSafe model_ob}}
    {{makeModelObPriorityIconSafe model_ob}}
    {{#if show_starred}}{{makeModelObStarredIconSafe model_ob}}{{/if}}
    {{#if show_muted}}{{makeModelObMutedIconSafe model_ob}}{{/if}}
    {{! NOTE: we add user_colored and nuc classes to disallow/allow the color to be applied via the css rule (with :not(.nuc)), and easily toggle that on and off}}
    <a href="/team/{{member.name}}" target="{{newWindowName}}" class="im_name {{#if color_names}}user_colored{{else}}nuc{{/if}} {{getMemberColorClassByImId model_ob.id}}" data-member-id="{{member.id}}" aria-label="{{makeMemberLinkAriaLabelSafe this}}">
      <span class="{{makeUnreadHighlightDomId member}} unread_highlights {{#if_equal model_ob.unread_cnt compare=0}}hidden{{/if_equal}}{{#if_equal model_ob.unread_cnt compare=undefined}}hidden{{/if_equal}}">{{numberWithMax model_ob.unread_cnt 10}}</span>
      <span class="typing_indicator"></span>
      <span class="overflow_ellipsis">
        {{#if_equal model_ob.name compare="slackbot"}}
          <i class="ts_icon ts_icon_heart slackbot_icon"></i>
          {{model_ob.name}}
        {{else}}
          {{{makeMemberPresenceIcon member}}}
          {{getDisplayNameOfUserForIm model_ob}}
          {{#if member.is_self}} (you){{/if}}
        {{/if_equal}}
      </span>
    </a>
    {{#if show_close_link}}
      <button class="ts_icon ts_icon_times_circle im_close btn_unstyle" aria-label="Close Direct Message with {{getDisplayNameOfUserForIm model_ob}}" data-qa="im_close"></button>
    {{/if}}
  </li>  
