{{i18n_ns 'member_badges'}}

{{#if is_standalone}}
  <ts-icon class="member_type_badge ts_icon_single_channel_guest member_type_badge_{{size}}{{#if with_tooltip}} ts_tip ts_tip_top ts_tip_multiline ts_tip_float{{/if}}">
    {{#if with_tooltip}}
      <span class="ts_tip_tip">
        <span class="ts_tip_multiline_inner">{{#t}}Single-Channel Guests <span class="old_petunia_grey">see a partial directory and can only access messages and files from the channel they belong to.</span>{{/t}}</span>
      </span>
    {{/if}}
  </ts-icon>
{{else}}
  <ts-icon class="member_type_badge member_type_badge_{{size}}{{#if with_tooltip}} ts_tip ts_tip_top ts_tip_multiline ts_tip_float{{/if}}">
    <!-- Background for icon -->
    <svg class="member_type_badge_background_ura" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="badge_bg" fill="#FFFFFF">
          <polygon id="status---single-channel---online" points="0 17.9999995 18 18 17.9999994 0"></polygon>
        </g>
      </g>
    </svg>

    <!-- Actual icon -->
    <svg class="member_type_badge_icon" width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="badge_ura" fill="#808183">
          <path d="M15.5400035,0.500000113 L0.500000113,15.5400035 C0.140000032,15.9000036 0,16.2800037 0,16.6400038 C0,17.3600039 0.580000131,18.0000041 1.52000034,18.0000041 L14.9400034,18.0000041 C16.7200038,18.0000041 18.0000041,16.7200038 18.0000041,14.9400034 L18.0000041,1.52000034 C18.0000041,0.580000131 17.3600039,0 16.6400038,0 C16.2800037,0 15.9000036,0.140000032 15.5400035,0.500000113 L15.5400035,0.500000113 Z" id="status---single-channel---online"></path>
        </g>
      </g>
    </svg>
    {{#if with_tooltip}}
      <span class="ts_tip_tip">
        <span class="ts_tip_multiline_inner">{{#t}}Single-Channel Guests <span class="old_petunia_grey">see a partial directory and can only access messages and files from the channel they belong to.</span>{{/t}}</span>
      </span>
    {{/if}}
  </ts-icon>
{{/if}}
