<div class="member_small clearfix display_flex align_items_center">
  {{!-- hbslint-disable syntax --}}
  {{!-- TODO: Enable syntax linter and refactor to use a safeString --}}
  {{{makeMemberPreviewLinkImage member.id 36 false true}}}
  {{!-- hbslint-enable syntax --}}
  <div class="name_container overflow_ellipsis small_left_padding">
    {{#if member.profile.real_name}}
      <div class="bold">{{member.profile.real_name}}</div>
      <div class="subtle_silver not_in_token">{{member.name}}</div>
    {{else}}
      <div class="bold">{{member.name}}</div>
    {{/if}}
  </div>
  <i class="enter_icon ts_icon ts_icon_enter blue_link not_in_token float_right small_top_margin auto_left_margin"></i>
</div>