{{i18n_ns 'channels'}}

{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and refactor with safeString --}}

  <li class='{{makeMemberDomId member}} member {{makeMemberDomClass member}} cursor_pointer'>
    {{makeModelObHotnessIconSafe model_ob}}
    {{makeModelObPriorityIconSafe model_ob}}
    {{#if show_starred}}{{makeModelObStarredIconSafe model_ob}}{{/if}}
    {{#if show_muted}}{{makeModelObMutedIconSafe model_ob}}{{/if}}
    {{! NOTE: we add user_colored and nuc classes to disallow/allow the color to be applied via the css rule (with :not(.nuc)), and easily toggle that on and off}}
    {{#feature flag="feature_user_custom_status"}}
      <span class="im_name feature_user_custom_status {{#if color_names}}user_colored{{else}}nuc{{/if}} {{getMemberColorClassByImId model_ob.id}}" data-member-id="{{member.id}}" aria-label="{{makeMemberLinkAriaLabelSafe this}}"
        {{#feature flag="feature_multnomah"}}
          draggable="true"
          data-drag-meta='{{makeChannelDragData model_ob}}'
        {{/feature}}>
    {{else}}
      <a href="/team/{{member.name}}" target="{{newWindowName}}" class="im_name {{#if color_names}}user_colored{{else}}nuc{{/if}} {{getMemberColorClassByImId model_ob.id}}" data-member-id="{{member.id}}" aria-label="{{makeMemberLinkAriaLabelSafe this}}"
        {{#feature flag="feature_multnomah"}}
          draggable="true"
          data-drag-meta='{{makeChannelDragData model_ob}}'
        {{/feature}}>
    {{/feature}}
        <span class="{{makeUnreadHighlightDomId member}} unread_highlights {{#if_equal model_ob.unread_cnt compare=0}}hidden{{/if_equal}}{{#if_equal model_ob.unread_cnt compare=undefined}}hidden{{/if_equal}}">{{numberWithMax model_ob.unread_cnt 10}}</span>
        <span class="typing_indicator"></span>
        <span class="overflow_ellipsis member_name">
          {{#if_equal model_ob.name compare="slackbot"}}
            {{#showDraftIcon model_ob}}
              {{> ts_icon class="ts_icon_pencil prefix"}}
            {{else}}
              <i class="ts_icon ts_icon_heart slackbot_icon"></i>
            {{/showDraftIcon}}
            {{model_ob.name}}
          {{else}}
            {{#showDraftIcon model_ob}}
              {{> ts_icon class="ts_icon_pencil prefix"}}
            {{else}}
              {{{makeMemberPresenceIcon member}}}
            {{/showDraftIcon}}
            {{getDisplayNameOfUserForIm model_ob}}
            {{#if member.is_self}} ({{#t note="Appears next to user name when user is self, e.g. 'Steve (you)' when I am Steve"}}you{{/t}}){{/if}}
          {{/if_equal}}
        </span>
        {{#feature flag="feature_user_custom_status"}}
          {{> current_status classes="ts_tip_float"}}
        {{/feature}}
    {{#feature flag="feature_user_custom_status"}}
      </span>
    {{else}}
      </a>
    {{/feature}}
    {{#if show_close_link}}
      <button class="ts_icon ts_icon_times_circle im_close btn_unstyle" aria-label="Close Direct Message with {{getDisplayNameOfUserForIm model_ob}}" data-qa="im_close"></button>
    {{/if}}
  </li>
