{{i18n_ns 'mentions'}}

<div class="mention_rxn" data-ts="{{ts}}" {{#feature flag="feature_message_replies"}}{{#if thread_ts}}data-thread-ts="{{thread_ts}}"{{/if}}{{/feature}}>
  <div class="rxn_emoji_icon rxn_{{rxns_to_display.length}}">
    {{#each rxns_to_display}}
      <div class="rxn_emoji">{{this}}</div>
    {{/each}}
  </div>
  <div class="mention_rxn_summary">
    <div class="mention_rxn_summary_left">
      {{#if is_file_reaction}}
        {{#t}}<span class="mention_rxn_summary_members">{rxn_members}</span> reacted to your file.{{/t}}
      {{else}}
        {{#t}}<span class="mention_rxn_summary_members">{rxn_members}</span> reacted to your message.{{/t}}
      {{/if}}
    </div>
    {{#unless is_file_reaction}}{{jump_link_html}}{{/unless}}
  </div>
  <div class="mention_rxn_msg_holder">
    {{msg_html}}
  </div>
</div>
