{{i18n_ns 'menu'}}

{{#feature flag="feature_browse_date"}}
  <li id="mpim_jump_item" role="menuitem">    
    <a target="{{newWindowName}}">{{#t note="Jump to a date within a MPDM"}}Jump to date \u2026{{/t}}</a>
  </li>
{{/feature}}
{{#if show_mpim_create}}<li id="mpim_create_mpim_item" role="menuitem"><a>{{#t note="Invite another team member to join an MPDM"}}Invite another team member \u2026{{/t}}</a></li>{{/if}}
<li id="mpim_details_item">
  <a>{{#t note="View details of an MPDM"}}View conversation details{{/t}}</a>
</li>
{{#if show_mpim_convert}}
  <li id="convert_to_private_channel" role="menuitem"><a>{{#t note="Convert an MPDM to a private channel"}}Convert to private channel \u2026{{/t}}</a></li>
{{/if}}
<li class="divider"></li>

<li id="mpim_prefs" role="menuitem"><a>{{#t note="Notification preferences for an MPDM"}}Notification preferences \u2026{{/t}}</a></li>
<li id="mpim_mute_item" role="menuitem">
  <a>
    {{#if mpim_is_muted}}
      {{#t note="Unmute an MPDM"}}Unmute this conversation{{/t}}
    {{else}}
      {{#t note="Multe an MPDM"}}Mute this conversation{{/t}}
    {{/if}}
  </a>
</li>
<li class="divider"></li>
{{#if show_email_item}}
  <li id="mpim_email_item" role="menuitem">
    <a target="{{newWindowName}}" href="/services/new/email">{{#t note="Send email to an MPDM"}}Send email to this conversation \u2026{{/t}}</a>
  </li>
{{/if}}
