{{#if user.is_ultra_restricted}}
  {{#feature flag="feature_browse_date"}}
    <li id="channel_jump_item" role="menuitem">    
      <a class="date_picker" target="{{newWindowName}}">{{#t note="Within a list of messages in a channel"}}Jump to date &hellip;{{/t}}</a>
    </li>
  {{/feature}}
  <li id="channel_details_item">
    <a>{{#t}}View channel details{{/t}}</a>
  </li>
  <li class="divider"></li> 
  <li id="channel_prefs" role="menuitem">
    <a>{{#t}}Notification preferences &hellip;{{/t}}</a>
  </li>
  <li id="channel_mute_item" role="menuitem">
    <a>
      {{#unless channel.is_private}}
        {{#if channel_is_muted}}
          {{#t}}Unmute #{channel.name}{{/t}}
        {{else}}
          {{#t}}Mute #{channel.name}{{/t}}
        {{/if}}
      {{else}}
        {{#if channel_is_muted}}
          {{#t}}Unmute {channel.name}{{/t}}
        {{else}}
          {{#t}}Mute {channel.name}{{/t}}
        {{/if}}
      {{/unless}}
    </a>
  </li>

{{else}}
  {{#if user.is_restricted}}
    {{#if channel.is_member}}
      {{#feature flag="feature_browse_date"}}
        <li id="channel_jump_item" role="menuitem">    
          <a class="date_picker" target="{{newWindowName}}">{{#t note="Within a list of messages in a channel"}}Jump to date &hellip;{{/t}}</a>
        </li>
      {{/feature}}
      {{#unless hide_invite}}<li id="channel_invite_item" {{#if disable_invite}}class="disabled"{{/if}} role="menuitem"><a>
        {{#t note="Invite members to join a channel"}}Invite team members to join &hellip;{{/t}}
      </a></li>{{/unless}}
      <li id="channel_details_item">
        <a>{{#t}}View channel details{{/t}}</a>
      </li>
      <li class="divider"></li> 
      <li id="channel_prefs" role="menuitem">
        <a>{{#t note="Individual channel notification preferences"}}Notification preferences &hellip;{{/t}}</a>
      </li>
      <li id="channel_mute_item" role="menuitem">
        <a>
          {{#unless channel.is_private}}
            {{#if channel_is_muted}}
              {{#t}}Unmute #{channel.name}{{/t}}
            {{else}}
              {{#t}}Mute #{channel.name}{{/t}}
            {{/if}}
          {{else}}
            {{#if channel_is_muted}}
              {{#t}}Unmute {channel.name}{{/t}}
            {{else}}
              {{#t}}Mute {channel.name}{{/t}}
            {{/if}}
          {{/unless}}
        </a>
      </li>
    {{/if}}
    <li class="divider"></li>
  {{else}}
    {{#feature flag="feature_browse_date"}}
      <li id="channel_jump_item" role="menuitem">    
        <a class="date_picker" target="{{newWindowName}}">{{#t note="Within a list of messages in a channel"}}Jump to date &hellip;{{/t}}</a>
      </li>
    {{/feature}}
    {{#if channel.is_archived}}
      <li id="channel_details_item">
        <a>{{#t}}View channel details{{/t}}</a>
      </li>
      <li class="divider"></li>
      {{#if channel.was_archived_this_session}}
        {{#unless channel.is_general}}<li id="channel_close_archived_item" role="menuitem"><a>
          {{#unless channel.is_private}}
            {{#t}}Leave #{channel.name}{{/t}}
          {{else}}
            {{#t}}Leave {channel.name}{{/t}}
          {{/unless}}
        </a></li>{{/unless}}
      {{/if}}
      <li id="channel_unarchive_item" role="menuitem"><a>
        {{#unless channel.is_private}}
          {{#t}}Un-archive #{channel.name}{{/t}}
        {{else}}
          {{#t}}Un-archive {channel.name}{{/t}}
        {{/unless}}

      </a></li>
    {{else}}
      {{#unless hide_invite}}<li id="channel_invite_item" {{#if disable_invite}}class="disabled"{{/if}} role="menuitem"><a>
        {{#t note="Invite members to join a channel"}}Invite team members to join &hellip;{{/t}}
      </a></li>{{/unless}}
      <li id="channel_details_item">
        <a>{{#t}}View channel details{{/t}}</a>
      </li>
      {{#if show_handy_rxns}}
        <li id="channel_handy_rxns_item" role="menuitem"><a>
          {{#t}}Edit Handy Reactions &hellip;{{/t}}
        </a></li>  
      {{/if}}
      {{#if show_manage_teams}}
        <li id="channel_manage_teams_item" role="menuitem"><a>
          {{#t}}Manage teams in this channel &hellip;{{/t}}
        </a></li>
      {{/if}}
      {{#if show_advanced_item}}
        <li id="channel_advanced_item" role="menuitem"><a>
          {{#t note="Additional options for individual channels"}}Additional options &hellip;{{/t}}
        </a></li>
      {{/if}}
      <li class="divider"></li>
      {{#if channel.is_member}}
        <li id="channel_prefs" role="menuitem">
          <a>{{#t note="Notification preferences for individual channels"}}Notification preferences &hellip;{{/t}}</a>
        </li>
        <li id="channel_mute_item" role="menuitem">
          <a>
            {{#unless channel.is_private}}
              {{#if channel_is_muted}}
                {{#t}}Unmute #{channel.name}{{/t}}
              {{else}}
                {{#t}}Mute #{channel.name}{{/t}}
              {{/if}}
            {{else}}
              {{#if channel_is_muted}}
                {{#t}}Unmute {channel.name}{{/t}}
              {{else}}
                {{#t}}Mute {channel.name}{{/t}}
              {{/if}}
            {{/unless}}
          </a>
        </li>
        <li class="divider"></li>
        {{#unless is_not_allowed_integrations}}
          <li id="channel_add_service_item">
            <a href="/apps/new?channel={{channel.id}}" target="{{newWindowName}}" role="menuitem">
              {{#t note="To this individual channel"}}Add an app or integration{{/t}}
            </a>
          </li>
        {{/unless}}
        {{#if show_email_item}}
          <li id="channel_email_item" role="menuitem">
            <a target="{{newWindowName}}" href="/services/new/email">
              {{#unless channel.is_private}}
                {{#t}}Send email to #{channel.name} &hellip;{{/t}}
              {{else}}
                {{#t}}Send email to {channel.name} &hellip;{{/t}}
              {{/unless}}
            </a>
          </li>
        {{/if}}
        {{#unless channel.is_general}}
          {{#unless is_not_allowed_integrations}}
            <li class="divider"></li>
          {{else}}
            {{#if show_email_item}}
              <li class="divider"></li>
            {{/if}}
          {{/unless}}
          <li id="channel_leave_item" role="menuitem"><a>
            {{#unless channel.is_private}}
              {{#t}}Leave #{channel.name}{{/t}}
            {{else}}
              {{#t}}Leave {channel.name}{{/t}}
            {{/unless}}
          </a></li>
        {{/unless}}
      {{else}}
        <li id="channel_join_item" role="menuitem"><a>
          {{#t}}Join #{channel.name}{{/t}}
        </a></li>
      {{/if}}
      
    {{/if}}
  {{/if}}
{{/if}}
