{{#if should_show_box}}
  <li role="menuitem" data-which="box" class="file_menu_item"><a><i class="file_menu_icon ts_icon ts_icon_box"></i> Box</a></li>
{{/if}}

{{#if should_show_dropbox}}
  <li role="menuitem" data-which="dropbox" class="file_menu_item"><a><i class="file_menu_icon ts_icon ts_icon_dropbox"></i> Dropbox</a></li>
{{/if}}

{{#if should_show_gdrive}}
  <li role="menuitem" data-which="gdrive_import"><a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> Google Drive</a></li>
{{/if}}
