{{i18n_ns "messages_action_items"}}

{{! Personal actions}}
{{#feature flag="feature_message_replies"}}
  {{#if is_in_thread}}
    {{#if actions.jump_to_original}}
      <li id="jump_to_original_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t note="Scroll back to the original message in the channel"}}Open in channel{{/t}}</a></li>
    {{/if}}
  {{/if}}
{{/feature}}

{{#if actions.share_message}}
  <li id="share_message_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t}}Share message &hellip;{{/t}}</a></li>
{{/if}}

{{#if actions.copy_link}}
  <li id="copy_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" data-permalink="{{abs_permalink}}" role="menuitem"><a>{{#t}}Copy link{{/t}}</a></li>
{{/if}}

{{#unless is_in_thread}}
  {{#if actions.mark_unread}}
    <li id="mark_unread" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>
      {{#if is_all_unreads_showing}}
        {{#t}}Mark above as read{{/t}}
      {{else}}
        {{#t}}Mark unread{{/t}}
      {{/if}}
    </a></li>
  {{/if}}
{{/unless}}

{{#if actions.remind_me}}
  <li id="remind_me" class="has_submenu" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t}}Remind me about this{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret"></a></li>
{{/if}}

{{#if actions.has_private_actions}}
  <li class="divider"></li>
{{/if}}
{{! End personal actions}}

{{! Public actions}}
{{#feature flag="feature_message_replies"}}
  {{#unless is_in_thread}}
    {{#if actions.reply}}
      <li id="reply_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t}}Reply &hellip;{{/t}}</a></li>
    {{/if}}
  {{/unless}}
{{/feature}}

{{#if actions.add_rxn}}
  <li id="rxn_link" data-rxn-key="{{msg._rxn_key}}" role="menuitem"><a class="add_rxn_menu_item">{{#t}}Add reaction &hellip;{{/t}}</a></li>
{{/if}}

{{#if actions.add_file_rxn}}
  <li id="rxn_link" data-rxn-key="{{msg.file._rxn_key}}" role="menuitem"><a class="add_rxn_menu_item">{{#t}}Add reaction &hellip;{{/t}}</a></li>
{{/if}}

{{#if actions.add_file_comment_rxn}}
  <li id="rxn_link" data-rxn-key="{{msg.comment._rxn_key}}" role="menuitem"><a class="add_rxn_menu_item">{{#t}}Add reaction &hellip;{{/t}}</a></li>
{{/if}}

{{#feature flag="feature_sli_recaps"}}
  {{#if sli_recap_preview}}
  <li id="suggest_recap_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a class="suggest_recap_menu_item">{{#t}}Suggest as a highlight{{/t}}</a></li>
  {{/if}}
{{/feature}}

{{#unless is_in_thread}}
  {{#if actions.pin_msg}}
    <li id="pin_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t channel_name=(pinToLabel model_ob)}}Pin to {channel_name} &hellip;{{/t}}</a></li>
  {{/if}}
  {{#if actions.unpin_msg}}
    <li id="unpin_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem"><a>{{#t channel_name=(pinToLabel model_ob)}}Un-pin from {channel_name}{{/t}}</a></li>
  {{/if}}
{{/unless}}

{{#if actions.has_public_actions}}
  <li class="divider"></li>
{{/if}}
{{! End public actions }}

{{! Admin actions }}
{{#if actions.edit_msg}}
  <li id="edit_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" role="menuitem" {{#if is_in_conversation}}data-edit-state="convo"{{/if}}><a>{{#t}}Edit message{{/t}}</a></li>
{{/if}}

{{#if actions.delete_msg}}
  <li id="delete_link" data-msg-ts="{{msg.ts}}" data-model-ob-id="{{model_ob.id}}" class="danger" role="menuitem"><a>{{#t}}Delete message{{/t}}</a></li>

{{/if}}
{{! End admin actions}}
