{{i18n_ns 'menu'}}

<li class="no_bottom_padding no_wrap" role="menuitem">
  <label for="search_exclude_bots_cb"><input id="search_exclude_bots_cb" type="checkbox" class="small_right_margin" {{#unless search_exclude_bots}}checked="checked"{{/unless}}/>{{#t note="Within search results"}}Include {result_type, select, files {files} other {messages}} from integrations &amp; bots{{/t}}</label>
</li>
<li class="no_top_padding no_wrap {{#if is_enterprise}}no_bottom_padding{{/if}}" role="menuitem">
  <label for="search_only_my_channels_cb"><input id="search_only_my_channels_cb" type="checkbox" class="small_right_margin" {{#unless search_only_my_channels}}checked="checked"{{/unless}}/>{{#t note="Within search results"}}Include {result_type, select, files {files} other {messages}} from channels I don\u2019t have open{{/t}}</label>
</li>
{{#if is_enterprise}}
  <li class="no_top_padding no_wrap" role="menuitem">
    <label for="search_only_current_team_cb"><input id="search_only_current_team_cb" type="checkbox" class="small_right_margin" {{#unless search_only_current_team}}checked="checked"{{/unless}}/>{{#t note="Within search results" currentEnterpriseName=(currentEnterpriseName)}}Include {result_type, select, files {files} other {messages}} from my other {currentEnterpriseName} teams{{/t}}</label>
  </li>
{{/if}}
