{{i18n_ns "menu"}}

{{!-- 90% copied from templates/js/menu/team_and_user_items.hbs --}}
<section class="slack_menu_you slack_menu_section" aria-label="{{#t}}you{{/t}}">
  {{> slack_menu_you_header user}}

  <ul class="menu_list">
    {{#feature flag="feature_user_custom_status"}}
      <li id="member_current_status_item" class="has_submenu" data-qa="member_current_status_link" role="menuitem">
        <a>
          {{#if user.profile.current_status}}
            {{#t note="Menu option for a user with a current status set to change that status"}}Edit status{{/t}}
          {{else}}
            {{#t note="Menu option for a user with no current status set to set one"}}Set a status{{/t}}
          {{/if}}
          <span class="current_status_badge badge candy_red_bg hidden">{{#t note="badge text calling attention to a new feature"}}NEW{{/t}}</span>
          <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon>
        </a>
      </li>
    {{/feature}}

    <li id="member_account_item" data-qa="member_account_link" role="menuitem">
      <a href="/account/settings" target="{{newWindowName}}">{{#t}}Profile &amp; account{{/t}}</a>
    </li>

    <li id="member_prefs_item" role="menuitem"><a href="/account/settings" target="{{newWindowName}}">{{#t}}Preferences{{/t}}</a></li>

    <li id="member_presence" role="menuitem">
      <a>
        <span class="menu_item_label">
          {{#if_equal user.presence compare="active"}}
            {{#t}}Set yourself to <strong>away</strong>{{/t}}
          {{else}}
            {{#t}}[Away] Set yourself to <strong>active</strong>{{/t}}
          {{/if_equal}}
        </span>
      </a>
    </li>

    {{#if help_url}}
      <li id="team_help" role="menuitem"><a href="/help" target="{{newWindowName}}">{{#t}}Help &amp; feedback{{/t}}</a></li>
    {{/if}}

    {{#if this.show_version_info}}
      <li id="version_info" role="menuitem">
        <a>{{#t}}Version info (TS only){{/t}}</a>
      </li>
    {{/if}}

  </ul>
</section>

<section class="slack_menu_current_team slack_menu_section" aria-label="{{#t}}current team{{/t}}">
  {{> slack_menu_team_header team}}

  <ul class="menu_list">
    {{#if can_invite}}
      <li id="team_invitations" role="menuitem" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=open_modal,trigger=click_team_menu_invite_btn">
        <a href="/admin/invites" target="{{newWindowName}}">{{#t}}Invite people{{/t}}</a>
      </li>
    {{/if}}

    {{#pageNeedsEnterprise}}
      {{#if this.user.is_admin}}
        <li id="administration" class="has_submenu" role="menuitem">
          <a>{{#t}}Administration{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon></a>
        </li>
      {{/if}}
    {{else}}
      {{#if this.user.is_admin}}
        <li id="manage_team" role="menuitem">
          <a href="/admin" target="{{newWindowName}}">{{#t}}Manage team members{{/t}}</a>
        </li>
      {{/if}}

      {{#if show_team_subdivider}}
        <li class="divider subdivider"></li>
      {{/if}}

      {{#if this.user.is_admin}}
        <li id="team_settings" role="menuitem">
          <a href="/admin/settings" target="{{newWindowName}}">{{#t}}Team settings{{/t}}</a>
        </li>
      {{/if}}
    {{/pageNeedsEnterprise}}

    {{#unless this.user.is_restricted}}
      <li id="team_services" role="menuitem">
        <a href="/apps" target="{{newWindowName}}">
          {{#t}}Apps &amp; integrations{{/t}}
        </a>
      </li>

      {{#if show_customize_link}}
        <li id="team_customize" role="menuitem">
          <a href="/customize" target="{{newWindowName}}">{{#t}}Customize Slack{{/t}}</a>
        </li>
      {{/if}}
    {{/unless}}

    {{#if show_statistics_link}}
      <li id="team_statistics" role="menuitem">
        <a href="/stats" target="{{newWindowName}}">{{#t}}Statistics{{/t}}</a>
      </li>
    {{/if}}

    {{#if this.user.is_owner}}
      {{#isOurApp}}
      {{else}}
        <li id="team_billing" role="menuitem">
          <a href="/admin/billing" target="{{newWindowName}}">{{#t}}Billing{{/t}}</a>
        </li>
      {{/isOurApp}}
    {{/if}}

    {{#show_shared_channels}}
      <li id="shared_channels" role="menuitem">
        <a>{{#t}}Shared channels{{/t}}</a>
      </li>
    {{/show_shared_channels}}

    {{#feature flag="feature_discoverable_teams_client_v1"}}
      {{#pageNeedsEnterprise}}
        {{#if can_show_leave_workspace}}
          <li id="leave_workspace" role="menuitem">
            <a>{{#t}}Leave this team{{/t}}</a>
          </li>
        {{/if}}
      {{/pageNeedsEnterprise}}
    {{/feature}}

    {{! add logout_url here if user is either: }}
    {{! 1. Not currently logged into any orgs }}
    {{! 2. Currently veiwing an org team but not logged into any other teams of that same org}}
    {{#if current_team_gets_logout_url}}
      {{#if logout_url}}
        <li id="logout" role="menuitem" class="logout_url"><a href="{{logout_url}}" target="_self">{{#t}}Sign out of <strong>{team_name}</strong>{{/t}}</a></li>
      {{/if}}
    {{else}}
      {{#if enterprise_logout_url}}
        <li class="divider subdivider"></li>
        {{#feature flag="feature_discoverable_teams_client"}}
          {{#if this.user.is_restricted}}
          {{else}}
            <li id="workspaces" role="menuitem">
              <a>{{#t}}Find more teams{{/t}}</a>
            </li>
          {{/if}}
        {{/feature}}
        <li id="enterprise_logout" role="menuitem" class="enterprise_logout_url"><a href="{{enterprise_logout_url}}" target="_self">{{#t team_name=(currentEnterpriseName)}}Sign out of <strong>{team_name}</strong>{{/t}}</a></li>
      {{/if}}
    {{/if}}

  </ul>
</section>

{{#pageNeedsEnterprise}}
  {{#if show_switch_teams_submenu}}
    <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}switch teams{{/t}}">
      <ul class="menu_list">
        {{#isOurApp}}
          {{#if signin_url}}
            <li id="add_team" role="menuitem"><a href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a></li>
          {{/if}}
        {{else}}
          <li id="switch_teams" class="has_submenu" role="menuitem">
            <a>{{#t}}Switch teams &hellip;{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon></a>
          </li>
        {{/isOurApp}}
      </ul>
    </section>
  {{else}}
    <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}other team accounts{{/t}}">
      <ul class="menu_list">
        {{#isOurApp}}{{else}}
          {{#if other_accounts}}
            {{#each other_accounts}}
              <li class="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
                <a href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
              </li>
            {{/each}}
          {{/if}}
        {{/isOurApp}}

        {{#if signin_url}}
          <li id="add_team" role="menuitem"><a href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a></li>
        {{/if}}
      </ul>
    </section>
  {{/if}}
{{else}}
  <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}other team accounts{{/t}}">
    <ul class="menu_list">
      {{#isOurApp}}{{else}}
        {{#if other_accounts}}
          {{#each other_accounts}}
            <li class="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
              <a href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
            </li>
          {{/each}}
        {{/if}}
      {{/isOurApp}}

      {{#if signin_url}}
        <li id="add_team" role="menuitem"><a href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a></li>
      {{/if}}
    </ul>
  </section>
{{/pageNeedsEnterprise}}

{{#unlessOurApp}}
  <section class="slack_menu_download slack_menu_section" aria-label="{{#t}}download apps{{/t}}">
    <ul class="menu_list">
      <li id="team_apps" role="menuitem">
          <a href="/ssb/open" class="download_link bold deep_login_url" target="{{newWindowName}}">
            {{#t}}Open the Slack App{{/t}}
            <ts-icon class="ts_icon_arrow_ne_medium submenu_caret"></ts-icon>
          </a>
      </li>
    </ul>
  </section>
{{/unlessOurApp}}
