{{i18n_ns 'menu'}}

<li data-expiration-option="none" role="menuitem">
  <a>{{#t}}No limit{{/t}}</a>
</li>

<li data-expiration-option="7days" role="menuitem">
  <a>{{#t}}7 days{{/t}}</a>
</li>

<li data-expiration-option="30days" role="menuitem">
  <a>{{#t}}30 days{{/t}}</a>
</li>

<li data-expiration-option="60days" role="menuitem">
  <a>{{#t}}60 days{{/t}}</a>
</li>

<li data-expiration-option="custom" role="menuitem">
  <a>{{#t note="menu option for choosing a custom date"}}Custom &hellip;{{/t}}</a>
</li>
