{{i18n_ns "menu"}}

<div class="section_header"><hr><span class="header_label menu_mini">
    {{#t note="Heading for the create a new file menu"}}New&hellip;{{/t}}
</span></div>

<li data-which="snippet" class="file_menu_item"><a target="_blank" href="/files/create/snippet"><i class="file_menu_icon ts_icon ts_icon_create_snippet"></i>
    {{#t note="Create a new code or text snippet"}}Code or text snippet{{/t}}
</a></li>

{{#if should_show_gdrive}}
    <li id="gdrive_create_submenu" data-which="gdrive_create_submenu" class="file_menu_item has_submenu"><a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i>
        {{#t note="Create a new Google Docs file"}}Google Docs file{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret">
    </a></li>
{{/if}}

{{#feature flag="feature_onedrive_picker"}}
    {{#if should_show_onedrive}}
        <li id="onedrive_create_submenu" data-which="onedrive_create_submenu" class="file_menu_item has_submenu"><a><i class="file_menu_icon ts_icon ts_icon_onedrive"></i>
            {{#t note="Create a new OneDrive file"}}OneDrive file{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret">
        </a></li>
    {{/if}}
{{/feature}}

{{#if should_show_arugula}}
    <li data-which="arugula" class="file_menu_item"><a target="_blank" href="/files/create/arugula"><i class="file_menu_icon ts_icon ts_icon_create_post"></i> {{#t note="Create a new Arugula post"}}Arugula Post{{/t}}</a></li>
{{/if}}

<li data-which="space" class="file_menu_item"><a target="_blank" href="/files/create/space"><i class="file_menu_icon ts_icon ts_icon_create_post"></i>
    {{#t note="Create a new post"}}Post{{/t}}
</a></li>

<div class="section_header"><hr><span class="header_label menu_mini">
    {{add_from}}
</span></div>

{{#if use_cloud_submenu}}
    <li id="cloud_submenu" data-which="cloud_submenu" class="file_menu_item has_submenu"><a><i class="file_menu_icon ts_icon ts_icon_cloud_download"></i>
        {{#t note="Create a new file from a cloud service"}}A cloud service{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret">
    </a></li>
{{else}}
    {{> menu_file_cloud_service_items}}
{{/if}}

{{#if should_show_upload_file}}
    <li data-which="choose" class="file_menu_item"><a><i class="file_menu_icon ts_icon ts_icon_laptop"></i>
        {{#t note="Upload a new file from your computer"}}Your computer{{/t}}
    </a></li>
{{/if}}
