{{#if is_platform_call_loading}}
  <div class="channel_header_icon channel_calls_loading">
    <div class="call_loading_container">
      {{> mentions_loading_indicator }}
    </div>
  </div>
{{else}}
  <button class="channel_header_icon channel_calls_button {{button_classes}} btn_unstyle ts_tip ts_tip_bottom ts_tip_multiline ts_tip_delay_300">
    <span class="ts_tip_tip"><span class="ts_tip_multiline_inner">
      {{tip_text}}
    </span></span>
    {{> ts_icon class=icon_classes }}
  </button>
{{/if}}