{{i18n_ns 'recap_menu_items'}}

<ul id="recap_menu_items" data-msg-ts="{{msg_ts}}" data-model-ob-id="{{model_ob_id}}">
  <span class="recap_description">{{#t}}<strong>Highlights</strong> are the messages<br /> most likely to interest you.{{/t}}</span>
  <a class="recap_learn_more" href="https://get.slack.help/hc/en-us/articles/115002062228">{{#t}}Learn more{{/t}}</a>
  <div class="section_header"><hr><span class="header_label menu_mini">{{#t}}How was this highlight?{{/t}}</span></div>
  <li role="menuitem"><a id="recap_positive"><span class="inline-emoji">{{#t emoji=(emojiGraphicReplace ':ok_hand:' 'apple')}}{emoji}</span>Helpful{{/t}}</a></li>
  <li role="menuitem"><a id="recap_negative"><span class="inline-emoji">{{#t emoji=(emojiGraphicReplace ':thumbsdown:' 'apple')}}{emoji}</span>Not helpful{{/t}}</a></li>
</ul>