{{i18n_ns "app_card"}}
<div
  class="app_card_header
      display_flex
      flex_direction_row
      align_items_flex_start
      {{#if large}}
        app_header_large rounded
      {{else}}
        rounded_top
        {{#unless hide_link_to_app_profile}}cursor_pointer{{/unless}}
      {{/if}}"

  {{!-- Styling for dynamic background color --}}
  {{#if color}}
    style="background: linear-gradient(136.53deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%), linear-gradient(312.01deg, {{color.hex}} 0%, rgba({{color.r}},{{color.g}},{{color.b}},0.75) 100%); background-color: #2C2D30;"
  {{/if}}
>
  {{#if emoji_img_tag}}
    <div class="app_card_emoji" data-qa="app_header_icon">{{emoji_img_tag}}</div>
  {{else}}
    {{#if is_edit_mode}}
      <label for="app_icon" class="app_icon_upload_label display_flex justify_content_center align_items_center
        {{#unless app_icons}}
          suppress_replace_icon
        {{/unless}}">
        <input id="app_icon" type="file" name="icon" accept="image/*;capture=camera" data-drop-zone-input>
        <div class="app_icon_upload_text
        {{#if app_icons}}
          display_none
        {{else}}
          display_flex
        {{/if}}">{{#t}}+ Add App Icon{{/t}}</div>
        <img class="app_card_header_icon rounded
        {{#if app_icons}}
          display_flex
        {{else}}
          display_none
        {{/if}}" data-qa="app_header_icon"
        {{#if is_slack_integration}}
          {{!-- Slack owned apps have icons with transparent backgrounds (and position) below 192px. --}}
          src="{{app_icons.image_192}}"
        {{else if large}}
          src="{{app_icons.image_96}}" srcset="{{app_icons.image_96}} 1x, {{app_icons.image_192}} 2x"
        {{else}}
          src="{{app_icons.image_64}}" srcset="{{app_icons.image_64}} 1x, {{app_icons.image_128}} 2x"
        {{/if}}
        >
        <div class="app_icon_replace display_none position_absolute">{{#t}}Replace{{/t}}</div>
        <div class="app_icon_upload_progress display_none justify_content_center align_items_center"></div>
      </label>
    {{else}}
      <img class="app_card_header_icon rounded" data-qa="app_header_icon"

      {{#if bot_icons}}
        {{#if bot_icons.image_72}}
          src="{{bot_icons.image_72}}"
        {{else}}
          {{!-- Fallback for older integrations. --}}
          src="{{bot_icons.image_48}}"
        {{/if}}
      {{else if app_icons}}
        {{#if is_slack_integration}}
          {{!-- Slack owned apps have icons with transparent backgrounds (and position) below 192px. --}}
          src="{{app_icons.image_192}}"
        {{else if large}}
          src="{{app_icons.image_96}}" srcset="{{app_icons.image_96}} 1x, {{app_icons.image_192}} 2x"
        {{else}}
          src="{{app_icons.image_64}}" srcset="{{app_icons.image_64}} 1x, {{app_icons.image_128}} 2x"
        {{/if}}
      {{else}}
        src="{{versioned_default_application_icon}}"
      {{/if}}
      >
    {{/if}}
  {{/if}}
  <div class="app_card_header_text">
    <div class="app_card_name_row lato_black flexpane_grey display_flex align_items_center">
      <span class="app_name overflow_ellipsis" data-qa="app_header_name">{{name}}</span>
      <div><span class="app_label lato neutral_white" data-qa="app_header_app_label">{{!--
          --}}{{#t}}APP{{/t}}{{!--
        --}}</span></div>
    </div>
    {{#if desc}}
      <div class="app_card_desc lato flexpane_grey overflow_hidden" data-qa="app_header_description">{{desc}}</div>
    {{/if}}
    {{#if app_profile}}
      <div class="app_profile_buttons">
        {{#unless deleted}}
          {{!-- Message button --}}
          {{#and bot_user (if_not_equal disabled compare=true)}}
            <a class="btn app_profile_btn" type="button" data-js="app_profile_btn" data-action="open_bot_dm" href="/messages/@{{username}}" data-qa="app_header_message_button">{{#t}}Message{{/t}}</a>
          {{/and}}
          {{!-- Settings button --}}
          <a class="btn app_profile_btn" type="button" data-js="app_profile_btn" href="/services/{{bot_id}}" target="_blank" data-qa="app_header_settings_button">
            {{#t}}Settings{{/t}}
          </a>
        {{/unless}}
        {{!-- Overflow menu button --}}
        {{#unless (and custom_integration_type (if_not_equal custom_integration_type compare="bot"))}}
          <button class="btn app_profile_btn" type="button" data-js="app_profile_btn" data-action="open_overflow_menu" data-qa="app_header_overflow_menu_button">
            <ts-icon class="ts_icon_chevron_large_down no_right_margin"></ts-icon>
          </button>
        {{/unless}}
      </div>
    {{/if}}
  </div>
</div>