<div id="menu" class="menu">
  <div class="popover_mask"></div>
  <div class="menu_content">
    <div id="menu_header"></div>
    {{#pageNeedsEnterpriseOrIsLazyLoadMembersAndBots}}
      <div id="menu_promise_spinner" class="hidden"><ts-icon class="ts_icon_spin ts_icon_spinner"></ts-icon></div>
      <div id="menu_list_container">
        <div id="menu_list" role="menu"></div>
      </div>
    {{/pageNeedsEnterpriseOrIsLazyLoadMembersAndBots}}
    <div id="menu_items_scroller">
      <div class="menu_body">
        {{!-- all lists (e.g. `ul`) should have class `menu_list` for a11y --}}
      </div>

      <ul id="menu_items" role="menu" no-bootstrap="1">
        {{!
          Markup for menu items is inserted here by TS.menu:
          <li id="menu_action_key" role="menuitem"><a>Item Label</a></li>
        }}
      </ul>
    </div>
    <div id="menu_footer"></div>
  </div>
</div>
