{{i18n_ns "files"}}

{{#if should_show_box}}
  <li role="menuitem" data-which="box" class="file_menu_item"><a><i class="file_menu_icon ts_icon ts_icon_box"></i> {{#t note="Box, the cloud service"}}Box{{/t}}</a></li>
{{/if}}

{{#if should_show_dropbox}}
  <li role="menuitem" data-which="dropbox" class="file_menu_item"><a><i class="file_menu_icon ts_icon ts_icon_dropbox"></i> {{#t note="Dropbox, the cloud service"}}Dropbox{{/t}}</a></li>
{{/if}}

{{#if should_show_gdrive}}
  <li role="menuitem" data-which="gdrive_import"><a><i class="file_menu_icon ts_icon ts_icon_google_drive"></i> {{#t note="Google Drive, the cloud service"}}Google Drive{{/t}}</a></li>
{{/if}}
