{{! INSTANT ACTIONS }}
{{#if actions.share}}
  {{! Share isn't an instant action, but it's the most common action so it wins and comes first }}
  <li id="share_file" data-file-id="{{file.id}}" data-source-model-id="{{source_model_ob_id}}" role="menuitem"><a>Share</a></li>
{{/if}}

{{#if actions.share_private_file}}
  <li id="share_private_file" data-file-id="{{file.id}}" data-source-model-id="{{source_model_ob_id}}" role="menuitem"><a>Share</a></li>
{{/if}}

{{#if actions.rxn_file}}
  <li id="rxn_file" data-file-id="{{file.id}}" data-rxn-key="{{file._rxn_key}}" role="menuitem"><a class="add_rxn_menu_item">Add reaction &hellip;</a></li>
{{/if}}

{{#if actions.copy_file_link}}
  <li id="copy_file_link" data-file-id="{{file.id}}" role="menuitem"><a>Copy link</a></li>
{{/if}}

{{#if actions.comment}}
  <li id="comment_file" data-file-id="{{file.id}}" role="menuitem"><a>Comment</a></li>
{{/if}}

{{#if info_pane_visible}}
  <li id="star_file" class="star_link star_file {{#if file.is_starred}}starred{{/if}}" data-file-id="{{file.id}}" role="menuitem"><a>{{#if file.is_starred}}Unstar{{else}}Star{{/if}}</a></li>
{{/if}}

{{#if actions.pin_file}}
  <li id="pin_file" data-file-id="{{file.id}}" role="menuitem"><a>Pin to {{pinToLabel model_ob}} &hellip;</a></li>
{{/if}}

{{#if actions.unpin_file}}
  <li id="unpin_file" data-file-id="{{file.id}}" role="menuitem"><a>Un-pin from {{pinToLabel model_ob}}</a></li>
{{/if}}

{{#if actions.open_in_flexpane}}
  <li id="open_in_flexpane" data-file-id="{{file.id}}" role="menuitem"><a>View details</a></li>
{{/if}}
{{#if actions.open_file_page}}
  <li id="open_file_page" data-file-id="{{file.id}}" role="menuitem"><a href="{{file.permalink}}">Open file page</a></li>
{{/if}}

{{#if actions.open_original}}
  <li id="open_original_file" data-file-id="{{file.id}}" role="menuitem">
    <a href="{{file.url_private}}" target="{{file.id}}">
      {{#if_equal file.mode compare="snippet"}}View raw{{else}}Open original{{/if_equal}}
    </a>
  </li>
{{/if}}

{{#if actions.download}}
  <li id="download_file" data-file-id="{{file.id}}" role="menuitem"><a href="{{file.url_private_download}}" {{#isClient}}target="{{file.id}}"{{/isClient}}>Download</a></li>
{{/if}}

{{#if actions.new_window}}
  <li id="open_new_window" data-file-id="{{file.id}}" role="menuitem">
    <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}"{{/isClient}}>Open in new window</a>
  </li>
{{/if}}

{{#if show_workflow_divider}}
  <li class="divider"></li>
{{/if}}

{{! WORKFLOW ACTIONS }}
{{! when updating this section, see show_workflow_divider template_arg }}
{{#if actions.edit}}
  {{#if_equal file.mode compare="snippet"}}
    <li id="edit_file_snippet" data-file-id="{{file.id}}" role="menuitem">
      <a href="{{file.edit_link}}"{{#if file.is_truncated}} target="{{file.edit_link}}"{{/if}}>Edit &hellip;</a>
    </li>
  {{/if_equal}}
  {{#if_equal file.mode compare="post"}}
    <li id="edit_file_post" data-file-id="{{file.id}}" role="menuitem">
      <a href="{{file.permalink}}/edit" {{#isClient}}target="{{file.permalink}}/edit"{{/isClient}}>Edit &hellip;</a>
    </li>
  {{/if_equal}}
  {{#if_equal file.mode compare="space"}}
    <li id="edit_file_space" data-file-id="{{file.id}}" role="menuitem">
      <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}/edit"{{/isClient}}>Edit &hellip;</a>
    </li>
  {{/if_equal}}
  {{#if_equal file.mode compare="multnomah"}}
    <li id="edit_file_multnomah" data-file-id="{{file.id}}" role="menuitem">
      <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}/edit"{{/isClient}}>Edit &hellip;</a>
    </li>
  {{/if_equal}}
{{/if}}

{{#isClient}}
  {{#if actions.edit_title}}
    <li id="edit_file_title" data-file-id="{{file.id}}" role="menuitem">
      {{#isClient}}
        <a>Rename &hellip;</a>
      {{else}}
        <a href="{{file.permalink}}/edit">Rename &hellip;</a>
      {{/isClient}}
    </li>
  {{/if}}
{{/isClient}}

{{#if actions.create_public_link}}
  {{#feature flag="feature_external_files"}}
    <li id="create_public_link" data-file-id="{{file.id}}" role="menuitem"><a>Create external link &hellip;</a></li>
  {{else}}
    <li id="create_public_link" data-file-id="{{file.id}}" role="menuitem"><a>Create public link &hellip;</a></li>
  {{/feature}}

{{/if}}
{{#if actions.revoke_public_link}}
  {{#if actions.view_public_link}}
    {{#feature flag="feature_external_files"}}
      <li id="view_public_link" data-file-id="{{file.id}}" role="menuitem"><a>View external link &hellip;</a></li>
    {{else}}
      <li id="view_public_link" data-file-id="{{file.id}}" role="menuitem"><a>View public link &hellip;</a></li>
    {{/feature}}
  {{else}}
    {{#feature flag="feature_external_files"}}
      <li id="revoke_public_link" data-file-id="{{file.id}}" role="menuitem"><a>Revoke external link &hellip;</a></li>

    {{else}}
      <li id="revoke_public_link" data-file-id="{{file.id}}" role="menuitem"><a>Revoke public link &hellip;</a></li>
    {{/feature}}
  {{/if}}
{{/if}}

{{#if actions.print}}
  <li id="print_file" data-file-id="{{file.id}}" role="menuitem"><a>Print &hellip;</a></li>
{{/if}}

{{#if actions.save_to_dropbox}}
  <li id="save_to_dropbox" data-file-id="{{file.id}}" role="menuitem"><a>Save to Dropbox &hellip;</a></li>
{{/if}}

{{#if actions.refresh}}
  <li id="refresh_file" data-file-id="{{file.id}}" role="menuitem"><a><span class="item_label">{{#if is_refreshing}}Refreshing &hellip;{{else}}Refresh file &hellip;{{/if}}</span></a></li>
{{/if}}

{{! DESTRUCTIVE ACTIONS }}
{{#if actions.delete_file}}
  <li class="divider"></li>
  <li id="delete_file" data-file-id="{{file.id}}" class="danger" role="menuitem"><a>Delete file{{#if file.is_external}} from Slack{{/if}}</a></li>
{{/if}}
