{{i18n_ns "profile"}}

<li data-action="edit_member_profile_upload_image">
  <a class="position_relative">
    {{#if is_iOS}}<input type="file" accept="image/*;capture=camera" aria-hidden="true" data-action="edit_member_profile_upload_photo" />{{/if}}
    {{#t note="For your profile photo"}}Upload an image{{/t}}
  </a>
</li>
{{#if show_delete}}
  <li data-action="edit_member_profile_to_delete" class="danger" data-id="{{id}}"><a>{{#t note="Remove your profile photo"}}Remove photo{{/t}}</a></li>
{{/if}}