{{i18n_ns "menu"}}

<li role="menuitem"><a data-doc-type="document" data-doc-display-type="{{#t}}Document{{/t}}">
  {{#t note="A type of Google document to create"}}Document{{/t}}
</a></li>
<li role="menuitem"><a data-doc-type="spreadsheet" data-doc-display-type="{{#t}}Spreadsheet{{/t}}">
  {{#t note="A type of Google document to create"}}Spreadsheet{{/t}}
</a></li>
<li role="menuitem"><a data-doc-type="presentation" data-doc-display-type="{{#t}}Presentation{{/t}}">
  {{#t note="A type of Google document to create"}}Presentation{{/t}}
</a></li>
