{{i18n_ns "menu"}}

<div class="menu_member_header">
  <div class="member_details display_flex flex_direction_column align_items_flex_start cropped_preview">
    {{makeMemberPreviewCardLinkImage member.id}}

    <p class="member_timezone_value">
      {{#or member._is_external (or member.is_restricted member.is_bot)}}
        <span class="float_right left_margin">
      {{/or}}
      <span class="timezone_label" data-member-id="{{member.id}}">{{memberLocalTime member}}</span>
      {{#if member.is_self}}
        (<a href='/account/settings' target="{{newWindowName}}" {{#feature flag="feature_client_tz_picker"}}data-action="edit_member_profile_modal"{{/feature}}>{{#t note="A link to change your own timezone"}}change{{/t}}</a>)
      {{/if}}
      {{#or member._is_external (or member.is_restricted member.is_bot)}}
        </span>
      {{/or}}
      {{#if member._is_external}}
        <span class="lato">
          <span class="overflow_ellipsis"><span class="very_small_right_margin">{{makeMemberTypeBadge member 16 true false}}</span> External Guest</span>
        </span>
      {{else if member.is_restricted}}
        <span class="lato">
          <span class="overflow_ellipsis">
            {{#if member.is_ultra_restricted}}
              {{#t}}Single-Channel Guest in #{ura_channel}{{/t}}
            {{else}}
              {{raLabel 'Restricted Account'}}
            {{/if}}
          </span>
        </span>
      {{else if member.is_bot}}
        <span class="lato">
          <span class="overflow_ellipsis">{{#t note="Labelling a bot in the member card"}}Non-sentient Bot{{/t}}</span>
        </span>
      {{/if}}
    </p>

    <div class="member_details_over_image">
      <div class="member_name_and_presence lato">
        {{#feature flag="feature_name_tagging_client"}}
          {{#if member.deleted}}
            <a href="/team/{{member.id}}" target={{newWindowName}} class="member_name" data-qa="member_name">{{getMemberFullName member}}</a>
          {{else}}
            {{#if member.is_self}}
              <a href="/team/{{member.id}}" target={{newWindowName}} class="member_name" data-qa="member_name">{{getMemberFullName member}}</a>
            {{else}}
              <a href="/messages/{{member.id}}" target="/messages/{{member.id}}" data-member-id="{{member.id}}" class="member_name internal_im_link" data-qa="member_name">{{getMemberFullName member}}</a>
            {{/if}}
            {{makeMemberPresenceIcon member}}
          {{/if}}
        {{else}}
          {{#if member.deleted}}
            <a href="/team/{{member.name}}" target={{newWindowName}} class="member_name" data-qa="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
          {{else}}
            {{#if member.is_self}}
              <a href="/team/{{member.name}}" target={{newWindowName}} class="member_name" data-qa="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
            {{else}}
              <a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-name="{{member.name}}" class="member_name internal_im_link" data-qa="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
            {{/if}}
            {{makeMemberPresenceIcon member}}
          {{/if}}
        {{/feature}}
      </div>

      {{#if member.profile}}
        {{#if member.profile.title}}
          <div class="member_title lato">{{member.profile.title}}</div>
        {{/if}}
      {{/if}}
    </div>
  </div>

  <hr class="member_details_divider">
</div>
