{{i18n_ns "team"}}

{{#if member.is_stranger}}
  <div class="menu_member_footer">
    <p class="menu_member_footer_notice no_bottom_margin">
      {{#t member_name=(getPrefCompliantMemberName member)}}
        <strong>You don\u2019t share any channels with {member_name}.</strong>
        To\u00a0interact with a person from another workspace, you need to be in at least one channel together.
      {{/t}}
    </p>
  </div>
{{else if member.deleted}}
{{else}}
  <div class="menu_member_footer">
    <div id="menu_member_dm_input"></div>
  </div>
{{/if}}