{{i18n_ns "app_card"}}

{{#and disabled (if_not_equal is_slack_integration compare=true)}}
  <li role="menuitem" class="disabled italic" data-qa="app_card_app_disabled"><a class="greigh">
    {{#t}}This app has been disabled.{{/t}}
  </a></li>
{{/and}}

{{#unless hide_link_to_app_profile}}
  <li role="menuitem" data-action="view_details" data-qa="app_card_view_details">
    <a>{{#t}}View app details{{/t}}</a>
  </li>
{{/unless}}

{{#if deleted}}
  <li role="menuitem" data-qa="app_card_view_app_directory"><a href="/apps/{{app_id}}" target="_blank">
    {{#t}}View in app directory{{/t}}
  </a></li>
{{else}}
  {{#unless is_external_app}}
    <li role="menuitem" data-qa="app_card_edit_settings"><a href="/services/{{bot_id}}" target="_blank">
      {{#t}}View app permissions{{/t}}
    </a></li>
  {{/unless}}
{{/if}}
{{!-- Bot-specific --}}
{{#if bot_user}}
  {{!-- Files --}}
  <li role="menuitem" data-action="files" data-qa="app_card_files"><a href="/files/{{username}}">
    {{#t}}View files shared by {name}{{/t}}
  </a></li>
  {{!-- Remove from channel --}}
  {{#if channel_kick_name}}
    <li role="menuitem" data-action="remove_from_channel" data-qa="app_card_remove_from_channel"><a>
      {{#t}}Remove from <b>{channel_kick_name}</b>{{/t}}
    </a></li>
  {{/if}}
  {{#if show_channel_invite}}
    <li role="menuitem" data-action="invite_to_channel" data-qa="app_card_invite_to_channel"><a>
      {{#t}}Invite {name} to a channel&hellip;{{/t}}
    </a></li>
  {{/if}}
{{/if}}
{{#unless disabled}}
  {{#if commands}}
    <li class="divider"></li>
    {{#with commands.[0]}}
      <li role="menuitem" data-slash-command-autofill="{{name}} " data-qa="app_card_slash_command" data-app_profile_slash_command="true">
        <a class="app_slash_command">
          <div class="app_slash_command_title overflow_ellipsis">
            <span class="app_slash_command_title_name">{{name}}</span>
            <span>{{usage}}</span>
          </div>
          <div class="app_slash_command_desc overflow_ellipsis">{{desc}}</div>
        </a>
      </li>
    {{/with}}
  {{/if}}
{{/unless}}
{{#if installation_summary}}
  <li class="divider"></li>
  <li role="menuitem"  data-qa="app_card_installation_summary">
    <span class="app_card_installation_summary">{{installation_summary}}</span>
  </li>
{{/if}}
{{#and disabled is_slack_integration}}
  <li role="menuitem" class="disabled italic small_top_margin" data-qa="app_card_service_disabled"><a class="greigh">
    {{#t}}This rule has been disabled.{{/t}}
  </a></li>
{{/and}}
