{{i18n_ns 'menu'}}

<li id="member_profile_item" role="menuitem"><a href="/team/{{~#feature flag="feature_name_tagging_client"~}}
  {{member.id}}
{{~else~}}
  {{~#feature flag="feature_shared_channels_client"~}}
    {{member.id}}
  {{~else~}}
    {{member.name}}
  {{~/feature~}}
{{~/feature~}}">{{#t note="Menu option on a member row on the team site"}}View Profile{{/t}}</a></li>

<li id="member_files_item" role="menuitem"><a href="/files/{{member.name}}">{{#t note="Menu option on a member row on the team site"}}View Files{{/t}}</a></li>
