{{i18n_ns "menu"}}

  <li id="group_jump_item" role="menuitem">
    <a target="{{newWindowName}}">{{#t note="Jump to date in private channel history"}}Jump to date &hellip;{{/t}}</a>
  </li>
{{#if user.is_ultra_restricted}}
  <li id="group_details_item">
    <a>{{#t}}View channel details{{/t}}</a>
  </li>
  <li class="divider"></li>
  <li id="group_prefs" role="menuitem"><a>
    {{#t note="Individual channel notification preferences"}}Notification preferences &hellip;{{/t}}
  </a></li>
  <li id="group_mute_item" role="menuitem"><a>
    {{#if group_is_muted}}
      {{#t note="Unmute an individual private channel"}}Unmute {group.name}{{/t}}
    {{else}}
      {{#t note="Mute an individual private channel"}}Mute {group.name}{{/t}}
    {{/if}}
  </a></li>
{{else}}
  {{#if user.is_restricted}}
    <li id="group_invite_item" role="menuitem"><a>
      {{#t note="Invite to a private channel"}}Invite others to {group.name} &hellip;{{/t}}
    </a></li>
    <li id="group_details_item"><a>
      {{#t}}View channel details{{/t}}
    </a>
    </li>
    <li class="divider"></li>
    <li id="group_prefs" role="menuitem"><a>
      {{#t note="Individual channel notification preferences"}}Notification preferences &hellip;{{/t}}
    </a></li>
    <li id="group_mute_item" role="menuitem"><a>
      {{#if group_is_muted}}
        {{#t note="Unmute an individual private channel"}}Unmute {group.name}{{/t}}
      {{else}}
        {{#t note="Mute an individual private channel"}}Mute {group.name}{{/t}}
      {{/if}}
    </a></li>
    <li class="divider"></li>

    {{#if_equal leave_action compare='close'}}
      <li id="group_leave_item" role="menuitem"><a>
        {{#t note="Leave a private channel"}}Leave {group.name} &hellip;{{/t}}
      </a></li>
    {{/if_equal}}

    {{#if_equal leave_action compare='leave_and_archive'}}
      <li id="group_leave_item" role="menuitem"><a>
        {{#t note="Leave and archive a private channel"}}Leave and Archive {group.name} &hellip;{{/t}}
      </a></li>
    {{/if_equal}}

    {{#if_equal leave_action compare='leave'}}<li id="group_leave_item" role="menuitem"><a>
      {{#t note="Leave a private channel"}}Leave {group.name}{{/t}}
    </a></li>{{/if_equal}}
  {{else}}
    {{#if group.is_archived}}
      <li id="group_details_item"><a>
        {{#t note="View channel details of a private and archived channel"}}View channel details{{/t}}
      </a>
      </li>
      <li class="divider"></li>
      {{#unless (if_equal group.is_moved compare=1)}}
        <li id="group_unarchive_item" role="menuitem"><a>
          {{#t note="Un-achive a private channel"}}Un-archive channel{{/t}}
        </a></li>
      {{/unless}}
      <li id="group_leave_item" role="menuitem"><a>
        {{#t note="Leave an archived private channel"}}Leave {group.name}{{/t}}
      </a></li>
    {{else}}
      {{#unless user.is_restricted}}
        <li id="group_invite_item" role="menuitem"><a>
          {{#t note="Invite to a private channel"}}Invite team members to join &hellip;{{/t}}
        </a></li>
      {{/unless}}
      {{#feature flag="feature_workspace_token_apps_in_client"}}
        {{#if show_add_apps}}
          <li id="group_add_apps_item" role="menuitem">
            <a>{{#t}}Add apps ...{{/t}}</a>
          </li>
        {{/if}}
      {{/feature}}
      <li id="group_details_item"><a>
        {{#t}}View channel details{{/t}}
      </a></li>
      {{#if show_manage_teams}}
        <li id="channel_manage_teams_item" role="menuitem"><a>
          {{#feature flag="feature_removing_workspaces_from_cross_workspace_channels"}}
            {{#t  note="Manage enterprise teams in this private channel"}}Manage access to this channel &hellip;{{/t}}
          {{else}}
            {{#t note="Manage enterprise teams in this private channel"}}Manage teams in this channel &hellip;{{/t}}
          {{/feature}}
        </a></li>
      {{/if}}
      {{#if show_advanced_item}}
        <li id="group_advanced_item" role="menuitem"><a>
          {{#t note="Opens a menu of additional options for a private channel"}}Additional options &hellip;{{/t}}
        </a></li>
      {{/if}}
      {{#if show_message_retention}}
        <li id="group_message_retention" role="menuitem"><a>
          {{#t note="Set the message retention policy"}}Set message retention policy &hellip;{{/t}}
        </a></li>
      {{/if}}
      <li class="divider"></li>
      {{#if show_convert_item}}
        <li id="group_convert_item" role="menuitem"><a>
          {{#t}}Convert to a shared channel{{/t}}
        </a></li>
      {{/if}}
      <li id="group_prefs" role="menuitem"><a>
        {{#t note="Open menu of notification preferences for private channels"}}Notification preferences &hellip;{{/t}}
      </a></li>
      <li id="group_mute_item" role="menuitem"><a>
        {{#if group_is_muted}}
          {{#t note="Unmute an individual private channel"}}Unmute {group.name}{{/t}}
        {{else}}
          {{#t note="Mute an individual private channel"}}Mute {group.name}{{/t}}
        {{/if}}
      </a></li>
      {{#unless show_add_apps}}
        <li class="divider"></li>
        {{#unless is_not_allowed_integrations}}
          <li id="group_add_service_item" role="menuitem"><a href="/services/new?channel_id={{group.id}}" target="{{newWindowName}}">
            {{#t fallback_hash="3a6c4b457ad2eae37680614d08685481c4ca84d1"}}Add an app{{/t}}
          </a></li>
        {{/unless}}
      {{/unless}}

      {{#if show_email_item}}
        <li id="group_email_item" role="menuitem">
          <a target="{{newWindowName}}" href="/services/new/email">
            {{#t}}Send email to {group.name} &hellip;{{/t}}
          </a>
        </li>
      {{/if}}

      {{#unless is_not_allowed_integrations}}
        <li class="divider"></li>
      {{else}}
        {{#if show_email_item}}
          <li class="divider"></li>
        {{/if}}
      {{/unless}}

      {{#if_equal leave_action compare='leave_and_archive'}}
        <li id="group_leave_item" role="menuitem"><a>
          {{#t note="Leave and archive a private channel"}}Leave and Archive {group.name}{{/t}}
        </a></li>
      {{else}}
        <li id="group_leave_item" role="menuitem"><a>
          {{#t note="Leave a private channel"}}Leave {group.name}{{/t}}
        </a></li>
      {{/if_equal}}

    {{/if}}

    {{#if show_export_history}}
      <li class="divider"></li>
      <li id="group_export_history" role="menuitem"><a>
        {{#t}}Export message history &hellip;{{/t}}
      </a></li>
    {{/if}}
  {{/if}}
{{/if}}
