<input id="emoji_input" type="text" placeholder="{{#t note='Placeholder label for emoji picker search'}}Search{{/t}}"><i class="ts_icon ts_icon_search icon_search subtle_silver"></i>
<h3 id="emoji_search_results_h3" class="hidden clear_both">{{#t note="Heading for emoji picker search results"}}Search Results{{/t}}</h3>

{{!<div id="emoji_rxns_section_div" class="emoji_section_div">
  <h3 id="emoji_rxns_h3" class="clear_both">This guy</h3>
  <div id="emoji_rxns_panel_container"></div>
</div>}}

{{! NOTE: white space is important here because we display these div inline when searching, so leave as is, though ugly }}
{{~#each emoji_groups~}}<div class="emoji_section_div"><h3 id="emoji_h3_{{this.name}}" class="clear_both {{this.name}}" data-group-name="{{this.name}}">{{this.display_name}}</h3><div class="emoji_ul" id="emoji_ul_{{this.name}}" data-group-name="{{this.name}}">
  {{~#each this.items~}}
    <a class="emoji_li {{#if this.is_skin}}skin_tone skin_tone_{{this.skin_tone_id}}{{/if}}"
      data-row="{{this.row_index}}"
      data-col="{{this.col_index}}"
      data-color-index="{{this.color_index}}"
      data-name="{{this.name}}"
      data-names="{{this.names}}">{{dangerouslyRenderHTML this.html}}</a>
  {{~/each~}}
</div></div>{{~/each~}}

<div id="emoji_zero_results" class="hidden"><i class="fa fa-ban"></i> &nbsp;{{#t note="No emoji found after searching in emoji picker"}}No emoji found{{/t}}<br></div>
  
<div id="emoji_tip"><i class="fa fa-info-circle"></i> &nbsp;{{#t note="Instructions for typing emoji shortcuts"}}Type <b>":"</b> and hit TAB key for autocomplete{{/t}}<br>
{{~#if can_add_emoji~}}
<i class="ts_icon ts_icon_plus ts_icon_inherit"></i> &nbsp;{{#t note="Shown in the emoji picker"}}You can <a href="/admin/emoji" target="_blank">add custom emoji here{{/t}}</a>
{{~/if~}}
</div>
