{{i18n_ns "menu"}}

{{!-- 90% copied from templates/js/menu/team_and_user_items.hbs --}}
<section class="slack_menu_you slack_menu_section" aria-label="{{#t}}you{{/t}}">

  {{#unless is_user_menu}}
    {{> slack_menu_you_header user}}
  {{/unless}}

  <ul class="menu_list">
    <li id="member_current_status_item" class="has_submenu" data-qa="member_current_status_link" role="menuitem">
      <a class="overflow_ellipsis">
        {{#if user.profile.status_text}}
          {{#t note="Menu option for a user with a current status set to change that status"}}Edit status{{/t}}
        {{else}}
          {{#t note="Menu option for a user with no current status set to set one"}}Set a status{{/t}}
        {{/if}}
        <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon>
      </a>
    </li>

    <li id="member_account_item" data-qa="member_account_link" role="menuitem">
      <a class="overflow_ellipsis" href="/account/settings" target="{{newWindowName}}">{{#t}}Profile &amp; account{{/t}}</a>
    </li>

    <li id="member_prefs_item" role="menuitem">
      <a class="overflow_ellipsis" href="/account/settings" target="{{newWindowName}}">{{#t}}Preferences{{/t}}</a>
    </li>

    <li id="member_presence" role="menuitem">
      <a>
        <span class="menu_item_label overflow_ellipsis">
          {{#if_equal user.presence compare="active"}}
            {{#t}}Set yourself to <strong>away</strong>{{/t}}
          {{else}}
            {{#t}}[Away] Set yourself to <strong>active</strong>{{/t}}
          {{/if_equal}}
        </span>
      </a>
    </li>

    {{#if help_url}}
      <li id="team_help" role="menuitem">
        <a class="overflow_ellipsis" href="/help" target="{{newWindowName}}">{{#t}}Help &amp; feedback{{/t}}</a>
      </li>
    {{/if}}

    {{#if this.show_version_info}}
      <li id="version_info" role="menuitem">
        <a class="overflow_ellipsis">{{#t}}Version info (TS only){{/t}}</a>
      </li>
    {{/if}}

  </ul>
</section>

{{#unless is_user_menu}}
<section class="slack_menu_current_team slack_menu_section" aria-label="{{#t}}current team{{/t}}">
  {{> slack_menu_team_header team}}

  <ul class="menu_list">
    {{#if can_invite}}
      {{#if can_view_shared_invites}}
        <li id="team_invitations" role="menuitem" class="has_submenu">
          <a class="overflow_ellipsis">
            {{#t}}Invite people{{/t}}
            <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon>
          </a>
        </li>
      {{else}}
        <li id="team_invitations" role="menuitem" data-clog-event="INVITEMODAL_ACTION" data-clog-params="action=open_modal,trigger=click_team_menu_invite_btn">
          <a class="overflow_ellipsis" href="/admin/invites" target="{{newWindowName}}">{{#t}}Invite people{{/t}}</a>
        </li>
      {{/if}}
    {{/if}}

    {{#pageNeedsEnterprise}}
      {{#if this.user.is_admin}}
        <li id="administration" class="has_submenu" role="menuitem">
          <a class="overflow_ellipsis">{{#t}}Administration{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon></a>
        </li>
      {{/if}}
    {{else}}
      {{#if this.user.is_admin}}
        <li id="manage_team" role="menuitem">
          <a class="overflow_ellipsis" href="/admin" target="{{newWindowName}}">{{#t}}Manage team members{{/t}}</a>
        </li>
      {{/if}}

      {{#if show_team_subdivider}}
        <li class="divider subdivider"></li>
      {{/if}}

      {{#if this.user.is_admin}}
        <li id="team_settings" role="menuitem">
          <a class="overflow_ellipsis" href="/admin/settings" target="{{newWindowName}}">{{#t}}Team settings{{/t}}</a>
        </li>
      {{/if}}
    {{/pageNeedsEnterprise}}

    {{#unless this.user.is_restricted}}
      {{#if show_customize_link}}
        <li id="team_customize" role="menuitem">
          <a class="overflow_ellipsis" href="/customize" target="{{newWindowName}}">{{#t}}Customize Slack{{/t}}</a>
        </li>
      {{/if}}

      {{#if show_apps_link}}
        <li id="team_services" role="menuitem">
          <a class="overflow_ellipsis" href="/apps/manage" target="{{newWindowName}}">
            {{#t fallback_hash="1acdd2cff1fb7a0c46f57d4da57be477a52a22e0"}}Manage apps{{/t}}
          </a>
        </li>
      {{/if}}
    {{/unless}}

    {{#if show_statistics_link}}
      <li id="team_statistics" role="menuitem">
        <a class="overflow_ellipsis" href="/stats" target="{{newWindowName}}">{{#feature flag="feature_basic_analytics"}}{{#t}}Analytics{{/t}}{{else}}{{#t}}Statistics{{/t}}{{/feature}}</a>
      </li>
    {{/if}}

    {{#if this.user.is_owner}}
      {{#isOurApp}}
        {{#isMacAppStorebuild}}
        {{else}}
          {{#if this.team.plan}}
            <li id="team_billing" role="menuitem">
              <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
            </li>
          {{else}}
            {{#experiment name="upgrade_slack_team_menu" group="show_upgrade_slack"}}
              <li id="team_pricing" role="menuitem">
                <a class="overflow_ellipsis" href="/pricing?ui_step=61&ui_element=5" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="pricing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Upgrade Slack{{/t}}</a>
              </li>
            {{else}}
              <li id="team_billing" role="menuitem">
                <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
              </li>
            {{/experiment}}
          {{/if}}
        {{/isMacAppStorebuild}}
      {{else}}
        {{#if this.team.plan}}
          <li id="team_billing" role="menuitem">
            <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
          </li>
        {{else}}
          {{#experiment name="upgrade_slack_team_menu" group="show_upgrade_slack"}}
            <li id="team_pricing" role="menuitem">
              <a class="overflow_ellipsis" href="/pricing?ui_step=61&ui_element=5" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="pricing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Upgrade Slack{{/t}}</a>
            </li>
          {{else}}
            <li id="team_billing" role="menuitem">
              <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
            </li>
          {{/experiment}}
        {{/if}}
      {{/isOurApp}}
    {{/if}}

    {{#show_shared_channels}}
      <li id="shared_channels" role="menuitem">
        <a class="overflow_ellipsis">{{#t}}Shared channels{{/t}}</a>
      </li>
    {{/show_shared_channels}}

    {{#pageNeedsEnterprise}}
      {{#if can_show_leave_workspace}}
        <li id="leave_workspace" role="menuitem">
          <a class="overflow_ellipsis">{{#t}}Leave this team{{/t}}</a>
        </li>
      {{/if}}
    {{/pageNeedsEnterprise}}

    {{! add logout_url here if user is either: }}
    {{! 1. Not currently logged into any orgs }}
    {{! 2. Currently veiwing an org team but not logged into any other teams of that same org}}
    {{#if current_team_gets_logout_url}}
      {{#if logout_url}}
        <li id="logout" role="menuitem" class="logout_url">
          <a class="menu_list_link overflow_ellipsis" href="{{logout_url}}" target="_self">{{#t}}Sign out of <strong>{team_name}</strong>{{/t}}</a>
        </li>
      {{/if}}
    {{else}}
      {{#if enterprise_logout_url}}
        <li class="divider subdivider"></li>
        {{#unless this.user.is_restricted}}
          <li id="workspaces" role="menuitem">
            <a class="overflow_ellipsis">{{#t}}Find more teams{{/t}}</a>
          </li>
        {{/unless}}
        <li id="enterprise_logout" role="menuitem" class="enterprise_logout_url">
          <a class="overflow_ellipsis" href="{{enterprise_logout_url}}" target="_self">{{#t team_name=(currentEnterpriseName)}}Sign out of <strong>{team_name}</strong>{{/t}}</a>
        </li>
      {{/if}}
    {{/if}}

  </ul>
</section>

{{#pageNeedsEnterprise}}
  {{#if show_switch_teams_submenu}}
    <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}switch teams{{/t}}">
      <ul class="menu_list">
        {{#isOurApp}}
          {{#if signin_url}}
            <li id="add_team" role="menuitem">
              <a class="overflow_ellipsis" href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a>
            </li>
          {{/if}}
        {{else}}
          <li id="switch_teams" class="has_submenu" role="menuitem">
            <a class="overflow_ellipsis">{{#t}}Switch teams &hellip;{{/t}} <ts-icon class="ts_icon_caret_right submenu_caret"></ts-icon></a>
          </li>
        {{/isOurApp}}
      </ul>
    </section>
  {{else}}
    <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}other team accounts{{/t}}">
      <ul class="menu_list">
        {{#isOurApp}}{{else}}
          {{#if other_accounts}}
            {{#each other_accounts}}
              <li class="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
                <a class="menu_list_link overflow_ellipsis" href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
              </li>
            {{/each}}
          {{/if}}
        {{/isOurApp}}

        {{#if signin_url}}
          <li id="add_team" role="menuitem">
            <a class="overflow_ellipsis" href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a>
          </li>
        {{/if}}
      </ul>
    </section>
  {{/if}}
{{else}}
  <section class="slack_menu_your_teams slack_menu_section" aria-label="{{#t}}other team accounts{{/t}}">
    <ul class="menu_list">
      {{#isOurApp}}{{else}}
        {{#if other_accounts}}
          {{#each other_accounts}}
            <li class="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
              <a class="menu_list_link overflow_ellipsis" href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
            </li>
          {{/each}}
        {{/if}}
      {{/isOurApp}}

      {{#if signin_url}}
        <li id="add_team" role="menuitem">
          <a class="overflow_ellipsis" href="{{signin_url}}"> {{#t}}Sign in to another team &hellip;{{/t}}</a>
        </li>
      {{/if}}
    </ul>
  </section>
{{/pageNeedsEnterprise}}

{{#unlessOurApp}}
  <section class="slack_menu_download slack_menu_section" aria-label="{{#t}}download apps{{/t}}">
    <ul class="menu_list">
      <li id="team_apps" role="menuitem">
          <a href="/ssb/open" class="download_link bold deep_login_url overflow_ellipsis" target="{{newWindowName}}">
            {{#t}}Open the Slack App{{/t}}
            <ts-icon class="ts_icon_arrow_ne_medium submenu_caret"></ts-icon>
          </a>
      </li>
    </ul>
  </section>
{{/unlessOurApp}}
{{/unless}}