<div
  class="app_card_header display_flex flex_direction_row align_items_flex_start {{#if large}}app_header_large rounded{{else}}rounded_top {{#feature flag="feature_app_profiles_frontend"}}cursor_pointer{{/feature}}{{/if}}"
  {{!-- Styling for dynamic background color --}}
  {{#if color}}
    style="background: linear-gradient(136.53deg, rgba(255,255,255,0.05) 0%, rgba(255,255,255,0.2) 100%), linear-gradient(312.01deg, {{color.hex}} 0%, rgba({{color.r}},{{color.g}},{{color.b}},0.75) 100%); background-color: #2C2D30;"
  {{/if}}
>
  {{#if emoji_img_tag}}
    <div class="app_card_emoji rounded neutral_white_bg">{{emoji_img_tag}}</div>
  {{else}}
    <img class="app_card_header_icon rounded"
      {{#if bot_icons}}
        src="{{bot_icons.image_72}}"
      {{else if app_icons}}
        {{#if is_slack_integration}}
          {{!-- Slack owned apps have icons with transparent backgrounds (and position) below 192px. --}}
          src="{{app_icons.image_192}}"
        {{else if large}}
          src="{{app_icons.image_96}}" srcset="{{app_icons.image_96}} 1x, {{app_icons.image_192}} 2x"
        {{else}}
          src="{{app_icons.image_64}}" srcset="{{app_icons.image_64}} 1x, {{app_icons.image_128}} 2x"
        {{/if}}
      {{else}}
        src="{{versioned_default_application_icon}}"
      {{/if}}
    >
  {{/if}}
  <div class="app_card_header_text">
    <div class="app_card_name_row lato_black flexpane_grey display_flex align_items_center">
      <span class="app_name overflow_ellipsis">{{name}}</span>
      <div><span class="app_label lato neutral_white">APP</span></div>
    </div>
    {{#if desc}}
      <div class="app_card_desc lato flexpane_grey overflow_hidden">{{desc}}</div>
    {{/if}}
    {{#if large}}
      <div class="app_profile_buttons">
        {{#if bot_user}}
          <a class="btn app_profile_btn" type="button" data-action="open_bot_dm" href="/messages/@{{username}}">Message</a>
        {{/if}}
        <a class="btn app_profile_btn" type="button" href="/services/{{bot_id}}" target="/services/{{bot_id}}">Settings</a>
         <button class="btn app_profile_btn btn_icon ts_icon ts_icon_chevron_large_down" type="button"></button>
      </div>
    {{/if}}
  </div>
</div>