{{i18n_ns "app_items"}}

{{#feature flag="feature_i18n_app_space"}}
{{#unless is_xoxa_app}}
<li role="menuitem" data-action="invite_to_channel"><a>
  {{#t}}Invite to a channel &hellip;{{/t}}
</a></li>
{{/unless}}
<li role="menuitem" data-qa="app_settings"><a href="/services/{{bot_id}}" target="_blank">
  {{#t}}View settings{{/t}}
</a></li>
<li role="menuitem" data-qa="app_site"><a href="/apps/{{app_id}}" target="_blank">
  {{#t}}View app site{{/t}}
</a></li>
<li role="menuitem" data-action="app_support"><a href="{{support_url}}" target="_blank">
  {{#t}}App support{{/t}}
</a></li>
{{/feature}}