{{i18n_ns 'attachments'}}

<div
  class="{{applied_classes}}"
  data-attachment-id="{{attachment.id}}"
  {{#if real_src}}data-real-src="{{real_src}}"{{/if}}
  {{#if attachment._unfurl_type_message}}
    data-attachment-ts="{{attachment.ts}}"
  {{/if}}
>

  {{#if has_indent}}
    <div class="msg_inline_attachment_column column_border{{#if break_border}} break_border{{/if}}">
    </div>
  {{/if}}

  {{#if has_border}}
    <div class="msg_inline_attachment_column column_border{{#if break_border}} break_border{{/if}}{{#if has_indent}} has_indent{{/if}}"{{#if border_color}} style="background-color:{{border_color}};"{{/if}}>
    </div>
  {{/if}}

  {{! Thumbnail (with container)}}
  {{#if has_container}}{{#if has_thumb}}
    <div class="msg_inline_attachment_column column_thumb">
      <div class="msg_inline_attachment_row">
        {{#if thumb_link}}<a {{makeRefererSafeLink url=thumb_link}} target="_blank">{{/if}}
        <div class="msg_inline_attachment_thumb_holder" style="background-image: url({{small_thumb_url}});">
          <img class="msg_inline_attachment_thumb" src="{{small_thumb_url}}" alt="">
        </div>
        {{#if thumb_link}}</a>{{/if}}
      </div>
    </div>
  {{/if}}{{/if}}

  <div class="msg_inline_attachment_column column_content{{#if has_indent}} has_indent{{/if}}">

    {{#if pin_html}}
      <span class="is_pinned_holder">
        {{pin_html}}
      </span>
    {{/if}}

    {{! Source (Author) }}
    {{#if has_source}}
      <div class="msg_inline_attachment_row attachment_flush_text attachment_source">

        {{! Icon }}
        {{#if attachment._source.icon}}
          <span class="attachment_source_icon">{{!
            }}{{#if attachment._source.link}}{{!
              }}<a {{makeRefererSafeLink url=attachment._source.link}}
                 target="_blank"
                 {{#if attachment._slack_author_id}} class="member_preview_link" data-member-id="{{attachment._slack_author_id}}"{{/if}}
                 {{#if attachment._slack_bot_id}} class="app_preview_link" data-bot-id="{{attachment._slack_bot_id}}"{{/if}}
                >{{!
            }}{{/if}}{{!
            }}<img class="attachment_source_icon" src="{{attachment._source.icon}}" alt="">{{!
            }}{{#if attachment._source.link}}</a>{{/if}}{{!
          }}</span>
        {{/if}}

        {{! Source Name }}
        {{#if attachment._source.name}}
          <span class="attachment_source_name">{{!
            }}{{#if attachment._source.link}}{{!
              }}<a {{makeRefererSafeLink url=attachment._source.link}}
                   target="_blank"
                   {{#if attachment._slack_author_id}} class="member_preview_link" data-member-id="{{attachment._slack_author_id}}"{{/if}}
                 {{#if attachment._slack_bot_id}} class="app_preview_link" data-bot-id="{{attachment._slack_bot_id}}"{{/if}}
                >{{!
            }}{{/if}}{{!
            }}{{formatMessageAttachmentPart attachment._source.name msg false false false true}}{{!
            }}{{#if attachment._source.link}}</a>{{/if}}{{!
          }}</span>
        {{/if}}

        {{! Author Name }}
        {{#if attachment._source.author_name}}
          <span class="attachment_author_name">{{!
            }}{{#if attachment._source.author_link}}{{!
              }}<a {{makeRefererSafeLink url=attachment._source.author_link}} target="_blank"{{#if attachment._slack_author_id}} class="member_preview_link" data-member-id="{{attachment._slack_author_id}}"{{/if}}>{{!
            }}{{/if}}{{!
            }}{{formatMessageAttachmentPart attachment._source.author_name msg false false false true}}{{!
            }}{{#if attachment._source.author_link}}</a>{{/if}}{{!
          }}</span>
        {{/if}}

        {{! Misc Bucket After Author }}
        {{#if attachment_meta}}
          <span class="attachment_meta">{{!
            }}{{formatMessageAttachmentPart attachment_meta msg}}{{!
          }}</span>
        {{/if}}

        {{#if_equal caret_location compare='_source'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
      </div>
    {{/if}}

    {{#if has_text_content}}
      <div class="msg_inline_attachment_row attachment_flush_text{{#if attachment._is_automated_unfurl}} automated{{/if}}">
        {{! Title }}
        {{#if attachment.title}}
          <div class="attachment_title">
            {{#if attachment.title_link}}
              <a {{makeRefererSafeLink url=attachment.title_link}} target="_blank">
            {{/if}}
            {{formatMessageAttachmentPart attachment.title msg true false enable_slack_action_links}}
            {{~#if attachment.title_link}}</a>{{/if}}
            {{#if_equal caret_location compare='title'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
          </div>
        {{/if}}

        {{! Text }}
        {{#if attachment.text}}
          {{#if is_text_collapsed}}
            <span class="short_text" data-all-text="{{formatMessageAttachmentPartEscaped attachment.text msg true attachment.mrkdwn_in_hash.text enable_slack_action_links}}">{{formatMessageAttachmentPart attachment._short_text msg true attachment.mrkdwn_in_hash.text enable_slack_action_links}}</span>
            <span id="{{makeMsgAttachmentTextExpanderDomId msg.ts attachment._index}}" class="rest_text_expander"> <a>{{#t}}Show more&hellip;{{/t}}</a></span>
          {{else}}
            {{formatMessageAttachmentPart attachment.text msg true attachment.mrkdwn_in_hash.text enable_slack_action_links}}
          {{/if}}
          {{#if_equal caret_location compare='text'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
        {{/if}}
      </div>
    {{/if}}

    {{! Fields }}
    {{#if attachment.fields}}
      <div class="msg_inline_attachment_row attachment_flush_text attachment_fields">
      {{#if show_fields_table}}
        <table class="" cellpadding="0" cellspacing="0" border="0" align="left"><tbody>
        {{#foreach attachment.fields}}
          {{#if this.value._new_row}}<tr>{{/if}}
          <td valign="top" colspan="{{#if this.value.short}}1{{else}}2{{/if}}" {{#if this.value.short}}{{#if this.value._new_row}}width="250"{{/if}}{{/if}}>
            <div class="attachment_field_title no_jumbomoji">{{formatMessageAttachmentPart this.value.title msg false false}}</div>
            <i class="copy_only">----------------<br></i>
            <div class="attachment_field_value no_jumbomoji {{#if this.value.short}}short{{/if}}">{{formatMessageAttachmentPart this.value.value msg true ../attachment.mrkdwn_in_hash.fields ../enable_slack_action_links}}<i class="copy_only"><br><br></i></div>
          </td>
        {{/foreach}}
        </tbody></table>
      {{else}}
        {{#foreach long_fields}}
          <span class="attachment_field_title no_jumbomoji">{{formatMessageAttachmentPart this.value.title msg false false}}</span>&nbsp;&nbsp;&nbsp;{{formatMessageAttachmentPart this.value.value msg true ../attachment.mrkdwn_in_hash.fields}}<br>
        {{/foreach}}
        {{#foreach short_fields}}
          {{#unless this.first}}&nbsp;&nbsp;\u2022&nbsp;&nbsp;{{/unless}}<span class="attachment_field_title no_jumbomoji">{{formatMessageAttachmentPart this.value.title msg false false}}</span>&nbsp;&nbsp;&nbsp;{{formatMessageAttachmentPart this.value.value msg true ../attachment.mrkdwn_in_hash.fields ../enable_slack_action_links}}
        {{/foreach}}
      {{/if}}
      {{#if_equal caret_location compare='fields'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
      </div>
    {{/if}}

    {{! Footer }}
    {{#if has_footer}}
      <div class="msg_inline_attachment_row attachment_flush_text attachment_footer">
        {{#or attachment.footer attachment.footer_icon}}{{!
          }}<span class="attachment_footer_text">{{!
            }}{{#if attachment.footer_icon}}{{!
              }}<span class="attachment_footer_icon"><img src="{{attachment.footer_icon}}" alt=""></span>{{!
            }}{{/if}}{{!
            }}{{#if attachment.footer}}{{!
              }}{{#if attachment.is_msg_unfurl}}{{! special treatment for slack messages
                }}{{formatMessageAttachmentSlackFooter attachment.footer}}{{!
              }}{{else}}{{!
                }}{{formatMessageAttachmentPart attachment.footer msg false false}}{{!
              }}{{/if}}{{!
            }}{{/if}}{{!
          }}</span>{{!
        }}{{/or}}{{!
        }}{{#if attachment.ts}}{{!
          }}<span class="attachment_ts">{{!
            }}{{#if attachment._unfurl_type_message}}<a {{makeRefererSafeLink url=attachment.from_url}} target="_blank">{{/if}}{{!
            }}{{#t date=(toCalendarDateOrNamedDayShort attachment.ts) time=(toTime attachment.ts)}}{date} at {time}{{/t}}{{!
            }}{{#if attachment._unfurl_type_message}}</a>{{/if}}{{!
          }}</span>
        {{/if}}{{!
        }}{{#if attachment._attribution}}{{!
          }}<span class="attachment_attribution">{{!
            }}{{#t}}Added by{{/t}} <a {{makeRefererSafeLink url=attachment._attribution_url}} data-attribution-bot-id="{{attachment.bot_id}}">{{attachment._attribution}}</a>{{!
          }}</span>{{!
        }}{{/if}}
        {{#if_equal caret_location compare='footer'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
        {{#if_equal caret_location compare='ts'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
      </div>
    {{/if}}

    {{! Media }}
    {{#if has_media}}
      <div class="msg_inline_attachment_row attachment_media{{#if_equal caret_location compare='end'}} attachment_flush_text{{/if_equal}}">
        {{#if_equal caret_location compare='end'}}{{attachmentMediaCaret attachment msg_dom_id}}{{/if_equal}}
        {{renderAttachmentMedia attachment msg_dom_id}}{{!
    }}</div>
    {{/if}}

    {{! Actions }}
    {{#if has_actions}}
      <div class="msg_inline_attachment_row attachment_actions">
        {{> attachment_actions attachment=attachment enable_slack_action_links=enable_slack_action_links disable_buttons=disable_buttons}}
      </div>
    {{/if}}

    {{! Special Client Button Attachment Actions}}
    {{#feature flag="feature_shared_channels_client"}}
    {{#if client_buttons}}
      <div class="msg_inline_attachment_row attachment_actions">
        {{> attachment_actions attachment=client_buttons}}
      </div>
    {{/if}}
    {{/feature}}

  </div>

  {{! Thumbnail (without container)}}
  {{#unless has_container}}{{#if has_thumb}}
    <div class="msg_inline_attachment_column column_thumb">
      <div class="msg_inline_attachment_row">
        {{#if thumb_link}}<a {{makeRefererSafeLink url=thumb_link}} target="_blank">{{/if}}
        <div class="msg_inline_attachment_thumb_holder" style="background-image: url({{small_thumb_url}});">
          <img class="msg_inline_attachment_thumb" src="{{small_thumb_url}}" alt="">
        </div>
        {{#if thumb_link}}</a>{{/if}}
      </div>
    </div>
  {{/if}}{{/unless}}

  {{! Delete Button }}
  {{#if can_delete}}
    <div class="delete_attachment_link" data-attachment-id="{{attachment.id}}"><ts-icon class="ts_icon_times_small"></ts-icon></div>
  {{/if}}

  {{! Hidden Link }}
  {{#if attachment.from_url}}{{#if has_container}}
    <a {{makeRefererSafeLink url=attachment.from_url}} class="attachment_from_url_link offscreen" target="_blank">{{attachment.from_url}}</a>
  {{/if}}{{/if}}

</div>

{{! Fallback }}
{{#if show_fallback}}
  <div class="attachment_fallback">
    {{#if attachment.fallback}}
      {{formatMessageAttachmentPart attachment.fallback msg true attachment.mrkdwn_in_hash.fallback enable_slack_action_links}}
    {{else}}
      {{#t}}NO FALLBACK PROVIDED{{/t}}
    {{/if}}
  </div>
{{/if}}
