{{i18n_ns "files"}}

<div class="preview_actions{{#if preview_actions_class}} {{preview_actions_class}}{{/if}}">
  {{#if collapse}}<a class="file_preview_action preview_show_less_header btn btn_outline btn_icon ts_icon ts_icon_collapse_vertical ts_tip ts_tip_top ts_tip_float ts_tip_delay_300" title="{{#t}}Collapse{{/t}}"></a>{{/if}}

  {{#if download}}<a class="file_preview_action file_ssb_download_link btn btn_outline btn_icon ts_icon ts_icon_cloud_download ts_tip ts_tip_top ts_tip_float ts_tip_delay_300" data-file-id="{{file.id}}" href="{{file.url_private_download}}" target="{{newWindowName}}" title="{{#t}}Download{{/t}}"></a>{{/if}}

  {{#if edit}}<a class="file_preview_action file_new_window_link btn btn_outline btn_icon ts_icon {{#if_equal file.mode compare='snippet'}}ts_icon_pencil snippet_edit_dialog_link{{else}}ts_icon_external_link{{/if_equal}} ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
    {{#if_not_equal file.mode compare='snippet'}}
      href="{{file.permalink}}" target="{{file.permalink}}"
    {{else}}
      {{#if file.is_truncated}}
        href="{{file.edit_link}}" target="{{file.edit_link}}"
      {{/if}}
    {{/if_not_equal}}
    data-file-id="{{file.id}}"
    title="{{#if_equal file.mode compare='snippet'}}{{#if file.is_truncated}}{{#t}}Edit in new window{{/t}}{{else}}{{#t}}Edit{{/t}}{{/if}}{{else}}{{#t}}Edit in new window{{/t}}{{/if_equal}}"></a>{{/if}}

  {{#if new_window}}
    {{#if file.is_external}}
      <a class="file_preview_action btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300" href="{{file.url_private}}" target="{{newWindowName}}" title="
      {{#if_equal file.external_type compare="gdrive"}}
      {{#t}}Open file on Google Drive{{/t}}
      {{/if_equal}}{{#if_equal file.external_type compare="dropbox"}}
      {{#t}}Open file on Dropbox{{/t}}
      {{/if_equal}}{{#if_equal file.external_type compare="box"}}
      {{#t}}Open file on Box{{/t}}
      {{/if_equal}}{{#if_equal file.external_type compare="onedrive"}}
      {{#t}}Open file on OneDrive{{/t}}
      {{/if_equal}}{{#if_equal file.external_type compare="unknown"}}
      {{#t}}Open file on a web page{{/t}}
      {{/if_equal}}"></a>
    {{else}}
      {{#fileDefaultIsNewWindow id=file.id}}
        <a class="file_preview_action btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300" href="{{file.url_private}}" target="{{file.id}}" title="{{#t}}Open in new window{{/t}}"></a>
      {{else}}
        <a class="file_preview_action file_new_window_link btn btn_outline btn_icon ts_icon ts_icon_external_link ts_tip ts_tip_top ts_tip_float ts_tip_delay_300" data-file-id="{{file.id}}" href="{{file.permalink}}" target="{{file.permalink}}" title="{{#t}}Open in new window{{/t}}"></a>
      {{/fileDefaultIsNewWindow}}
    {{/if}}
  {{/if}}
  <a class="file_preview_action file_actions btn btn_outline btn_icon ts_icon ts_icon_ellipsis ts_tip ts_tip_top ts_tip_float ts_tip_delay_300"
    title="{{#t}}More actions{{/t}}"
    data-file-id="{{file.id}}"

    {{!--
      as we add file types to the file_viewer, we need to add more file_partial
      here leaving the logic in the template because this will all be removed
      once feature_file_viewer is removed and so it doesn\u2019t really matter
    --}}
    {{#if_not_equal file_partial compare="image"}}
      {{#isClient}}data-include-open-flexpane="true"{{/isClient}}
    {{/if_not_equal}}

    {{#isWeb}}data-include-open-file-page="true"{{/isWeb}}
    data-exclude-comment="true"
    data-exclude-print="true"
    data-include-view-public-link="true"
    {{#edit}}data-exclude-edit="true"{{/edit}}
    {{#if download}}data-exclude-download="true"{{/if}}
    {{#if_equal main_action compare="download"}}data-exclude-download="true"{{/if_equal}}
    {{#unless open_original}}
      {{#unless file.mode compare="snippet"}}
        {{#if new_window}}data-exclude-original="true"{{/if}}
        {{#if_equal main_action compare="new_window"}}data-exclude-original="true"{{/if_equal}}
      {{/unless}}
    {{/unless}}
  ></a>
  <a href="{{file.permalink}}" {{#isClient}}target="{{file.permalink}}"{{/isClient}}data-file-id="{{file.id}}" class="file_preview_action btn btn_outline file_preview_link file_comment_link file_force_flexpane">
    <span>{{#t}}{file.comments_count, plural, =0 {Add Comment} =1 {# Comment} other {# Comments}}{{/t}}</span>
  </a>
</div>
