{{!-- Video attachments as shown in messages; YouTube, Vimeo et al. --}}
<div data-real-src="{{inline_video.real_src}}" class="clear_both msg_inline_video_holder msg_inline_holder{{#unless inline_video.expand_it}} hidden{{/unless}}" style="width:{{inline_video.display_w}}px;height:{{inline_video.display_h}}px;max-width:100%">
  <div class="msg_inline_video_iframe_div hidden" data-url="{{inline_video.data_url}}"></div>
  <div class="msg_inline_video_thumb_div">
    <img class="msg_inline_video msg_inline_child{{#if inline_video.hide_by_default}} hidden{{/if}}" {{#if inline_video.hide_by_default}}data-real-src{{else}}src{{/if}}="{{inline_video.proxied_src_or_src}}" style="width:{{inline_video.display_w}}px;" />
    <div class="msg_inline_video_buttons_div">
    {{#if inline_video.show_play}}
      <div class="button_left">
        <button class="msg_inline_video_play_button" title="Play video in Slack" aria-label="Play video in Slack"><i class="ts_icon ts_icon_play ts_icon_inherit"></i></button>
      </div>
      <div class="button_right">
        <a {{{inline_video.referrer_safe_url_attributes}}} class="msg_inline_video_new_window_button" target="_blank" title="Open video in new tab" aria-label="Open video in new tab"><i class="ts_icon ts_icon_external_link ts_icon_inherit"></i></a>
      </div>
    {{else}}
      <a {{{inline_video.referrer_safe_url_attributes}}} class="msg_inline_video_new_window_button" target="_blank" title="Open video in new tab" aria-label="Open video in new tab"><i class="ts_icon ts_icon_external_link ts_icon_inherit"></i></a>
    {{/if}}
    </div>
  </div>
</div>