{{star 'mpim' model_ob}}
{{!-- hbslint-disable syntax --}}
{{!-- Todo: enable syntax linter and enable safeString --}}
<span class="name overflow_ellipsis {{#if title}}ts_tip ts_tip_bottom ts_tip_float ts_tip_multiline{{/if}} {{#if is_muted}}muted{{/if}}" data-qa="channel_name">
  <span class="prefix">
    {{~#if is_muted~}}
      {{~#if is_safari_desktop~}}
        <i class="ts_icon ts_icon_bell_slash muted_icon" style="margin-top: -6px;"></i> 
      {{~else~}}
        <i class="ts_icon ts_icon_bell_slash muted_icon"></i> 
      {{~/if~}}
    {{~/if~}}
  </span>{{{mpimDisplayName model_ob true}}}
  {{#if title}}<span class="ts_tip_tip"><span class="ts_tip_multiline_inner">{{title}}</span></span>{{/if}}
</span>
<i id="mpim_actions" class="ts_icon ts_icon_chevron_down ts_icon_inherit"></i>