<li class="mpim {{makeMpimDomClass model_ob}} {{makeMpimDomId model_ob}}">
  {{makeModelObHotnessIconSafe model_ob}}
  {{makeModelObPriorityIconSafe model_ob}}
  {{#if show_starred}}{{makeModelObStarredIconSafe model_ob}}{{/if}}
  {{#if show_muted}}{{makeModelObMutedIconSafe model_ob}}{{/if}}
  <a class="mpim_name" data-mpim-id="{{model_ob.id}}" {{#feature flag="feature_multnomah"}}draggable="true" data-drag-meta='{{makeChannelDragData model_ob}}'{{/feature}}>
    {{#showDraftIcon model_ob}}
      {{> ts_icon class="ts_icon_pencil prefix"}}
    {{else}}
      <ts-icon class="ts_icon ts_icon_multiparty_dm_{{mpimMemberCount model_ob}} prefix"></ts-icon>
    {{/showDraftIcon}}
    <ts-icon class="ts_icon ts_icon_times_circle mpim_close"></ts-icon>
    {{#isCorGMuted model_ob.id}}
      <span class="{{makeUnreadHighlightDomId model_ob}} unread_highlights {{#if_equal model_ob.unread_highlight_cnt compare=0}}hidden{{/if_equal}}{{#if_equal model_ob.unread_highlight_cnt compare=undefined}}hidden{{/if_equal}}">{{numberWithMax model_ob.unread_highlight_cnt 10}}</span>
    {{else}}
      <span class="{{makeUnreadHighlightDomId model_ob}} unread_highlights {{#if_equal model_ob.unread_cnt compare=0}}hidden{{/if_equal}}{{#if_equal model_ob.unread_cnt compare=undefined}}hidden{{/if_equal}}">{{numberWithMax model_ob.unread_cnt 10}}</span>
    {{/isCorGMuted}}
    <span class="overflow_ellipsis">
      {{mpimDisplayName model_ob}}
    </span>
  </a>
</li>
