{{i18n_ns "coachmarks"}}

<div id="name_tagging_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    {{#feature flag="feature_name_tagging_client"}}
      <h2 class="black">{{#t}}Notify teammates with @{{/t}}</h2>
      <p>{{#t fallback_hash="d277c11aae6da312bf12398a4490f863bfb2e35e"}}To get a teammate\u2019s attention, type <b>@</b> and pick their name from the list.{{/t}}</p>
    {{/feature}}
  </div>
</div>
<div id="coachmark_footer">
  <a class="btn coachmark_got_it float_right">{{#t}}Got it!{{/t}}</a>
</div>
