{{i18n_ns "coachmarks"}}

<div id="name_tagging_coachmark_div" class="coachmark_div">
  <div class="coachmark_contents">
    {{#feature flag="feature_name_tagging_client"}}
      <h2 class="black">{{#t rough-draft=true}}Mention your teammates{{/t}}</h2>
      <p>{{#t rough-draft=true}}To get a teammates\u2019 attention, click here (or simply type @) and start typing their name.{{/t}}</p>
    {{/feature}}
  </div>
</div>
<div id="coachmark_footer">
  <a class="btn coachmark_got_it float_right">{{#t}}Got it!{{/t}}</a>
</div>
