{{i18n_ns "dialogs_onboarding"}}
{{#feature flag="feature_lesson_onboarding"}}
<button type="button" class="c-modal__close--onboarding_dialog c-modal__close--onboarding_dialog_white no_padding no_margin no_border position_absolute" data-dismiss="close">&times;</button>
<div class="c-modal__media_container--onboarding_dialog full_width {{modal_color_class}}">
  <button class="c-modal__left_navigation--onboarding_dialog position_absolute no_border no_padding">
    <ts-icon class="ts_icon_chevron_left c-modal__left_caret--onboarding_dialog position_absolute"></ts-icon>
  </button>
  <button class="c-modal__right_navigation--onboarding_dialog position_absolute no_border no_padding">
    <ts-icon class="ts_icon_chevron_right c-modal__right_caret--onboarding_dialog position_absolute"></ts-icon>
  </button>
  <video class="c-modal__media--onboarding_dialog" autoplay controls preload="auto" src="{{modal_media_url}}">
    {{#t}}Your browser does not support HTML5 Video. Try <a href="http://browsehappy.com/">a modern browser</a>.{{/t}}
  </video>
  <div class="c-modal__loading_graphic--onboarding_dialog position_absolute"></div>
</div>
<div class="c-modal__copy--onboarding_dialog full_width align_right">
  <div class="c-modal__lesson_circle_buttons">
    {{#each lesson_circle_classes}}
      <button class="c-modal__lesson_circle_button no_padding no_border">
        <ts-icon class="{{this}}"></ts-icon>
      </button>
    {{/each}}
  </div>
  <h3 class="black small_bottom_margin align_left">{{modal_title}}</h3>
  <p class="align_left">
    {{modal_description}}
  </p>
  {{#if modal_button_show}}<button class="btn c-modal__button--onboarding" type="button">{{modal_button_text}}</button>{{/if}}
</div>
{{/feature}}
