{{i18n_ns "dialogs_onboarding"}}
{{#feature flag="feature_lesson_onboarding"}}
<button type="button" class="c-modal__close--onboarding_dialog no_padding no_margin no_border position_absolute" data-dismiss="close">&times;</button>
<div class="c-modal__media_container--onboarding_dialog full_width">
  <img class="c-modal__media--onboarding_dialog full_max_width" src="{{versioned_focus_rocks}}" />
</div>
<div class="c-modal__copy--onboarding_dialog align_center full_width">
  <h2 class="align_center small_bottom_margin">{{greeting}}</h2>
  <p class="align_center">
    {{description}}
  </p>
  <button id="start_lesson_onboarding" class="btn c-modal__button--onboarding" type="button">{{button_text}}</button>
</div>
{{/feature}}
