{{i18n_ns "messages"}}

<ts-icon class="ts_icon_thumb_tack_filled ts_icon_inherit ts_icon_align_bottom {{#if complete_data}}ts_tip ts_tip_top ts_tip_float ts_tip_multiline{{/if}}">
  {{#if complete_data}}
    <span class="ts_tip_tip">
      <span class="ts_tip_multiline_inner">
      {{#if user.is_self}}
        {{#t note="metadata in tooltip above a pinned item in the message pane"}}
          Pinned by you
        {{/t}}
      {{else}}
        {{#t note="metadata in tooltip above a pinned item in the message pane" member_display_name=(getPrefCompliantMemberName user)}}
          Pinned by {member_display_name}
        {{/t}}
      {{/if}}
      <br>
        <span class="subtle_silver">
          {{#t
            note="{date} is either a calendar date e.g. 'Dec 6th' or 'Today'/'Yesterday' depending on when the comment was made. Time includes am/pm ex. 12:07pm"
            date=(toCalendarDateOrNamedDayShort ts)
            time=(toTime ts true)}}
            {date} at {time}
          {{/t}}
        </span>
      </span>
    </span>
  {{/if}}
</ts-icon>
{{#if complete_data}}
  {{#if user.is_self}}
    {{#t note="metadata above a pinned item in the message pane"}}
      Pinned by you
    {{/t}}
  {{else}}
    {{#t note="metadata above a pinned item in the message pane" member_display_name=(getPrefCompliantMemberName user)}}
      Pinned by {member_display_name}
    {{/t}}
  {{/if}}
{{else}}
  {{#t}}Pinned{{/t}}
{{/if}}