<h2 id="prefs_read_state_tracking" class="inline_block">Mark as Read</h2>
<p>Slack marks a channel read as soon as you view it. You can change this if you\u2019d like.</p>

<h4>When I view a channel:</h4>
<p class="large_bottom_margin">
  <label class="radio">
    <input name="read_rd" type="radio" value="immediate_scroll" data-inline-saver="#prefs_read_state_tracking">
    Start me where I left off, and mark the channel read
  </label>
  <label class="radio">
    <input name="read_rd" type="radio" value="immediate" data-inline-saver="#prefs_read_state_tracking">
    Start me at the newest message, and mark the channel read
  </label>
  <label class="radio">
    <input name="read_rd" type="radio" value="default" data-inline-saver="#prefs_read_state_tracking">
    Start me at the newest message, but leave unseen messages unread
  </label>
</p>

<h4>Shortcuts</h4>
<p class="small_bottom_margin">{{emojiGraphicReplace ":information_desk_person::skin-tone-2:" 'apple'}} <b>Mark a channel as read</b> by hitting the <em>Esc</em> key.</p>
<p class="small_bottom_margin">{{emojiGraphicReplace ":ok_woman::skin-tone-4:" 'apple'}} <b>Mark everything as read</b> by pressing <em>shift</em> + <em>esc</em>.</p>
<p>{{emojiGraphicReplace ":raising_hand::skin-tone-6:" 'apple'}} <b>Mark a message unread</b> by selecting <em>Mark unread</em> from the message's menu. Or simply hold down the <em>{{#isMac}}Option{{else}}Alt{{/isMac}}</em> key and click on it.</p>
