{{i18n_ns "prefs"}}

<h2>{{#t}}Message Display{{/t}}</h2>

<h4 id="prefs_message_theme" class="inline_block">{{#t}}Message Theme{{/t}}</h4>
<div class="bottom_margin display_flex">
  <div class="message_theme_options">
    <label class="radio">
      <input name="messages_theme_select" type="radio" value="light_with_avatars" data-inline-saver="#prefs_message_theme">
      {{#t}}Clean: <span class="normal">Clear, friendly, and focused.</span>{{/t}}
    </label>
    <label class="radio">
      <input name="messages_theme_select" type="radio" value="dense" data-inline-saver="#prefs_message_theme">
      {{#t}}Compact: <span class="normal">The most messages you can fit on screen at once.</span>{{/t}}
    </label>
  </div>
  <div class="message_theme_preview">
    {{> prefs_messages_media_message avatar="/img/slackbot_72.png" name="slackbot" message=slackbot_message}}
  </div>
</div>

<h4 id="prefs_display_options" class="inline_block">{{#t}}Display Options{{/t}}</h4>
<div class="large_bottom_margin">
  {{#feature flag="feature_name_tagging_client"}}
    <p class="small_bottom_margin">{{#t rough-draft=true}}You can change your own full name and display name in your <a data-action="edit_member_profile_modal">profile settings</a>.{{/t}}</p>
    <div class="global_notification_block no_padding">
      <div class="display_flex display_real_names_block">
        <div class="small_right_margin">
          <input type="radio" name="display_real_names_override_cb" value="real_names" id="display_real_names_override_true"  data-inline-saver="#prefs_display_options">
        </div>
        <div class="very_small_top_margin">
          <label for="display_real_names_override_true"><strong>{{#t rough-draft=true}}Full names and display names{{/t}}</strong></label>
          <span>{{#t rough-draft=true}}Show display names in conversation and full names everywhere else <span class="display_real_names_default bold">(team default)</span>{{/t}}</span>
        </div>
      </div>
      <div aria-hidden="true" class="display_flex flex_one align_items_center left_margin display_real_names_block_sample">
        {{> prefs_messages_media_message avatar=name_preview_avatar name=name_preview_full_name message=name_preview_message}}
      </div>
    </div>
    <div class="global_notification_block no_padding small_top_margin small_bottom_margin">
      <div class="display_flex display_real_names_block">
        <div class="small_right_margin">
          <input type="radio" name="display_real_names_override_cb" value="display_names" id="display_real_names_override_false"  data-inline-saver="#prefs_display_options">
        </div>
        <div class="very_small_top_margin">
          <label for="display_real_names_override_false"><strong>{{#t rough-draft=true}}Display names everywhere{{/t}}</strong></label>
          <span>{{#t rough-draft=true}}Always show display names <span class="display_usernames_default bold"> (team default)</span>{{/t}}</span>
        </div>
      </div>
      <div aria-hidden="true" class="display_flex flex_one align_items_center left_margin display_real_names_block_sample">
        {{> prefs_messages_media_message avatar=name_preview_avatar name=name_preview_display_name message=name_preview_message}}
      </div>
    </div>

    <label class="checkbox">
      <input id="show_typing_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_display_options">
      {{#t}}Display information about who is currently typing a message{{/t}}
    </label>
  {{else}}
    <label class="checkbox">
      <input id="show_typing_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_display_options">
      {{#t}}Display information about who is currently typing a message{{/t}}
    </label>
    <label class="checkbox">
      <input id="display_real_names_override_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_display_options">
      {{#t note="(team_default) appears twice here, but one of them will be removed via JavaScript, so don't worry about redundancy"}}Display real names <span id="display_real_names_default">(team default)</span> instead of usernames <span id="display_usernames_default"> (team default)</span>{{/t}}
    </label>
  {{/feature}}
  {{#if show_time24_pref}}
    <label class="checkbox">
      <input id="time24_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_display_options">
      {{#t}}Show times with 24-hour clock <span class="normal">(16:00 rather than 4:00 PM)</span>{{/t}}
    </label>
  {{/if}}
  <label class="checkbox">
    <input id="hide_hex_swatch_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_display_options">
    {{#t}}Display color swatches next to hexadecimal values{{/t}}
  </label>
</div>

<h4 id="prefs_emoji_style" class="inline_block">{{#t}}Emoji Style{{/t}}</h4>
<br>
<p id="prefs_emoji" class="inline_block">
  <label class="radio">
    <input name="emoji_mode_select" type="radio" value="default" data-inline-saver="#prefs_emoji_style">
    <span class="emoji_label">{{#t}}Apple/International Style{{/t}}</span>
    {{> prefs_emoji_preview force_style='apple' use_skin_tone_modifier=true}}
  </label>
  <label class="radio">
    <input name="emoji_mode_select" type="radio" value="google" data-inline-saver="#prefs_emoji_style">
    <span class="emoji_label">{{#t}}Google Hangouts Style{{/t}}</span>
    {{> prefs_emoji_preview force_style='google'}}
  </label>
  <label class="radio">
    <input name="emoji_mode_select" type="radio" value="twitter" data-inline-saver="#prefs_emoji_style">
    <span class="emoji_label">{{#t}}Twitter Style{{/t}}</span>
    {{> prefs_emoji_preview force_style='twitter' use_skin_tone_modifier=true}}
  </label>
  <label class="radio small_bottom_margin">
    <input name="emoji_mode_select" type="radio" value="emojione" data-inline-saver="#prefs_emoji_style">
    <span class="emoji_label">{{#t}}Emoji One Style{{/t}}</span>
    {{> prefs_emoji_preview force_style='emojione'}}
  </label>
  <label class="radio">
    <input name="emoji_mode_select" type="radio" value="as_text" data-inline-saver="#prefs_emoji_style">
    {{#t}}None: <span class="normal">plain text only{{/t}}</span>
  </label>
</p>
<p id="jumbomoji_pref" class="large_bottom_margin{{#if_equal messages_theme compare="dense"}} jumbomoji_pref_disabled{{/if_equal}}">
  <label class="checkbox">
    <input id="jumbomoji_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_emoji_style" {{#if_equal messages_theme compare="dense"}}disabled="disabled" aria-disabled="true"{{/if_equal}}>
    {{#t}}Show JUMBOMOJI<br>
    <span class="normal">Display the jumbo versions of emoji (up to 23 at a time!) in messages without text.</span>
    <span class="jumbomoji_disabled_note"><strong>Note:</strong> In compact mode, all emoji remain at a smaller, more sensible size.</span>{{/t}}
  </label>
</p>

<h4 id="prefs_convert_emoticons" class="inline_block">{{#t}}Convert Emoticons{{/t}}</h4>
<p class="large_bottom_margin">
  <label class="checkbox">
    <input id="convert_emoticons_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_convert_emoticons">
    {{#t smile_emoji=(emojiGraphicReplace ":smile:")}}Convert my typed emoticons to emoji, so &nbsp;:D&nbsp; becomes {smile_emoji}{{/t}}
  </label>
</p>

<hr>

<h2 id="prefs_inline_media" class="large_top_margin inline_block">{{#t}}Inline Media & Links{{/t}}</h2>
<p>
  <label class="checkbox">
    <input id="expand_internal_inline_imgs_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_inline_media">
    {{#t}}Show images and files uploaded to Slack{{/t}}
  </label>
  <label class="checkbox">
    <input id="expand_inline_imgs_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_inline_media">
    {{#t}}Show images and files from linked websites{{/t}}
  </label>
  <label class="checkbox medium_left_margin">
    <input id="dont_obey_inline_img_limit_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_inline_media">
    {{#t file_size_limit=(convertFilesize inline_img_byte_limit)}}Even if they\u2019re larger than {file_size_limit}{{/t}}
  </label>
  <label class="checkbox">
    <input id="expand_non_media_attachments_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_inline_media">
    {{#t}}Show text previews of linked websites{{/t}}
  </label>
</p>

{{#feature flag="feature_email_forwarding"}}
{{#if enable_email_forwarding}}

  <hr>

  <h2 id="prefs_email_forwarding" class="large_top_margin inline_block">{{#t}}Bring Emails into Slack{{/t}}</h2>
  {{> prefs_email_forwarding loading="true"}}

{{/if}}
{{/feature}}
