{{i18n_ns "prefs"}}

<h2>{{#t}}Language & Region{{/t}}</h2>

<label class="select">
  <h4 class="prefs_lang inline_block">{{#t}}Language{{/t}}</h4>
  <select name="lang" data-inline-saver='.prefs_lang'>
    {{#each languages}}
      <option value={{@key}} {{#if_equal @key compare=../user_locale}}selected="selected" aria-selected="true"{{/if_equal}}>{{this}}</option>
    {{/each}}
  </select>
</label>

<p class="normal greigh large_bottom_margin">{{#t}}Choose the language you\u2019d like to use with Slack.{{/t}}</p>

{{#feature flag="feature_i18n_keyboards"}}
{{#if show_keyboard}}
<label class="select">
  <h4 class="prefs_keyboard inline_block">{{#t}}Keyboard layout{{/t}}</h4>
  <select name="keyboard" data-inline-saver='.prefs_keyboard'>
    {{#each supported_keyboards}}
      <option value={{@key}} {{#if_equal @key compare=../user_keyboard}}selected="selected" aria-selected="true"{{/if_equal}}>{{this}}</option>
    {{/each}}
  </select>
</label>
{{/if}}
{{/feature}}

<label class="select">
  <h4 class="prefs_tz inline_block">{{#t}}Time zone{{/t}}</h4>
  <select name="tz" data-inline-saver='.prefs_tz'>
    {{#each timezones}}
      <option value={{this.[1]}} {{#if_equal this.[1] compare=../user_tz}}selected="selected" aria-selected="true"{{/if_equal}}>{{this.[0]}}</option>
    {{/each}}
  </select>
</label>
