{{i18n_ns "prefs"}}

<span class="small_right_margin no_wrap">
  {{#t}}
    <strong class="black">Send notifications for:</strong>
    { send_notifications_for, select,
      all { All activity }
      mentions { Direct messages and highlight words }
      other { Nothing }
    }
  {{/t}}
</span>

<span class="small_right_margin no_wrap">
  <strong class="black">{{#t}}Sound:{{/t}}</strong>
  {{#if mute_sounds}}{{#t}}Off (muted){{/t}}{{else}}{{new_msg_snd}}{{/if}}
</span>

<span class="small_right_margin no_wrap">
  <strong class="black">{{#t}}Display:{{/t}}</strong>
  {{#if no_text_in_notifications}}{{#t}}Hide text{{/t}}{{else}}{{#t}}Show text{{/t}}{{/if}}
</span>

{{#if show_mac_ssb_prefs}}
  <span class="small_right_margin no_wrap">
    <strong class="black">{{#t}}Dock app icon:{{/t}}</strong>
    {{#if show_mac_ssb_bullet}}
      {{#t}}
        Show icon {mac_ssb_bounce, select,
          true { & bounce { mac_ssb_bounce_short, select, true { once } other {} } }
          other {}
        }
      {{/t}}
    {{else}}
      {{#t}}
        Hide icon {mac_ssb_bounce, select,
          true { & bounce { mac_ssb_bounce_short, select, true { once } other {} } }
          other {}
        }
      {{/t}}
    {{/if}}
  </span>
{{/if}}

{{#if show_win_ssb_prefs}}
  <span class="small_right_margin">
    {{#t}}
      <strong class="black">Flash window:</strong>
      { window_flash_behavior, select,
        never { Never }
        idle { When left idle }
        other { Always }
      }
    {{/t}}

    {{#if show_notify_position}}
      {{#if_not_equal window_flash_behavior compare="never"}}
        {{#t}}
          (show notifications in the { winssb_notify_corner, select,
            top_left { top left }
            top_right { top right }
            bottom_left { bottom left }
            other { bottom right }
          } corner of the { winssb_notify_display, select,
            same_as_app { same display as app }
            other { primary display }
          })
        {{/t}}
      {{/if_not_equal}}
    {{/if}}
  </span>
{{/if}}
