<ts-message class="first">
  <div class="message_gutter">
    <span class="timestamp"><i class="copy_only">[</i>{{toTime}}<i class="copy_only">]</i></span>
    <div class="message_icon">
      <div class="member_image thumb_36" style="background-image: url({{avatar}})" aria-hidden="true"></div>
    </div>
  </div>
  <div class="message_content">
    <div class="message_content_header">
      <div class="message_content_header_left">
        {{!-- hbslint-disable unwrapped --}}
        {{!-- Don't need to translate slackbot --}}
        <span class="message_sender color_USLACKBOT color_757575 member">{{name}}</span>
        {{!-- hbslint-enable unwrapped --}}
        <span class="timestamp"><i class="copy_only">[</i>{{toTime}}<i class="copy_only">]</i></span>
      </div>
    </div>
    <span class="message_body">{{message}}</span>
  </div>
</ts-message>
