{{i18n_ns "prefs"}}

<ts-icon data-action="reset_channel_to_defaults" role="button" class="float_right cursor_pointer ts_icon_times_circle ts_tip ts_tip_top">
  <span class="ts_tip_tip">{{#t}}Reset to default settings{{/t}}</span>
</ts-icon>
<h4 class="{{#if override.is_muted}}greigh{{/if}}">
  {{#if override.channel.is_channel}}
    <ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{override.channel.name}}
  {{else if override.channel.is_mpim}}
    <ts-icon class="mpim_icon ts_icon_multiparty_dm_{{mpimMemberCount override.channel}}"></ts-icon>{{mpimDisplayName override.channel}}
  {{else if override.channel.is_group}}
    <ts-icon class="ts_icon_lock"></ts-icon>{{override.channel.name}}
  {{/if}}
  {{#if override.is_muted}}<ts-icon class="ts_icon_bell_slash ts_icon_inherit small_left_margin"></ts-icon>{{/if}}
</h4>

<p class="channel_overrides_summary">
  {{#if override.is_muted}}
    <span class="block">{{#t}}Muted{{/t}}</span>
  {{else}}
    <span class="block">
      {{prefsNotificationSettingReadable override}}
    </span>
  {{/if}}
  {{#if override.is_suppressed}}
    <span class="block">{{#t at_channel=(atLabel 'channel') at_here=(atLabel 'here')}}No notifications for <strong>{at_channel}</strong> and <strong>{at_here}</strong>{{/t}}</span>
  {{/if}}
</p>
