{{i18n_ns 'prefs'}}

<h2 id="prefs_input_options" class="inline_block">{{#t}}Input Options{{/t}}</h2>
<p>
  <label class="checkbox">
    <input id="webapp_spellcheck_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_input_options">
    {{#t}}Enable spellcheck on your messages{{/t}}
  </label>
  {{#feature flag="feature_name_tagging_client"}}{{else}}
  <label class="checkbox">
    <input id="require_at_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_input_options">
    {{#t}}Only show autocomplete for people when the '@' character is used{{/t}}
  </label>
  {{/feature}}
  <label class="checkbox">
    <input id="enter_is_special_in_tbt_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_input_options">
    {{#t}}
    When typing code with ```, <em>Enter</em> should not send the message<br />
    <span class="normal greigh">With this checked use <em>Shift+Enter</em> to send</span>
    {{/t}}
  </label>
  <label class="checkbox">
    <input id="arrow_history_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_input_options">
    {{#t}}Use <i class="ts_icon ts_icon_square_arrow_up ts_icon_inherit"></i> and <i class="ts_icon ts_icon_square_arrow_down ts_icon_inherit"></i> to cycle through your typed history<br>{{/t}}
    <span class="normal greigh">
      {{#isMac}}
        {{#t}}With this checked, use Cmd + <i class="ts_icon ts_icon_square_arrow_up ts_icon_inherit"></i>&nbsp;to edit your last message{{/t}}
      {{else}}
        {{#t}}With this checked, use Ctrl  + <i class="ts_icon ts_icon_square_arrow_up ts_icon_inherit"></i>&nbsp;to edit your last message{{/t}}
      {{/isMac}}
    </span>
  </label>
</p>

{{#if show_app_download_path}}
<hr>
<div class="clearfix">
  <h2 id="prefs_download_location" class="inline_block small_bottom_margin">{{#t}}Download Location{{/t}}</h2>
  <p class="small_bottom_margin">{{#t}}Note: this setting is for this computer only and affects all teams you are signed in to.{{/t}}</p>
  <div class="col span_3_of_4"><input id="app_download_path_input" type="text" disabled="disabled" value="{{app_download_path}}" class="small"></div>
  <div class="col span_1_of_4"><button data-action="select_ssb_download_path" class="btn btn_outline full_width">{{#t}}Change &hellip;{{/t}}</button></div>
</div>
{{/if}}

<hr>

<h2 id="prefs_channel_list" class="inline_block small_bottom_margin">{{#t}}Channel List{{/t}}</h2>
<p class="bold">{{#t}}In the sidebar, show:{{/t}}</p>
<p>
  <label class="radio">
    <input name="pr_sidebar" type="radio" value="" checked="checked" data-inline-saver="#prefs_channel_list">
    <span class='normal'>{{#t}}All my channels and DMs{{/t}}</span>
  </label>
  <label class="radio">
    <input name="pr_sidebar" type="radio" value="hide_read_channels" data-inline-saver="#prefs_channel_list">
    <span class='normal'>{{#t}}Just my unread channels and DMs{{/t}}</span>
  </label>
  <label class="radio">
    <input name="pr_sidebar" type="radio" value="hide_read_channels_unless_starred" data-inline-saver="#prefs_channel_list">
    <span class='normal'>{{#t}}My unreads, along with everything I've starred{{/t}}</span>
  </label>
</p>
<p>
  <label for="separate_private_channels_cb" class="checkbox no_margin">
    <input id="separate_private_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_channel_list">
    <span>{{#t}}List private channels separately{{/t}}</span>
  </label>
  {{#if show_separate_shared_channels_pref}}
    <label for="separate_shared_channels_cb" class="checkbox no_margin">
      <input id="separate_shared_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_channel_list">
      <span>{{#t}}List shared channels separately{{/t}}<span class="normal greigh small_left_margin">{{#t}}This doesn't do anything yet.{{/t}}</span></span>
    </label>
  {{/if}}
</p>
<p>
  <label class="checkbox nor_margin">
    <input id="enable_unread_view" checked="" type="checkbox" data-inline-saver="#prefs_channel_list">
    {{#t}}Turn on All Unreads<br />
    <span class="normal greigh">This collects all the messages you\u2019ve missed in one handy place.</span>{{/t}}
  </label>
</p>

<hr>

<h2 id="prefs_other_options" class="inline_block">{{#t}}Other Options{{/t}}</h2>
<p>

  <label class="checkbox">
    <input id="pagekeys_handled_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
    {{#t}}<em>Page up</em>, <em>Page down</em>, <em>Home</em>, and <em>End</em> keys always scroll messages{{/t}}
  </label>

  {{#isOurApp}}{{else}}
    <label class="checkbox">
      <input id="f_key_search_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
      {{#isMac}}
        {{#t}}Cmd + F starts a Slack search<br>{{/t}}
      {{else}}
        {{#t}}Ctrl + F starts a Slack search<br>{{/t}}
      {{/isMac}}
      <span class="normal greigh">{{#t}}Overrides normal browser search behavior{{/t}}</span>
    </label>
    <label class="checkbox">
      <input id="k_key_omnibox_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
      {{#isMac}}
        {{#t}}Cmd + K starts the Quick Switcher<br>{{/t}}
      {{else}}
        {{#t}}Ctrl + K starts the Quick Switcher<br>{{/t}}
      {{/isMac}}
      <span class="normal greigh">{{#t}}Overrides normal behavior in some browsers{{/t}}</span>
    </label>
  {{/isOurApp}}

  <label class="checkbox">
    <input id="no_omnibox_in_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
    {{#t}}Hide the Quick Switcher in the channel list{{/t}}
  </label>
  {{#feature flag='feature_prev_next_button'}}
    <label class="checkbox">
      <input id="prev_next_btn" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
      {{#t}}Hide the previous and next button in the channel list{{/t}}
    </label>
  {{/feature}}
  <label class="checkbox">
    <input id="ask_after_away_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
    {{#t}}Ask if I want to toggle my away status when I log in after having set myself away{{/t}}
  </label>
  <label class="checkbox">
    <input id="enable_chan_suggestions" checked="checked" type="checkbox" data-inline-saver="#prefs_other_options">
    {{#t}}Send me occasional channel suggestions via Slackbot{{/t}}
  </label>
  <label class="checkbox">
    <input id="surprise_me" type="checkbox">
    {{#t}}Surprise me!{{/t}}
  </label>
</p>

<div id="surprise" style="display: none;">
  <img id="emo_bear" src="" style="width: 279px; height: 243px;"><br>
  <h1 class="candy_red">{{#t}}Surprise!{{/t}}</h1>
</div>

<hr>

<h2 id="prefs_debug" class="inline_block">{{#t}}Debugging Options{{/t}}</h2>
{{#if show_console_whitelist}}
  <p class="medium_bottom_margin">
    <label for="client_logs_pri">{{#t}}Console logs{{/t}}</label>
    <select multiple="multiple" id="client_logs_pri" size="30" data-inline-saver="#prefs_debug" class="bottom_margin">
      <option value="all"{{#if client_logs_pri_all_selected}} selected{{/if}}>{{#t}}All{{/t}}</option>
      {{#each whitelisted_pris}}
        <option value="{{this.numbers}}"{{#if this.selected}} selected{{/if}}>{{#if this.name}}{{this.name}}{{else}}{{this.numbers}}{{/if}}</option>
      {{/each}}
    </select>
    <span class="normal tiny_top_margin block greigh">{{#t}}Enabling console logs can help Slack engineers and customer experience agents track down issues you are experiencing.{{/t}}</span>
  </p>
{{/if}}
{{#feature flag="feature_show_jumper_scores"}}
  <p class="medium_bottom_margin">
    <label class="checkbox">
      <input id="show_jumper_scores" checked="checked" type="checkbox" data-inline-saver="#prefs_debug">
      {{#t}}Show scores in the Quick Switcher{{/t}}
    </label>
  </p>
{{/feature}}
<p class="bold">{{#t}}Changing the following preferences will reload Slack.{{/t}}</p>
<p>
  <label class="checkbox bottom_margin">
    <input id="ls_disabled_cb" type="checkbox" data-inline-saver="#prefs_debug">
    {{#t}}
    Disable Local Storage<br>
    <span class="normal">This will disable Slack from storing data on your computer, and can be used to debug lagginess in the Slack UI.</span>
    {{/t}}
  </label>
  <label class="checkbox bottom_margin">
    <input id="ss_emojis_cb" type="checkbox" data-inline-saver="#prefs_debug">
    {{#t}}
    Disable Emoji Spritesheets<br>
    <span class="normal">This will make loading emoji slower, but it might help if you are experiencing slowness in the Slack UI.</span>
    {{/t}}
  </label>
  <label class="checkbox bottom_margin">
    <input id="enhanced_debugging_cb" type="checkbox" data-inline-saver="#prefs_debug">
    {{#t}}
    Enable Performance Logging<br>
    <span class="normal">This will help our engineers track down performance issues with Slack.</span>
    {{/t}}
  </label>
  {{#feature flag="feature_tinyspeck"}}
    {{#feature flag="feature_flannel_fe"}}
      <label class="select bottom_margin no_left_margin half_width">
        {{#t}}Flannel server pool{{/t}}<br>
        <select id="flannel_server_pool" data-inline-saver="#prefs_debug">
          <option value="production">{{#t}}Production{{/t}}</option>
          <option value="canary">{{#t}}Canary{{/t}}</option>
          <option value="random">{{#t}}Production / canary at random{{/t}}</option>
        </select>
      </label>
    {{/feature}}
  {{/feature}}
</p>
