{{i18n_ns "prefs"}}

{{#feature flag="feature_email_forwarding"}}

  <div class="prefs_email_forwarding">
    {{#if loading}}

    {{else}}
      {{#if existing_forwarding_email}}
        <p>
          {{#t}}Here\u2019s your forwarding address \u2014 copy it below to forward or bcc any email to Slack.
          (Emails will arrive in your conversation with Slackbot.){{/t}}
        </p>
        <p class="your_forwarding_address display_flex flex_wrap">
          <label for="forwarding_address">{{#t}}Your forwarding address{{/t}}</label>
          <input type="text" id="forwarding_address" class="small flex_one small_right_margin" value="{{existing_forwarding_email}}" readonly>
          <button id="copy_forwarding_email_cb" class="btn btn_outline ts_tip ts_tip_top" type="button" data-clog-click="true" data-clog-event="EMAIL_INGESTION_ADDRESS_COPY">
            {{#t note="Copy forwarding email address to clipboard"}}Copy{{/t}}
            <span class="ts_tip_tip">{{#t}}Copy email address{{/t}}</span>
          </button>
        </p>
        <p><a role="button" href="#" class="link_btn" id="disable_forwarding_email_cb" data-clog-click="true" data-clog-event="EMAIL_INGESTION_ADDRESS_DISABLE">{{#t}}Disable this address{{/t}}</a></p>
      {{else}}
        <p>
          {{#t}}Get an email address for forwarding email to Slack. Slackbot
          will deliver your forwarded emails, and you can keep them private or share them with your team.{{/t}}
        </p>
        <p class="prefs_email_forwarding_get">
          <button id="get_forwarding_email_cb" class="btn btn_outline ladda-button" type="button" data-style="expand-right" data-clog-click="true" data-clog-event="EMAIL_INGESTION_ADDRESS_CREATE">{{#t}}Get a Forwarding Address{{/t}}</button>
        </p>
      {{/if}}
    {{/if}}
  </div>

{{/feature}}
