{{i18n_ns "prefs"}}

<div id="prefs_sidebar">

  <h2 id="prefs_channel_list" class="inline_block small_bottom_margin">{{#t}}Sidebar{{/t}}</h2>
  <h4>{{#t}}In the sidebar, show:{{/t}}</h4>
  <p class="large_bottom_margin">
    <label class="radio">
      <input name="pr_sidebar" type="radio" value="" checked="checked" data-inline-saver="#prefs_channel_list">
      {{#if is_app_space_enabled}}
        <span class='normal'>{{#t}}All my channels, DMs and Apps{{/t}}</span>
      {{else}}
        <span class='normal'>{{#t}}All my channels and DMs{{/t}}</span>
      {{/if}}
    </label>
    <label class="radio">
      <input name="pr_sidebar" type="radio" value="hide_read_channels" data-inline-saver="#prefs_channel_list">
      {{#if is_app_space_enabled}}
        <span class='normal'>{{#t}}Just my unread channels, DMs and Apps{{/t}}</span>
      {{else}}
        <span class='normal'>{{#t}}Just my unread channels and DMs{{/t}}</span>
      {{/if}}
    </label>
    <label class="radio">
      <input name="pr_sidebar" type="radio" value="hide_read_channels_unless_starred" data-inline-saver="#prefs_channel_list">
      <span class='normal'>{{#t}}My unreads, along with everything I've starred{{/t}}</span>
    </label>
  </p>
  {{#if show_sidebar_sort_pref}}
  {{#feature flag='feature_sli_channel_priority'}}
  <h4 class="no_bottom_margin">{{#t}}Sort my channels:{{/t}}</h4>
  <p class="large_bottom_margin">
    <label class="select small inline_block">
      <select id="channel_sort_select" class="small" data-inline-saver="#prefs_channel_list">
        {{! Options wil be added in by `TS.ui.prefs_dialog` }}
      </select>
    </label>
  </p>
  {{/feature}}
  {{/if}}
  <p>
    <label for="separate_private_channels_cb" class="checkbox no_margin">
      <input id="separate_private_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_channel_list">
      <span>{{#t}}List private channels separately{{/t}}</span>
    </label>
    {{#if show_separate_shared_channels_pref}}
      <label for="separate_shared_channels_cb" class="checkbox no_margin">
        <input id="separate_shared_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_channel_list">
        <span>{{#t}}List shared channels separately{{/t}}</span>
      </label>
    {{/if}}
  </p>
  <p>
    <label class="checkbox nor_margin">
      <input id="enable_unread_view" checked="" type="checkbox" data-inline-saver="#prefs_channel_list">
      {{#t}}Show All Unreads{{/t}}<br>
      <span class="normal greigh">{{#t}}This collects all the messages you\u2019ve missed in one handy place.{{/t}}</span>
    </label>
  </p>
  <p>
    <label class="checkbox">
      <input id="no_omnibox_in_channels_cb" checked="checked" type="checkbox" data-inline-saver="#prefs_channel_list">
      {{#t}}Show the Quick Switcher{{/t}}<br>
      <span class="normal greigh">
        {{#t}}This lets you jump to specific channels and conversations in a snap.{{/t}}<br>
        {{#t cmd_key_label=cmd_key_label cmd_key=cmd_key keyboard_shortcut_label='k'}}(You can also use <span class="c-keyboard_key" aria-label="{cmd_key_label}">{cmd_key}</span><span class="c-keyboard_key">{keyboard_shortcut_label}</span>){{/t}}
      </span>
    </label>
  </p>

  <hr class="large_top_margin large_bottom_margin">

  <h2 id="prefs_sidebar_theme" class="inline_block">{{#t}}Sidebar Theme{{/t}}</h2>

  {{#feature flag="feature_teams_to_workspaces"}}
    <p>{{#t team_name=(currentTeamName) fallback_hash="694074f5da7aa3387ae04255c6c5fe8dbfb0ac88"}}Customize the look of the <strong>{team_name}</strong> workspace. Only you will see this.{{/t}}</p>
  {{else}}
    <p>{{#t team_name=(currentTeamName)}}Customize the look of the <strong>{team_name}</strong> team. Only you will see this.{{/t}}</p>
  {{/feature}}

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="aubergine"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="default_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Aubergine{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="hoth"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="hoth_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Hoth{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="monument"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="monument_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Monument{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="chocolate"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="chocolate_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Choco Mint{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="ocean"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="ocean_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Ochin{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="workhard"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="workhard_theme" data-inline-saver="#prefs_sidebar_theme">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Work Hard{{/t}}</div>
    </div>

  </label>

  <div class="clear_both bottom_margin"></div>

  <h4 id="prefs_sidebar_theme_accessible" class="inline_block bottom_margin">{{#t}}Accessible Themes{{/t}}</h4><br>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="solanum"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="solanum_theme" data-inline-saver="#prefs_sidebar_theme_accessible">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Protanopia &amp;<br />Deuteranopia{{/t}}</div>
    </div>
  </label>

  <label class="radio theme_label">
    <div class="theme_thumb" data-theme="brinjal"></div>
    <div class="theme_chooser">
      <div class="theme_radio_wrap">
        <input class="theme_radio" name="sidebar_theme_rd" type="radio" value="brinjal_theme" data-inline-saver="#prefs_sidebar_theme_accessible">
      </div>
      <div class="theme_name">{{#t note="A sidebar theme name"}}Tritanopia{{/t}}</div>
    </div>
  </label>

  <div class="clear_both bottom_margin"></div>

  <p id="customize_theme_info" class="{{#if show_customization_ui}}hidden{{/if}}">
    {{#t}}Feeling adventurous?<br>
    <a id="customize_theme_toggle" class="bold">Customize your theme and share it with others</a>{{/t}}
  </p>

  <div id="prefs_themes_customize" class="{{#unless show_customization_ui}}hidden{{/unless}}">
    <h4 class="bottom_margin">{{#t}}Custom Theme{{/t}}</h4>
    <label>
      {{#t note="Sidebar column background"}}Column BG{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='column_bg' data-hex='{{theme.column_bg}}' style="background-color: {{theme.column_bg}};"></span>
        <input type="text" name="color_column_bg_hex" class="small color_hex monospace borderless" value="{{theme.column_bg}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t note="Sidebar menu background hover"}}Menu BG Hover{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='menu_bg' data-hex='{{theme.menu_bg}}' style="background-color: {{theme.menu_bg}};"></span>
        <input type="text" name="color_menu_bg_hex" class="small color_hex monospace borderless" value="{{theme.menu_bg}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t note="Active item in channel list sidebar"}}Active Item{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='active_item' data-hex='{{theme.active_item}}' style="background-color: {{theme.active_item}};"></span>
        <input type="text" name="color_active_item_hex" class="small color_hex monospace borderless" value="{{theme.active_item}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t note="Active item text in channel list sidebar"}}Active Item Text{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='active_item_text' data-hex='{{theme.active_item_text}}' style="background-color: {{theme.active_item_text}};"></span>
        <input type="text" name="color_active_item_text_hex" class="small color_hex monospace borderless" value="{{theme.active_item_text}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t}}Hover Item{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='hover_item' data-hex='{{theme.hover_item}}' style="background-color: {{theme.hover_item}};"></span>
        <input type="text" name="color_hover_item_hex" class="small color_hex monospace borderless" value="{{theme.hover_item}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t}}Text Color{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='text_color' data-hex='{{theme.text_color}}' style="background-color: {{theme.text_color}};"></span>
        <input type="text" name="color_text_color_hex" class="small color_hex monospace borderless" value="{{theme.text_color}}" maxlength="7">
      </span>
    </label>
    <label>
      {{#t}}Active Presence{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='active_presence' data-hex='{{theme.active_presence}}' style="background-color: {{theme.active_presence}};"></span>
        <input type="text" name="color_active_presence_hex" class="small color_hex monospace borderless" value="{{theme.active_presence}}" maxlength="7">
      </span>
    </label>
    <label class="large_bottom_margin">
      {{#t}}Mention Badge{{/t}}<br>
      <span class="custom_theme_label">
        <span class="color_swatch" data-theme-element='badge' data-hex='{{theme.badge}}' style="background-color: {{theme.badge}};"></span>
        <input type="text" name="color_badge_hex" class="small color_hex monospace borderless" value="{{theme.badge}}" maxlength="7">
      </span>
    </label>

    <label class="clear_both full_width">
      {{#t}}Copy and paste these values to share your custom theme with others:{{/t}}<br>
      <input type="text" name="sidebar_theme_custom" id="sidebar_theme_custom" class="small monospace very_small_top_margin">
    </label>

  </div>
</div>