{{i18n_ns "dialogs_prefs_read_state_tracking"}}

<h2 id="prefs_read_state_tracking" class="inline_block">{{#t note="heading for read-state preferences"}}Mark as Read{{/t}}</h2>
<p>{{#t}}Slack marks a channel read as soon as you view it. You can change this if you\u2019d like.{{/t}}</p>

<h4>{{#t}}When I view a channel:{{/t}}</h4>
<p class="large_bottom_margin">
  <label class="radio">
    <input name="read_rd" type="radio" value="immediate_scroll" data-inline-saver="#prefs_read_state_tracking">
    {{#t}}Start me where I left off, and mark the channel read{{/t}}
  </label>
  <label class="radio">
    <input name="read_rd" type="radio" value="immediate" data-inline-saver="#prefs_read_state_tracking">
    {{#t}}Start me at the newest message, and mark the channel read{{/t}}
  </label>
  <label class="radio">
    <input name="read_rd" type="radio" value="default" data-inline-saver="#prefs_read_state_tracking">
    {{#t}}Start me at the newest message, but leave unseen messages unread{{/t}}
  </label>
</p>

<h4>{{#t note="heading for read-state shortcuts"}}Shortcuts{{/t}}</h4>
<p class="small_bottom_margin">
  {{emojiGraphicReplace ":information_desk_person::skin-tone-2:" 'apple'}}
  {{#t}}<b>Mark a channel as read</b> by hitting the <em>Esc</em> key.{{/t}}
</p>
<p class="small_bottom_margin">
  {{emojiGraphicReplace ":ok_woman::skin-tone-4:" 'apple'}}
  {{#t}}<b>Mark everything as read</b> by pressing <em>shift</em> + <em>esc</em>.{{/t}}
</p>
<p>
  {{emojiGraphicReplace ":raising_hand::skin-tone-6:" 'apple'}}
  {{#t modifier_key_name=short_key_name}}<b>Mark a message unread</b> by selecting <em>Mark unread</em> from the message's menu. Or simply hold down the <em>{modifier_key_name}</em> key and click on it.{{/t}}
</p>
