{{i18n_ns "dialogs_prefs_a11y"}}

<h2>{{#t note="heading for accessibility preferences"}}Accessibility{{/t}}</h2>

{{#feature flag="feature_a11y_pref_text_size"}}
<fieldset class="large_bottom_margin">
  <legend id="prefs_a11y_font_size">{{#t}}Font Size{{/t}}</legend>

  <label class="radio normal">
    <input name="a11y_font_size_select" type="radio" value="normal" data-inline-saver="#prefs_a11y_font_size">
    {{#t note="setting for text size"}}<strong>Default</strong> size at 100%{{/t}}
  </label>

  <label class="radio normal">
    <input name="a11y_font_size_select" type="radio" value="110" data-inline-saver="#prefs_a11y_font_size">
    {{#t note="setting for text size"}}<strong>Medium</strong> size at 110%{{/t}}
  </label>

  <label class="radio normal">
    <input name="a11y_font_size_select" type="radio" value="125" data-inline-saver="#prefs_a11y_font_size">
    {{#t note="setting for text size"}}<strong>Larger</strong> size at 125%{{/t}}
  </label>

  <label class="radio normal">
    <input name="a11y_font_size_select" type="radio" value="150" data-inline-saver="#prefs_a11y_font_size">
    {{#t note="setting for text size"}}<strong>Largest</strong> size at 150%{{/t}}
  </label>
</fieldset>
{{/feature}}
