  {{i18n_ns "dialogs_purpose"}}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{#if model_ob.purpose.value}}{{#t}}Edit channel purpose{{/t}}{{else}}{{#t}}Set channel purpose{{/t}}{{/if}}</h3>
  </div>
  <div class="modal-body">
    <label for="purpose_input" class="inline_block" style="min-width: 6rem; padding-right: 1rem;">
      {{#t name="Refers to channel purpose"}}Purpose{{/t}}<br />
      <span class="normal">{{#t}}(optional){{/t}}</span>
    </label>

    {{#supportsTextyMentions}}
      <div id="purpose_input" tabindex="1"></div>
      <div style="margin-left: 100px;" class="candy_red too_long_warning hidden small small_top_margin">{{#t}}text is too long!{{/t}}</div>
    {{else}}
      <textarea id="purpose_input" name="purpose_input" type="text" style="height: 4.5rem;" maxlength="{{ChannelPurposeMaxLength}}" tabindex="1">{{unFormatMessage model_ob.purpose.value}}</textarea>
    {{/supportsTextyMentions}}

    <span class="modal_input_note" style="margin-left: 100px;">
      {{#t}}Give your channel a purpose that describes what it will be used for.{{/t}}
      {{#if model_ob.purpose.creator}}
        {{#if model_ob.purpose.value}}
          <br />
          {{#t creator=(makeMemberPreviewLinkById model_ob.purpose.creator) date=(toCalendarDate model_ob.purpose.last_set)}}The purpose was last set by {creator} on {date}.{{/t}}
        {{/if}}
      {{/if}}
    </span>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_outline dialog_cancel" tabindex="3">{{#t}}Cancel{{/t}}</button>
    <button type="button" class="btn dialog_go" tabindex="2">{{#t note="Update channel purpose"}}Update Purpose{{/t}}</button>
  </div>
