  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{#if model_ob.purpose.value}}Edit{{else}}Set{{/if}} channel purpose</h3>
  </div>
  <div class="modal-body">
    <p>
      <label for="purpose_input" class="inline_block" style="min-width: 6rem; padding-right: 1rem;">
        Purpose<br />
        <span class="normal">(optional)</span>
      </label>
      <textarea id="purpose_input" name="purpose_input" type="text" style="height: 4.5rem;" maxlength="{{ChannelPurposeMaxLength}}" tabindex="1">{{unFormatMessage model_ob.purpose.value}}</textarea>
      <span class="modal_input_note" style="margin-left: 100px;">
        Give your channel a purpose that describes what it will be used for.
        {{#if model_ob.purpose.creator}}
          {{#if model_ob.purpose.value}}
            <br />
            The purpose was last set by {{{makeMemberPreviewLinkById model_ob.purpose.creator}}} on {{toCalendarDate model_ob.purpose.last_set}}.
          {{/if}}
        {{/if}}
      </span>
    </p>
  </div>
  <div class="modal-footer">
    <a class="btn btn_outline dialog_cancel" tabindex="3">Cancel</a>
    <a class="btn dialog_go" tabindex="2">Update Purpose</a>
  </div>
