{{i18n_ns "dialogs_quick_promo"}}
<button type="button" class="close c-modal_close--quick_promo" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="c-modal_graphic_wrapper--quick_promo">
  <img class="c-modal_graphic--quick_promo" src="{{versioned_ill_team '2x'}}" srcset="{{versioned_ill_team '1x'}} 1x, {{versioned_ill_team '2x'}} 2x" alt="{{#t}}An illustration of a friendly bunch of coworkers.{{/t}}"/>
</div>
<h3 class="c-modal_copy_header--quick_promo">
  {{#t}}See what Slack can do \u2014 invite your teammates!{{/t}}
</h3>
<p class="c-modal_copy--quick_promo">
  {{#t}}Bring your teammates into Slack, so you can cut down on reply-all emails and start working together more efficiently.{{/t}}
</p>
