{{i18n_ns "messages_action_items"}}
<li role="menuitem"><a data-remind-length="in 20 minutes" data-msg-action="remind">{{#t note="Option in the 'Remind me about this' submenu (in the message actions menu)"}}in 20 minutes{{/t}}</a></li>
<li role="menuitem"><a data-remind-length="in 1 hour" data-msg-action="remind">{{#t note="Option in the 'Remind me about this' submenu (in the message actions menu)"}}in 1 hour{{/t}}</a></li>
<li role="menuitem"><a data-remind-length="in 3 hours" data-msg-action="remind">{{#t note="Option in the 'Remind me about this' submenu (in the message actions menu)"}}in 3 hours{{/t}}</a></li>
<li role="menuitem"><a data-remind-length="tomorrow" data-msg-action="remind">{{#t note="Option in the 'Remind me about this' submenu (in the message actions menu)"}}Tomorrow{{/t}}</a></li>
<li role="menuitem"><a data-remind-length="next week" data-msg-action="remind">{{#t note="Option in the 'Remind me about this' submenu (in the message actions menu)"}}Next Week{{/t}}</a></li>
