{{i18n_ns "threads"}}
<div class='reply_broadcast_buttons_container'>
  <div class="reply_broadcast_label_container">
    <label class="checkbox" for="reply_broadcast_toggle_{{thread_ts}}_{{view}}" class="checkbox">
      <input type="checkbox" id="reply_broadcast_toggle_{{thread_ts}}_{{view}}" class="reply_broadcast_toggle">
      {{#if model_ob.is_channel}}
        {{#t note="broadcast message below thread"}}Also send to <span class="bold">#{model_ob.name}</span>{{/t}}
      {{else if model_ob.is_im}}
        {{#t note="broadcast message below thread"}}Also send as direct message{{/t}}
      {{else if model_ob.is_mpim}}
        {{#t note="broadcast message below thread"}}Also send to the group{{/t}}
      {{else if model_ob.is_group}}
        {{#t note="broadcast message below thread"}}Also send to <ts-icon class="ts_icon_lock ts_icon_inherit"></ts-icon><span class="bold">{model_ob.name}</span>{{/t}}
      {{/if}}
    </label>
    <ts-icon class="ts_icon_question_circle ts_icon_inherit ts_tip ts_tip_top">
      <span class="ts_tip_tip">
        {{#if model_ob.is_im}}
          {{#t note="broadcast message tooltip"}}Send important info as a <br/> separate direct message{{/t}}
        {{else if model_ob.is_mpim}}
          {{#t note="broadcast message tooltip"}}Send important info <br/> back to the group{{/t}}
        {{else}}
          {{#t note="broadcast message tooltip"}}Send important info <br/> back to the channel{{/t}}
        {{/if}}
      </span>
    </ts-icon>
  </div>
  <button class="reply_send btn btn_small btn btn_outline {{#if hidden}}hidden{{/if}}" type="button">{{#t}}Send{{/t}}</button>
</div>