<div class="reply_faces">
  {{#each repliers}}
    {{#if @last}}
      {{#if ../additional_reply_count}}
        <div class="last_replier_wrapper inline_block">
          {{makeMemberPreviewLinkImage this.id ../avatar_size}}
          <span class="additional_reply_count">{{#if_gt ../additional_reply_count compare=9}}9+{{else}}+{{../additional_reply_count}}{{/if_gt}}</span>
        </div>
      {{else}}
        {{makeMemberPreviewLinkImage this.id ../avatar_size}}
      {{/if}}
    {{else}}
      {{makeMemberPreviewLinkImage this.id ../avatar_size}}
    {{/if}}
  {{/each}}
</div>