{{i18n_ns "rxns"}}
<div id="handy_rxns_controller">
  {{#if in_poll_mode}}
  <div id="poll_ui">
    <div id="poll_dialog_input_container"></div>
    <span class="rxn_hover_container"></span>
  </div>
  {{/if}}
  <div id="suggestions_ui">
    {{#if handy_rxns_suggestions}}
    {{#t note="This is a prompt to optionally select an option from a list of handy presets"}}Some options:{{/t}}
    {{#each handy_rxns_suggestions}}
    <a class="btn btn_outline btn_small" data-suggestion-key="{{@key}}">{{this.title}}</a>
    {{/each}}
    {{/if}}
  </div>
  <div id="poll_table">
    {{#repeat max_handy_rxns}}
    <span class="handy_rxns_row empty">
      <a class="handy_rxns_picker btn_outline btn emoji_replace_on_load" data-rxn=""></a>
      <input type="text" maxlength="{{max_handy_rxns_title_chars}}" size="35" class="title no_bottom_margin input_inline small" value="">
      <a class="handy_rxns_remover"><i class="ts_icon ts_icon_times_circle subtle_silver candy_red_on_hover"></i></a>
    </span>
    {{/repeat}}

    {{#unless in_poll_mode}}
    <span id="handy_rxns_restricter">
      <label class="checkbox no_margin">
        <input id="handy_rxns_restrict_cb" type="checkbox" class="small_right_margin" />
        {{#if model_ob}}
          {{#if model_ob.is_channel}}
            {{#t name=(model_ob.name)}}Restrict the use of reactions in #{name} to those specified above.{{/t}}
          {{else}}
            {{#t name=(model_ob.name)}}Restrict the use of reactions in <i class="ts_icon ts_icon_lock"></i> {name} to those specified above.{{/t}}
          {{/if}}
        {{else}}
          {{#t}}Restrict the use of reactions on your team to those specified above (this can be overridden per channel){{/t}}
        {{/if}}
      </label>
    </span>
    {{/unless}}

    {{#if in_poll_mode}}
      <div id="handy_rxns_controller_empty" class="hidden">
        {{#t note="Instructions for creating a poll"}}
          <p>1. Add a message above</p>
          <p>2. Click the buttons to the left to add some responses for your poll</p>
          <p>3. Click the "Create" button to start the poll</p>
        {{/t}}
      </div>
    {{else}}
      {{#if model_ob}}
        <div id="handy_rxns_controller_empty" class="hidden">
          {{#t note="Informational message shown when a channel uses the default handy reactions"}}
            <p>This channel currently has no handy reactions specified, so it is by default using the team-wide set.</p>
            <p>Click the buttons to the left to override the defaults.</p>
          {{/t}}
        </div>
      {{else}}
        <div id="handy_rxns_controller_empty" class="hidden">
          {{#t note="Informational message shown when user has removed all the default reactions"}}
            <p>You've removed all team-wide handy reactions.</p>
            <p>Click the buttons to the left to add some!</p>
          {{/t}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>