{{i18n_ns "rxns"}}
{{~#if rxns_html.string~}}
<div class="rxn_panel {{id_class}} {{css_classes}}" data-rxn-key="{{rxn_key}}">
  {{~rxns_html~}}
  {{~#if has_hovers~}}
  <span class="rxn_hover_container{{#feature flag="feature_thanks"}} feature_thanks{{/feature}}">
    <button type="button" class="btn_unstyle {{#unless show_adder}}hidden {{/unless}}rxn menu_rxn ts_tip ts_tip_top ts_tip_float ts_tip_multiline ts_tip_delay_300" title="{{#t}}Add reaction...{{/t}}">
      <span class="emoji-outer emoji-sizer">
      <i class="ts_icon ts_icon_circle_fill"></i><i class="ts_icon ts_icon_add_reaction"></i>
      </span>
    </button>
    {{~handy_rxns_html~}}
  </span>
  {{~/if~}}
</div>
{{~else~}}
<div class="rxn_panel {{id_class}}"></div>
{{~/if~}}
