{{!-- This is a tempoaray campaign to deprecate Screenhero (which was never internationalized). --}}
{{!-- It is a short-term project that will be finished by the end of 2017. --}}
{{!-- This template should be removed when feature_deprecate_screenhero is finished. --}}

{{!-- hbslint-disable unwrapped --}}
<section>
  <div class="section_contents_med almost_ready">
    <h1 class="title">Your free trial is almost ready</h1>
    <h2 class="subtitle">Awaiting approval from an owner of {{team_name}}</h2>
  </div>
</section>

<section>
  <div class="section_contents_med">
    <div class="action_block">
      During your free trial of the Standard plan, you'll enjoy all the Screenhero features, like screen sharing and sharing control of your screen, right in Slack. You'll also get:
      <br><br>
      <li>Unlimited message archives and search</li>
      <li>Unlimited app integrations</li>
      <li>Guest accounts for contractors or vendors</li>
      <li>Priority customer support</li>

      <a href="https://{{team_domain}}.{{#if is_dev}}dev.{{/if}}slack.com/open">
        <button id="almost_ready_launch_team" class="btn btn_large">Launch {{team_name}}</button>
      </a>
    </div>
  </div>
</section>
{{!-- hbslint-enable unwrapped --}}
