{{!-- This is a temporary campaign to deprecate Screenhero (which was never internationalized). --}}
{{!-- It is a short-term project that will be finished by the end of 2017. --}}
{{!-- This template should be removed when feature_deprecate_screenhero is finished. --}}

{{!-- hbslint-disable unwrapped --}}
<section>
  <div class="section_contents almost_ready">
    <h1 class="title">You've started a 60-day free trial {{tada}}</h1>
    <h2 class="subtitle">{{team_name}} is now on the Standard plan.</h2>
  </div>
</section>
<section>
  <div class="section_contents_med">
    <div class="action_block">
      On the Standard plan, you'll enjoy all the benefits of Screenhero, like screen sharing and sharing control of your screen, right in Slack. You'll also get:
      <br><br>
      <li>Unlimited message archives and search</li>
      <li>Unlimited app integrations</li>
      <li>Guest accounts for contractors or vendors</li>
      <li>Priority customer support</li>
      <button id="almost_ready_launch_team" class="btn btn_large">Launch {{team_name}}</button>
      <div class="fine_print">
        Your trial of the Standard place will end on <b>{{date}}</b>. After that, your workspace will return to the Free plan. Upgrade anytime by visiting: <a href="https://{{team_domain}}.slack.com/admin/billing">https://{{team_domain}}.slack.com/admin/billing</a>
      </div>
    </div>
  </div>
</section>
{{!-- hbslint-enable unwrapped --}}
