  <a id="search_file_list_clear_filter" class="menu_icon {{#if_equal filetype compare="all"}}hidden{{/if_equal}}"><i class="ts_icon ts_icon_times_circle"></i></a>
  <a id="search_file_list_heading">
    <span class="heading_label">{{filetype_label}}</span> <i class="ts_icon ts_icon_caret_down"></i>
  </a>
    {{#if show_feedback}}
        <a onclick="TS.search.debugFileQuery('{{team_id}}', '{{user_id}}');">
            <ts-icon class="ts_icon_info sli_query_info">
            </ts-icon>
        </a>
    {{/if}}

