  <div class="attachment_extract">
    <div class="attachment_stripe" style="background-color: #{{bg_color}}"></div>
    <div>
      {{#if attachment.author_name}}
        <div>
          {{#if attachment.author_icon}}
            <img class="small_right_margin author_icon" src="{{attachment.author_icon}}">
          {{/if}}
          
          <span class="bold">{{{highlightSearchMatches attachment.author_name}}}</span>
          
          {{#if attachment.author_subname}}
            <span class="small_left_margin subtle_silver">{{{highlightSearchMatches attachment.author_subname}}}</span>
          {{/if}}
        </div>
      {{else}}
        {{#if attachment.service_name}}
          <div class="subtle_silver">{{{highlightSearchMatches attachment.service_name}}}</div>
        {{/if}}
      {{/if}}
      <span>{{{concatAttachmentExtracts attachment message}}}</span>
    </div>
  </div>
