{{i18n_ns "team"}}
{{!-- Right now we're supporting two versions of the tabs: one with counts and one without. --}}
{{#sliFileSearchIsEnabled}}
{{#feature flag="feature_sli_file_search"}}
  <div id="search_filters" class="{{searchFilter}}" role="tablist">
    {{#feature flag="feature_sli_file_search"}}
      {{#if show_all_tab}}
        <button type="button" role="tab" id="filter_all" class="btn_unstyle tab" onclick="TS.search.view.setTab('all'); return false;">
          {{#t note="A label for the All tab in search"}}All{{/t}}
        </button>
      {{/if}}
    {{/feature}}
    <button type="button" role="tab" class="btn_unstyle tab" id="filter_messages" onclick="TS.search.view.setTab('messages');">
      <span class="tab_label">{{#t note="A label for the Messages tab in search"}}Messages{{/t}}</span>
    </button>
    <button type="button" role="tab" class="btn_unstyle tab" id="filter_files" onclick="TS.search.view.setTab('files');">
      <span class="tab_label">{{#t note="A label for the Files tab in search"}}Files{{/t}}</span>
    </button>
  </div>
{{/feature}}
{{else}}
  <div id="search_filters" class="{{searchFilter}}" role="tablist">
    <button type="button" role="tab" class="btn_unstyle tab" id="filter_messages" onclick="TS.search.view.setTab('messages');">
      <span class="tab_label">{{#t note="A message count label that shows next to search results. For example, Messages (5)"}}Messages ({messages_count}){{/t}}</span>
    </button>
    <button type="button" role="tab" class="btn_unstyle tab" id="filter_files" onclick="TS.search.view.setTab('files');">
      <span class="tab_label">{{#t note="A file count label that shows next to search results. For example, Files (5)"}}Files ({files_count}){{/t}}</span>
    </button>
  </div>
{{/sliFileSearchIsEnabled}}