{{i18n_ns "search"}}

{{#if header}}{{#with header}}
  <header{{#if query}} class="query_header"{{/if}}>
    {{#unless query}}
      <span class="header_label">
        <span class="header_label__text">{{#t}}Narrow your search{{/t}}</span>
        <hr class="header_label__separator" />
      </span>
      <a class="learn_more_link ts_icon ts_icon_info_circle ts_icon_inherit ts_tip ts_tip_left" href="https://get.slack.help/hc/{{zdLocale}}/articles/202528808-Searching-in-Slack" target="{{newWindowName}}" tabindex="-1">
        <span class="ts_tip_tip">{{#t}}Learn more{{/t}}</span>
      </a>
    {{else}}
      <span class="no_wrap">{{#t}}Search Slack for{{/t}}&nbsp;</span>
      <strong class="overflow_ellipsis search_query_preview">&ldquo;{{query}}&rdquo;</strong>
      <span class="boxed float_right mini boxed_enter no_wrap">
        {{#t note="Enter to search"}}enter{{/t}} <span class="enter_arrow">&crarr;</span>
      </span>
    {{/unless}}
  </header>
{{/with}}{{/if}}

{{#if modifiers}}
  <header>
    <span class="header_label search_mini">
      <span class="header_label__text">{{#t}}Modifiers{{/t}}</span>
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results modifiers">
    {{#each modifiers}}
      <li data-replacement="{{name}}{{matching_keyword}}"{{#if matching_keyword}} data-matching-keyword="{{matching_keyword}}"{{/if}}>
        <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
          {{#if matching_keyword}}
            <span class="modifier muted_text">{{name}}</span>
            <strong class="keyword">{{matching_keyword}}</strong>
          {{else}}
            <strong class="modifier">{{name}}</strong>
            {{#if keyword_placeholder}}
              <span class="muted_text">{{keyword_placeholder}}</span>
            {{/if}}
          {{/if}}
          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>
      </li>
    {{/each}}
  </ol>
{{/if}}

{{#if modifier_groups}}
  <ol class="conversation_modifiers results modifiers" aria-label="{{#t}}conversation modifier{{/t}}">
    <li data-replacement="{{#t}}from:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        <strong>{{#t}}from: {{/t}}</strong>
        {{#feature flag="feature_teams_to_workspaces"}}
          <span class="muted_text">{{#t}}member{{/t}}</span>
        {{else}}
          <span class="muted_text">{{#t}}team member{{/t}}</span>
        {{/feature}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
    <li data-replacement="{{#t}}in:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        {{#t}}<strong>in: </strong>
        <span class="muted_text">channel or direct message</span>{{/t}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
    <li data-replacement="{{#t}}has:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        {{#t}}<strong>has: </strong>
        <span class="muted_text">star, pin, link, or reaction</span>{{/t}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
  </ol>

  <ol class="time_modifiers results modifiers" aria-label="{{#t}}time modifier{{/t}}">
    <li data-replacement="{{#t}}after:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        {{#t}}<strong>after: </strong>
        <span class="muted_text">date</span>{{/t}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
    <li data-replacement="{{#t}}before:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        {{#t}}<strong>before: </strong>
        <span class="muted_text">date</span>{{/t}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
    <li data-replacement="{{#t}}on:{{/t}}">
      <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
        {{#t}}<strong>on: </strong>
        <span class="muted_text">date, month or year</span>{{/t}}
        {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
      </button>
    </li>
  </ol>
{{/if}}

{{#if special}}
  {{#if special_section_header}}
    <header>
      <span class="header_label search_mini">
        <span class="header_label__text">{{special_section_header}}</span>
        <hr class="header_label__separator" />
      </span>
    </header>
  {{/if}}
  <ol class="results special">
    {{#each special}}
      {{#if is_channel}}
        <li data-replacement="{{../conversation_modifier}}#{{name}}">
          <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
            {{#if ../show_modifier}}
              <span>{{../conversation_modifier}}</span>
            {{/if}}
            <strong>#{{name}}</strong>
            {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
          </button>
        </li>
      {{else}}
        {{#if is_group}}
          <li data-replacement="{{../conversation_modifier}}{{name}}">
            <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
              {{#if ../show_modifier}}
                <span>{{.../conversation_modifier}}</span>
              {{/if}}
              <strong>{{name}}</strong>
              {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
            </button>
          </li>
        {{else}}
          {{#feature flag="feature_more_texty_search"}}
          <li data-replacement="{{../conversation_modifier}}{{getMemberAsContentsString this}}" data-member-id="{{id}}">
          {{else}}
          <li data-replacement="{{../conversation_modifier}}@{{name}}" data-member-id="{{id}}">
          {{/feature}}
            <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
              {{#if ../show_modifier}}
                <span>{{../conversation_modifier}}</span>
              {{/if}}

              {{#feature flag="feature_name_tagging_client"}}
                {{> member_menu_names}}
              {{else}}
                {{#if real_name}}
                  <strong>{{real_name}} </strong>
                  <span class="muted_text">@{{name}}</span>
                {{else}}
                  <strong>@{{name}}</strong>
                {{/if}}
              {{/feature}}

              {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
            </button>
          </li>
        {{/if}}
      {{/if}}
    {{/each}}
  </ol>
{{/if}}

{{#if users}}
  <header>
    <span class="header_label search_mini">
      {{#feature flag="feature_teams_to_workspaces"}}
        <span class="header_label__text">{{#t}}Members{{/t}}</span>
      {{else}}
        <span class="header_label__text">{{#t}}Team members{{/t}}</span>
      {{/feature}}
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results users">
    {{#each users}}
      {{#feature flag="feature_more_texty_search"}}
      <li data-replacement="{{#t}}from:{{/t}}{{getMemberAsContentsString this}}" data-member-id="{{id}}" class="tab_complete_ui_item" data-index="{{@index}}">
      {{else}}
      <li data-replacement="{{#t}}from:{{/t}}@{{name}}" data-member-id="{{id}}">
      {{/feature}}
        <button {{#shouldUseUnifiedMemberDisplay}}class="result_item_btn btn_unstyle unified"{{else}}class="result_item_btn btn_unstyle"{{/shouldUseUnifiedMemberDisplay}} type="button" tabindex="-1">
          {{#if ../show_modifier}}
            <span {{#shouldUseUnifiedMemberDisplay}}class="from_modifier"{{/shouldUseUnifiedMemberDisplay}}>{{#t}}from:{{/t}}</span>
          {{/if}}

          {{#feature flag="feature_name_tagging_client"}}
            {{#if this.is_usergroup}}
              <strong>@{{this.handle}}</strong>
              <span class="muted_text">
                {{~#t user_count=this.user_count}}{user_count, plural, =1 {# Member} other {# Members}}{{/t~}}
                {{#if this.description}}
                  <span class="bullet">&bull;</span> {{this.description}}
                {{/if}}
              </span>
            {{else if this.is_broadcast_keyword}}
              <strong>@{{this.name}}</strong>
            {{else}}
              {{#shouldUseUnifiedMemberDisplay}}
                {{> c-member member=this size="small" avatar=true omit_status=true omit_presence=true}}
              {{else}}
                {{> member_menu_names}}
              {{/shouldUseUnifiedMemberDisplay}}
            {{/if}}
          {{else}}
            {{#if real_name}}
              <strong>{{real_name}} </strong>
              <span class="muted_text">@{{name}}</span>
            {{else}}
              <strong>@{{name}}</strong>
            {{/if}}
          {{/feature}}

          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>
      </li>
    {{/each}}
  </ol>

  {{#if users_deleted}}
    <ol class="results users">
      {{!-- TODO: reveal_hidden_items should not be a list item because it does not create an accurate representation of this list's count, but the way search-autocomplete-menu.js is built does not allow for an easy change :( --}}
      <li class="reveal_hidden_items">
        <button class="reveal_items_btn action_btn btn_unstyle" type="button">
          {{#t}}Show { users_deleted.length, plural, =1 { # deactivated account } other { # deactivated accounts }}{{/t}}
        </button>
      </li>
      {{#each users_deleted}}
        {{#feature flag="feature_more_texty_search"}}
        <li data-replacement="{{#t}}from:{{/t}}{{getMemberAsContentsString this}}" data-member-id="{{id}}">
        {{else}}
        <li data-replacement="{{#t}}from:{{/t}}@{{name}}" data-member-id="{{id}}">
        {{/feature}}
          <button {{#shouldUseUnifiedMemberDisplay}}class="result_item_btn btn_unstyle unified"{{else}}class="result_item_btn btn_unstyle"{{/shouldUseUnifiedMemberDisplay}} type="button" tabindex="-1">
            {{#if ../show_modifier}}
              <span {{#shouldUseUnifiedMemberDisplay}}class="from_modifer"{{/shouldUseUnifiedMemberDisplay}}>{{#t}}from:{{/t}}</span>
            {{/if}}
            {{#feature flag="feature_name_tagging_client"}}
              {{#shouldUseUnifiedMemberDisplay}}
                {{> c-member member=this size="small" avatar=true omit_status=true omit_presence=true}}
              {{else}}
                {{> member_menu_names}}
              {{/shouldUseUnifiedMemberDisplay}}
            {{else}}
              {{#if real_name}}
                <strong>{{real_name}} </strong>
                <span class="muted_text">@{{name}}</span>
              {{else}}
                <strong>@{{name}}</strong>
              {{/if}}
            {{/feature}}

            {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
          </button>
        </li>
      {{/each}}
    </ol>
  {{/if}}
{{/if}}

{{conversations_html}}

{{#if bots}}
  <header>
    <span class="header_label search_mini">
      <span class="header_label__text">{{#t}}Integrations{{/t}}</span>
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results bots">
    {{#each bots}}
      <li data-replacement="{{../bot_modifier}}{{name}}">
        <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
          {{#if ../show_modifier}}
            <span>{{../bot_modifier}}</span>
          {{/if}}

          <strong>{{name}}</strong>

          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>
      </li>
    {{/each}}
  </ol>
{{/if}}

{{#if has}}
  <header>
    <span class="header_label search_mini">
      <span class="header_label__text">{{#t}}Properties{{/t}}</span>
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results has">
    {{#each has}}
      <li data-replacement="{{#t}}has:{{/t}}{{name}}">
        <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
          {{#if ../show_modifier}}
            <span>{{#t}}has:{{/t}}</span>
          {{/if}}
          <strong>{{name}}</strong>

          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>
      </li>
    {{/each}}
  </ol>
{{/if}}

{{#if profiles}}
  <header>
    <span class="header_label search_mini">
      <span class="header_label__text">{{#t}}Profiles{{/t}}</span>
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results profiles">
    {{#each profiles}}
      {{#feature flag="feature_name_tagging_client"}}
        <li class="clear_both"
          data-member-id="{{this.id}}"
          {{#if this.profile.bot_id}}
            data-bot-id={{this.profile.bot_id}}
          {{/if}}
        >
          <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
            {{#shouldUseUnifiedMemberDisplay}}
              {{> c-member member=this size="medium" omit_status=true}}
            {{else}}
              <div class="profile_image float_left small_right_margin">{{makeMemberPreviewLinkImage this.id 32 false true}}</div>
              <div class="search_mini overflow_ellipsis">
                <span class="black profile_real_name">{{getPrefCompliantMemberName this}}</span>
                <span class="search_mini normal {{makeMemberPresenceDomClass this}}">
                  {{makeMemberPresenceIcon this}}
                </span>
                <span class="search_mini">
                  {{#memberHasSecondaryName this}}
                    {{getMemberSecondaryName this}}
                  {{/memberHasSecondaryName}}
                </span>
              </div>
              <div class="profile_title search_mini muted_text overflow_ellipsis">
                {{#if this.profile.title}}
                  {{this.profile.title}}
                {{/if}}
              </div>
            {{/shouldUseUnifiedMemberDisplay}}

            {{> ts_icon class="ts_icon_chevron_medium_right modifier_icon"}}
          </button>
        </li>
      {{else}}
        <li class="clear_both"
          data-member-id="{{this.id}}"
          {{#if this.profile.bot_id}}
            data-bot-id={{this.profile.bot_id}}
          {{/if}}
        >
          <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
            {{#shouldUseUnifiedMemberDisplay}}
              {{> c-member member=this size="medium" omit_status=true}}
            {{else}}
              <div class="profile_image float_left small_right_margin">{{makeMemberPreviewLinkImage this.id 32 false true}}</div>
              <div class="search_mini overflow_ellipsis">
                <span class="black profile_username">{{name}}</span>
                <span class="search_mini normal {{makeMemberPresenceDomClass this}}">
                  {{makeMemberPresenceIcon this}}
                </span>
                <span class="search_mini">
                  {{#if real_name}}
                    {{real_name}}
                  {{/if}}
                </span>
              </div>
              <div class="profile_title search_mini muted_text overflow_ellipsis">
                {{#if this.profile.title}}
                  {{this.profile.title}}
                {{/if}}
              </div>
            {{/shouldUseUnifiedMemberDisplay}}
            {{> ts_icon class="ts_icon_chevron_medium_right modifier_icon"}}
          </button>
        </li>
      {{/feature}}
    {{/each}}
  </ol>
{{/if}}

{{#if history}}
  <header>
    <span class="header_label search_mini">
      <span class="header_label__text">{{#t}}History{{/t}}</span>
      <hr class="header_label__separator" />
    </span>
  </header>
  <ol class="results history">
    {{#each history}}
      <li class="history_item with_two_actions" data-replacement="{{text}}">
        <button class="result_item_btn btn_unstyle" type="button" tabindex="-1">
          <span class="history_query">{{html}}</span>

          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>

        <button class="delete_history_item_target_area ts_icon ts_icon_times_small delete_btn action_btn btn_unstyle ts_tip ts_tip_top ts_tip_leftish" type="button" aria-label="{{#t}}delete history result{{/t}}">
          <span class="ts_tip_tip">{{#t}}Delete{{/t}}</span>
        </button>
      </li>
    {{/each}}
  </ol>
{{/if}}

{{#if noResults}}
  <p class="no_results">
    {{#t}}No suggestions.{{/t}}
  </p>
{{/if}}

{{#if footer}}{{#with footer}}
  <footer>
    {{#if calendar_tip}}
      {{#t}}Also try a keyword like <span class="modifier closed">yesterday</span> or <span class="modifier closed">january</span>.{{/t}}
    {{else}}
      {{#t}}Type <strong>+</strong> to see the full list of modifiers.{{/t}}
    {{/if}}
  </footer>
{{/with}}{{/if}}
