{{#if groups}}
  <div class="section_header"><span class="header_label search_mini">Channels</span></div>
  <ol class="results groups">
    {{#each groups}}
      <li data-replacement="{{../conversation_modifier}}{{name}}">
        <button class="result_item_btn btn_unstyle" type="button">
          {{#if ../show_modifier}}
            <span>{{../conversation_modifier}}</span>
          {{/if}}
          <strong>{{name}}</strong>

          {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
        </button>
      </li>
    {{/each}}

    {{#if groups_archived}}
      {{!-- TODO: reveal_hidden_items should not be a list item because it does not create an accurate representation of this list's count, but the way search-autocomplete-menu.js is built does not allow for an easy change :( --}}
      <li class="reveal_hidden_items">
        <button class="reveal_items_btn action_btn btn_unstyle" type="button">
          Show {{groups_archived.length}} archived {{pluralize groups_archived.length group_label}}
        </button>
      </li>

      {{#each groups_archived}}
        <li data-replacement="{{../conversation_modifier}}{{name}}" class="hidden">
          <button class="result_item_btn btn_unstyle" type="button">
            {{#if ../show_modifier}}
              <span>{{../conversation_modifier}}</span>
            {{/if}}
            <strong>{{name}}</strong>

            {{> ts_icon class="ts_icon_plus_square_o ts_icon_inherit modifier_icon"}}
          </button>
        </li>
      {{/each}}
    {{/if}}
  </ol>
{{/if}}

