{{i18n_ns "menu"}}

<li><a data-filter="everyone">{{#t note="Searchable member list filter option with total count of this type" total="100"}}
  Everyone <span>({total})</span>
{{/t}}</a></li>
<li class="divider">
<li><a data-filter="active_members">{{#t note="Searchable member list filter option with total count of this type" total="80"}}
  Members <span>({total})</span>
{{/t}}</a></li>
<li><a data-filter="restricted_members">{{#t note="Searchable member list filter option with total count of this type" total="20"}}
  Guest accounts <span>({total})</span>
{{/t}}</a></li>
<li class="divider">
<li><a data-filter="disabled_members">{{#t note="Searchable member list filter option with total count of this type"}}
  Disabled accounts
{{/t}}</a></li>