  {{i18n_ns "share_dialog"}}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>
      {{#if_equal type compare='file'}}{{#t}}Share file{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_snippet'}}{{#t}}Share snippet{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_post'}}{{#t}}Share post{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_space'}}{{#t}}Share post{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_arugula'}}{{#t}}Share arugula{{/t}}{{/if_equal}}
    </h3>
  </div>
  <div class="modal-body share_dialog">

    <input type="hidden" id="share_type" value="{{type}}" />
    <input type="hidden" id="share_item_id" value="{{item.id}}" />

    {{file_html}}

    {{sharing_html}}

  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn_outline dialog_cancel" tabindex="3">{{#t}}Cancel{{/t}}</button>
    <button type="button" class="btn dialog_go" tabindex="2">{{#t}}Share{{/t}}</button>
  </div>
