{{i18n_ns 'team'}}

<tr class="shared_channels_profile_field">
  <td><span class="small_right_padding old_petunia_grey" title="{{#t note="list of shared channels both you and the user are members of"}}Shared Channels{{/t}}">{{#t note="list of shared channels both you and the user are members of"}}Shared Channels{{/t}}</span></td>
  <td>
    {{#if lazy_load_profile_fields}}
      {{> loading_indicator}}
    {{else}}
      {{#if shared_channels}}
        {{makeLinksFromModelObs shared_channels}}
      {{else}}
        {{#t note="user is in no shared channels"}}None{{/t}}
      {{/if}}
    {{/if}}
  </td>
</tr>
