  {{i18n_ns "share_dialog"}}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>
      {{#if_equal type compare='file'}}{{#t}}Share file{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_snippet'}}{{#t}}Share snippet{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_post'}}{{#t}}Share post{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_space'}}{{#t}}Share post{{/t}}{{/if_equal}}
      {{#if_equal type compare='file_arugula'}}{{#t}}Share arugula{{/t}}{{/if_equal}}
    </h3>
  </div>
  <div class="modal-body share_dialog">

    <input type="hidden" id="share_type" value="{{type}}" />
    <input type="hidden" id="share_item_id" value="{{item.id}}" />

    {{file_html}}

    {{sharing_html}}

  </div>
  <div class="modal-footer">
    {{#if show_copy_link}}
      <button class="btn btn_outline inline_flex ts_icon ts_icon_link ts_tip ts_tip_top ts_tip_float ts_tip_align_left ts_tip_multiline" data-action="copy_link" data-link="{{item.permalink}}">
        <span class="ts_tip_tip">
          <span class="ts_tip_multiline_inner">
            {{#if item.is_public}}
              {{#t}}Copy a link to this file.<br>To share, paste it anywhere.{{/t}}
            {{else}}
              {{#t}}Copy a link to this file.<br>It\u2019s private, so sharing is limited.{{/t}}
            {{/if}}
          </span>
        </span>
      </button>
    {{/if}}
    <button type="button" class="btn btn_outline dialog_cancel" tabindex="3">{{#t}}Cancel{{/t}}</button>
    <button type="button" class="btn dialog_go" tabindex="2">{{#t}}Share{{/t}}</button>
  </div>
