{{i18n_ns 'invites'}}
<div id="shared_invite_link_modal">
  <div id="shared_invite_link_modal_warning"></div>
  <div id="shared_invite_link_modal_header" class="bold small_bottom_margin">{{#t}}Share your team\u2019s invite link{{/t}}</div>

  <div id="shared_invite_link_modal_body">
  </div>

  <div id="shared_invite_link_modal_footer">
    <a class="link_btn no_underline" data-action="shared_invite_open_email_invites"><ts-icon class="ts_icon_envelope_o subtle_silver small_right_margin"></ts-icon>{{#t}}Invite people by email...{{/t}}</a>
  </div>
</div>

