  {{i18n_ns "shortcuts"}}

  {{!-- hbslint-disable unwrapped --}}
  {{!-- Everything that needs to be wrapped in this file is wrapped --}}

  <button class="close" data-dismiss="modal" aria-hidden="true"><i class="ts_icon ts_icon_times"></i></button>

  <div class="modal-body">
    <div class="col">
      <h2>{{#t}}Formatting shortcuts{{/t}}</h2>
      <ul class="no_bullets">
        <li>{{#t}}Heading 1:{{/t}} <span class="keyboard">{{meta_key}}</span><span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">1</span></li>
        <li>{{#t}}Heading 2:{{/t}} <span class="keyboard">{{meta_key}}</span><span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">2</span></li>
        <li>{{#t}}Heading 3:{{/t}} <span class="keyboard">{{meta_key}}</span><span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">3</span></li>
      </ul>
      <ul class="no_bullets">
        <li>{{#t}}Bulleted list:{{/t}} <span class="keyboard">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">8</span></li>
        <li>{{#t}}Numbered list:{{/t}} <span class="keyboard">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">7</span></li>
        <li>{{#t}}Checklist:{{/t}} <span class="keyboard">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">9</span></li>
        <li>{{#t}}Code block:{{/t}} <span class="keyboard">{{cmd_key}}</span><span class="keyboard">{{meta_key}}</span><span class="keyboard">k</span></li>
      </ul>
      <ul class="no_bullets">
        <li>{{#t}}Bold:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">b</span></li>
        <li>{{#t}}Italic:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">i</span></li>
        <li>{{#t}}Underline:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">u</span></li>
        <li>{{#t}}Code:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">k</span></li>
        <li>{{#t}}Strikethrough:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">x</span></li>
        <li>{{#t}}Linkify:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">k</span></li>
      </ul>
    </div>
    
    <div class="col">
      <h2>{{#t}}Markdown-style{{/t}}</h2>
      <ul class="no_bullets">
        <li>{{#t}}Heading 1:{{/t}} <span class="keyboard">#</span>+<span class="keyboard">Space</span></li>
        <li>{{#t}}Heading 2:{{/t}} <span class="keyboard">##</span>+<span class="keyboard">Space</span></li>
        <li>{{#t}}Heading 3:{{/t}} <span class="keyboard">###</span>+<span class="keyboard">Space</span></li>
      </ul>      
      <ul class="no_bullets">
        <li>{{#t}}Bulleted list:{{/t}} <span class="keyboard">*</span>+<span class="keyboard">Space</span></li>
        <li>{{#t}}Numbered list:{{/t}} <span class="keyboard">1.</span>+<span class="keyboard">Space</span></li>
        <li>{{#t}}Checklist:{{/t}} <span class="keyboard">[]</span>+<span class="keyboard">Space</span></li>
        <li>{{#t}}Code block:{{/t}} <span class="keyboard">```</span>+<span class="keyboard">Space</span></li>
      </ul>      
      <ul class="no_bullets">
        <li>{{#t}}Bold:{{/t}} <span class="keyboard">*</span>+<span class="keyboard">text</span>+<span class="keyboard">*</span></li>
        <li>{{#t}}Italic:{{/t}} <span class="keyboard">_</span>+<span class="keyboard">text</span>+<span class="keyboard">_</span></li>
        <li>{{#t}}Code:{{/t}} <span class="keyboard">`</span>+<span class="keyboard">text</span>+<span class="keyboard">`</span></li>
        <li>{{#t}}Strikethrough:{{/t}} <span class="keyboard">~</span>+<span class="keyboard">text</span>+<span class="keyboard">~</span></li>
      </ul>
      <ul class="no_bullets">
        <li>{{#t}}Divider:{{/t}} <span class="keyboard">----</span></li>
      </ul>
    </div>
    
    <div class="col last">
      <h2>{{#t}}Miscellaneous{{/t}}</h2>
      <ul class="no_bullets">
        {{#if clear_formatting}}<li>{{#t}}Clear formatting:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">0</span></li>{{/if}}
        <li>{{#t}}Indent:{{/t}} <span class="keyboard">Tab</span></li>
        <li>{{#t}}Unindent:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">Shift</span><span class="keyboard">Tab</span></li>
      </ul>
      <ul class="no_bullets">
        <li>{{#t}}Cut:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">x</span></li>
        <li>{{#t}}Copy:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">c</span></li>
        <li>{{#t}}Paste:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">v</span></li>
      </ul>
      <ul class="no_bullets">
        <li>{{#t}}Undo:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">z</span></li>
        <li>{{#t}}Redo:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">Shift</span><span class="keyboard">z</span></li>
      </ul>
      <ul class="no_bullets">      
        <li>{{#t}}Show shortcuts:{{/t}} <span class="keyboard" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="keyboard">/</span></li>
        <li>{{#t}}Dismiss menus:{{/t}} <span class="keyboard">Esc</span></li>
        <li>
      </ul>
    </div>
          
    <div class="clear_both"></div>
  </div>
