  {{i18n_ns "shortcuts"}}

  <div class="modal-body">

    <h1>
      <span class="shortcut_dialog_header_text">{{#t}}Keyboard Shortcuts{{/t}}</span>
      <span class="shortcut_dialog_shortcut" aria-hidden="true">
        <span class="c-keyboard_key">{{#isMac}}{{#t}}Cmd{{/t}}{{else}}{{#t}}Ctrl{{/t}}{{/isMac}}</span><span class="c-keyboard_key">/</span>
      </span>
    </h1>

    <div class="shortcut_categories">
      <div class="shortcut_category">
        <h3>{{#t}}Channels &amp; DMs{{/t}}</h3>
        <ul class="no_bullets">
          <li>{{#t}}Previous in list:{{/t}} <span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_up_medium ts_icon_inherit" aria-label="{{#t}}Up arrow{{/t}}"></i></span></li>
          <li>{{#t}}Next in list:{{/t}} <span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_down_medium ts_icon_inherit" aria-label="{{#t}}Down arrow{{/t}}"></i></span></li>
          <li>{{#t}}Previous unread:{{/t}} <span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_up_medium ts_icon_inherit" aria-label="{{#t}}Up arrow{{/t}}"></i></span></li>
          <li>{{#t}}Next unread:{{/t}} <span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_down_medium ts_icon_inherit" aria-label="{{#t}}Down arrow{{/t}}"></i></span></li>
          <li>{{#t}}Back in history:{{/t}} {{#isMac}}<span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">[</span>{{else}}<span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_left" aria-label="{{#t}}Left arrow{{/t}}"></i></span>{{/isMac}}</li>
          <li>{{#t}}Forward in history:{{/t}} {{#isMac}}<span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">]</span>{{else}}<span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_right" aria-label="{{#t}}Right arrow{{/t}}"></i></span>{{/isMac}}</li>
          <li>{{#t}}Mark as read:{{/t}} <span class="c-keyboard_key" aria-label="{{#t}}Escape{{/t}}">{{#t}}Esc{{/t}}</span></li>
          <li>{{#t}}Mark all as read:{{/t}} <span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key" aria-label="{{#t}}Escape{{/t}}">{{#t}}Esc{{/t}}</span></li>
          <li>{{#t}}Quick switcher:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}k{{/t}}</span>{{#isOurApp}} {{#t}}or{{/t}} <span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}t{{/t}}</span>{{/isOurApp}}</li>
          {{#if show_browse_dms_shortcut}}<li>{{#t}}Browse DMs:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}k{{/t}}</span></li>{{/if}}
          {{#feature flag="feature_star_shortcut"}}<li>{{#t}}Toggle star:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}s{{/t}}</span></li>{{/feature}}
        </ul>
      </div>

      <div class="shortcut_category">
        <h3>{{#t}}Messaging{{/t}}</h3>
        <ul class="no_bullets">
        {{#if can_show_a11y_keyboard_shortcuts}}
          {{! The following four keyboard shortcuts don't show up in the UI, and are only read by screenreaders. }}
          <li class="hidden" aria-hidden="false">{{#t}}Next message:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">]</span></li>
          <li class="hidden" aria-hidden="false">{{#t}}Previous message:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">[</span></li>
          <li class="hidden" aria-hidden="false">{{#t}}Oldest unread message:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">-</span></li>
          <li class="hidden" aria-hidden="false">{{#t}}Message input:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{meta_key}}</span><span class="c-keyboard_key">=</span></li>
        {{/if}}
          <li>
            {{#t}}Autocomplete{{/t}}
            <ul>
              <li>{{#t}}Names:{{/t}} <span class="subtle_silver">[a-z]</span><span class="c-keyboard_key">Tab</span> <span class="subtle_silver">{{#t}}or{{/t}}</span> <span class="c-keyboard_key">@</span><span class="c-keyboard_key">{{#t}}Tab{{/t}}</span></li>
              <li>{{#t}}Channels:{{/t}} <span class="c-keyboard_key" aria-label="{{#t}}Number symbol{{/t}}">#</span><span class="c-keyboard_key">{{#t}}Tab{{/t}}</span></li>
              <li>{{#t}}Emoji:{{/t}} <span class="c-keyboard_key" aria-label="{{#t}}Colon{{/t}}">:</span><span class="c-keyboard_key">{{#t}}Tab{{/t}}</span></li>
            </ul>
          </li>
          <li>{{#t}}New line:{{/t}} <span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t}}Enter{{/t}}</span></li>
          <li>{{#t note="followed by \u201cin input\u201d"}}Edit last message:{{/t}} <span class="c-keyboard_key"><i class="ts_icon ts_icon_arrow_up_medium ts_icon_inherit" aria-label="{{#t}}Up arrow{{/t}}"></i></span> <span class="subtle_silver">{{#t note="preceded by \u201cEdit last message:\u201d"}}in input{{/t}}</span></li>
          <li>{{#t}}React to last message:{{/t}} <span class="c-keyboard_key" aria-label="{{#isMac}}{{#t}}command{{/t}}{{else}}{{#t}}control{{/t}}{{/isMac}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">\\</span></li>
        </ul>
      </div>

      <div class="shortcut_category">
        <h3>{{#t}}Extras{{/t}}</h3>
        <ul class="no_bullets">
          {{#isOurApp}}<li>{{#t}}Open Preferences:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key" aria-label="{{#t}}Comma{{/t}}">,</span></li>{{/isOurApp}}
          {{#if can_show_unread_view}}
            <li>{{#t}}Open All Unreads:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}a{{/t}}</span></li>
          {{/if}}
          {{#isOurApp}}
            <li>{{#t}}Open All Threads:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}t{{/t}}</span></li>
          {{/isOurApp}}
          <li>{{#t}}Toggle Right Sidebar:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">.</span></li>
            <ul>
              {{#isOurApp}}<li>{{#t}}Channel Info:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}i{{/t}}</span></li>{{/isOurApp}}
              {{#isChrome}}{{else}}<li>{{#t}}Activity:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}m{{/t}}</span></li>{{/isChrome}}
              {{#isFF}}{{else}}<li>{{#t}}Team:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}e{{/t}}</span></li>{{/isFF}}
              <li>{{#t}}Stars:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t}}Shift{{/t}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}s{{/t}}</span></li>
              {{#isOurApp}}<li>{{#t}}Search:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}f{{/t}}</span></li>{{/isOurApp}}
            </ul>
          <li>{{#t}}Upload a File:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">{{#t note="c-keyboard_key shortcut letter"}}u{{/t}}</span></li>
          <li>{{#t}}Dismiss Dialogs:{{/t}} <span class="c-keyboard_key" aria-label="{{#t}}Escape{{/t}}">{{#t}}Esc{{/t}}</span></li>
          <li>{{#t}}Zoom In:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">+</span></li>
          <li>{{#t}}Zoom Out:{{/t}} <span class="c-keyboard_key" aria-label="{{cmd_key_label}}">{{cmd_key}}</span><span class="c-keyboard_key">-</span></li>
        </ul>
      </div>
    </div>

    <p class="info_block">
      {{#feature flag='feature_consistent_key_styles'}}
        {{#t}}Begin a message with <strong class="c-keyboard_key">/</strong> for a list of all the commands at your disposal.{{/t}}
      {{else}}
        {{#t}}Begin a message with <strong class="command">/</strong> for a list of all the commands at your disposal.{{/t}}
      {{/feature}}
    </p>
  </div>

  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="ts_icon ts_icon_times"></i></button>
