<div class="attachment_group has_border">
  <div class="inline_attachment standalone">
    <div class="msg_inline_attachment_column column_border"></div>
    <div class="msg_inline_attachment_column column_content">
      <div class="msg_inline_attachment_row attachment_flush_text">
        <div class="attachment_text">
          {{#if clickable_show_more_link}}
            <a class='attachment_show_more' data-msg-ts='{{ts}}'>{{btn_text}}</a>
          {{else}}
            <div class='subtle_silver' data-msg-ts='{{ts}}'>{{btn_text}}</div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>
