{!--
 * This file is used to theme sidebar elements that haven't been ported to React.
 * It is deprecated by js/modern/components/channel-sidebar/theme.jsx
 * Yes: this needs to be improved, but this can't be removed until
 * the team menu header block is converted to React (it's also themed).
 --}
<style type="text/css" id="sidebar_theme_css">

  /* Column Background */
  .client_channels_list_container {
    background: {{theme.column_bg}};
  }

  /* Menu Background */
  #team_menu {
    color: {{theme.text_color}};
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
  }
  #team_menu,
  #team_menu_overlay {
    border-color: {{theme.column_bg}};
  }
  body:not(.loading) #team_menu:hover,
  body:not(.loading) #team_menu.active {
    background: {{theme.menu_bg}};
    border-color: {{theme.menu_bg}};
  }

  /* Text Color */
  #team_menu:before,
  #team_menu .notifications_menu_btn,
  #team_menu .team_name_caret,
  #team_menu_user_name {
    color: {{theme.text_color}} !important;
    opacity: 0.6;
  }
  #team_menu_user,
  #team_menu_user_details .current_status ts-icon {
    color: {{theme.text_color}};
  }

  #team_menu:hover:before,
  #team_menu.active:before,
  #team_menu:hover .team_name_caret,
  #team_menu.active .team_name_caret,
  #team_menu:hover #team_menu_user_name,
  #team_menu:hover .current_user_current_status {
    opacity: 1;
  }


  /* Presence */
  #team_menu #presence.active:before {
    color: {{theme.active_presence}};
    opacity: 1;
  }

  /* Badge + Mentions bar */    
   ts-jumper ol li .unread_count {
     background: {{theme.badge}};    
   }

  /* No text shadows */
  #team_menu {
    text-shadow: none !important;
  }
</style>
