{{i18n_ns "menu"}}


{{#experiment name="feat_limit_meters" group="show_limit_meters"}}
<li id="limit_meter">
  <a id="limit_meter_link"
    {{#isMacAppStoreBuild}}
      href="/stats" target="{{newWindowName}}" data-clog-event="UPGRADEXP_TEAM_ANALYTICS" data-clog-ui-element="limit_meter" data-clog-ui-action="click" data-clog-ui-step="slack_menu"
    {{else}}
      href="/pricing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="limit_meter" data-clog-ui-action="click" data-clog-ui-step="slack_menu"
    {{/isMacAppStoreBuild}}
  >
    <div id="limit_meter_circle_progress"></div>
    <div id="limit_meter_messages_count">{{messages_count_str}}</div>

    <div>
      <div class="slack_menu_header_primary" id="limit_meter_message_header">{{#t}}Total Messages{{/t}}</div>

      <div class="slack_menu_header_secondary" id="limit_meter_message_body">
        {{#if_gt messages_count compare=10000}}
          {{#or (if_lt messages_count compare=10100) (if_gt messages_count compare=1000000)}}
            {{#t note="limit to 60 characters in length"}}Upgrade to access all of your messages.{{/t}}
          {{else}}
            {{#t note="limit to 60 characters in length" hidden_messages_count=hidden_messages_count_str}} Upgrade to access your first {hidden_messages_count} messages.{{/t}}
          {{/or}}
        {{else}}
          {{#t note="limit to 60 characters in length"}}On the free plan, you can only view 10k most recent.{{/t}}
        {{/if_gt}}
      </div>
    </div>
  </a>
</li>
{{/experiment}}