{{i18n_ns "menu"}}

{{#if this.team.plan}}
    <li id="team_billing" role="menuitem">
      <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
    </li>
{{else}}
  {{#experiment name="upgrade_slack_team_menu" group="show_upgrade_slack"}}
    <li id="team_pricing" role="menuitem">
      <a class="overflow_ellipsis" href="/pricing?ui_step=61&ui_element=5" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="pricing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Upgrade Slack{{/t}}</a>
    </li>
  {{else}}
    <li id="team_billing" role="menuitem">
      <a class="overflow_ellipsis" href="/admin/billing" target="{{newWindowName}}" data-clog-event="GROWTH_PRICING" data-clog-ui-element="billing_link" data-clog-ui-action="click" data-clog-ui-step="slack_menu">{{#t}}Billing{{/t}}</a>
    </li>
  {{/experiment}}
{{/if}}