{{i18n_ns "highlights"}}

<div class="sli_briefing__feedback action_hover_container {{#if show_positive_feedback}}has_positive_feedback"{{/if}}>
  {{#if show_positive_feedback}}
    <button type="button" data-action="positive_feedback" class="sli_briefing__feedback_positive btn_unstyle btn_msg_action ts_icon ts_icon_thumbs_up ts_tip ts_tip_top ts_tip_float ts_tip_delay_60" title="{{#t}}This was helpful{{/t}}"></button>
  {{/if}}
  <button type="button" {{#if_equal context compare="channel"}}data-action="negative_feedback_in_channel"{{else}}data-action="negative_feedback"{{/if_equal}} class="sli_briefing__feedback_negative btn_unstyle btn_msg_action ts_icon ts_icon_thumbs_down ts_tip ts_tip_top ts_tip_float ts_tip_delay_60" title="{{#t}}This wasn\u2019t helpful{{/t}}"></button>
  {{#if show_dismiss}}
    <button type="button" data-action="dismiss" class="sli_briefing__dismiss btn_unstyle btn_msg_action ts_icon ts_icon_times ts_tip ts_tip_top ts_tip_float ts_tip_delay_60" title="{{#t}}Dismiss{{/t}}"></button>
  {{/if}}
</div>