{{i18n_ns "search"}}

<div class="sli_expert_search_cta" data-js="sli_expert_search_cta">
  <div class="sli_expert_search_cta__title small small_bottom_margin align_center">{{#t}}We found people known to talk about <strong>{query}</strong>.{{/t}}</div>
  <div class="sli_expert_search_cta__face_pile" data-js="expert_search_face_pile">
    {{#each users}}
      {{makeMemberPreviewLinkImage this 24}}
    {{/each}}
    <a class="sli_expert_search_cta__show_results bold small" href="">{{#t}}Show Results{{/t}}</a>
  </div>
</div>