{{i18n_ns "highlights"}}

<div class="sli_briefing" id="sli_briefing">
  <div class="sli_briefing_preview_container sli_briefing_preview--loading {{#if show_onboarding}}sli_briefing_preview--onboarding{{/if}}" data-js="sli_briefing_preview_container">
    <div class="sli_briefing_preview" data-js="sli_briefing_preview">
      <div class="sli_briefing_preview__inner display_flex align_items_center">
        <div class="sli_briefing_preview__logo" data-js="sli_briefing_preview_icon">
          <ts-icon class="ts_icon_sparkles"></ts-icon>
          <ts-icon class="ts_icon_sparkles_filled"></ts-icon>
        </div>
        <div class="sli_briefing_preview__overview">
          <h3 class="sli_briefing_preview__title">
            <ts-icon class="ts_icon_sparkles_filled sli_briefing_preview__title_sparkles"></ts-icon>
            <span class="sli_briefing_preview__title_content" data-js="sli_briefing_preview_title"></span>
          </h3>
          <div class="sli_briefing_preview__description display_flex align_items_center">
            <div class="sli_briefing_preview__facepile hidden" data-js="sli_briefing_preview_facepile"></div>
            <p class="sli_briefing_preview__description_text no_bottom_margin" data-js="sli_briefing_preview_description">
              {{#if show_onboarding}}
                {{#t}}Highlights are a quick way to get caught up. They\u2019re just the essentials: the messages that matter most, based on how you use Slack.{{/t}}
              {{/if}}
            </p>
          </div>
        </div>
        <div class="sli_briefing_preview__action btn btn_outline auto_left_margin hidden" data-js="sli_briefing_preview_action">{{#t}}View{{/t}}</div>
      </div>
    </div>

  </div>
  <div class="sli_briefing_view sticky hidden" data-js="sli_briefing_view">
    <div class="sli_briefing_view__messages"></div>
    <div class="sli_briefing_view__footer align_center lato">
      <h3 class="sli_briefing_view__footer_title black no_bottom_margin">{{#t}}That\u2019s all the highlights{{/t}}</h3>
      <p class="sli_briefing_view__footer_description">{{#t}}The rest of your unreads are below.{{/t}}</p>
    </div>
  </div>
</div>