{{i18n_ns "highlights"}}

<div class="sli_briefing__grid">
  {{#each groups}}
  <div class="sli_briefing__channel" data-channel-id="{{this.channel.id}}">
    <h3 class="sli_briefing__channel_link">{{makeChannelLink this.channel}} {{this.star}}</h3>
    <div class="sli_briefing__message_group">
      {{#each this.messages}}
        <div class="sli_briefing__message {{#if this.message.file}}sli_briefing__has_file{{/if}} {{this.feedback_class}}" data-cache-id="{{this.message.channel_id}}-{{this.message.ts}}">
          <div class="sli_briefing__justification {{#if this.justification}}has_justification{{/if}}" data-ts="{{this.message.ts}}" data-model-ob-id="{{this.message.channel_id}}">
            {{dangerouslyRenderHTML this.justification}}
          </div>
          {{dangerouslyRenderHTML this.message_markup}}
          <ul class="hidden sli_briefing__feedback_leavebehind" data-feedback-for-cache-id="{{this.message.channel_id}}-{{this.message.ts}}">
            <p class="sli_briefing__feedback_leavebehind_cta">{{#t}}<strong>What\u2019s not working about this highlight?</strong> Let us know, and we\u2019ll adjust.{{/t}}</p>
            {{#each this.negative_feedback_options}}
              <li role="menuitem" data-js="sli_briefing_feedback_item" data-index="{{@index}}"><a href="#">{{this.text}}</a></li>
            {{/each}}
          </ul>
          <div class="sli_briefing__feedback_controls align_right">
            <div class="sli_briefing__feedback_controls_container inline_block">
              {{#unless @index}}<div class="highlights_feedback_to_coach position_relative"></div>{{/unless}}
              {{#t}}Is this helpful?{{/t}}
              <button type="button" data-feedback="positive" class="sli_briefing__feedback_control sli_briefing__feedback_positive btn_unstyle ts_icon {{#if_equal this.feedback compare="positive"}}ts_icon_thumbs_up_filled{{else}}ts_icon_thumbs_up{{/if_equal}} ts_tip ts_tip_top ts_tip_float ts_tip_delay_60" title="{{#t}}This was helpful{{/t}}"></button>
              <button type="button" data-feedback="negative" class="sli_briefing__feedback_control sli_briefing__feedback_negative btn_unstyle ts_icon {{#if_equal this.feedback compare="negative"}}ts_icon_thumbs_down_filled{{else}}ts_icon_thumbs_down{{/if_equal}} ts_tip ts_tip_top ts_tip_float ts_tip_delay_60" title="{{#t}}This wasn\u2019t helpful{{/t}}"></button>
              \u2022
              <a class="sli_briefing__feedback_control sli_briefing__feedback_dismiss" href="#" data-feedback="dismiss">{{#t}}Dismiss{{/t}}</a>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>
  {{/each}}
</div>