{{i18n_ns "highlights"}}

<div class="sli_briefing__header display_flex justify_content_between sticky hidden" data-js="sli_briefing_header">
  <div class="sli_briefing__header_title inline_flex">
    <div class="sli_briefing_preview__logo sli_briefing_preview__logo--small" data-js="sli_briefing_preview_icon">
      <ts-icon class="ts_icon_sparkles"></ts-icon>
    </div>
    <h2 class="sli_briefing__title">{{#t}}Highlights{{/t}}</h2>
  </div>
  <div class="sli_briefing__header_actions">
    <button class="btn btn_outline btn_small" data-js="sli_briefing_header_dismiss_all">{{#t}}Dismiss All{{/t}}</button>
  </div>
</div>