  {{i18n_ns "snippet"}}

  {{!-- hbslint-disable syntax --}}
  {{!-- Todo: enable syntax linter and enable safeString --}}

  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{#if is_edit}}{{#t}}Edit snippet{{/t}}{{else}}{{#t}}Create snippet{{/t}}{{/if}}</h3>
  </div>
  <div class="modal-body share_dialog">

    <form action="" id="client_file_snippet" method="post" accept-encoding="UTF-8" onsubmit="return false;" class="no_bottom_margin">

      <div class="top_margin">
        <label id="client_file_snippet_select_label" class="select small float_right no_right_padding">
          <select name="filetype" id="client_file_snippet_select" name="client_file_snippet_select" class="small no_top_margin">
            <option value="auto">{{#t}}Auto Detect Type{{/t}}</option>
            {{#each codemirror_types}}
              <option value="{{this.type}}">{{this.label}}</option>
            {{/each}}
          </select>
        </label>
        <input type="text" id="client_file_snippet_title_input" class="small" name="client_file_snippet_title_input" value="" placeholder="{{#t}}Title (optional){{/t}}" />
      </div>

      <div class="top_margin bottom_margin">
        <textarea name="content" wrap="virtual" id="client_file_snippet_textarea" class="client_file_snippet_textarea full_width{{#unless is_edit}} create_snippet{{/unless}}"></textarea>
        <label class="checkbox normal mini float_right no_min_width" style="margin-top: 3px; padding-right: 0; width: auto;">
          <input type="checkbox" id="client_file_wrap_cb" {{#if wrap_lines}}checked{{/if}}> {{#t note="Refers to line wraps / breaks when writing code in a snippet"}}wrap{{/t}}
        </label>
      </div>

      {{{sharing_html}}}

    </form>

  </div>

  <div class="modal-footer">
    <div class="modal-footer-confirm hidden">
      <p class="confirm-text">
        {{#if is_edit}}
          {{#t}}Are you sure you want to discard your changes?{{/t}}
        {{else}}
          {{#t}}Are you sure you want to discard this snippet permanently?{{/t}}
        {{/if}}
      </p>
      <button type="button" class="btn btn_outline dialog_cancel_decline">{{#t}}No, keep it{{/t}}</button>
      <button type="button" class="btn btn_danger dialog_cancel">
        {{#if is_edit}}
          {{#t}}Yes, discard the changes{{/t}}
        {{else}}
          {{#t}}Yes, discard this snippet{{/t}}
        {{/if}}
      </button>
    </div>
    <div class="modal-footer-action">
      <a class="btn btn_outline cancel" data-dismiss="modal" tabindex="3">{{#t}}Cancel{{/t}}</a>
      {{#if is_edit}}
      <a class="btn dialog_go ts_tip ts_tip_top ts_tip_hide" tabindex="2">
        {{#t}}Save changes
        <span class="ts_tip_tip">Add text before saving your changes</span>{{/t}}
      </a>
      {{/if}}
      {{#unless is_edit}}
      <a class="btn dialog_go ts_tip ts_tip_top" tabindex="2">
        {{#t}}Create Snippet
        <span class="ts_tip_tip">Add text before saving your snippet</span>{{/t}}
      </a>
      {{/unless}}
    </div>
  </div>
