  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    <h3>{{mode}} snippet</h3>
  </div>
  <div class="modal-body share_dialog">

    <form action="" id="client_file_snippet" method="post" accept-encoding="UTF-8" onsubmit="return false;" class="no_bottom_margin">

      <div class="top_margin">
        <label id="client_file_snippet_select_label" class="select small float_right no_right_padding">
          <select name="filetype" id="client_file_snippet_select" name="client_file_snippet_select" class="small no_top_margin">
            <option value="auto">Auto Detect Type</option>
            {{#each codemirror_types}}
              <option value="{{this.type}}">{{this.label}}</option>
            {{/each}}
          </select>
        </label>
        <input type="text" id="client_file_snippet_title_input" class="small" name="client_file_snippet_title_input" value="" placeholder="Title (optional)" />
      </div>

      <div class="top_margin bottom_margin">
        <textarea name="content" wrap="virtual" id="client_file_snippet_textarea" class="client_file_snippet_textarea full_width{{#if_equal mode compare="Create"}} create_snippet{{/if_equal}}"></textarea>
        <label class="checkbox normal mini float_right no_min_width" style="margin-top: 3px; padding-right: 0; width: auto;">
          <input type="checkbox" id="client_file_wrap_cb" {{#if wrap_lines}}checked{{/if}}> wrap
        </label>
      </div>

      {{{sharing_html}}}

    </form>

  </div>

  <div class="modal-footer">
    <div class="modal-footer-confirm hidden">
      <p class="confirm-text">
        {{#if_equal mode compare="Edit"}}
          Are you sure you want to discard your changes?
        {{else}}
          Are you sure you want to discard this snippet permanently?
        {{/if_equal}}
      </p>
      <button type="button" class="btn btn_outline dialog_cancel_decline">No, keep it</button>
      <button type="button" class="btn btn_danger dialog_cancel">
        {{#if_equal mode compare="Edit"}}
          Yes, discard the changes
        {{else}}
          Yes, discard this snippet
        {{/if_equal}}
      </button>
    </div>
    <div class="modal-footer-action">
      <a class="btn btn_outline cancel" data-dismiss="modal" tabindex="3">Cancel</a>
      {{#if_equal mode compare="Edit"}}
      <a class="btn dialog_go ts_tip ts_tip_top ts_tip_hide" tabindex="2">
        Save changes
        <span class="ts_tip_tip">Add text before saving your changes</span>
      </a>
      {{/if_equal}}
      {{#if_equal mode compare="Create"}}
      <a class="btn dialog_go ts_tip ts_tip_top" tabindex="2">
        Create Snippet
        <span class="ts_tip_tip">Add text before saving your snippet</span>
      </a>
      {{/if_equal}}
    </div>
  </div>

