<li role="menuitem"><a data-snooze-length="20"   data-dnd-menu-action="snooze">20 minutes</a></li>
<li role="menuitem"><a data-snooze-length="60"   data-dnd-menu-action="snooze">1 hour</a></li>
<li role="menuitem"><a data-snooze-length="120"  data-dnd-menu-action="snooze">2 hours</a></li>
<li role="menuitem"><a data-snooze-length="240"  data-dnd-menu-action="snooze">4 hours</a></li>
<li role="menuitem"><a data-snooze-length="480"  data-dnd-menu-action="snooze">8 hours</a></li>
<li role="menuitem"><a data-snooze-length="1440" data-dnd-menu-action="snooze">24 hours</a></li>