{{i18n_ns "menu_snooze_items"}}
<li role="menuitem"><a data-snooze-length="20"   data-dnd-menu-action="snooze">{{#t}}20 minutes{{/t}}</a></li>
<li role="menuitem"><a data-snooze-length="60"   data-dnd-menu-action="snooze">{{#t}}1 hour{{/t}}</a></li>
<li role="menuitem"><a data-snooze-length="120"  data-dnd-menu-action="snooze">{{#t}}2 hours{{/t}}</a></li>
<li role="menuitem"><a data-snooze-length="240"  data-dnd-menu-action="snooze">{{#t}}4 hours{{/t}}</a></li>
<li role="menuitem"><a data-snooze-length="480"  data-dnd-menu-action="snooze">{{#t}}8 hours{{/t}}</a></li>
<li role="menuitem"><a data-snooze-length="1440" data-dnd-menu-action="snooze">{{#t}}24 hours{{/t}}</a></li>