{{i18n_ns 'spaces'}}

<div class="connected_members_count_container">
    {{>spaces_connected_member_count}}
</div>

<ul class="members">
    {{! Note: whitespace inside of #each will cause elements to jump around when the tooltip
              is first shown.
        TODO: unify this with spaces_connected_member_template, below.
    }}

    {{#if editing_member}}
        <li>{{{makeMemberImage editing_member 72 false true}}}</li>
    {{/if}}

  {{#each members}}
        <li>{{{makeMemberImage this.id 72 false true}}}</li>
    {{/each}}

    {{#has_more_count}}
        <li><button class="toggle_more_members_popover" data-has-tooltip="true" title="{{#t}}Click to show {more_count} other viewers{{/t}}">{{more_count}}</button></li>
    {{/has_more_count}}
</ul>
