{{!-- hbslint-disable unwrapped --}}
{{!-- TODO: Enable unwrapped linter --}}
<div class="textstyle_menu style include_remove new">
  <ul>
    <li><a data-toggle="tooltip" class="bold" data-which="bold" title="Bold"><ts-icon class="ts_icon_bold"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="italic" data-which="italic" title="Italic"><ts-icon class="ts_icon_italic"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="underline" data-which="underline" title="Underline"><ts-icon class="ts_icon_underline"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="strikethrough" data-which="strikethrough" title="Strikethrough"><ts-icon class="ts_icon_strikethrough"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="snippet" data-which="code" title="Code block"><ts-icon class="ts_icon_code"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="link" data-which="link" title="Link"><ts-icon class="ts_icon_link"></ts-icon></a></li>
    <li><a data-toggle="tooltip" class="deformat" data-which="deformat" title="Clear formatting"><ts-icon class="ts_icon_times"></ts-icon></a></li>
  </ul>
</div>
