{{!-- hbslint-disable syntax --}}
{{!-- TODO: Enable syntax linter and refactor to use safeString --}}
{{i18n_ns 'spaces'}}

{{! Note: whitespace before the closing </li> tags will add spacing before the comma separating
          the items, so be careful. }}
{{#if public_link}}
  <li>
    {{#feature flag="feature_external_files"}}
      {{#t}}shared <a href="{public_link}" class="space_toggle_public_url" target="public_{public_link}">externally</a>{{/t}}
    {{else}}
      {{#t}}shared <a href="{public_link}" class="space_toggle_public_url" target="public_{public_link}">publicly</a>{{/t}}
    {{/feature}}
    {{#if can_unshare}}<a class="unshare_link ts_tip ts_tip_top ts_tip_float" onclick="TS.web.file.revokePublicURL(TS.files.getFileById('{{file_id}}'))"><span class="ts_tip_tip">{{#feature flag="feature_external_files"}}{{#t}}Revoke the external link{{/t}}{{else}}{{#t}}Revoke the public URL{{/t}}{{/feature}}</span><i class="ts_icon ts_icon_minus_circle_small"></i></a>{{/if}}{{#if shared_in}} {{#t note='part of a larger string, like "Zachary Forrest shared publicly and in random, general"'}}and in{{/t}}{{/if}}
  </li>
{{else}}
  <li>{{#t note='part of a larger string like "Zachary Forrest shared in random"'}}shared in{{/t}}</li>
{{/if}}
{{#if in_our_app}}
  {{#each shared_in}}
  <li class="list">{{{makeChannelOrGroupSSBLinkById this}}} {{#if ../can_unshare}}{{{makeUnshareLinkById this}}}{{/if}}</li>
  {{/each}}
{{else}}
  {{#each shared_in}}
  <li class="list">{{{makeChannelOrGroupLinkById this}}} {{#if ../can_unshare}}{{{makeUnshareLinkById this}}}{{/if}}</li>
  {{/each}}
{{/if}}
{{#has_overflow}}
  <li><a href="javascript:void(0)" class="show_overflow">{{#t}}{overflow_count} more{{/t}}</a></li>
{{/has_overflow}}
