{{!-- hbslint-disable unwrapped --}}
{{!-- TODO: Enable unwrapped linter --}}
  <div class="textstyle_menu link {{#show_unfurl}}has_unfurl_button{{/show_unfurl}}">
    <input type="text" placeholder="e.g. www.slack.com"></input>
    <a class="link tsm_edit_link" target="_blank"></a>
    <div class="buttons">
      <a data-toggle="tooltip" class="item link_unfurl" data-which="unfurl" title="Unfurl link"><ts-icon class="ts_icon_eye"></ts-icon></a>
      <a data-toggle="tooltip" class="item link_remove" data-which="remove" title="Remove link"><ts-icon class="ts_icon_times"></ts-icon></a>
      <a data-toggle="tooltip" class="item link_edit" data-which="edit" title="Edit link address"><ts-icon class="ts_icon_pencil"></ts-icon></a>
      <a data-toggle="tooltip" class="item link_ok" data-which="okay" title="Save changes"><ts-icon class="ts_icon_check_large"></ts-icon></a>
    </div>
  </div>
