{{i18n_ns "coachmarks"}}

<div id="starred_items_coachmark_div" class="coachmark_div">
  <div class="small_coachmark_contents">
    <span>{{#t}}<strong class="black">Click</strong> to learn more about starred items.{{/t}}</span>
  </div>
  <div class="coachmark_contents">
    <h2 class="black">{{#t}}These are starred items{{/t}}</h2>
    <p>{{#t}}You can <strong>star</strong> items that you want to save for later, like a bookmark. Conversations and files can be starred and saved.{{/t}}</p>
  </div>
</div>
