{{i18n_ns 'menu'}}

{{#if other_enterprise_accounts}}
  {{#each other_enterprise_accounts}}

    {{#if @first}}{{else}}<li class="divider"></li>{{/if}}

    <div class="section_header"><span class="header_label menu_mini">{{this.enterprise_name}}</span></div>

    {{#unless ../is_our_app}}
      {{#each this.enterprise_teams}}
        <li class="switch_team" data-action="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
          <a href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
        </li>
      {{/each}}
      {{#feature flag="feature_lazy_grid_teams"}}
        {{#if needs_enterprise_teams_dialog}}
          {{#feature flag="feature_teams_to_workspaces"}}
            <li data-action="enterprise_teams_dialog" role="menuitem"><a>{{#t}}See all {enterprise_name} workspaces &hellip;{{/t}}</a></li>
          {{else}}
            <li data-action="enterprise_teams_dialog" role="menuitem"><a>{{#t}}See all {enterprise_name} teams &hellip;{{/t}}</a></li>
          {{/feature}}
        {{/if}}
      {{/feature}}
      {{#if needs_other_enterprise_logout}}
        <li data-action="enterprise_logout" role="menuitem"><a href="{{this.logout_url}}" target="_self">{{#t}}Sign out of <strong>{enterprise_name}</strong>{{/t}}</a></li>
      {{/if}}
    {{/unless}}
  {{/each}}
{{/if}}

{{#if other_accounts}}
  <li class="divider"></li>

  {{#feature flag="feature_teams_to_workspaces"}}
    <div class="section_header"><span class="header_label menu_mini">{{#t}}Your other workspaces{{/t}}</span></div>
  {{else}}
    <div class="section_header"><span class="header_label menu_mini">{{#t}}Your other teams{{/t}}</span></div>
  {{/feature}}

  {{#each other_accounts}}
    {{#if @first}}{{else}}<li class="divider subdivider"></li>{{/if}}

    <li class="switch_team" data-action="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
      <a href="{{this.team_url}}messages" target="_self">{{#t}}Switch to <strong>{team_name}</strong>{{/t}}</a>
    </li>
    <li data-action="logout" role="menuitem"><a href="{{logout_url}}" target="_self">{{#t}}Sign out of <strong>{team_name}</strong>{{/t}}</a></li>
  {{/each}}
{{/if}}

{{#if signin_url}}
  <li class="divider"></li>

  {{#feature flag="feature_teams_to_workspaces"}}
    <li id="add_team" role="menuitem"><a href="{{signin_url}}" target="_blank" rel="noopener noreferrer"> {{#t}}Sign in to another workspace &hellip;{{/t}}</a></li>
  {{else}}
    <li id="add_team" role="menuitem"><a href="{{signin_url}}" target="_blank" rel="noopener noreferrer"> {{#t}}Sign in to another team &hellip;{{/t}}</a></li>
  {{/feature}}
{{/if}}
