{{#if other_enterprise_accounts}}
  {{#each other_enterprise_accounts}}

    {{#if @first}}{{else}}<li class="divider"></li>{{/if}}

    <div class="section_header"><span class="header_label menu_mini">{{this.enterprise_name}}</span></div>

    {{#unless ../is_our_app}}
      {{#each this.enterprise_teams}}
        <li class="switch_team" data-action="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
          <a href="{{this.team_url}}messages" target="_self">Switch to <strong>{{this.team_name}}</strong></a>
        </li>
      {{/each}}
      {{#if needs_other_enterprise_logout}}
        <li data-action="enterprise_logout" role="menuitem"><a href="{{this.logout_url}}" target="_self">Sign out of <strong>{{this.enterprise_name}}</strong></a></li>
      {{/if}}
    {{/unless}}
  {{/each}}
{{/if}}

{{#if other_accounts}}
  <li class="divider"></li>

  <div class="section_header"><span class="header_label menu_mini">Your other teams</span></div>

  {{#each other_accounts}}
    {{#if @first}}{{else}}<li class="divider subdivider"></li>{{/if}}

    <li class="switch_team" data-action="switch_team" data-team-id="{{this.team_id}}" data-user-id="{{this.id}}" role="menuitem">
      <a href="{{this.team_url}}messages" target="_self">Switch to <strong>{{this.team_name}}</strong></a>
    </li>
    <li data-action="logout" role="menuitem"><a href="{{logout_url}}" target="_self">Sign out of <strong>{{this.team_name}}</strong></a></li>
  {{/each}}
{{/if}}

{{#if signin_url}}
  <li class="divider"></li>

  <li id="add_team" role="menuitem"><a href="{{signin_url}}"> Sign in to another team &hellip;</a></li>
{{/if}}
