{{i18n_ns "tabcomplete"}}
{{#if_equal action compare='search'}}
  {{#t note="Heading for search results" fallback_hash='0f86048ed647c62b5d797a15e1fa382a1a071495'}}Emoji matching \u201c<strong>{text}</strong>\u201d{{/t}}
{{/if_equal}}
{{#if_equal action compare='add_rxn'}}
  {{#t fallback_hash='74975ecfcb25680f83ed5db8da74c539d3944f4c'}}Add reaction matching \u201c<strong>{text}</strong>\u201d{{/t}}
{{/if_equal}}
{{#if_equal action compare='remove_rxn'}}
  {{#t fallback_hash='1bd330290636ded651976d6213dfb433c9faf2ac'}}Remove reaction matching \u201c<strong>{text}</strong>\u201d{{/t}}
{{/if_equal}}
