{{i18n_ns 'tabcomplete'}}

<div id="chat_input_tab_ui_header" class="tab_complete_ui_header">
  <span id="chat_input_tab_ui_header_query">{{safe_header_html}}</span>
  <span class="header_help">
    {{#t note="Keyboard shortcut help text"}}<strong>tab</strong> or <strong>\u2191</strong> <strong>\u2193</strong> to navigate{{/t}}
    <span class="left_margin">
      {{#t note="Keyboard shortcut help text"}}<strong>\u21b5</strong> to select{{/t}}
    </span>
    <span class="left_margin">
      {{#t note="Keyboard shortcut help text"}}<strong>esc</strong> to dismiss{{/t}}
    </span>
  </span>
</div>
<div id="chat_input_tab_ui_scroller" class="tab_complete_ui_scroller">{{safe_results_html}}</div>
