{{i18n_ns 'team'}}

<div class="member_details clearfix display_flex flex_direction_column align_items_center{{#isClient}} cropped_preview{{/isClient}}">

  {{#shouldShowMemberRestrictionBanner member}}
    <div class="member_restriction_banner">
      <span class="overflow_ellipsis lato_black">
        {{#if member.is_external}}
          {{getTeamNameByMember member}}
          {{> member_type_external_badge team=(getTeamById member.team_id) size=48 badge_size=16}}
        {{else if member.is_ultra_restricted}}
          <i aria-hidden="true" class="ts_icon ts_icon_presence_ura presence_icon"></i>
          {{#if member.deleted}}{{#t note="Refers to deactivated account"}}Deactivated{{/t}}{{/if}}
          {{#t}}Single-Channel Guest{{/t}}
        {{else if member.is_restricted}}
          <i aria-hidden="true" class="ts_icon ts_icon_presence_ra presence_icon"></i>
          {{#if member.deleted}}{{#t note="Refers to deactivated account"}}Deactivated{{/t}}{{/if}}
          {{#t}}Multi-Channel Guest{{/t}}
        {{/if}}
      </span>
      {{#if member.is_restricted}}
        <i class="ts_icon ts_icon_question_circle ts_tip ts_tip_bottom ts_tip_multiline ts_tip_float">
          <span class="ts_tip_tip">
            <span class="ts_tip_multiline_inner">{{#if member.is_ultra_restricted}}{{#t}}Single-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{else}}{{#t}}Multi-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{/if}}</span>
          </span>
        </i>
      {{/if}}
    </div>
  {{/shouldShowMemberRestrictionBanner}}

  {{#isWeb}}
  {{else}}
  {{#feature flag="feature_deleted_dm_archives"}}
    {{#unless member.is_restricted}}
    {{#if member.deleted}}
      <div class="member_restriction_banner">
        <span class="overflow_ellipsis lato_black">
          <i aria-hidden="true" class="ts_icon ts_icon_archived_channel"></i>
          {{#t note="Refers to deactivated account"}}This account is deactivated{{/t}}
        </span>
      </div>
    {{/if}}
    {{/unless}}
  {{/feature}}
  {{/isWeb}}

  {{makeMemberPreviewLinkImage member.id 512 false true true true}}

  <div class="member_name_and_presence lato">
    {{#feature flag="feature_name_tagging_client"}}
      {{#if member.deleted}}
        <a href="/team/{{member.id}}" target="{{newWindowName}}" class="member_name">{{getMemberFullName member}}</a>
      {{else}}
        {{#if member.is_self}}
          {{#isClient}}
            <a href="/team/{{member.id}}" target={{newWindowName}} class="member_name">{{getMemberFullName member}}</a>
          {{else}}
            <span class="member_name">{{getMemberFullName member}}</span>
          {{/isClient}}
        {{else}}
          <a href="/messages/{{member.id}}" target="/messages/{{member.id}}" data-member-id="{{member.id}}" class="member_name internal_im_link">{{getMemberFullName member}}</a>
        {{/if}}
        {{#unless member.is_stranger}}
          {{#isClient}}
            {{makeMemberPresenceIcon member}}
          {{/isClient}}
        {{/unless}}
      {{/if}}
    {{else}}
      {{#if member.deleted}}
        <a href="/team/{{member.name}}" target="{{newWindowName}}" class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
      {{else}}
        {{#if member.is_self}}
          {{#isClient}}
            <a href="/team/{{member.name}}" target={{newWindowName}} class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
          {{else}}
            <span class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</span>
          {{/isClient}}
        {{else}}
          <a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-name="{{member.name}}" class="member_name internal_im_link">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
        {{/if}}
        {{#unless member.is_stranger}}
          {{#isClient}}
            {{makeMemberPresenceIcon member}}
          {{/isClient}}
        {{/unless}}
      {{/if}}
    {{/feature}}
  </div>

  {{#if member.profile}}
    {{#if member.profile.title}}
      <div class="member_title lato">{{member.profile.title}}</div>
    {{/if}}
  {{/if}}

  {{#pageNeedsEnterprise}}
    {{#if member.is_restricted}}
      {{#experiment name="guest_profiles_and_expiration"}}
      {{else}}
      <div class="member_type_and_description old_petunia_grey lato">
        <span class="overflow_ellipsis">
          {{#if member.deleted}}
            {{#t note="Refers to deactivated account"}}Deactivated{{/t}}
          {{/if}}
          {{#if member.is_ultra_restricted}}
            {{#t}}Single-Channel Guest{{/t}}
          {{else}}
            {{#t}}Multi-Channel Guest{{/t}}
          {{/if}}
        </span>
      </div>
      {{/experiment}}
    {{else if member.is_bot}}
      <div class="member_type_and_description old_petunia_grey lato">
        <span class="overflow_ellipsis">{{#t note="Description for bot"}}Non-sentient Bot{{/t}}</span>
      </div>
    {{else}}
      {{#if member.deleted}}
        {{#feature flag="feature_deleted_dm_archives"}}
        {{else}}
        <div class="member_type_and_description old_petunia_grey lato">
          {{#t}}Deactivated account{{/t}}
        </div>
        {{/feature}}
      {{/if}}
    {{/if}}
  {{else}}
    {{#if member.is_restricted}}
      {{#experiment name="guest_profiles_and_expiration"}}
      {{else}}
      <div class="member_restriction lato overflow_ellipsis">
        {{#if member.deleted}}
          {{#feature flag="feature_deleted_dm_archives"}}
          {{else}}
          {{#t}}Deactivated{{/t}}
          {{/feature}}
        {{/if}}
        {{#if member.is_ultra_restricted}}
          {{#t}}Single-Channel Guest{{/t}}
        {{else}}
          {{#t}}Multi-Channel Guest{{/t}}
        {{/if}}
        <i class="ts_icon ts_icon_question_circle ts_tip ts_tip_top ts_tip_multiline ts_tip_float">
          <span class="ts_tip_tip">
            <span class="ts_tip_multiline_inner">{{#if member.is_ultra_restricted}}{{#t}}Single-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{else}}{{#t}}Multi-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{/if}}</span>
          </span>
        </i>
      </div>
      {{/experiment}}
    {{else}}
      {{#if member.deleted}}
        {{#feature flag="feature_deleted_dm_archives"}}
        {{else}}
        <div class="member_type_and_description old_petunia_grey lato">
          {{#t}}Deactivated account{{/t}}
        </div>
        {{/feature}}
      {{/if}}
    {{/if}}

    {{#if member.is_bot}}
      <div class="member_restriction lato overflow_ellipsis">
        {{#t note="Description for bot"}}Non-sentient Bot{{/t}}
        <i class="ts_icon ts_icon_question_circle ts_tip ts_tip_top ts_tip_multiline ts_tip_float">
          <span class="ts_tip_tip">
            <span class="ts_tip_multiline_inner">{{#t}}Bots are built with code and are free to add to your team. Unlike humans, they are non-sentient, but they can listen and post to Slack just like everyone else on your team.{{/t}}</span>
          </span>
        </i>
      </div>
    {{/if}}
  {{/pageNeedsEnterprise}}

  {{#unless member.is_stranger}}
    <div class="member_action_bar">
      {{#if member.deleted}}
        <a id="member_deleted_view_archives_btn" href="/archives/{{member.name}}" target="{{newWindowName}}" class="btn btn_outline {{#memberHasIm member=member}}{{else}}hidden{{/memberHasIm}}">{{#t}}View Archives{{/t}}</a>
      {{else}}
        {{#if member.is_self}}
          <button type="button" data-action="edit_member_profile_modal" class="btn btn_outline">{{#t}}Edit Profile{{/t}}</button>
          <a href="/account/settings" target="{{newWindowName}}" class="btn btn_outline account_settings_link ts_tip ts_tip_bottom ts_tip_float" aria-label="{{#t}}Account Settings{{/t}}" title="{{#t}}Account Settings{{/t}}"><ts-icon class="ts_icon_cog_o"></ts-icon></a>
        {{else}}
          {{!-- Show "configure" link to the creator of the bot (Web ONLY) and team admins (everywhere) --}}
          {{#if show_bot_configuration}}
            {{#if bot_configure_url}}
              <a href="{{bot_configure_url}}" target="{{newWindowName}}" class="btn btn_outline">{{#t}}Configure{{/t}}</a>
            {{/if}}
          {{/if}}
          {{#isClient}}
            {{#if show_call_action}}<a class="btn btn_outline internal_im_call_link" data-member-name="{{member.name}}">{{#t}}Call{{/t}}</a>{{/if}}
            <a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-name="{{member.name}}" class="btn btn_outline internal_im_link">{{#t}}Message{{/t}}</a>
          {{else}}
            <a href="/messages/@{{member.name}}" target="new" class="btn btn_outline">{{#t}}Message{{/t}}</a>
            {{#memberHasIm member=member}}
              <a href="/archives/{{member.name}}" class="btn btn_outline">{{#t}}View Archives{{/t}}</a>
            {{/memberHasIm}}
            {{#and member.files member.files.length}}
              <a href="/files/{{member.name}}" class="btn btn_outline">{{#t}}Files{{/t}}</a>
            {{/and}}
          {{/isClient}}
        {{/if}}
      {{/if}}

      {{#unless hide_more_menu}}
        <button type="button" class="member_preview_menu_target btn btn_outline ts_tip ts_tip_bottom ts_tip_float" title="{{#t}}More actions{{/t}}"><ts-icon class="ts_icon_chevron_large_down"></ts-icon></button>
      {{/unless}}

    </div>
  {{/unless}}

  {{#if member.profile}}
    <hr class="member_details_divider{{#feature flag="feature_user_custom_status"}}{{#seesCurrentStatusInProfileView member}} feature_user_custom_status small_bottom_margin{{/seesCurrentStatusInProfileView}}{{/feature}}">

    {{#feature flag="feature_user_custom_status"}}
      {{#seesCurrentStatusInProfileView member}}
        <table class="member_data_table lato no_bottom_margin">
          <tr>
            <td><span class="small_right_padding old_petunia_grey{{#isClient}} current_status_status_label{{/isClient}}" title="{{#t}}Status{{/t}}">{{#t}}Status{{/t}}</span></td>
            {{#isClient}}
              <td class="current_status_cell">
                <div class="current_status_container{{#or member.profile.status_emoji member.profile.status_text}} with_status_set{{/or}}">
                  <span class="current_status_cover with_status_set {{#unless member.is_self}} not_self{{/unless}}">
                    <div class="current_status_cover_content">
                      <span class="current_status_emoji_picker_cover">
                        <div class="current_status_emoji_cover">
                          {{getMemberCurrentStatusEmoji member}}
                        </div>
                      </span>
                      <span class="current_status">
                        {{getMemberCurrentStatusText member}}
                      </span>
                    </div>

                    {{#if member.is_self}}
                      <span class="current_status_clear_icon_cover ts_tip ts_tip_top ts_tip_float" title="{{#t}}Clear status{{/t}}">
                        <ts-icon class="ts_icon_close_filled" aria-hidden="true"></ts-icon>
                      </span>
                    {{/if}}
                  </span>

                  {{#if member.is_self}}
                    <span class="current_status_cover without_status_set">
                      <div class="current_status_cover_content">
                        <span class="current_status_placeholder">
                          {{#t}}What\u2019s your status?{{/t}}
                        </span>
                      </div>
                      <span class="current_status_emoji_picker_cover">
                        <div class="current_status_empty_emoji_cover">
                          <i class="ts_icon ts_icon_circle_fill"></i>
                          <i class="ts_icon ts_icon_smile_o"></i>
                          <i class="ts_icon ts_icon_happy_smile"></i>
                        </div>
                      </span>
                    </span>

                    {{> current_status_input}}
                  {{/if}}
                </div>
              </td>
            {{else}}
              <td class="current_status">{{getMemberCurrentStatusForDisplayWithoutAnimations member}}</td>
            {{/isClient}}
            </tr>
          </tr>
        </table>

        <hr class="member_details_divider feature_user_custom_status small_top_margin">
      {{/seesCurrentStatusInProfileView}}
    {{/feature}}

    <table class="member_data_table lato">
      {{#feature flag="feature_name_tagging_client"}}
        {{#if member.profile.display_name}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Display name{{/t}}">{{#t}}Display name{{/t}}</span></td>
            {{#if member.deleted}}
              {{#memberHasIm member=member}}
                <td><a href="/archives/{{member.id}}" target="{{newWindowName}}">{{getMemberPreferredName member}}</a></td>
              {{else}}
                <td><a href="/team/{{member.id}}" target="{{newWindowName}}">{{getMemberPreferredName member}}</a></td>
              {{/memberHasIm}}
            {{else}}
              {{#if member.is_self}}
                <td><span title="{{getMemberPreferredName member}}">{{getMemberPreferredName member}}</span></td>
              {{else}}
                {{#isClient}}
                  <td><a href="/messages/{{member.id}}" target="/messages/{{member.id}}" data-member-id="{{member.id}}" title="{{getMemberPreferredName member}}" class="internal_im_link">{{getMemberPreferredName member}}</a></td>
                {{else}}
                  <td><a href="/messages/{{member.id}}" target="new" title="{{getMemberPreferredName member}}">{{getMemberPreferredName member}}</a></td>
                {{/isClient}}
              {{/if}}
            {{/if}}
          </tr>
        {{/if}}
      {{else}}
        {{#if member.profile.real_name}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Username{{/t}}">{{#t}}Username{{/t}}</span></td>
            {{#if member.deleted}}
              {{#memberHasIm member=member}}
                <td><a href="/archives/{{member.name}}" target="{{newWindowName}}">@{{member.name}}</a></td>
              {{else}}
                <td><a href="/team/{{member.name}}" target="{{newWindowName}}">@{{member.name}}</a></td>
              {{/memberHasIm}}
            {{else}}
              {{#if member.is_self}}
                <td><span title="@{{member.name}}">@{{member.name}}</span></td>
              {{else}}
                {{#isClient}}
                  <td><a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-name="{{member.name}}" title="@{{member.name}}" class="internal_im_link">@{{member.name}}</a></td>
                {{else}}
                  <td><a href="/messages/@{{member.name}}" target="new" title="@{{member.name}}">@{{member.name}}</a></td>
                {{/isClient}}
              {{/if}}
            {{/if}}
          </tr>
        {{/if}}
      {{/feature}}
      {{#unless member.is_stranger}}
        {{#unless member.is_slackbot}}
          {{#unless member.is_bot}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Timezone{{/t}}">{{#t}}Timezone{{/t}}</span></td>
              <td class="member_preview_timezone"><span class="timezone_label" data-member-id="{{member.id}}">{{memberLocalTime member}}</span>{{#if member.is_self}} {{#t new_win_name=(newWindowName)}}(<a href='/account/settings' target="{new_win_name}" data-action="edit_member_profile_modal">change</a>){{/t}}{{/if}}</td>
            </tr>
          {{/unless}}
        {{/unless}}
      {{/unless}}
      {{#if member.profile.phone}}
        <tr>
          <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Phone Number{{/t}}">{{#t}}Phone Number{{/t}}</span></td>
          <td><a href="tel:{{member.profile.phone}}">{{member.profile.phone}}</a></td>
        </tr>
      {{/if}}
      {{#if member.profile.email}}
        <tr>
          <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Email{{/t}}">{{#t}}Email{{/t}}</span></td>
          <td><a href="mailto:{{member.profile.email}}" title="{{#t}}Email {member.name}{{/t}}">{{member.profile.email}}</a></td>
        </tr>
      {{/if}}
      {{#if show_admin_info}}
        <tr>
          <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Team Role{{/t}}">{{#t}}Team Role{{/t}}</span></td>
          <td>
            {{#if member.is_owner}}
              {{#t}}Owner of {team_name}{{/t}}
            {{else}}
              {{#t}}Admin for {team_name}{{/t}}
            {{/if}}
          </td>
        </tr>
      {{/if}}
      <tbody id="member_data_table_team_fields">
        {{getVisibleTeamProfileFieldsForMember member will_rebuild_user_fields=true}}
      </tbody>
    </table>
  {{/if}}

  {{#experiment name="guest_profiles_and_expiration"}}
    {{#if member.is_restricted}}
      {{#or (or member.profile.guest_invited_by member.profile.guest_expiration_ts) member.profile.guest_channels}}
        <hr class="member_details_divider">

        <table class="member_data_table lato{{#pageNeedsEnterprise}}{{#if teams}} no_bottom_margin{{/if}}{{/pageNeedsEnterprise}}">
          {{#if member.profile.guest_invited_by}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t note="owner or admin that invited the guest to the team"}}Invited By{{/t}}">{{#t note="owner or admin that invited the guest to the team"}}Invited By{{/t}}</span></td>
              <td>
                {{makeMemberPreviewLinkById member.profile.guest_invited_by}}
              </td>
            </tr>
          {{/if}}
          {{#if member.profile.guest_expiration_ts}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t note="date the guest account will be deactivated"}}Member Until{{/t}}">{{#t note="date the guest account will be deactivated"}}Member Until{{/t}}</span></td>
              <td>
                {{toCalendarDate member.profile.guest_expiration_ts}}
              </td>
            </tr>
          {{/if}}
          {{#if member.profile.guest_channels}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t note="list of channels the user is invited to" }}{member.is_ultra_restricted, select, true{Channel}other{Channels}}{{/t}}">{{#t note="list of channels the user is invited to" }}{member.is_ultra_restricted, select, true{Channel}other{Channels}}{{/t}}</span></td>
              <td>
                {{makeLinksFromChannelOrGroupIds member.profile.guest_channels}}
              </td>
            </tr>
          {{/if}}
        </table>
      {{/or}}
    {{/if}}
  {{/experiment}}

  {{#pageNeedsEnterprise}}
    {{#if teams}}
      <hr class="member_details_divider">

      <table class="member_data_table lato">
        {{#if teams.shared}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Shared Teams{{/t}}">{{#t}}Shared Teams{{/t}}</span></td>
            <td>
              {{#each teams.shared}}
                {{name}}<br/>
              {{/each}}
            </td>
          </tr>
        {{/if}}
      </table>
    {{/if}}
  {{/pageNeedsEnterprise}}

  {{#if member.is_stranger}}
    <hr class="member_details_divider">

    <p class="lato align_center large_right_margin large_left_margin">
      {{#t}}
        <strong>You don\u2019t share any channels with this person.</strong>
        To\u00a0interact with a person from another team, you need to be in at least one channel together.
      {{/t}}
    </p>
  {{/if}}

  <div class="clear_both larger_bottom_margin"></div>

</div>

{{#if member.is_slackbot}}
  <div class="help">
    <img src="{{versioned_slackbot_72}}" alt="Slackbot" class="slackbot_icon small_top_margin small_bottom_margin float_right left_margin" />
      <p>{{#t}}Slackbot is our friendly, in-house bot, here to help you use Slack. Slackbot will occasionally send you notifications or reminders.{{/t}} </p>
    {{#isClient}}
      <i class="ts_icon ts_icon_question_circle member_help_center callout"></i>
      <p>{{#t new_win_name=(newWindowName)}}In your direct messages with Slackbot, you can ask simple, Slack-related questions (or just type a few keywords). Slackbot will try to answer or will search the <a href="https://get.slack.help/hc/en-us" target="{new_win_name}">Help Center</a> for you. You can also type <strong>/feedback</strong> followed by your message to send a note or question to the humans at Slack.{{/t}}</p>
    {{/isClient}}
  </div>

{{/if}}
