  <div class="expanded_member_details top_padding">

    <div class="{{#if this.is_self}}member_item_inset{{else}}team_directory_buttons{{/if}}">

      {{#if this.deleted}}
        {{#memberHasIm member=this}}
          <a href="/archives/{{this.name}}" data-member-name="{{this.name}}" class="btn btn_outline member_action_button flex_one overflow_ellipsis">
            <div class="team_directory_icon message_icon inline_block small_right_margin"></div>Message Archives
          </a>
        {{/memberHasIm}}
      {{else}}
        {{#unless this.is_self}}
          <a href="/messages/@{{this.name}}" target="/messages/@{{this.name}}" data-member-name="{{this.name}}" class="btn btn_outline internal_im_link team_list_dm_link member_action_button flex_one overflow_ellipsis">
            <div class="team_directory_icon message_icon inline_block small_right_margin internal_im_link" data-member-name="{{this.name}}"></div>Send Message
          </a>
        {{/unless}}

      {{/if}}

      <a class="member_preview_menu_target member_action_button flex_one btn btn_outline overflow_ellipsis">
        <div class="team_directory_icon more_icon inline_block small_right_margin"></div>More
      </a>

    </div>

  </div>

