{{i18n_ns 'team'}}

<div class="member_details clearfix display_flex flex_direction_column align_items_center{{#isClient}} cropped_preview{{/isClient}}">

  {{#shouldShowMemberRestrictionBanner member}}
    <div class="member_restriction_banner">
      <span class="overflow_ellipsis lato_black">
        {{#if member.is_external}}
          {{getTeamNameByMember member}}
          {{> member_type_external_badge team=(getTeamById member.team_id) size=48 badge_size=16}}
        {{else if member.is_ultra_restricted}}
          <i aria-hidden="true" class="ts_icon ts_icon_presence_ura presence_icon"></i>
          {{#if member.deleted}}{{#t note="Refers to deactivated account"}}Deactivated{{/t}}{{/if}}
          {{#t}}Single-Channel Guest{{/t}}
        {{else if member.is_restricted}}
          <i aria-hidden="true" class="ts_icon ts_icon_presence_ra presence_icon"></i>
          {{#if member.deleted}}{{#t note="Refers to deactivated account"}}Deactivated{{/t}}{{/if}}
          {{#t}}Multi-Channel Guest{{/t}}
        {{/if}}
      </span>
      {{#if member.is_restricted}}
        <i class="ts_icon ts_icon_question_circle ts_tip ts_tip_left ts_tip_multiline ts_tip_float">
          <span class="ts_tip_tip">
            <span class="ts_tip_multiline_inner">{{#if member.is_ultra_restricted}}{{#t}}Single-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{else}}{{#t}}Multi-Channel Guests see a partial directory and can only access messages and files from selected channels.{{/t}}{{/if}}</span>
          </span>
        </i>
      {{/if}}
    </div>
  {{/shouldShowMemberRestrictionBanner}}

  {{#isWeb}}
  {{else}}
    {{#unless member.is_restricted}}
      {{#if member.deleted}}
        <div class="member_restriction_banner">
          <span class="overflow_ellipsis lato_black">
            <i aria-hidden="true" class="ts_icon ts_icon_archived_channel"></i>
            {{#t note="Refers to deactivated account"}}This account is deactivated{{/t}}
          </span>
        </div>
      {{/if}}
    {{/unless}}
  {{/isWeb}}

  {{makeMemberPreviewLinkImage member.id 512 false true true true}}

  <div class="member_name_and_presence lato">
    {{#feature flag="feature_name_tagging_client"}}
      {{#if member.deleted}}
        <a href="/team/{{member.id}}" target="{{newWindowName}}" class="member_name">{{getMemberRealName member}}</a>
      {{else}}
        {{#if member.is_self}}
          {{#isClient}}
            <a href="/team/{{member.id}}" target={{newWindowName}} class="member_name">{{getMemberRealName member}}</a>
          {{else}}
            <span class="member_name">{{getMemberRealName member}}</span>
          {{/isClient}}
        {{else}}
          <a href="/messages/@{{member.id}}" target="/messages/{{member.id}}" data-member-id="{{member.id}}" class="member_name internal_im_link">{{getMemberRealName member}}</a>
        {{/if}}
        {{#unless member.is_stranger}}
          {{#isClient}}
            {{makeMemberPresenceIcon member}}
          {{/isClient}}
        {{/unless}}
      {{/if}}
    {{else}}
      {{#if member.deleted}}
        <a href="/team/{{~#feature flag="feature_shared_channels_client"~}}
            {{member.id}}
          {{~else~}}
            {{member.name}}
          {{~/feature~}}" target="{{newWindowName}}" class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
      {{else}}
        {{#if member.is_self}}
          {{#isClient}}
            <a href="/team/{{~#feature flag="feature_shared_channels_client"~}}
                {{member.id}}
              {{~else~}}
                {{member.name}}
              {{~/feature~}}" target={{newWindowName}} class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
          {{else}}
            <span class="member_name">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</span>
          {{/isClient}}
        {{else}}
          <a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-id="{{member.id}}" class="member_name internal_im_link">{{#if member.profile.real_name}}{{member.profile.real_name}}{{else}}@{{member.name}}{{/if}}</a>
        {{/if}}
        {{#unless member.is_stranger}}
          {{#isClient}}
            {{makeMemberPresenceIcon member}}
          {{/isClient}}
        {{/unless}}
      {{/if}}
    {{/feature}}
  </div>

  {{#if member.profile}}
    {{#if member.profile.title}}
      <div class="member_title lato">{{member.profile.title}}</div>
    {{/if}}
  {{/if}}

  {{#pageNeedsEnterprise}}
    {{#if member.is_bot}}
      <div class="member_type_and_description old_petunia_grey lato">
        <span class="overflow_ellipsis">{{#t note="Description for bot"}}Non-sentient Bot{{/t}}</span>
      </div>
    {{/if}}
  {{else}}
    {{#if member.is_bot}}
      <div class="member_restriction lato overflow_ellipsis">
        {{#t note="Description for bot"}}Non-sentient Bot{{/t}}
        <i class="ts_icon ts_icon_question_circle ts_tip ts_tip_top ts_tip_multiline ts_tip_float">
          <span class="ts_tip_tip">
            {{#feature flag="feature_teams_to_workspaces"}}
              <span class="ts_tip_multiline_inner">{{#t}}Bots are built with code and are free to add to your workspace. Unlike humans, they are non-sentient, but they can listen and post to Slack just like everyone else in your workspace.{{/t}}</span>
            {{else}}
              <span class="ts_tip_multiline_inner">{{#t}}Bots are built with code and are free to add to your team. Unlike humans, they are non-sentient, but they can listen and post to Slack just like everyone else on your team.{{/t}}</span>
            {{/feature}}
          </span>
        </i>
      </div>
    {{/if}}
  {{/pageNeedsEnterprise}}

  {{#shouldShowMemberActionBar member}}
    <div class="member_action_bar">
      {{#or member.deleted member.is_stranger}}
        <a id="member_deleted_view_archives_btn" href="/archives/{{member.name}}" target="{{newWindowName}}" class="btn btn_outline {{#memberHasIm member=member}}{{else}}hidden{{/memberHasIm}}">{{#t}}View Archives{{/t}}</a>
      {{else}}
        {{#if member.is_self}}
          <button type="button" data-action="edit_member_profile_modal" class="btn btn_outline">{{#t}}Edit Profile{{/t}}</button>
          <a href="/account/settings" target="{{newWindowName}}" class="btn btn_outline account_settings_link ts_tip ts_tip_bottom ts_tip_float" aria-label="{{#t}}Account Settings{{/t}}" title="{{#t}}Account Settings{{/t}}"><ts-icon class="ts_icon_cog_o"></ts-icon></a>
        {{else}}
          {{!-- Show "configure" link to the creator of the bot (Web ONLY) and team admins (everywhere) --}}
          {{#if show_bot_configuration}}
            {{#if bot_configure_url}}
              <a href="{{bot_configure_url}}" target="{{newWindowName}}" class="btn btn_outline">{{#t}}Configure{{/t}}</a>
            {{/if}}
          {{/if}}
          {{#isClient}}
            {{#if show_call_action}}<a class="btn btn_outline internal_im_call_link" data-member-name="{{member.name}}">{{#t}}Call{{/t}}</a>{{/if}}
            {{#feature flag="feature_name_tagging_client"}}
              <a href="/messages/@{{member.id}}" target="/messages/@{{member.id}}" data-member-id="{{member.id}}" class="btn btn_outline internal_im_link">{{#t}}Message{{/t}}</a>
            {{else}}
              <a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-id="{{member.id}}" class="btn btn_outline internal_im_link">{{#t}}Message{{/t}}</a>
            {{/feature}}
          {{else}}
            {{#feature flag="feature_name_tagging_client"}}
              <a href="/messages/@{{member.id}}" target="new" class="btn btn_outline">{{#t}}Message{{/t}}</a>
            {{else}}
              <a href="/messages/@{{member.name}}" target="new" class="btn btn_outline">{{#t}}Message{{/t}}</a>
            {{/feature}}
            {{#memberHasIm member=member}}
              <a href="/archives/{{member.name}}" class="btn btn_outline">{{#t}}View Archives{{/t}}</a>
            {{/memberHasIm}}
            {{#and member.files member.files.length}}
              <a href="/files/{{member.name}}" class="btn btn_outline">{{#t}}Files{{/t}}</a>
            {{/and}}
          {{/isClient}}
        {{/if}}
      {{/or}}

      {{#unless hide_more_menu}}
        <button type="button" class="member_preview_menu_target btn btn_outline ts_tip ts_tip_bottom ts_tip_float" title="{{#t}}More actions{{/t}}"><ts-icon class="ts_icon_chevron_large_down"></ts-icon></button>
      {{/unless}}

    </div>
  {{/shouldShowMemberActionBar}}

  {{#unless member.is_stranger}}
    {{#if member.profile}}
      <hr class="member_details_divider{{#seesCurrentStatusInProfileView member}} with_current_status small_bottom_margin{{/seesCurrentStatusInProfileView}}">

      {{#seesCurrentStatusInProfileView member}}
        <table class="member_data_table lato no_bottom_margin">
          <tr>
            <td><span class="small_right_padding old_petunia_grey{{#isClient}} current_status_status_label{{/isClient}}" title="{{#t}}Status{{/t}}">{{#t}}Status{{/t}}</span></td>
            {{#isClient}}
              <td class="current_status_cell">
                {{> current_status_cover status_text=member.profile.status_text status_emoji=member.profile.status_emoji editable=member.is_self}}
              </td>
            {{else}}
              <td class="current_status">{{getMemberCurrentStatusForDisplayWithoutAnimations member prevent_copy_paste=false no_emoji_text=false}}</td>
            {{/isClient}}
            </tr>
          </tr>
        </table>

        <hr class="member_details_divider with_current_status small_top_margin">
      {{/seesCurrentStatusInProfileView}}

      <table class="member_data_table lato">
        {{#feature flag="feature_name_tagging_client"}}
          {{#if member.profile.display_name}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Display name{{/t}}">{{#t}}Display name{{/t}}</span></td>
              {{#if member.deleted}}
                {{#memberHasIm member=member}}
                  <td><a href="/archives/{{member.id}}" target="{{newWindowName}}">{{getMemberProfileFieldDisplayName member}}</a></td>
                {{else}}
                  <td><a href="/team/{{member.id}}" target="{{newWindowName}}">{{getMemberProfileFieldDisplayName member}}</a></td>
                {{/memberHasIm}}
              {{else}}
                {{#if member.is_self}}
                  <td><span title="{{getMemberProfileFieldDisplayName member}}">{{getMemberProfileFieldDisplayName member}}</span></td>
                {{else}}
                  {{#isClient}}
                    <td><a href="/messages/@{{member.id}}" target="/messages/@{{member.id}}" data-member-id="{{member.id}}" title="{{getMemberProfileFieldDisplayName member}}" class="internal_im_link">{{getMemberProfileFieldDisplayName member}}</a></td>
                  {{else}}
                    <td><a href="/messages/@{{member.id}}" target="new" title="{{getMemberProfileFieldDisplayName member}}">{{getMemberProfileFieldDisplayName member}}</a></td>
                  {{/isClient}}
                {{/if}}
              {{/if}}
            </tr>
          {{/if}}
        {{else}}
          {{#if member.profile.real_name}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Username{{/t}}">{{#t}}Username{{/t}}</span></td>
              {{#if member.deleted}}
                {{#memberHasIm member=member}}
                  <td><a href="/archives/{{member.name}}" target="{{newWindowName}}">@{{member.name}}</a></td>
                {{else}}
                  <td><a href="/team/{{~#feature flag="feature_shared_channels_client"~}}
                      {{member.id}}
                    {{~else~}}
                      {{member.name}}
                    {{~/feature~}}" target="{{newWindowName}}">@{{member.name}}</a></td>
                {{/memberHasIm}}
              {{else}}
                {{#if member.is_self}}
                  <td><span title="@{{member.name}}">@{{member.name}}</span></td>
                {{else}}
                  {{#isClient}}
                    <td><a href="/messages/@{{member.name}}" target="/messages/@{{member.name}}" data-member-id="{{member.id}}" title="@{{member.name}}" class="internal_im_link">@{{member.name}}</a></td>
                  {{else}}
                    <td><a href="/messages/@{{member.name}}" target="new" title="@{{member.name}}">@{{member.name}}</a></td>
                  {{/isClient}}
                {{/if}}
              {{/if}}
            </tr>
          {{/if}}
        {{/feature}}
        {{#unless member.is_slackbot}}
          {{#unless member.is_bot}}
            <tr>
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Timezone{{/t}}">{{#t}}Timezone{{/t}}</span></td>
              <td class="member_preview_timezone"><span class="timezone_label" data-member-id="{{member.id}}">{{memberLocalTime member}}</span>{{#if member.is_self}} {{#t new_win_name=(newWindowName)}}(<a href='/account/settings' target="{new_win_name}" data-action="edit_member_profile_modal">change</a>){{/t}}{{/if}}</td>
            </tr>
          {{/unless}}
        {{/unless}}
        {{#if member.profile.phone}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Phone Number{{/t}}">{{#t}}Phone Number{{/t}}</span></td>
            <td><a href="tel:{{member.profile.phone}}">{{member.profile.phone}}</a></td>
          </tr>
        {{/if}}
        {{#and member.profile.email (shouldShowMemberEmail member)}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Email{{/t}}">{{#t}}Email{{/t}}</span></td>
            <td><a href="mailto:{{member.profile.email}}" title="{{#t}}Email {member.name}{{/t}}">{{member.profile.email}}</a></td>
          </tr>
        {{/and}}
        {{#if show_admin_info}}
          <tr>
            {{#feature flag="feature_teams_to_workspaces"}}
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Role{{/t}}">{{#t}}Role{{/t}}</span></td>
            {{else}}
              <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Team Role{{/t}}">{{#t}}Team Role{{/t}}</span></td>
            {{/feature}}
            <td>
              {{#if member.is_owner}}
                {{#t}}Owner of {team_name}{{/t}}
              {{else}}
                {{#t}}Admin for {team_name}{{/t}}
              {{/if}}
            </td>
          </tr>
        {{/if}}
        <tbody id="member_data_table_team_fields">
          {{getVisibleTeamProfileFieldsForMember member lazy_load_profile_fields=lazy_load_profile_fields}}
        </tbody>
      </table>
    {{/if}}
  {{/unless}}

  {{#if member.is_restricted}}
    <hr class="member_details_divider">

    <table id="member_data_table_guest_fields" class="member_data_table lato{{#pageNeedsEnterprise}}{{#if teams}} no_bottom_margin{{/if}}{{/pageNeedsEnterprise}}">
      {{> guest_profile_fields member=member lazy_load_profile_fields=lazy_load_profile_fields }}
    </table>
  {{/if}}

  {{#pageNeedsEnterprise}}
    {{#pageNeedsEnterprise}}
      {{#feature flag="feature_lazy_grid_teams"}}
        {{#if shared_teams}}
          <hr class="member_details_divider">

          <table id="member_data_table_shared_teams" class="member_data_table lato">
            {{> member_shared_teams lazy_load_shared_teams=lazy_load_shared_teams shared_teams=shared_teams}}
          </table>
        {{/if}}
      {{else}}
        {{#if teams}}
          {{#if teams.shared}}
            <hr class="member_details_divider">

            <table class="member_data_table lato">
                <tr>
                  {{#feature flag="feature_teams_to_workspaces"}}
                    <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Shared Workspaces{{/t}}">{{#t}}Shared Workspaces{{/t}}</span></td>
                  {{else}}
                    <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Shared Teams{{/t}}">{{#t}}Shared Teams{{/t}}</span></td>
                  {{/feature}}
                  <td>
                    {{#each teams.shared}}
                      {{name}}<br/>
                    {{/each}}
                  </td>
                </tr>
            </table>
          {{/if}}
        {{/if}}
      {{/feature}}
    {{/pageNeedsEnterprise}}
  {{/pageNeedsEnterprise}}

  {{#if member.is_external}}
    <hr class="member_details_divider">

    {{#if member.is_stranger}}
      <p class="lato align_center large_right_margin large_left_margin">
        {{#t member_name=(getPrefCompliantMemberName member) fallback_hash="446ad255de79516133356870e39f6a4e9f27d94f"}}
          <strong>You don\u2019t share any channels with {member_name}.</strong>
          To\u00a0interact with a person from another workspace, you need to be in at least one channel together.
        {{/t}}
      </p>
    {{else}}
      <table id="member_data_table_shared_channels" class="member_data_table lato">
        {{> shared_channels_profile_field}}
      </table>
    {{/if}}
  {{/if}}

  <div class="clear_both larger_bottom_margin"></div>

</div>

{{#if member.is_slackbot}}
  <div class="help">
    <img src="{{versioned_slackbot_72}}" alt="Slackbot" class="slackbot_icon small_top_margin small_bottom_margin float_right left_margin" />
      <p>{{#t}}Slackbot is our friendly, in-house bot, here to help you use Slack. Slackbot will occasionally send you notifications or reminders.{{/t}} </p>
    {{#isClient}}
      <i class="ts_icon ts_icon_question_circle member_help_center callout"></i>
      <p>{{#t new_win_name=(newWindowName) locale=(zdLocale)}}In your direct messages with Slackbot, you can ask simple, Slack-related questions (or just type a few keywords). Slackbot will try to answer or will search the <a href="https://get.slack.help/hc/{locale}" target="{new_win_name}">Help Center</a> for you. You can also type <strong>/feedback</strong> followed by your message to send a note or question to the humans at Slack.{{/t}}</p>
    {{/isClient}}
  </div>

{{/if}}
