{{i18n_ns 'team'}}

<div class="searchable_member_list_search_bar">
  {{#if show_search}}
    <div class="searchable_member_list_search position_relative" data-list-items-id="#team_list_scroller">
      <i class="icon_search ts_icon ts_icon_search"></i>
      <a class="ts_icon ts_icon_times_circle icon_close hidden"></a>
      <input type="text" class="searchable_member_list_input no_margin small" name="team_filter" placeholder="{{#t note='Placeholder text for member search input field'}}Search members{{/t}}"/>
    </div>
  {{/if}}
  {{#if show_filters}}
{{> team_filter_bar}}
  {{/if}}
</div>
