{{i18n_ns "team"}}
<div class="searchable_member_list_filter">
  <input type="text" value="
{{#if everyone_filter_selected}}
{{#t note='A filter option for a list of members' count=everyone_count}}Everyone ({count}){{/t}}
{{/if}}
{{#if members_filter_selected}}
{{#t note='A filter option for a list of members' count=members_count}}Members ({count}){{/t}}
{{/if}}
{{#if admins_filter_selected}}
{{#t note='A filter option for a list of members' count=admins_count}}Admin accounts ({count}){{/t}}
{{/if}}
{{#if restricted_filter_selected}}
{{#t note='A filter option for a list of members' count=guests_count}}Guest accounts ({count}){{/t}}
{{/if}}
{{#if deactivated_filter_selected}}
{{#t note='A filter option for a list of members'}}Deactivated accounts{{/t}}
{{/if}}
{{#if org_members_filter_selected}}
{{#t note='A filter option for a list of members in an organization' org_name=(truncate org_name 16) count=org_members_count}}{org_name} &ndash; Members ({count}){{/t}}
{{/if}}
{{#if org_admins_filter_selected}}
{{#t note='A filter option for a list of admin members in an organization' org_name=(truncate org_name 16) count=org_admins_count}}{org_name} &ndash; Admins ({count}){{/t}}
{{/if}}
{{#if org_restricted_filter_selected}}
{{#t note='A filter option for a list of guest account members in an organization' org_name=(truncate org_name 16) count=org_guests_count}}{org_name} &ndash; Guest accounts ({count}){{/t}}
{{/if}}
{{#if team_members_filter_selected}}
{{#t note='A filter option for a list of members in a team' org_name=(truncate team_name 16) count=team_members_count}}{team_name} &ndash; Members ({count}){{/t}}
{{/if}}
{{#if team_admins_filter_selected}}
{{#t note='A filter option for a list of admin members in a team' org_name=(truncate team_name 16) count=team_admins_count}}{team_name} &ndash; Admins ({count}){{/t}}
{{/if}}
{{#if team_restricted_filter_selected}}
{{#t note='A filter option for a list of guest account members in ateam' org_name=(truncate team_name 16) count=team_guests_count}}{team_name} &ndash; Guest accounts ({count}){{/t}}
{{/if}}" class="small" disabled>
</div>
