  {{i18n_ns "team"}}

  <div id="team_list">
    <div class="tab_panels no_bottom_margin">
      <div class="panel selected active" id="active_members" data-tab="active">
        <div id="active_members_list"{{#if is_long_list_view}} class="members_long_list"{{/if}}>
          {{#unless is_long_list_view}}
            {{#each members}}
              {{> team_list_item member=this}}
            {{/each}}
            {{#if show_bots}}
              {{#if bots}}
                {{> team_list_item_divider bot=true}}
                {{#each bots}}
                  {{> team_list_item member=this}}
                {{/each}}
              {{/if}}
            {{/if}}
          {{/unless}}
        </div>
        <div id="active_no_results" class="no_results hidden"></div>
      </div>
      {{#if show_user_groups}}
        <div id="user_groups_list" data-tab="user_groups" class="panel">
          {{!--
            {{> user_group_list is_flexpane="true"}}
          --}}
        </div>
      {{/if}}
      {{#if show_restricted_members}}
        <div class="panel" id="restricted_members" data-tab="restricted">
          <div id="restricted_members_list"{{#if is_long_list_view}} class="members_long_list"{{/if}}>
            {{#unless is_long_list_view}}
              {{#if restricted_members}}
                {{> team_list_item_divider multi_channel_guest=true}}
                {{#each restricted_members}}
                  {{> team_list_item member=this}}
                {{/each}}
              {{/if}}
              {{#if ultra_restricted_members}}
                {{> team_list_item_divider single_channel_guest=true}}
                {{#each ultra_restricted_members}}
                  {{> team_list_item member=this}}
                {{/each}}
              {{/if}}
            {{/unless}}
          </div>
          <div id="restricted_no_results" class="no_results hidden"></div>
          {{#isWeb}}
            <p class="help">
              {{#t}}These members are restricted to the channels that they are invited to join.{{/t}}
              {{#currentUserIsAdmin}}
                <br /><br />
                <a href="/admin?tab=restricted" target="new" class="bold">{{#t}}Manage multi-channel guests{{/t}}</a>
              {{/currentUserIsAdmin}}
            </p>
          {{/isWeb}}
        </div>
      {{/if}}

      {{#if show_disabled_members}}
        <div class="panel" id="disabled_members" data-tab="disabled">
          <div id="deleted_members_list"{{#if is_long_list_view}} class="members_long_list"{{/if}}>
            {{#unless is_long_list_view}}
              {{#each disabled_members}}
                {{> team_list_item member=this}}
              {{/each}}
              {{#if show_bots}}
                {{#if deleted_bots}}
                  {{> team_list_item_divider deleted_bot=true}}
                  {{#each deleted_bots}}
                    {{> team_list_item member=this}}
                  {{/each}}
                {{/if}}
              {{/if}}
            {{/unless}}
          </div>
          <div id="disabled_no_results" class="no_results hidden"></div>
          <p class="help">
            {{#t}}These members have been deactivated and can no longer access your workspace.{{/t}}
            {{#currentUserIsAdmin}}
              <br />
              <a href="/admin" class="bold" target="_blank">{{#t}}Manage deactivated accounts{{/t}}</a>
            {{/currentUserIsAdmin}}
          </p>
        </div>
      {{/if}}
    </div>
  </div>
