{{i18n_ns "team"}}

{{!-- Avatar, Real Name, username, presence dot --}}
<div class="member_details member_item_inset {{#isWeb}}col span_5_of_12 no_bottom_margin{{/isWeb}}">
  {{> c-member member=member size="large" linked=true}}
</div>

{{!-- Team site: Phone, Email, Skype --}}
{{#isWeb}}
  <div class="expanded_member_details small_top_padding col span_6_of_12 no_bottom_margin">

    {{#if member.profile}}
      <table class="member_data_table">
        {{#if member.profile.phone}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Phone Number{{/t}}">{{#t}}Phone Number{{/t}}</span></td>
            <td><a class="overflow_ellipsis" href="tel:{{member.profile.phone}}">{{member.profile.phone}}</a></td>
          </tr>
        {{/if}}
        {{#and member.profile.email (shouldShowMemberEmail member)}}
          <tr>
            <td><span class="small_right_padding old_petunia_grey" title="{{#t}}Email{{/t}}">{{#t}}Email{{/t}}</span></td>
            <td><a class="overflow_ellipsis" href="mailto:{{member.profile.email}}" title="{{#t}}Email {member.name}{{/t}}">{{member.profile.email}}</a></td>
          </tr>
        {{/and}}
        {{getVisibleTeamProfileFieldsForMember member}}
      </table>
    {{/if}}

  </div>

  {{!-- Buttons. Rendered on demand in the client. --}}
  <div class="col span_1_of_12 no_bottom_margin no_right_padding">
    <a class="member_preview_menu_target member_action_button btn btn_outline float_right top_margin hide_on_mobile">
      <div class="team_directory_icon more_icon inline_block no_right_margin"></div>
    </a>
    <a class="member_preview_menu_target member_action_button btn btn_outline bottom_margin top_margin show_on_mobile subtle_silver">
      <div class="team_directory_icon more_icon inline_block small_right_margin"></div>{{#t}}More{{/t}}
    </a>
  </div>
{{/isWeb}}
