{{i18n_ns "threads"}}
<ts-thread id="{{id}}"
  data-model-ob-id="{{model_ob.id}}"
  data-thread-ts="{{root_msg.ts}}"
  data-ts="{{ts}}"
  data-context="{{#if options.inline}}inline{{else}}threads{{/if}}"
  class="{{#if options.expanded}}expanded{{/if}}"
>
  <div class="thread_header">

    <div class="thread_channel_name">
      {{#if options.inline}}
        <span class="inline_thread_title">{{#t}}Thread{{/t}}</span>
      {{else}}
        <a>
          {{~#if model_ob.is_channel~}}
            <ts-icon class="ts_icon_channel_pane_hash"></ts-icon>{{model_ob.name}}
          {{~else if model_ob.is_im~}}
            {{makeMemberPresenceIcon im_user}}{{model_ob.name}}
          {{~else if model_ob.is_mpim~}}
            <ts-icon class="mpim_icon ts_icon_multiparty_dm_{{mpimMemberCount model_ob}}"></ts-icon>{{mpimDisplayName model_ob}}
          {{~else if model_ob.is_group~}}
            <ts-icon class="ts_icon_lock"></ts-icon>{{model_ob.name}}
          {{~/if~}}
        </a>
      {{/if}}
      <br>
      <div class="thread_participants overflow_ellipsis">{{participants}}</div>
    </div>
  </div>

  <div class="thread_messages {{#if new_replies}}show_new_reply_indicator{{/if}}">

    {{buildMsgHTMLForThreadsView root_msg model_ob thread options}}

    <div class="thread_replies_container">
      {{#if options.inline}}
        <div class="collapse_inline_thread_container">
          <a class="collapse_inline_thread" data-model-ob-id="{{model_ob.id}}" data-thread-ts="{{root_msg.thread_ts}}" href="{{conversation_permalink}}" target="_blank">{{#t}}Collapse thread{{/t}}</a>
        </div>
      {{/if}}
      {{#unless options.inline}}
        {{#if view_previous_count}}
          <div class="view_all_replies_container">
            <span class="view_all_error_msg hidden">{{#t}}Couldn\u2019t load replies.{{/t}}</span>
            <a class="view_all_replies" data-model-ob-id="{{model_ob.id}}" data-thread-ts="{{root_msg.thread_ts}}" href="{{conversation_permalink}}" target="_blank">{{#t}}View {view_previous_count, plural, =1 {# previous reply} other {# previous replies}}{{/t}}</a><span class="view_all_loading_container"></span>
          </div>
        {{/if}}
      {{/unless}}
      {{#if replies}}
        {{#each replies}}
          {{buildMsgHTMLForThreadsView this ../model_ob ../thread ../options}}
        {{/each}}
      {{/if}}
    </div>

    <div class="new_replies_container">
      {{#if new_replies}}
        {{#each new_replies}}
          {{buildMsgHTMLForThreadsView this ../model_ob ../thread ../options}}
        {{/each}}
      {{/if}}
    </div>

    <div class="new_reply_indicator">
      <span class="blue_dot">&bull;</span>
      <a class="reveal_new_replies">{{new_replies_count}}</a>
    </div>

  </div>

  <div class="reply_input_container">
    {{#if options.inline}}
      {{> thread_inline_input_placeholder}}
    {{/if}}
  </div>
</ts-thread>
