{{i18n_ns "threads"}}
<div class="threads_alternative_view_wrapper">
  <div class="threads_alternative_view_content">
    <img class="threads_alternative_view_emoji" src="{{emoji}}" alt="" />
    {{#if is_error}}
      <div class="threads_alternative_view_message align_center">{{#t}}Something\u2019s fishy! Slack can\u2019t seem to load your threads. <br/> You can try again, but if the problem persists, please <a href="https://slack.com/help/contact">drop us a line.</a>{{/t}}</div>
      <button type="button" class="btn thread_error_state_refresh_button">{{#t}}Try Again{{/t}}</button>
    {{else is_empty}}
      <div class="threads_alternative_view_message align_center">
        {{#t}}
          <p class="threads_empty_state_message_header">Tend to your threads</p>
          <p>Threads you\u2019re involved in will be collected right here. <br/> <a href="https://get.slack.help/hc/en-us/articles/115000769927" target="_blank">Learn about threads</a></p>
        {{/t}}
      </div>
    {{/if}}
  </div>
</div>