{{i18n_ns "all_unreads"}}
<div class="unread_group {{#if show_footer}}with_footer{{/if}} {{#if is_im}}unread_group_im{{/if}} {{#if marked_as_read}}marked_as_read{{/if}} {{#if collapsed}}collapsed{{/if}} {{#if active}}active{{/if}}" data-model-id="{{model_ob_id}}">
  <div class="unread_group_header display_flex justify_content_between {{#if active}}active{{/if}}">
    {{> unread_group_header is_channel=is_channel is_mpim=is_mpim is_group=is_group is_im=is_im marked_as_read=marked_as_read model_ob=model_ob unread_cnt=unread_cnt name=name }}
  </div>
  <div class="msgs_holder unread_group_msgs"></div>
  {{#unless collapsed}}
    <div class="unread_group_footer">
      <div class="unread_group_new cursor_pointer">
        <span class="unread_group_new_text">
          {{#t}}{new_unread_cnt, plural, =1 {# new message} other {# new messages}}{{/t}}
        </span>
      </div>
    </div>
  {{/unless}}
  <div class="bottom_mark_all_read large_top_padding large_bottom_padding align_center">
    <button class="bottom_mark_all_read_btn btn_outline btn">
      {{#t}}Mark All Messages Read{{/t}}
    </button>
  </div>
</div>
