{{i18n_ns "alerts"}}

{{#if_equal error compare="forbidden_name"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}The name "{group_name}" is reserved and cannot be used.{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="name_already_exists"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}A User Group already has the name "{group_name}".{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="handle_already_exists"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}The group name "@{group_handle}" is already in use. Group names cannot be the same as channel names or usernames.{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="missing_subteam_name"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}A User Group must have a name.{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="bad_handle"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}The handle must be lowercase and cannot contain spaces.{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="forbidden_handle"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}The group name "@{group_handle}" is reserved and cannot be used.{{/t}}</strong></p>
{{/if_equal}}

{{#if_equal error compare="no_users_provided"}}
  <p class="alert alert_error"><i class="ts_icon ts_icon_warning"></i> <strong>{{#t}}User Groups must have members.{{/t}}</strong></p>
{{/if_equal}}

{{#if can_create_auto_owners}}
  <p class="alert alert_info"><i class="ts_icon ts_icon_info"></i>{{#t}}Trying to create a group for all Team Owners? <a href="#auto-group" data-auto-type="owners" data-auto-action="create" class="user_group_auto_action">Make an automatic one</a> that's always up to date.{{/t}}</p>
{{/if}}

{{#if can_enable_auto_owners}}
  <p class="alert alert_info"><i class="ts_icon ts_icon_info"></i>{{#t}}Trying to create a group for all Team Owners? <a href="#auto-group" data-auto-type="owners" data-auto-action="enable" class="user_group_auto_action">Re-enable the automatic one</a> that's always up to date.{{/t}}</p>
{{/if}}

{{#if can_create_auto_admins}}
  <p class="alert alert_info"><i class="ts_icon ts_icon_info"></i>{{#t}}Trying to create a group for all Team Admins? <a href="#auto-group" data-auto-type="admins" data-auto-action="create" class="user_group_auto_action">Make an automatic one</a> that's always up to date.{{/t}}</p>
{{/if}}

{{#if can_enable_auto_admins}}
  <p class="alert alert_info"><i class="ts_icon ts_icon_info"></i>{{#t}}Trying to create a group for all Team Admins? <a href="#auto-group" data-auto-type="admins" data-auto-action="enable" class="user_group_auto_action">Re-enable the automatic one</a> that's always up to date.{{/t}}</p>
{{/if}}
