{{#unless show_user_groups_enable}}
  {{#if show_user_groups_edit}}
    <li data-action="edit_info" role="menuitem"><a>{{#t}}Edit group info{{/t}}</a></li>
    <li data-action="edit_members" role="menuitem"><a>{{#t note="In a group"}}Edit members{{/t}}</a></li>
  {{/if}}
  {{#if show_user_groups_disable}}
    <li data-action="disable" role="menuitem"><a>{{#t note="Disable a group"}}Disable{{/t}}</a></li>
    {{#if show_user_group_delete}}
      <li class="divider"></li>
      <li data-action="delete" class="danger" role="menuitem"><a>{{#t note="Delete a group"}}Delete{{/t}}</a></li>
    {{/if}}
  {{/if}}
{{/unless}}
{{#if show_user_groups_enable}}
  <li data-action="enable" role="menuitem"><a>{{#t note="Enable a group"}}Enable{{/t}}</a></li>
{{/if}}