{{#isWeb}}
  <div class="tab_set on_neutral_grey">
    {{#if show_members}}
      <a id="active_members_tab" data-tab="active" class="selected">Full Members <span id="active_members_count" class="normal">(<span id="active_members_count_value">{{members.length}}</span>)</span></a>
    {{/if}}
    {{#if show_restricted_members}}
      <a id="restricted_members_tab" data-tab="restricted" {{#if restricted_members.length}}{{else}}class="hidden"{{/if}}>{{raLabel 'Restricted & Guest Accounts'}} <span id="restricted_members_count" class="normal">(<span id="restricted_members_count_value">{{restricted_members.length}}</span>)</span></a>
    {{/if}}
    {{#if disabled_members}}
      <a id="disabled_members_tab" data-tab="disabled" class="secondary {{#if disabled_members.length}}{{else}}hidden{{/if}}">Deactivated Accounts <span id="disabled_members_count" class="normal">(<span id="disabled_members_count_value">{{disabled_members.length}}</span>)</span></a>
    {{/if}}
    {{#if show_restricted_members}}
      <i class="tab_caret ts_icon ts_icon_caret_down"></i>
      <i class="tab_caret ts_icon ts_icon_caret_up"></i>
    {{else}}
      {{#if disabled_members}}
        <i class="tab_caret ts_icon ts_icon_caret_down"></i>
        <i class="tab_caret ts_icon ts_icon_caret_up"></i>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <ul class="flexpane_tab_bar small_top_margin lato no_bottom_margin bottom_border">
    {{#if show_members}}
      <li id="active_members_tab" class="tab bold active" href="#active_members"><a href="#active_members" data-name="active_members" data-action="search">{{#isWeb}}Full {{/isWeb}}Members <span id="active_members_count" class="normal">(<span id="active_members_count_value">{{members.length}}</span>)</span></a></li>
    {{/if}}
    {{#if show_restricted_members}}
      <li id="restricted_members_tab" class="tab bold {{#if restricted_members.length}}{{else}}hidden{{/if}}" href="#restricted_members"><a href="#restricted_members" data-name="restricted_members" data-action="search">Guests <span id="restricted_members_count" class="normal">(<span id="restricted_members_count_value">{{restricted_members.length}}</span>)</span></a></li>
    {{/if}}
    {{#if show_user_groups}}
      <li id="user_groups_list_tab" class="tab bold usergroup_action {{#if user_groups.length}}{{else}}hidden{{/if}}" href="#user_groups_list"><a href="#user_groups_list" data-name="user_groups" data-action="user_group_edit">Groups <span class="normal">(<span class="usergroup_count">{{user_groups.length}}</span>)</span></a></li>
    {{/if}}
    {{#if show_disabled_members}}
      <li id="disabled_members_tab" class="tab bold {{#if disabled_members.length}}{{else}}hidden{{/if}}" href="#disabled_members"><a href="#disabled_members" data-name="disabled_members" data-action="search">Deactivated <span id="disabled_members_count" class="normal">(<span id="disabled_members_count_value">{{disabled_members.length}}</span>)</span></a></li>
    {{/if}}
  </ul>
  <div class="flexpane_tab_toolbar">
    <div id="search" class="tab_action bottom_border">
      <div id="team_filter" class="position_relative small_margin" data-list-items-id="#team_list_scroller">
        <i class="icon_search ts_icon ts_icon_search"></i>
        <a class="ts_icon ts_icon_times_circle icon_close hidden"></a>
        <input type="text" class="member_filter no_margin small" name="team_filter" placeholder="Search directory"/>
      </div>
    </div>
    <div id="user_group_edit" class="tab_action bottom_border hidden">
      <a class="tab_action_button lato_bold {{#unless show_user_groups_edit}}hidden{{/unless}}" data-action="admin_user_groups_modal"><i class="ts_icon ts_icon_cog_o"></i> Edit User Groups</a>
      <a class="tab_action_button lato_bold {{#unless show_user_groups_add}}hidden{{/unless}}" data-action="admin_user_groups_modal_new"><i class="ts_icon ts_icon_plus_circle"></i> Create a User Group</a>
    </div>
  </div>
{{/isWeb}}
