{{i18n_ns 'user_groups'}}

{{#if is_user_group_deleted}}
  <p class="alert alert_error small_right_margin small_left_margin"><i class="ts_icon ts_icon_warning"></i> {{#t}}This User Group is deleted.{{/t}}</p>
{{else}}
  {{#if user_group.date_delete}}
    <p class="alert alert_error small_right_margin small_left_margin"><i class="ts_icon ts_icon_warning"></i> {{#t}}This User Group is disabled.{{/t}}</p>
  {{/if}}
{{/if}}
<div class="clearfix no_bottom_margin top_margin left_margin right_margin">

  <h3 class="tiny_bottom_margin right_margin">
    {{user_group.name}}
    {{#unless is_user_group_deleted}}
      {{#if show_user_groups_edit}}
        <button id="user_group_menu_toggle" class="float_right btn_icon btn_outline btn ts_icon ts_icon_chevron_large_down" aria-label="{{#t}}Print{{/t}}"></button>
      {{/if}}
    {{/unless}}
  </h3>
  {{#if user_group.handle}}
  <p class="lato subtle_silver {{#if user_group.created_by}}tiny_bottom_margin{{/if}}">
    {{#t}}Use <b>@{user_group.handle}</b> to notify this group{{/t}}
  </p>
  {{/if}}
  {{#if user_group.created_by}}
    {{#if user_group.date_create}}
      <p class="lato subtle_silver">
        {{#t note="description of the user group creator and user group creation date" creator=(getPrefCompliantMemberNameById user_group.created_by) creation_date=(convertTimestampToMilliseconds user_group.date_create)}}
          Created by <strong>{creator}</strong> on {creation_date, date, long}
        {{/t}}
      </p>
    {{/if}}
  {{/if}}

  {{#if user_group.description}}
    <p class="lato">{{user_group.description}}</p>
  {{/if}}
</div>

<ul id="user_group_tabs" class="flexpane_tab_bar small_top_margin lato no_bottom_margin bottom_border">
  <li id="user_group_members_tab" class="bold active"><a href="#user_group_members" class="tab" data-name="user_group_members"><span class="tab_text">{{#t}}Members{{/t}} <span class="normal">({{members.length}})</span></span></a></li>
  <li id="user_group_channels_tab" class="bold"><a href="#user_group_channels" class="tab" data-name="user_group_channels"><span class="tab_text">{{#t}}Channels{{/t}} <span class="normal">({{channels.length}})</span></span></a></li>
</ul>

<div class="user_group_member_list flex_content_scroller small_top_margin">
  <div class="tab_panels large_bottom_margin">
    <div id="user_group_members" class="panel active">
      <div id="team_list">
        {{#each members}}
          {{> team_list_item member=this}}
        {{/each}}
      </div>
    </div>
    <div id="user_group_channels" class="panel">
      {{#if channels}}
        <div id="channel_list">
          {{#each channels}}
            {{> user_group_channel_list_item}}
          {{/each}}
        </div>
      {{else}}
        {{#feature flag="feature_teams_to_workspaces"}}
          <p class="no_results align_left">
            {{#t note="note explaining benefit of setting default channels for a user group, shown when none are configured"}}
              This group does not have any default channels.<br><br>
              Default channels are a great way to include all the members of a group to the right channels. When adding a new default channel to a group, all the members will be automatically invited to it.<br><br>
              This is a great way to make sure new members of your workspace are part of the right discussions from the get go.
            {{/t}}
            <br><br>
            {{#if show_user_groups_edit}}
              <button id="edit_default_channels" class="btn small_right_margin">{{#t note="button to add default channels to the user group"}}Add default channels to this group{{/t}}</button>
            {{else}}
              {{#t note="note explaining why action to add default channels to the user group is unavailable"}}(Only admins or owners can add channels to a User Group.){{/t}}
            {{/if}}
          </p>
        {{else}}
          <p class="no_results align_left">
            {{#t note="note explaining benefit of setting default channels for a user group, shown when none are configured"}}
              This group does not have any default channel.<br><br>
              Default channels are a great way to include all the members of a group to the right channels. When adding a new default channel to a group, all the members will be automatically invited to it.<br><br>
              This is a great way to make sure new members of your team are part of the right discussions from the get go.
            {{/t}}
            <br><br>
            {{#if show_user_groups_edit}}
              <button id="edit_default_channels" class="btn small_right_margin">{{#t note="button to add default channels to the user group"}}Add default channels to this group{{/t}}</button>
            {{else}}
              {{#t note="note explaining why action to add default channels to the user group is unavailable"}}(Only admins or owners can add channels to a User Group.){{/t}}
            {{/if}}
          </p>
        {{/feature}}
      {{/if}}
    </div>
  </div>
</div>
