{{i18n_ns "groups"}}

<div class="user_group_item channel_item normal_padding bottom_border clearfix">
  <div class="col span_6_of_6 no_bottom_margin">
    <a target="/messages/{{this.id}}" {{#if this.is_channel}}data-channel-id="{{this.id}}" class="internal_channel_link"{{else}}data-group-id="{{this.id}}" class="internal_group_link"{{/if}}>
      <h4 class="tiny_bottom_margin bold">{{#if this.is_channel}}<span class="subtle_silver">#</span>{{/if}}{{this.name}}{{#if is_org_shared}}{{> shared_channel_icon}}{{else if is_shared}}{{> shared_channels_icon tooltip=true shared_team_ids=this.shared_team_ids}}{{/if}} {{#if this.is_member}}<span class="mini subtle_silver">{{#t note="Logged in member has joined this channel"}}JOINED{{/t}}</span>{{/if}}</h4>
      {{#if this.creator}}
        {{#if this.created}}
          <p class="subtle_silver tiny_bottom_margin">
            <i>{{#t note="Channel created information" member=(getPrefCompliantMemberNameById this.creator) date_created=(convertTimestampToMilliseconds this.created)}}Created by <b>{member}</b> on {date_created, date, long}{{/t}}</i>
          </p>
        {{/if}}
      {{/if}}
      {{#if this.purpose}}
        <p class="subtle_silver tiny_bottom_margin">
          {{this.purpose.value}}
        </p>
      {{/if}}
    </a>
  </div>
</div>