{{#if is_flexpane}}
  <div>
    <span class="user_groups_img"></span>
  </div>
{{/if}}

<div{{#unless is_flexpane}} class="col span_3_of_4"{{/unless}}>
  
  <div class="normal_padding{{#if is_flexpane}} dull_grey{{/if}}">
    <p class="user_groups_tip lato">
      While commands like <span class="mention">@everyone</span>, <span class="mention">@channel</span>, and <span class="mention">@here</span> call the attention of team members in a conversation, User Groups let you choose exactly who should get your message.
    </p>
    <p class="user_groups_tip lato">
      Choose a group name, like <span class="mention">@design</span> or <span class="mention">@marketing</span>, then select the group members. Now, when someone on your team mentions the User Group, only its members will be notified. You can even add those team members to channels of your choice automatically!
    </p>
  </div>
  
</div>

{{#unless is_flexpane}}
  <div class="col span_1_of_4 no_right_padding">
    <span class="user_groups_img"></span>
  </div>
{{/unless}}
