.LoginView {
  width: 100%;
  height: 100%;
  position: fixed;
  overflow: hidden;

  &-overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;

    &Spinner {
      width: 80px;
      height: 80px;
    }
  }

  .overlay-leave {
    opacity: 1;
  }

  .overlay-leave.overlay-leave-active {
    opacity: 0.01;
    transition: opacity 0.3s ease-in;
  }
}
