<head>
  <link rel="stylesheet" type="text/css" href="draggable-region.less" />
  <link rel="stylesheet" type="text/css" href="non-draggable-region.less" />
  <link rel="stylesheet" type="text/css" href="loading-screen.less" />
  <link rel="stylesheet" type="text/css" href="login-view.less" />
  <link rel="stylesheet" type="text/css" href="basic-auth-view.less" />
  <link rel="stylesheet" type="text/css" href="slack-app.less" />
  <link rel="stylesheet" type="text/css" href="team-view.less" />
  <link rel="stylesheet" type="text/css" href="teams-display.less" />
  <link rel="stylesheet" type="text/css" href="team-selector.less" />
  <link rel="stylesheet" type="text/css" href="team-selector-item.less" />
  <link rel="stylesheet" type="text/css" href="about-box.less" />
  <link rel="stylesheet" type="text/css" href="url-scheme-modal.less" />
  <link rel="stylesheet" type="text/css" href="win-titlebar.less" />
  <link rel="stylesheet" type="text/css" href="../../../static/react-virtualized.less" />
</head>
