@font-face {
  font-family: appleLogo;
  src: local("Lucida Grande");
  unicode-range: U+F8FF
}

#admin_invites_header {
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: -.5px
}

#admin_invites_subheader {
  font-size: 1rem;
  text-align: center
}

#admin_invites_header_divider {
  margin: 3rem auto 0
}

.admin_invites_account_type_option {
  padding: 2.2rem 6rem 2.2rem 1.5rem;
  border-bottom: 1px solid #E8E8E8;
  margin: 0;
  position: relative
}

.admin_invites_account_type_option p {
  color: #9e9ea6;
  margin-bottom: 0
}

.admin_invites_account_type_option h3 {
  -webkit-transition: color .1s;
  -moz-transition: color .1s;
  transition: color .1s
}

.admin_invites_account_type_option .option_arrow {
  position: absolute;
  right: 1.5rem;
  top: 0;
  opacity: 0;
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
  font-size: 5rem;
  color: #3aa3e3;
  line-height: 147px
}

.admin_invites_account_type_option:hover:not(.disabled) {
  cursor: pointer
}

.admin_invites_account_type_option:hover:not(.disabled) h3 {
  color: #3aa3e3
}

.admin_invites_account_type_option:hover:not(.disabled) .option_arrow {
  right: .5rem;
  opacity: 1
}

.admin_invites_account_type_option.disabled {
  opacity: .5;
  -moz-opacity: .5;
  -khtml-opacity: .5
}

.admin_invites_account_type_option.disabled .account_type_disabled_hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0);
  padding: 2rem 2rem .5rem;
  -webkit-transition: background 70ms;
  -moz-transition: background 70ms;
  transition: background 70ms;
  text-align: center
}

.admin_invites_account_type_option.disabled:hover {
  opacity: 1;
  -moz-opacity: 1;
  -khtml-opacity: 1
}

.admin_invites_account_type_option.disabled:hover .account_type_disabled_hover {
  display: block;
  background: rgba(255, 255, 255, .95)
}

.admin_invites_account_type_option.disabled.no_hover:hover {
  opacity: .5;
  -moz-opacity: .5;
  -khtml-opacity: .5
}

@media only screen and (max-height:768px) {
  .admin_invites_account_type_option {
    padding: 1rem 6rem 1rem 1.5rem
  }
  .admin_invites_account_type_option .option_arrow {
    line-height: 110px
  }
}

#admin_invites_channel_picker_container {
  border-bottom: 1px solid #E8E8E8;
  margin: 1rem auto 1.5rem;
  padding-bottom: 2rem
}

.experiment_guest_profiles_and_expiration #admin_invites_channel_picker_container {
  border-bottom: none
}

#admin_invites_channel_picker_container #restricted_channel_picker_container {
  max-width: 536px;
  margin: 0 auto
}

#admin_invites_channel_picker_container #ultra_restricted_channel_picker_container {
  max-width: 512px;
  margin: 0 auto
}

#admin_invites_add_row {
  font-size: 1rem
}

.admin_invites_container:not(.experiment_guest_profiles_and_expiration) #admin_invites_add_row {
  border: 1px solid #EEE;
  background: #F9F9F9;
  padding: .6rem 1rem;
  border-radius: 6px;
  margin: 1.3rem auto 2.5rem
}

.admin_invites_container.experiment_guest_profiles_and_expiration #admin_invites_add_row {
  margin: 6px 0 32px
}

.admin_invite_row,
.admin_invites_custom_message_container {
  position: relative;
  padding: .25rem 2.75rem .25rem .5rem;
  margin: 0 -2.75rem 0 -.5rem;
  border-radius: .25rem;
  -webkit-transition: background .1s ease-out 0s;
  -moz-transition: background .1s ease-out 0s;
  transition: background .1s ease-out 0s
}

.admin_invite_row label,
.admin_invites_custom_message_container label {
  margin: 0
}

.admin_invite_row .col,
.admin_invites_custom_message_container .col {
  padding-right: 0;
  margin-bottom: 0
}

.admin_invite_row input,
.admin_invites_custom_message_container input {
  margin: .2rem 0 0
}

.admin_invite_row .error_msg,
.admin_invites_custom_message_container .error_msg {
  margin-top: .3rem
}

.admin_invite_row .delete_row,
.admin_invite_row .hide_custom_message,
.admin_invites_custom_message_container .delete_row,
.admin_invites_custom_message_container .hide_custom_message {
  position: absolute;
  top: 1.6rem;
  right: 0;
  color: #9e9ea6;
  display: block;
  width: 2.75rem;
  height: 2.75rem;
  line-height: 2.75rem;
  text-align: center
}

.admin_invite_row .delete_row:hover,
.admin_invite_row .hide_custom_message:hover,
.admin_invites_custom_message_container .delete_row:hover,
.admin_invites_custom_message_container .hide_custom_message:hover {
  color: #CB5234
}

.admin_invite_row.delete_highlight,
.admin_invites_custom_message_container.delete_highlight {
  background: #FFDCDC
}

.admin_invites_guest_expiration_date_container {
  position: relative;
  padding: .25rem 2.75rem .25rem .5rem;
  margin: 0 -2.75rem 2rem -.5rem
}

#admin_invites_success .alert_success {
  padding-left: 1rem
}

#admin_invites_success .alert_success .value_proposition {
  margin-left: 1.75rem
}

#admin_invites_success .alert_success i {
  margin-left: 0
}

@media only screen and (max-width:767px) {
  .admin_invite_row {
    padding-right: 2rem;
    margin-right: -2rem;
    margin-bottom: 1rem
  }
  .admin_invite_row .delete_row {
    right: -.25rem
  }
}

#bulk_invites {
  padding-top: .25rem
}

#admin_invites_submit_btn {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: .5rem;
  float: right
}

#admin_invites_workflow {
  font-size: 1rem
}

.experiment_guest_profiles_and_expiration #admin_invites_workflow {
  margin-top: 48px
}

#admin_invites_workflow .lazy_filter_select {
  margin: .2rem 0 0
}

#admin_invites_workflow .lazy_filter_select .ts_tip_tip {
  display: block;
  opacity: 1;
  width: 160px
}

#admin_invites_workflow .lazy_filter_select .lfs_input_container {
  background-color: #fff;
  padding: 0
}

#admin_invites_workflow .lazy_filter_select .lfs_input_container .lfs_item.selected .bold,
#admin_invites_workflow .lazy_filter_select .lfs_input_container:after {
  display: none
}

#admin_invites_workflow .error .lazy_filter_select .lfs_input_container {
  border: 1px solid #CB5234;
  background: #FFF6F6
}

.admin_invites_btn {
  font-size: 1rem
}

#btn_connect_contacts .ts_icon_google:before {
  font-size: 1.6rem;
  width: 1.3rem
}

.invite_modal_options {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -moz-align-items: center;
  align-items: center;
  -ms-flex-direction: row;
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: justify;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  overflow: hidden
}

.invite_modal_options .invite_modal_options_left {
  -webkit-flex-shrink: 3;
  -moz-flex-shrink: 3;
  -ms-flex-negative: 3;
  flex-shrink: 3
}

.invite_modal_options .invite_modal_options_left .invite_modal_options_message {
  display: inline;
  float: left;
  font-size: 1rem
}

.invite_modal_options .invite_modal_options_right {
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1
}

.invite_modal_footer {
  border-top: 1px solid #E8E8E8;
  font-size: 1rem
}

.invite_modal_footer .pending_updates {
  display: block
}

@media only screen and (max-width:640px) {
  .invite_modal_options {
    -ms-flex-pack: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    justify-content: center;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    flex-wrap: wrap
  }
  #admin_invites_submit_btn {
    margin: 2rem 0 0
  }
  #admin_invites_header {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 1rem
  }
  #admin_invites_channel_picker_container {
    border-bottom: none;
    padding-bottom: 1rem
  }
  .admin_invites_account_type_option {
    padding: 1rem .5rem
  }
  .admin_invites_account_type_option h3 {
    color: #3aa3e3;
    font-weight: 700!important
  }
  .admin_invites_account_type_option .option_arrow {
    display: none!important
  }
  .admin_invites_account_type_option:last-child {
    border-bottom: none
  }
}
